# Service menu to mount .iso images
# Author: fanthom

[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KonqPopupMenu/Plugin,application/x-iso9660-image
X-KDE-Priority=TopLevel
Actions=mount_image;umount_image;

[Desktop Action mount_image]
Name=Mount .iso image
Comment=Mount .iso image
Name[ru]=Смонтировать .iso образ
Comment[ru]=Смонтировать .iso образ
Icon=media-optical-recordable
Exec=/opt/porteus-scripts/context-menu/mount-module %f

[Desktop Action umount_image]
Name=Umount .iso image
Comment=Umount .iso image
Name[ru]=Размонтировать .iso образ
Comment[ru]=Размонтировать .iso образ
Icon=media-optical
Exec=/opt/porteus-scripts/context-menu/unmount-module %f
