<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC
 "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
 "http://www.freedesktop.org/standards/PolicyKit/1.0/policyconfig.dtd">
<policyconfig>
  <vendor>The MATE Project</vendor>
  <vendor_url>http://www.mate-desktop.org/</vendor_url>
  <icon_name>mate-panel-clock</icon_name>

  <action id="org.mate.settingsdaemon.datetimemechanism.settimezone">
    <description>Change system time zone</description>
    <description xml:lang="am">የስርአቱን ሰአት ክልል መቀየሪያ</description>
    <description xml:lang="ar">غيّر المنطقة الزمنية للنظام</description>
    <description xml:lang="be">Змяніць сістэмны часавы пояс</description>
    <description xml:lang="bg">Промяна на системния часови пояс</description>
    <description xml:lang="ca">Canvia la zona horària del sistema</description>
    <description xml:lang="ca@valencia">Canvia la zona horària del sistema</description>
    <description xml:lang="cmn">改變系統時區</description>
    <description xml:lang="cs">Změnit zónu systémového času</description>
    <description xml:lang="da">Skift systemtidszone</description>
    <description xml:lang="de">Zeitzone des Systems ändern</description>
    <description xml:lang="el">Αλλαγή χρονικής ζώνης συστήματος</description>
    <description xml:lang="en_AU">Change system time zone</description>
    <description xml:lang="en_GB">Change system time zone</description>
    <description xml:lang="es">Cambiar la zona horaria del sistema</description>
    <description xml:lang="es_CO">Cambia la zona horaria del sistema</description>
    <description xml:lang="et">Muuda süsteemi ajavööndit</description>
    <description xml:lang="eu">Aldatu sistemaren ordu-eremua</description>
    <description xml:lang="fr">Modifier le fuseau horaire du système</description>
    <description xml:lang="gl">Cambiar o fuso horario do sistema</description>
    <description xml:lang="he">שינוי אזור הזמן של המערכת</description>
    <description xml:lang="hr">Promjeni vremensku zonu sustava</description>
    <description xml:lang="hu">Rendszeridőzóna módosítása</description>
    <description xml:lang="hy">Փոխել համակարգի ժամային գոտին</description>
    <description xml:lang="id">Ubah zona waktu sistem</description>
    <description xml:lang="it">Cambia fuso orario sistema</description>
    <description xml:lang="ja">システムのタイムゾーンの変更</description>
    <description xml:lang="kk">Жүйелік уақыт белдеуін өзгерту</description>
    <description xml:lang="kn">ಗಣಕದ ಕಾಲವಲಯವನ್ನು ಬದಲಾಯಿಸಿ</description>
    <description xml:lang="ko">시스템 시간대 바꾸기</description>
    <description xml:lang="ku_IQ">گۆڕینی ناوچەی کاتی سیستەم</description>
    <description xml:lang="lt">Keisti sistemos laiko juostą</description>
    <description xml:lang="mr">प्रणाली वेळक्षेत्र बदला</description>
    <description xml:lang="ms">Ubah zon waktu sistem</description>
    <description xml:lang="nb">Endre tidssone for systemet</description>
    <description xml:lang="nl">Tijdzone van systeem wijzigen</description>
    <description xml:lang="pa">ਸਿਸਟਮ ਸਮਾਂ ਖੇਤਰ ਬਦਲੋ</description>
    <description xml:lang="pl">Zmiana systemowej strefy czasowej</description>
    <description xml:lang="pt">Mudar zona da hora do sistema</description>
    <description xml:lang="pt_BR">Alterar o fuso horário do sistema</description>
    <description xml:lang="ro">Modifică fusul orar al sistemului</description>
    <description xml:lang="ru">Изменить системную временную зону</description>
    <description xml:lang="sk">Zmeniť systémovú časovú zónu</description>
    <description xml:lang="sl">Spremeni sistemski časovni pas</description>
    <description xml:lang="sr">Промени временску зону</description>
    <description xml:lang="sr@latin">Promeni vremensku zonu</description>
    <description xml:lang="sv">Ändra systemets tidszon</description>
    <description xml:lang="ta">கணினி நேரமண்டலத்தை மாற்றுக</description>
    <description xml:lang="tr">Sistemin saat dilimini değiştir</description>
    <description xml:lang="uk">Змінити системний часовий пояс</description>
    <description xml:lang="ur">نظام کا علاقہ وقت تبدیل کریں</description>
    <description xml:lang="zh_CN">改变系统时区</description>
    <description xml:lang="zh_HK">改變系統時區</description>
    <description xml:lang="zh_TW">改變系統時區</description>
    <message>Privileges are required to change the system time zone.</message>
    <message xml:lang="am">የ ስርአቱን ሰአት ክልል ለ መቀየር ቅድሚያ ያስፈልጋል</message>
    <message xml:lang="ar">الصلاحيات مطلوبة لتغيير منطقة النظام الزمنية.</message>
    <message xml:lang="be">Патрабуюцца прывілеі для змянення сістэмнага часавага поясу</message>
    <message xml:lang="bg">За промяна на системния часови пояс се изискват специални права.</message>
    <message xml:lang="ca">Es necessiten privilegis per canviar la zona horària del sistema.</message>
    <message xml:lang="ca@valencia">Es necessiten privilegis per a canviar la zona horària del sistema.</message>
    <message xml:lang="cmn">改變系統時區需要有權限。</message>
    <message xml:lang="cs">Ke změně časové zóny jsou vyžadována oprávnění.</message>
    <message xml:lang="da">Der kræves tilladelse for at ændre systemets tidszone.</message>
    <message xml:lang="de">Systemverwalterrechte sind erforderlich, um die Zeitzone des Systems zu ändern.</message>
    <message xml:lang="el">Απαιτούνται προνόμια διαχειριστή για να αλλάξει η χρονική ζώνη του συστήματος.</message>
    <message xml:lang="en_AU">Privileges are required to change the system time zone.</message>
    <message xml:lang="en_GB">Privileges are required to change the system time zone.</message>
    <message xml:lang="es">Se requieren privilegios para cambiar la zona horaria del sistema.</message>
    <message xml:lang="es_CO">Se requieren privilegios para cambiar la zona horaria.</message>
    <message xml:lang="et">Süsteemi ajavööndi muutmiseks on vaja eriõiguseid.</message>
    <message xml:lang="eu">Pribilegioak behar dira sistemaren ordu-eremua aldatzeko.</message>
    <message xml:lang="fr">Des permissions supplémentaires sont nécessaires pour modifier le fuseau horaire du système.</message>
    <message xml:lang="gl">Requírense privilexios para cambiar o fuso horario do sistema.</message>
    <message xml:lang="he">נדרשות הרשאות כדי לשנות את אזור הזמן של המערכת.</message>
    <message xml:lang="hu">Hitelesítés szükséges a rendszer időzónájának módosításához.</message>
    <message xml:lang="hy">Արտոնությունները պահանջվում են փոխել համակարգի ժամային գոտին:</message>
    <message xml:lang="id">Hak khusus diperlukan untuk mengubah zona waktu sistem.</message>
    <message xml:lang="it">Sono richiesti privilegi per cambiare il fuso orario del sistema.</message>
    <message xml:lang="ja">システムのタイムゾーンを変更するには権限が必要です。</message>
    <message xml:lang="kk">Жүйелік уақыт белдеуін өзгерту үшін рұқсаттар керек.</message>
    <message xml:lang="ko">시스템 시간대를 바꾸려면 권한이 필요합니다.</message>
    <message xml:lang="lt">Norint pakeisti sistemos laiko juostą, reikia administratoriaus teisių.</message>
    <message xml:lang="mr">प्रणाली वेळक्षेत्र बदलण्यासाठी परवानगी आवश्यक आहे</message>
    <message xml:lang="ms">Kelayakan diperlukan untuk ubah zon waktu sistem.</message>
    <message xml:lang="nb">Rettigheter kreves forå  endre systemets tidssone.</message>
    <message xml:lang="nl">Er zijn rechten benodigd om de tijdzone van het systeem te veranderen.</message>
    <message xml:lang="pa">ਸਿਸਟਮ ਸਮਾਂ ਖੇਤਰ ਬਦਲਣ ਲਈ ਅਧਿਕਾਰ ਲੋੜੀਦੇ ਹਨ।</message>
    <message xml:lang="pl">Wymagane są uprawnienia, aby zmienić systemową strefę czasową.</message>
    <message xml:lang="pt">São precisos privilégios para mudar a zona da hora do sistema.</message>
    <message xml:lang="pt_BR">Privilégios são requeridos para alterar o fuso horário do sistema.</message>
    <message xml:lang="ro">Sunt necesare privilegii pentru a modifica fusul orar al sistemului.</message>
    <message xml:lang="ru">Необходимы полномочия для изменения системной временной зоны.</message>
    <message xml:lang="sk">Na zmenu časovej zóny sa vyžadujú oprávnenia.</message>
    <message xml:lang="sl">Sprememba sistemskega časovnega pasu zahteva skrbniški dostop.</message>
    <message xml:lang="sr">Потребна су овлашћења за промену временске зоне на систему.</message>
    <message xml:lang="sr@latin">Potrebna su ovlašćenja za promenu vremenske zone na sistemu.</message>
    <message xml:lang="sv">Privilegier krävs för att ändra systemets tidszon.</message>
    <message xml:lang="ta">கணினி நேர மண்டலத்தை மாற்றி அமைக்க உரிமைகள் தேவை.</message>
    <message xml:lang="tr">Sistemin saat dilimini değiştirmek için izin gereklidir.</message>
    <message xml:lang="uk">Потрібні повноваження для зміни системного часового поясу.</message>
    <message xml:lang="ur">نظام کا علاقہ وقت بدلنے کے لیے اجازے درکار ہیں.</message>
    <message xml:lang="zh_CN">更改系统时区需要的权限</message>
    <message xml:lang="zh_HK">改變系統時區需要有權限。</message>
    <message xml:lang="zh_TW">改變系統時區需要有權限。</message>
    <defaults>
      <allow_inactive>no</allow_inactive>
      <allow_active>auth_admin_keep</allow_active>
    </defaults>
  </action>

  <action id="org.mate.settingsdaemon.datetimemechanism.settime">
    <description>Change system time</description>
    <description xml:lang="am">የስርአቱን ሰአት መቀየሪያ</description>
    <description xml:lang="ar">غيّر وقت النظام</description>
    <description xml:lang="be">Змяніць сістэмны час</description>
    <description xml:lang="bg">Промяна на системното време</description>
    <description xml:lang="ca">Canvia l'hora del sistema</description>
    <description xml:lang="ca@valencia">Canvia l'hora del sistema</description>
    <description xml:lang="cmn">改變系統時刻</description>
    <description xml:lang="cs">Změnit systémový čas</description>
    <description xml:lang="da">Indstil systemtid</description>
    <description xml:lang="de">Systemzeit ändern</description>
    <description xml:lang="el">Αλλαγή ώρας συστήματος</description>
    <description xml:lang="en_AU">Change system time</description>
    <description xml:lang="en_GB">Change system time</description>
    <description xml:lang="es">Cambiar la hora del sistema</description>
    <description xml:lang="es_CO">Cambia la hora del sistema</description>
    <description xml:lang="et">Muuda süsteemi kella</description>
    <description xml:lang="eu">Aldatu sistemaren ordua</description>
    <description xml:lang="fr">Modifier l'heure du système</description>
    <description xml:lang="frp">Changér l’hora du sistèmo</description>
    <description xml:lang="gl">Cambiar a hora do sistema</description>
    <description xml:lang="he">שינוי שעת המערכת</description>
    <description xml:lang="hr">Promjeni vrijeme sustava</description>
    <description xml:lang="hu">Rendszeridő módosítása</description>
    <description xml:lang="hy">Փոխել համակարգի ժամանակը</description>
    <description xml:lang="id">Ubah waktu sistem</description>
    <description xml:lang="it">Cambia orario sistema</description>
    <description xml:lang="ja">システムの時刻を変更</description>
    <description xml:lang="kk">Жүйелік уақытты өзгерту</description>
    <description xml:lang="kn">ಗಣಕದ ಸಮಯವನ್ನು ಬದಲಾಯಿಸಿ</description>
    <description xml:lang="ko">시스템 시계 바꾸기</description>
    <description xml:lang="ku_IQ">گۆڕینی کاتی سیستەم</description>
    <description xml:lang="lt">Keisti sistemos laiką</description>
    <description xml:lang="mr">प्रणाली वेळ बदला</description>
    <description xml:lang="ms">Ubah masa sistem</description>
    <description xml:lang="nb">Endre tid på systemet</description>
    <description xml:lang="nl">Systeemtijd veranderen</description>
    <description xml:lang="pa">ਸਿਸਟਮ ਸਮਾਂ ਬਦਲੋ</description>
    <description xml:lang="pl">Zmiana czasu systemowego</description>
    <description xml:lang="pt">Mudar hora do sistema</description>
    <description xml:lang="pt_BR">Alterar o relógio do sistema</description>
    <description xml:lang="ro">Modifică ora sistemului</description>
    <description xml:lang="ru">Изменить системное время</description>
    <description xml:lang="sk">Zmeniť systémový čas</description>
    <description xml:lang="sl">Spremeni sistemski čas</description>
    <description xml:lang="sr">Промени време система</description>
    <description xml:lang="sr@latin">Promeni vreme na sistemu</description>
    <description xml:lang="sv">Ändra systemtiden</description>
    <description xml:lang="ta">கணினி நேரத்தை மாற்றுக</description>
    <description xml:lang="tr">Sistem saatini ayarla</description>
    <description xml:lang="uk">Змінити системний час</description>
    <description xml:lang="ur">نظام کا وقت تبدیل کریں</description>
    <description xml:lang="uz">Tizim vaqtini o'zgartirish</description>
    <description xml:lang="zh_CN">改变系统时间</description>
    <description xml:lang="zh_HK">改變系統時刻</description>
    <description xml:lang="zh_TW">改變系統時刻</description>
    <message>Privileges are required to change the system time.</message>
    <message xml:lang="am">የ ስርአቱን ሰአት ክልል ለ መቀየር ቅድሚያ ያስፈልጋል </message>
    <message xml:lang="ar">الصلاحيات مطلوبة لتغيير وقت النظام.</message>
    <message xml:lang="be">Патрабуюцца прывілеі для змянення сістэмнага часу</message>
    <message xml:lang="bg">За промяна на системното време се изискват специални права.</message>
    <message xml:lang="ca">Es necessiten privilegis per canviar l'hora del sistema.</message>
    <message xml:lang="ca@valencia">Es necessiten privilegis per a canviar l'hora del sistema.</message>
    <message xml:lang="cmn">改變系統時刻需要有權限。</message>
    <message xml:lang="cs">Ke změně systémového času jsou vyžadována oprávnění.</message>
    <message xml:lang="da">Der kræves tilladelse for at ændre systemtiden.</message>
    <message xml:lang="de">Systemverwalterrechte sind erforderlich, um die Systemzeit zu ändern.</message>
    <message xml:lang="el">Απαιτούνται προνόμια διαχειριστή για αλλαγή της ώρας του συστήματος.</message>
    <message xml:lang="en_AU">Privileges are required to change the system time.</message>
    <message xml:lang="en_GB">Privileges are required to change the system time.</message>
    <message xml:lang="es">Se requieren privilegios para cambiar la hora del sistema.</message>
    <message xml:lang="es_CO">Se requieren privilegios para cambiar la hora del sistema.</message>
    <message xml:lang="et">Süsteemi kella muutmiseks on vaja eriõiguseid.</message>
    <message xml:lang="eu">Pribilegioak behar dira sistemaren ordua aldatzeko.</message>
    <message xml:lang="fr">Des permissions supplémentaires sont nécessaires pour modifier l'heure du système.</message>
    <message xml:lang="gl">Requírense privilexios para cambiar o hora do sistema.</message>
    <message xml:lang="he">נדרשות הרשאות לשנות את שעת המערכת.</message>
    <message xml:lang="hu">Hitelesítés szükséges a rendszeridő módosításához.</message>
    <message xml:lang="hy">Արտոնությունները պահանջվում են փոխել համակարգի ժամանակը:</message>
    <message xml:lang="id">Hak khusus diperlukan untuk mengubah waktu sistem.</message>
    <message xml:lang="it">Sono richiesti privilegi per cambiare l'ora di sistema.</message>
    <message xml:lang="ja">システムの時刻を変更するには権限が必要です。</message>
    <message xml:lang="kk">Жүйелік уақытты өзгерту үшін рұқсаттар керек.</message>
    <message xml:lang="ko">시스템 시간을 바꾸려면 권한이 필요합니다.</message>
    <message xml:lang="lt">Norint pakeisti sistemos laiką, reikia administratoriaus teisių.</message>
    <message xml:lang="mr">प्रणाली वेळ बदलण्यासाठी परवानगी आवश्यक आहे</message>
    <message xml:lang="ms">Kelayakan diperlukan untuk ubah masa sistem.</message>
    <message xml:lang="nb">Rettigheter kreves for å stille klokken på systemet.</message>
    <message xml:lang="nl">Er zijn rechten benodigd om de systeemtijd te veranderen.</message>
    <message xml:lang="pa">ਸਿਸਟਮ ਸਮਾਂ ਬਦਲਣ ਲਈ ਅਧਿਕਾਰਾਂ ਦੀ ਲੋੜ ਹੈ।</message>
    <message xml:lang="pl">Wymagane są uprawnienia, aby zmienić czas systemowy.</message>
    <message xml:lang="pt">São precisos privilégios para mudar a hora do sistema.</message>
    <message xml:lang="pt_BR">Privilégios são requeridos para alterar o relógio do sistema.</message>
    <message xml:lang="ro">Sunt necesare privilegii pentru a modifica ora sistemului.</message>
    <message xml:lang="ru">Необходимы полномочия для изменения системного времени.</message>
    <message xml:lang="sk">Na zmenu systémového času sa vyžadujú oprávnenia.</message>
    <message xml:lang="sl">Sprememba sistemskega časa zahteva skrbniški dostop.</message>
    <message xml:lang="sr">Потребна су овлашћења за промену времена на систему.</message>
    <message xml:lang="sr@latin">Potrebna su ovlašćenja za promenu vremena na sistemu.</message>
    <message xml:lang="sv">Privilegier krävs för att ändra systemtiden.</message>
    <message xml:lang="ta">கணினி நேரத்தை மாற்றி அமைக்க உரிமைகள் தேவை.</message>
    <message xml:lang="tr">Sistem saatini ayarlamak için izin gereklidir.</message>
    <message xml:lang="uk">Потрібні повноваження для зміни системного часу.</message>
    <message xml:lang="ur">نظام کا وقت بدلنے کے لیے اجازے درکار ہیں.</message>
    <message xml:lang="zh_CN">更改系统时间需要的权限</message>
    <message xml:lang="zh_HK">改變系統時刻需要有權限。</message>
    <message xml:lang="zh_TW">改變系統時刻需要有權限。</message>
    <defaults>
      <allow_inactive>no</allow_inactive>
      <allow_active>auth_admin_keep</allow_active>
    </defaults>
  </action>

  <action id="org.mate.settingsdaemon.datetimemechanism.configurehwclock">
    <description>Configure hardware clock</description>
    <description xml:lang="am">የ ጠካራ አካል ሰአት ማሰናጃ</description>
    <description xml:lang="ar">اضبط ساعة العتاد</description>
    <description xml:lang="be">Наставіць апаратны гадзіннік</description>
    <description xml:lang="bg">Сверяване на хардуерния часовник</description>
    <description xml:lang="ca">Configura el rellotge de maquinari</description>
    <description xml:lang="ca@valencia">Configura el rellotge del maquinari</description>
    <description xml:lang="cmn">設定硬體時鐘</description>
    <description xml:lang="cs">Nastavit hardwarové hodiny</description>
    <description xml:lang="da">Indstil hardwareuret</description>
    <description xml:lang="de">Geräteuhr konfigurieren</description>
    <description xml:lang="el">Διαμόρφωση ρολογιού υπολογιστή</description>
    <description xml:lang="en_AU">Configure hardware clock</description>
    <description xml:lang="en_GB">Configure hardware clock</description>
    <description xml:lang="es">Configurar el reloj hardware</description>
    <description xml:lang="es_CO">Configura el reloj de hardware</description>
    <description xml:lang="et">Muuda riistvaralist kella</description>
    <description xml:lang="eu">Konfiguratu hardware erlojua</description>
    <description xml:lang="fr">Configurer l'horloge matérielle</description>
    <description xml:lang="frp">Configurar lo relojo de la quincalye</description>
    <description xml:lang="gl">Configurar o reloxo do sistema</description>
    <description xml:lang="he">הגדרת שעון החומרה</description>
    <description xml:lang="hr">Postavi sat sklopovlja</description>
    <description xml:lang="hu">Hardveróra konfigurálása</description>
    <description xml:lang="hy">Կարգավորել սարքավորումային ժամացույցը</description>
    <description xml:lang="id">Atur jam perangkat keras</description>
    <description xml:lang="it">Configura orologio hardware</description>
    <description xml:lang="ja">ハードウェアの時計の変更</description>
    <description xml:lang="kk">Құрылғылық сағатты баптау</description>
    <description xml:lang="kn">ಯಂತ್ರಾಂಶದ ಗಡಿಯಾರವನ್ನು ಸಂರಚಿಸಿ</description>
    <description xml:lang="ko">하드웨어 시계 설정</description>
    <description xml:lang="lt">Konfigūruoti aparatinį laikrodį</description>
    <description xml:lang="ms">Konfigur jam perkakasan</description>
    <description xml:lang="nb">Sett opp maskinvareklokken</description>
    <description xml:lang="nl">Apparatuurklok instellen</description>
    <description xml:lang="pa">ਹਾਰਡਵੇਅਰ ਘੜੀ ਸੰਰਚਨਾ</description>
    <description xml:lang="pl">Konfiguracja zegara sprzętowego</description>
    <description xml:lang="pt">Mudar relógio do hardware</description>
    <description xml:lang="pt_BR">Configurar o relógio do hardware</description>
    <description xml:lang="ro">Configurează ceasul fizic al calculatorului</description>
    <description xml:lang="ru">Настроить аппаратные часы</description>
    <description xml:lang="sk">Nastaviť hardwarové hodiny</description>
    <description xml:lang="sl">Nastavitev ure strojne opreme</description>
    <description xml:lang="sr">Подеси сат на рачунару</description>
    <description xml:lang="sr@latin">Podesi sat na računaru</description>
    <description xml:lang="sv">Konfigurera maskinvaruklocka</description>
    <description xml:lang="ta">வன்பொருள் கடிகாரத்தை வடிவமை</description>
    <description xml:lang="tr">Donanım saatini yapılandır</description>
    <description xml:lang="uk">Налаштувати апаратний годинник</description>
    <description xml:lang="ur">ہارڈ ویئر گھڑی تشکیل دیں</description>
    <description xml:lang="uz">Qurilma soatini sozlash</description>
    <description xml:lang="zh_CN">配置硬件时钟</description>
    <description xml:lang="zh_HK">設定硬件時鐘</description>
    <description xml:lang="zh_TW">設定硬體時鐘</description>
    <message>Privileges are required to configure the hardware clock.</message>
    <message xml:lang="am">የ ጠንካራ አክል ሰአት ማሰናጃ ለ መቀየር ቅድሚያ ያስፈልጋል</message>
    <message xml:lang="ar">الصلاحيات مطلوبة لتغيير ساعة العتاد.</message>
    <message xml:lang="be">Патрабуюцца прывілеі для настáўлення апаратнага гадзінніка</message>
    <message xml:lang="bg">За промяна на хардуерния часовник се изискват специални права.</message>
    <message xml:lang="ca">Es necessiten privilegis per configurar el rellotge del maquinari.</message>
    <message xml:lang="ca@valencia">Es necessiten privilegis per a configurar el rellotge del maquinari.</message>
    <message xml:lang="cmn">設定硬體時鐘需要有權限。</message>
    <message xml:lang="cs">Ke změně taktu jsou vyžadována oprávnění.</message>
    <message xml:lang="da">Der kræves tilladelse for at indstille hardwareuret.</message>
    <message xml:lang="de">Systemverwalterrechte sind erforderlich, um die Geräteuhr zu konfigurieren.</message>
    <message xml:lang="el">Απαιτούνται προνόμια διαχειριστή για διαμόρφωση του ρολογιού του υπολογιστή.</message>
    <message xml:lang="en_AU">Privileges are required to configure the hardware clock.</message>
    <message xml:lang="en_GB">Privileges are required to configure the hardware clock.</message>
    <message xml:lang="es">Se requieren privilegios para cambiar el reloj hardware.</message>
    <message xml:lang="es_CO">Se requieren privilegios para configurar el reloj de hardware.</message>
    <message xml:lang="et">Riistvaralise kella sätete määramiseks on vaja eriõiguseid.</message>
    <message xml:lang="eu">Pribilegioak behar dira hardware erlojua konfiguratzeko.</message>
    <message xml:lang="fr">Des permissions supplémentaires sont nécessaires pour configurer l'horloge matérielle.</message>
    <message xml:lang="gl">Requírense privilexios para cambiar o reloxo do sistema</message>
    <message xml:lang="he">נדרשות הרשאות כדי להגדיר את שעון החומרה.</message>
    <message xml:lang="hu">Hitelesítés szükséges a hardveróra módosításához.</message>
    <message xml:lang="hy">Արտոնությունները պահանջվում են կարգավորել ապարատային ժամացույցը:</message>
    <message xml:lang="id">Hak khusus diperlukan untuk mengkonfigurasi jam perangkat keras.</message>
    <message xml:lang="it">Sono richiesti privilegi per cambiare l'orologio hardware.</message>
    <message xml:lang="ja">ハードウェアの時計を変更するには権限が必要です。</message>
    <message xml:lang="kk">Құрылғылық сағатты баптау үшін рұқсаттар керек.</message>
    <message xml:lang="ko">하드웨어 시계를 설정하려면 권한이 필요합니다.</message>
    <message xml:lang="lt">Norint konfigūruoti aparatinį laikrodį, reikia administratoriaus teisių.</message>
    <message xml:lang="ms">Kelayakan diperlukan untuk konfigur jam perkakasan.</message>
    <message xml:lang="nb">Rettigheter kreves for å sette opp maskinvareklokken.</message>
    <message xml:lang="nl">Er zijn rechten benodigd om de apparatuurklok in te stellen.</message>
    <message xml:lang="pa">ਹਾਰਡਵੇਅਰ ਘੜੀ ਦੀ ਸੰਰਚਨਾ ਵਾਸਤੇ ਅਧਿਕਾਰਾਂ ਦੀ ਲੋੜ ਹੈ</message>
    <message xml:lang="pl">Wymagane są uprawnienia, aby skonfigurować zegar sprzętowy.</message>
    <message xml:lang="pt">São precisos privilégios para configurar o relógio do hardware.</message>
    <message xml:lang="pt_BR">Privilégios são requeridos para configurar o relógio do hardware.</message>
    <message xml:lang="ro">Sunt necesare privilegii pentru a modifica ceasul fizic al calculatorului.</message>
    <message xml:lang="ru">Необходимы полномочия для настройки аппаратных часов.</message>
    <message xml:lang="sk">Na zmenu taktu sa vyžadujú oprávnenia.</message>
    <message xml:lang="sl">Sprememba časa strojne opreme zahteva skrbniški dostop.</message>
    <message xml:lang="sr">Потребна су овлашћења за подешавање сата на рачунару.</message>
    <message xml:lang="sr@latin">Potrebna su ovlašćenja za podešavanje sata na računaru.</message>
    <message xml:lang="sv">Privilegier krävs för att konfigurera maskinvaruklockan.</message>
    <message xml:lang="ta">கணினி வன்பொருள் நேரத்தை மாற்றி அமைக்க உரிமைகள் தேவை.</message>
    <message xml:lang="tr">Donanım saatini yapılandırmak için izin gereklidir.</message>
    <message xml:lang="uk">Потрібні повноваження для налаштування апаратного годинника.</message>
    <message xml:lang="ur">ہارڈ ویئر گھڑی تشکیل دینے کے لیے اجازے درکار ہیں.</message>
    <message xml:lang="uz">Qurilma soatini sozlash uchun imtiyozlar zarur.</message>
    <message xml:lang="zh_CN">配置硬件时钟需要权限</message>
    <message xml:lang="zh_HK">設定硬件時鐘需要有權限。</message>
    <message xml:lang="zh_TW">設定硬體時鐘需要有權限。</message>
    <defaults>
      <allow_inactive>no</allow_inactive>
      <allow_active>auth_admin_keep</allow_active>
    </defaults>
  </action>

</policyconfig>