[Desktop Entry]
Type=Application
Name=LXQt System Settings
GenericName=System Settings
Comment=Configure your system
Exec=lxqt-config
Icon=preferences-system
Categories=Settings;DesktopSettings;Qt;LXQt;
OnlyShowIn=LXDE;LXQt;

Comment[zh_TW]=設定LXQt模組
GenericName[zh_TW]=LXQt設定
Name[zh_TW]=LXQt設定中心
Comment[zh_CN]=配置 LXQt 模块
GenericName[zh_CN]=LXQt 配置
Name[zh_CN]=LXQt 配置中心
Comment[uk]=Налаштувати модулі LXQt
GenericName[uk]=Налаштування LXQt
Name[uk]=Центр налаштувань LXQt
Comment[tr]=LXQt modüllerini yapılandır
GenericName[tr]=LXQt Yapılandırması
Name[tr]=LXQt Yapılandırma Merkezi
Comment[th_TH]=ปรับแต่งมอดูล LXQt
GenericName[th_TH]=ปรับแต่ง LXQt
Name[th_TH]=ศูนย์การปรับแต่ง LXQt
Comment[sr@latin]=Podesite Rejzorove module
GenericName[sr@latin]=Podešavanje Rejzora
Name[sr@latin]=Centar za podešavanje
Comment[sr]=Подесите Рејзорове модуле
GenericName[sr]=Подешавање Рејзора
Name[sr]=Центар за подешавање
Comment[sl]=Nastavitveni moduli za LXQt
GenericName[sl]=Nastavitve
Name[sl]=Nastavitveno središče za LXQt
Comment[sk]=Centrum nastavení prostredia LXQt
GenericName[sk]=Centrum nastavení
Name[sk]=Centrum nastavení
Comment[ru_RU]=Настроить модули LXQt
GenericName[ru_RU]=Настройка LXQt
Name[ru_RU]=Центр настроек LXQt
Comment[ru]=Центр настроек для модулей LXQt
GenericName[ru]=Центр настроек LXQt
Name[ru]=Центр настроек LXQt
Comment[ro_RO]=Configurează modulele LXQt
GenericName[ro_RO]=Configurație LXQt
Name[ro_RO]=Centru de configurare LXQt
Comment[pt_BR]=Configurar módulos Qt
GenericName[pt_BR]=Configuração
Name[pt_BR]=Centro De Configuração
Comment[pt]=Configurar módulos do LXQt
GenericName[pt]=Configuração do LXQt
Name[pt]=Centro de configuração LXQt
Comment[pl_PL]=Konfiguruj moduły LXQt
GenericName[pl_PL]=Konfiguracja LXQt
Name[pl_PL]=Panel sterowania LXQt
Comment[pl]=Wszystkie ustawienia LXQt
GenericName[pl]=Panel sterowania LXQt
Name[pl]=Panel sterowania LXQt
Comment[nl]=Configureer LXQt modules
GenericName[nl]=LXQt Configuratie
Name[nl]=LXQt Configuratie Centrum
Comment[lt]=Konfigūruoti LXQt modulius
GenericName[lt]=LXQt konfigūracija
Name[lt]=LXQt konfigūravimo centras
Comment[ja]=LXQtモジュールを設定
GenericName[ja]=LXQtの設定
Name[ja]=LXQtコンフィギュレーションセンター
Comment[it_IT]=Configura i moduli di LXQt
GenericName[it_IT]=Configurazione di LXQt
Name[it_IT]=Centro di configurazione di LXQt
Comment[it]=Configura moduli di LXQt
GenericName[it]=Configura LXQt
Name[it]=Centro di Configurazione LXQt
Comment[id_ID]=Konfigurasi modul LXQt
GenericName[id_ID]=Konfigurasi LXQt
Name[id_ID]=Pusat Konfigurasi LXQt
Comment[hu]=A LXQt modulok beállítása
GenericName[hu]=LXQt beállítóközpont
Name[hu]=LXQt beállítóközpont
Comment[fr_FR]=Configurer les modules de LXQt
GenericName[fr_FR]=Configuration de LXQt
Name[fr_FR]=Centre de configuration de LXQt
Comment[fi]=Hallitse LXQtin moduuleita
GenericName[fi]=LXQt-hallinta
Name[fi]=LXQtin hallintakeskus
Comment[eu]=Konfiguratu LXQt moduluak
GenericName[eu]=LXQt konfigurazioa
Name[eu]=LXQt konfigurazio-zentroa
Comment[es_VE]=Configurar modulos de LXQt
GenericName[es_VE]=Configuracion de LXQt
Name[es_VE]=Centro de Configuracion LXQt
Comment[es]=Configura módulos de LXQt
GenericName[es]=Configuración LXQt
Name[es]=Centro de Configuración LXQt
Comment[eo]=Agordi modulojn de LXQt
GenericName[eo]=Agordilo de LXQt
Name[eo]=Agordcentro de LXQt
Comment[el_GR]=Διαμόρφωση αρθρωμάτων LXQt
GenericName[el_GR]=Διαμόρφωση LXQt
Name[el_GR]=Κέντρο διαμόρφωσης LXQt
Comment[de_DE]=LXQt-Module konfigurieren
GenericName[de_DE]=LXQt Konfiguration
Name[de_DE]=LXQt Konfigurationscenter
Comment[de]=Konfiguriere LXQt Module
GenericName[de]=LXQt Konfiguration
Name[de]=LXQt Konfigurations Center
Comment[da_DK]=Indstil LXQt moduler
GenericName[da_DK]=LXQt Indstillinger
Name[da_DK]=LXQt Konfigurationsstyring
Comment[da]=Indstil LXQt moduler
GenericName[da]=LXQt Indstillingscenter
Name[da]=LXQt Indstillingscenter
Comment[cs_CZ]=Nastavit moduly LXQt
GenericName[cs_CZ]=Nastavení LXQtu
Name[cs_CZ]=Nastavení LXQtu
Comment[cs]=Nastavit moduly LXQt
GenericName[cs]=Nastavení LXQtu
Name[cs]=Nastavení LXQtu
Comment[ar]=تهيئة أقسام ريزر كيوت
GenericName[ar]=تهيئة ريزر
Name[ar]=مركز تهيئة ريزر
Name[sr@ijekavianlatin]=Centar za podešavanje
Comment[sr@ijekavianlatin]=Podesite Rejzorove module
GenericName[sr@ijekavianlatin]=Podešavanje Rejzora
Name[sr@ijekavian]=Центар за подешавање
Comment[sr@ijekavian]=Подесите Рејзорове модуле
GenericName[sr@ijekavian]=Подешавање Рејзора
