[Desktop Entry]
Type=Application
Exec=lxqt-admin-user
Icon=system-users
Categories=LXQt;Settings;DesktopSettings;Qt;
OnlyShowIn=LXQt;

Name=Users and Groups
GenericName=User and Group Settings
Comment=Configure the users and groups of your system
Name[ar]=المستخدمون والمجموعات
GenericName[ar]=إعدادات المستخدمون والمجموعات
Comment[ar]=اضبط مستخدمو النّظام ومجموعاته
Name[bg]=Потребители и Групи
GenericName[bg]=Настройки на потребители и групи
Comment[bg]=Управление на потребители и групи на системата
Name[ca]=Usuaris i grups
GenericName[ca]=Ajusts dels usuaris i dels grups
Comment[ca]=Configureu els usuaris i els grups del vostre sistema
Name[cs]=Uživatelé a skupiny
GenericName[cs]=Nastavení uživatelů a skupin
Comment[cs]=Nastavení uživatelů a skupin systému
Name[da]=Brugere og grupper
GenericName[da]=Indstillinger for brugere og grupper
Comment[da]=Konfigurér systemets brugere og grupper
Name[de]=Benutzer und Gruppen
GenericName[de]=Einstellungen für Benutzer und Gruppen
Comment[de]=Konfiguriert die Benutzer und Gruppen des Systems
Name[el]=Χρήστες και ομάδες
GenericName[el]=Ρυθμίσεις χρηστών και ομάδων
Comment[el]=Διαμόρφωση των χρηστών και των ομάδων του συστήματός σας
Name[es]=Usuarios y grupos
GenericName[es]=Configuración de usuarios y grupos
Comment[es]=Configurar los usuarios y grupos del sistema
Name[fr]=Utilisateurs et groupes
GenericName[fr]=Paramétrage des utilisateurs et des groupes
Comment[fr]=Paramétrage des utilisateurs et des groupes du système
Name[gl]=Usuarios e grupos
GenericName[gl]=Configuración de usuarios e grupos
Comment[gl]=Configurar os usuarios e grupos do sistema
Name[he]=משתמשים וקבוצות
GenericName[he]=הגדרות משתמשים וקבוצות
Comment[he]=הגדרת המשתמשים והקבוצות במערכת שלך
Name[hr]=Korisnici i grupe
GenericName[hr]=Postavke za korisnike i grupe
Comment[hr]=Konfiguriraj korisnike i grupe na tvom sustavu
Name[hu]=Felhasználók és csoportok
GenericName[hu]=Felhasználó és csoportbeállítás
Comment[hu]=A rendszer felhasználóinak és csoportjainak beállítása
Name[it]=Utenti e gruppi
GenericName[it]=Configurazione degli utenti e gruppi
Comment[it]=Configurazione degli utenti e dei gruppi del sistema
Name[ja]=ユーザーとグループ
GenericName[ja]=ユーザーとグループ
Comment[ja]=LXQt システム上のユーザーとグループを設定します
Name[lt]=Naudotojai ir grupės
GenericName[lt]=Naudotojų ir grupių nustatymai
Comment[lt]=Konfigūruoti sistemos naudotojus ir grupes
Name[pl]=Użytkownicy i grupy
GenericName[pl]=Zarządzanie użytkownikami i grupami
Name[pt]=Utilizadores e grupos
GenericName[pt]=Definições de utilizadores e grupos
Comment[pt]=Configurar os utilizadores e os grupos do seu sistema
Name[ru]=Пользователи и группы
GenericName[ru]=Настройки пользователей и групп
Comment[ru]=Настроить пользователей и группы вашей системы
Name[tr]=Kullanıcılar ve Gruplar
GenericName[tr]=Kullanıcı ve Grup Ayarları
Comment[tr]=Sisteminizin kullanıcılarını ve gruplarını yapılandırın
Name[zh_CN]=用户与组
GenericName[zh_CN]=用户与组设置
Comment[zh_CN]=配置系统用户与组
