[Desktop Entry]
Type=Application
Exec=lxqt-config-globalkeyshortcuts
Icon=preferences-desktop-keyboard
Categories=Settings;DesktopSettings;Qt;LXQt;
OnlyShowIn=LXQt;

Name=Shortcut Keys
GenericName=Keyboard Shortcut Settings
Comment=Configure shortcut keys in LXQt
Name[bg]=Клавишни комбинации
GenericName[bg]=Настройване на клавишни комбинации
Comment[bg]=Настройване на клавишни комбинации в LXQt
Name[ca]=Tecles de les dreceres
GenericName[ca]=Ajusts de les dreceres de teclat
Comment[ca]=Configureu les tecles de les dreceres a LXQt
Name[cs]=Nastavení klávesových zkratek
Comment[cs]=Nastavit celkové klávesové zkratky pro prostředí LXQt
GenericName[cs]=Nastavení celkových klávesových zkratek
Name[da]=Genvejstaster
GenericName[da]=Indstillinger for tastaturgenveje
Comment[da]=Konfigurér genvejstaster i LXQt
Name[de]=Kurzbefehl-Konfiguration
GenericName[de]=Globale Kurzbefehlkonfiguration
Comment[de]=Globale Kurzbefehle für die LXQt-Arbeitsfläche definieren
Name[el]=Πλήκτρα συντομεύσεων
GenericName[el]=Ρυθμίσεις συντομεύσεων πληκτρολογίου
Comment[el]=Διαμόρφωση των πλήκτρων συντομεύσεων του LXQt
Name[es]=Atajos de teclado
GenericName[es]=Configuración de los atajos de teclado
Comment[es]=Configurar los atajos de teclado en LXQt
Name[es_VE]=Configuracion de atajos de LXQt
Comment[es_VE]=Configura atajos de teclado para el escritorio LXQt
GenericName[es_VE]=Configuracion de Atajos globales de LXQt
Name[eu]=LXQt lasterbideen konfigurazioa
Comment[eu]=Konfiguratu LXQt mahaigainaren lasterbide globalak
GenericName[eu]=LXQt lasterbide globalen konfigurazioa
Name[fr]=Touches de raccourcis
GenericName[fr]=Configuration des touches de raccourcis
Comment[fr]=Configuration des touches de raccourcis de LXQt
Name[he]=מקשי קיצור
GenericName[he]=הגדרות מקשי קיצור במקלדת
Comment[he]=הגדרת מקשי קיצור ב־LXQt
Name[hr]=Tipkovnički prečaci
GenericName[hr]=Postavke tipkovničkih prečaca
Comment[hr]=Konfiguriraj tipkovničke prečace za LXQt
Name[hu]=Gyorsbillentyűk
Comment[hu]=LXQt gyorsbillentyűinek beállítása
GenericName[hu]=Gyorsbillentyűk beállítása
Name[it]=Scorciatoie globali
GenericName[it]=Configurazione delle scorciatoie di LXQt
Comment[it]=Configura le scorciatoie globali di LXQt 
Name[ja]=ショートカットキー
GenericName[ja]=ショートカットキー
Comment[ja]=LXQt ショートカットキーを設定します
Name[lt]=Spartieji klavišai
GenericName[lt]=Sparčiųjų klavišų nustatymai
Comment[lt]=Konfigūruoti LXQt sparčiuosius klavišus
Name[oc]=Acorchis
GenericName[oc]=Paramètres d’acorchis clavièr
Comment[oc]=Configuracion de las tòcas d’acorchi de LXQt
Name[pl]=Konfiguracja skrótów pulpitu LXQt
Comment[pl]=Określ globalny skrót pulpitu LXQt
GenericName[pl]=Konfiguracja globalnych skrótów pulpitu LXQt
Name[pt]=Teclas de atalho
GenericName[pt]=Definições das teclas de atalho
Comment[pt]=Configurar as teclas de atalho do LXQt
Name[pt_BR]=Teclas de Atalho
Comment[pt_BR]=Configurar as teclas de atalho do LXQt
GenericName[pt_BR]=Configurações dos Atalhos do Teclado
Name[ro]=Configurație acceleratori LXQt
Comment[ro]=Configurează acceleratorii globali pentru LXQt
GenericName[ro]=Configurație acceleratori globali LXQt
Name[ru]=Сочетания клавиш
Comment[ru]=Настроить сочетания клавиш в LXQt
GenericName[ru]=Настроить сочетания клавиш
Name[th_TH]=การตั้งค่าปุ่มลัด LXQt
Comment[th_TH]=ตั้งค่าปุ่มลัดหลักของ LXQt เดกส์ท็อป
GenericName[th_TH]=การตั้งค่าปุ่มลัดหลัก LXQt
Name[tr]=Kısayol Tuşları
GenericName[tr]=Klavye Kısayolu Ayarları
Comment[tr]=LXQt'de kısayol tuşlarını yapılandırma
Name[uk]=Налаштування скорочень LXQt
Comment[uk]=Налаштувати глобальні скорочення стільниці LXQt
GenericName[uk]=Налаштування глобальних скорочень LXQt
Name[zh_CN]=键盘快捷键配置
Comment[zh_CN]=配置 LXQt 桌面全局快捷键
GenericName[zh_CN]=LXQt 全局快捷键配置
Name[zh_TW]=LXQt快捷鍵設定
Comment[zh_TW]=設定LXQt桌面的全域快捷鍵
GenericName[zh_TW]=LXQt全域快捷鍵設定
