[Desktop Entry]
Type=Application
Name=Monitor settings
GenericName=Monitor settings
Comment=Configure monitors
Exec=lxqt-config-monitor
Icon=preferences-desktop-display
Categories=Settings;DesktopSettings;Qt;LXQt;HardwareSettings;
OnlyShowIn=LXQt;

Name[ar]=إعدادات الشّاشة
GenericName[ar]=إعدادات الشّاشة
Comment[ar]=اضبط الشّاشات
Name[ca]=Ajusts del monitor
GenericName[ca]=Ajusts del monitor
Comment[ca]=Configureu els monitors
Name[da]=Skærmindstillinger
GenericName[da]=Skærmindstillinger
Comment[da]=Konfigurér skærme
Name[de]=Bildschirmeinstellungen
GenericName[de]=Bildschirmeinstellungen
Comment[de]=Bildschirmauflösung und externe Monitore konfigurieren
Name[el]=Ρυθμίσεις οθόνης
GenericName[el]=Ρυθμίσεις οθόνης
Comment[el]=Διαμόρφωση οθονών
Name[es]=Configuración del monitor
GenericName[es]=Configuración del monitor
Comment[es]=Configura la pantalla o los monitores conectados al computador
Name[fr]=Paramètres de l'écran
GenericName[fr]=Paramètres de l'écran
Comment[fr]=Configurer les écrans
Name[hu]=Képernyő
GenericName[hu]=LXQt képernyőbeállítás
Comment[hu]=Képfelbontás és külső monitorok beállítása
Name[it]=Monitor
GenericName[it]=Impostazioni dei monitor
Comment[it]=Configura la risoluzione e i monitor esterni
Name[ja]=モニターの設定
GenericName[ja]=モニターの設定
Comment[ja]=モニターの設定
Name[lt]=Monitoriaus nustatymai
GenericName[lt]=Monitoriaus nustatymai
Comment[lt]=Konfigūruoti monitorius
Name[pl]=Monitor
GenericName[pl]=Ustawienia monitora
Comment[pl]=Konfiguracja monitora
Name[pt]=Definições do monitor
GenericName[pt]=Definições do monitor
Comment[pt]=Configuração de monitores
Comment[ru]=Настроить мониторы
Name[ru]=Настройки монитора
GenericName[ru]=Настройки монитора
Name[zh_CN]=监视器设置
GenericName[zh_CN]=监视器设置
Comment[zh_CN]=配置监视器
Comment[zh_TW]=設定螢幕
GenericName[zh_TW]=螢幕設定
Name[zh_TW]=LXQt螢幕設定
