[Desktop Entry]
Exec=lxqt-config-brightness
Terminal=false
Type=Application
Icon=brightnesssettings
Categories=Settings;DesktopSettings;Qt;LXQt;HardwareSettings;
OnlyShowIn=LXQt;

Name=Brightness
GenericName=Brightness Settings
Comment=Configure brightness
Name[ar]=إعدادات السّطوع
Name[bg]=Осветеност на екрана
GenericName[bg]=Настройки на контраст и яркост
Comment[bg]=Настройки на контраст и яркост
Name[ca]=Brillantor
GenericName[ca]=Ajusts de la brillantor
Comment[ca]=Configureu la brillantor
Name[cs]=Podsvětlení
GenericName[cs]=Nastavení podsvětlení
Comment[cs]=Nastavit jas podsvětlení
Name[da]=Lysstyrke
GenericName[da]=Lysstyrkeindstillinger
Comment[da]=Konfigurér lysstyrke
Name[es]=Brillo
GenericName[es]=Configuración del brillo
Comment[es]=Configuración del brillo
Name[fr]=Paramètres de luminosité
GenericName[fr]=Paramètres de luminosité de l'écran
Comment[fr]=Régler la luminosité et le contraste de l'écran
Name[gl]=Brillo
GenericName[gl]=Configuración do brillo
Comment[gl]=Configuración do brillo
Name[he]=בהירות
GenericName[he]=הגדרות בהירות
Comment[he]=הגדרת הבהירות
Name[hr]=Svjetlina
GenericName[hr]=Postavke svjetline
Comment[hr]=Kofiguriraj svjetlinu
Name[hu]=Fényerő
GenericName[hu]=Fényerő beállítások
Comment[hu]=A monitor fényerejének beállítása
Name[it]=Luminosità
GenericName[it]=Impostazioni luminosità e contrasto dello schermo
Comment[it]=Permette di cambiare la luminosità e il contrasto dello schermo
Name[ja]=明るさ
GenericName[ja]=明るさ
Comment[ja]=LXQt バックライトと明るさを設定します
Comment[lt]=Konfigūruoti ryškumą
GenericName[lt]=Ryškumo nustatymai
Name[lt]=Ryškumas
Name[pl]=Ustawienia jasności
GenericName[pl]=Ustawienia jasności wyświetlacza
Comment[pl]=Dostosuj jasność i kontrast wyświetlacza
Name[pt]=Brilho
GenericName[pt]=Definições de brilho
Comment[pt]=Definições de brilho para o LXQt
Comment[ru]=Позволяет менять яркость и контраст монитора
GenericName[ru]=Настройка яркости и контраста LXQt
Name[ru]=Настройка яркости и контраста LXQt
Name[tr]=Parlaklık
GenericName[tr]=Parlaklık Ayarları
Comment[tr]=Parlaklığı yapılandır
Name[zh_CN]=亮度
GenericName[zh_CN]=亮度设置
Comment[zh_CN]=配置亮度
