[Desktop Entry]
Type=Application
Exec=lxqt-config-powermanagement
Icon=preferences-system-power-management
Categories=Settings;DesktopSettings;Qt;LXQt;
OnlyShowIn=LXQt;

Name=Power Management
GenericName=Power Management Settings
Comment=Various settings regarding Power Management like battery or idleness watcher
Name[ar]=إدارة الطّاقة
GenericName[ar]=إعدادات إدارة الطّاقة
Comment[ar]=عدّة إعدادات لإدارة الطّاقة مثل مراقبات البطّاريّة أو الخمول
Name[bg]=Управление на захранването
GenericName[bg]=Настройки на управление на захранването
Comment[bg]=Настройки на поведение при бездействие, натиснат бутон за изключване, ниво на батерия и други
Name[ca]=Gestió de l'energia
GenericName[ca]=Ajusts de la gestió de l'energia
Comment[ca]=Diversos ajusts pel que fa a la gestió de l'energia com la bateria o l'observador de l'ociositat
Name[cs]=Správa napájení
GenericName[cs]=Nastavení správy napájení
Comment[cs]=Různá nastavení ohledně správy napájení, jako je stav akumulátoru a přechod do úsporného režimu při nečinnosti
Name[da]=Strømstyring
GenericName[da]=Indstillinger for strømstyring
Comment[da]=Diverse indstillinger omhandlende strømstyring, såsom batteri- eller tomgangsovervågning
Name[de]=Energieverwaltung
GenericName[de]=Einstellungen der Energieverwaltung
Comment[de]=Verschiedene Einstellungen zur Energieverwaltung wie Batterie- oder Leerlaufüberwachung
Name[el]=Διαχείριση ενέργειας
GenericName[el]=Ρυθμίσεις της διαχείρισης ενέργειας
Comment[el]=Διάφορες ρυθμίσεις σχετικά με την διαχείριση ενέργειας όπως ο επόπτης μπαταρίας ή αδράνειας
Name[es]=Gestión de energía
GenericName[es]=Configuración de la gestión de energía
Comment[es]=Configuraciones varias relacionadas con la gestión de energía, como la batería o el monitor de inactividad
Name[et]=Toitehaldus
GenericName[et]=Toitehalduse seadistused
Comment[et]=Erinevad seadistused, mis seostuvad toitehaldusega, aku kasutusega ja arvuti ooteajaga
Name[fr]=Gestion de l'énergie
GenericName[fr]=Paramétrage de la gestion de l'énergie
Comment[fr]=Divers paramétrages de la gestion de l'énergie, tels que batteries ou contrôle de l'activité
Name[he]=ניהול צריכת חשמל
GenericName[he]=הגדרות ניהול צריכת חשמל
Comment[he]=הגדרות שונות בתחום צריכת החשמל כגון סוללה או מעקב אחר פעילות
Name[hr]=Upravljanje energijom
GenericName[hr]=Upravljanje energijom – Postavke
Comment[hr]=Razne postavke za upravljanje energijom, kao što su praćenja stanja baterije i stanja mirovanja
Name[hu]=Energiakezelés
GenericName[hu]=Energiakezelés beállítások
Comment[hu]=Az energiagazdálkodással kapcsolatos különféle beállítások, például akkumulátor- vagy tétlenség-figyelő
Name[it]=Gestore energia
GenericName[it]=Impostazioni del risparmio energetico
Comment[it]=Diverse impostazioni per il risparmio energetico 
Name[ja]=電源管理
GenericName[ja]=電源管理
Comment[ja]=LXQt 電源管理(バッテリー、ふた、アイドル状態など)を設定します
Name[lt]=Maitinimo valdymas
GenericName[lt]=Maitinimo valdymo nustatymai
Comment[lt]=Įvairūs su maitinimo valdymu susiję nustatymai
Name[oc]=Gestion energetica
GenericName[oc]=Paramètres de gestion energetica
Comment[oc]=Divèrs paramètres de gestion energetica, coma la batariá o lo contraròtle de l’activitat
Name[pl]=Zarządzanie energią
GenericName[pl]=Konfiguracja zarządzania energią
Comment[pl]=Konfiguracja zarządzania energią
Name[pt]=Gestão de energia
GenericName[pt]=Definições do gestor de energia
Comment[pt]=Definições do gestor de energia
Name[ru]=Управление энергопотреблением
GenericName[ru]=Настройки управления энергопотреблением
Comment[ru]=Настройки управления энергопотреблением
Name[tr]=Güç Yönetimi
GenericName[tr]=Güç Yönetimi Ayarları
Comment[tr]=Pil veya boşta çalışan izleyici gibi Güç Yönetimi ile ilgili çeşitli ayarlar
Name[zh_CN]=电源管理
GenericName[zh_CN]=电源管理设置
Comment[zh_CN]=关于电源管理的各种设置，如电池与空闲监视器
