[Desktop Entry]
Type=Application
Name=Keyboard and Mouse
GenericName=Input settings
Comment=Configure keyboard, mouse, and other input devices
Exec=lxqt-config-input
Icon=input-keyboard
Categories=Qt;Settings;HardwareSettings;DesktopSettings;LXQt;
OnlyShowIn=LXQt;

Name[ar]=لوحة المفاتيح والفأرة
GenericName[ar]=إعدادات الدّخل
Comment[ar]=اضبط لوحة المفاتيح، والفأرة وأجهزة الدّخل الأخرى
Name[ca]=Teclat i ratolí
GenericName[ca]=Ajusts de l'entrada
Comment[ca]=Configureu el teclat, el ratolí i altres dispositius d'entrada
Name[da]=Tastatur og mus
GenericName[da]=Input-indstillinger
Comment[da]=Konfigurér tastatur, mus og andre input-enheder
Name[de]=Tastatur und Maus
GenericName[de]=Eingabegerätekonfiguration
Comment[de]=Tastatur, Maus und andere Eingabegeräte konfigurieren
Name[el]=Πληκτρολόγιο και ποντίκι
GenericName[el]=Ρυθμίσεις εισαγωγής
Comment[el]=Διαμόρφωση του πληκτρολογίου, του ποντικιού, και άλλων συσκευών εισαγωγής
Name[es]=Teclado y ratón
GenericName[es]=Configuración de dispositivos de entrada
Comment[es]=Configure el teclado, ratón y otros dispositivos de entrada
Name[fr]=Clavier et Souris
GenericName[fr]=Paramètres des périphériques d'entrée
Comment[fr]=Configurer les claviers, souris et les autres périphériques d'entrée
Name[gl]=Teclado e rato
GenericName[gl]=Configuración dos dispositivos de entrada
Comment[gl]=Configure o teclado, rato e outros dispositivos de entrada
Name[hu]=Billentyű és egér
GenericName[hu]=Beviteli eszközbeállítás
Comment[hu]=A billentyűzet és egér beállítása
Name[it]=Tastiera e mouse
GenericName[it]=Configura i dispositivi di immissione
Comment[it]=Configura tastiera, mouse e altri dispositivi di immissione
Name[ja]=キーボードとマウス
GenericName[ja]=入力の設定
Comment[ja]=キーボードやマウス、その他の入力デバイスの設定
Name[lt]=Klaviatūra ir pelė
GenericName[lt]=Įvedimo nustatymai
Comment[lt]=Konfigūruoti klaviatūrą, pelę ir kitus įvedimo įrenginius
Name[pl]=Mysz i Klawiatura
GenericName[pl]=Urządzenia wejścia
Comment[pl]=Konfiguracja klawiatury i myszy 
Name[pt]=Teclado e rato
GenericName[pt]=Definições de introdução
Comment[pt]=Configuração do rato, teclado e outros dispositivos de introdução
Comment[ru]=Настроить клавиатуру, мышь и другие устройства ввода
Name[ru]=Клавиатура и мышь
GenericName[ru]=Настройки ввода
Name[tr]=Klavye ve Fare
GenericName[tr]=Giriş ayarları
Comment[tr]=Klavye, fare ve diğer giriş aygıtlarını yapılandırma
Name[zh_CN]=键盘与鼠标
GenericName[zh_CN]=输入设置
Comment[zh_CN]=配置键盘、鼠标与其他输入设备。
