[Desktop Entry]
Type=Application
Name=Openbox Settings
GenericName=Window Manager Settings
Comment=Configure the Openbox window manager
Exec=obconf-qt
Categories=Qt;Settings;DesktopSettings;
Icon=obconf-qt
StartupNotify=true

Name[ca]=Ajusts d'Openbox
GenericName[ca]=Ajusts del gestor de finestres
Comment[ca]=Configureu el gestor de finestres Openbox
Name[cs]=Openbox nastavení
GenericName[cs]=Nastavení správce oken
Comment[cs]=Nastavit správce oken Openbox
Name[da]=Openbox-indstillinger
GenericName[da]=Indstillinger for Window Manager
Comment[da]=Konfigurér window manageren Openbox 
Name[de]=Fenstermanager Openbox
GenericName[de]=Openbox Einstellungen
Comment[de]=Konfiguration des Fenstermanagers Openbox (Qt-Version)
Name[es]=Configuración de Openbox
GenericName[es]=Configuración del gestor de ventanas
Comment[es]=Configurar el gestor de ventanas Openbox
Name[fr]=Gestionnaire de fenêtres Openbox
GenericName[fr]=Paramétrage de Openbox
Comment[fr]=Paramétrage du gestionnaire de fenêtres Openbox (Version Qt)
Name[gl]=Configuración do Openbox
GenericName[gl]=Configuración do xestor de xanelas
Comment[gl]=Configurar o xestor de xanelas Openbox
Name[hr]=Openbox postavke
GenericName[hr]=Postavke upravljača prozora
Comment[hr]=Konfiguriraj Openbox upravljača prozora
Name[hu]=Openbox beállítása
GenericName[hu]=Ablakkezelő beállítása
Comment[hu]=Az Openbox ablakkezelő beállítása
Name[ja]=Openbox 設定 (Qt 版)
GenericName[ja]=ウィンドウマネージャーの設定 (Qt バージョン)
Comment[ja]=Openbox ウィンドウマネージャーを設定します (Qt バージョン)
Name[lt]=Openbox nustatymai
GenericName[lt]=Langų tvarkytuvės nustatymai
Comment[lt]=Konfigūruoti Openbox langų tvarkytuvę
Name[pl]=Edytor konfiguracji OpenBox
GenericName[pl]=Ustawienia menedżera okien
Comment[pl]=Edytor konfiguracji menedżera okien OpenBox (wersja Qt)
Name[pt]=Definições do Openbox
GenericName[pt]=Definições do gestor de janelas
Comment[pt]=Configurar o gestor de janelas Openbox
Name[ru]=Настройки Openbox
GenericName[ru]=Настройки менеджера окон
Comment[ru]=Настроить оконный менеджер Openbox
Name[tr]=Openbox Ayarları
GenericName[tr]=Pencere Yöneticisi Ayarları
Comment[tr]=Openbox pencere yöneticisini yapılandırma
Name[zh_CN]=Openbox 设置
GenericName[zh_CN]=窗口管理器设置
Comment[zh_CN]=配置窗口管理器
Name[zh_TW]=Openbox 設定
GenericName[zh_TW]=視窗管理員設定
Comment[zh_TW]=設定視窗管理員
