[Desktop Entry]
Version=1
Type=Application
Encoding=UTF-8
Name=Build Porteus Module...
Icon=cdr
Author=Brokenman
MimeType=x-directory/normal
OnlyShowIn=pcmanfm
NoDisplay=true
Exec=/opt/porteus-scripts/context-menu/create-module %F
