[Desktop Entry]
Version=1
Type=Application
Encoding=UTF-8
Name=Convert rpm to xzm...
Icon=cdr
Author=Brokenman
MimeType=application/x-rpm
OnlyShowIn=pcmanfm
NoDisplay=true
Exec=/opt/porteus-scripts/context-menu/convert_rpm %F
