[Desktop Entry]
Version=1
Type=Application
Encoding=UTF-8
Name=Extract Porteus Module...
Icon=cdr
Author=Brokenman
MimeType=application/x-xzm
OnlyShowIn=pcmanfm
NoDisplay=true
Exec=/opt/porteus-scripts/context-menu/extract-module %F
