[Desktop Entry]
Name=ScreenGrab
Comment=Screen capture
GenericName=Screen Capture Program
Exec=screengrab
Icon=screengrab
Terminal=false
Type=Application
Categories=Graphics;RasterGraphics;Qt;
X-KDE-StartupNotify=false

Name[ca]=ScreenGrab
GenericName[ca]=Programa de captura de la pantalla
Comment[ca]=Captura de la pantalla
Comment[cs]=Pořizování snímků obrazovky
GenericName[cs]=Pořizování snímků obrazovky
Comment[de]=Bildschirmfotos aufnehmen und mit anderen teilen
GenericName[de]=Anwendung für Bildschirmfotos
Name[es]=ScreenGrab
GenericName[es]=Programa para capturas de pantalla
Comment[es]=Captura la pantalla
Name[gl]=ScreenGrab
GenericName[gl]=Programa para tomar capturas da pantalla
Comment[gl]=Captura da pantalla
Comment[hr]=Snimanje ekrana
GenericName[hr]=Program za snimanje ekrana
Comment[hu]=Képernyőkép készítése az asztalról
GenericName[hu]=Képernyőkép
Name[it]=Cattura schermata
Comment[it]=Applicazione per catturare schermate 
Name[ja]=ScreenGrab
GenericName[ja]=スクリーンショット Qt
Comment[ja]=画面全体・ウィンドウ・指定範囲を画像として保存します
Comment[ru]=Программа  для создания снимков экрана
GenericName[ru]=Создание снимков экрана
Comment[tr]=Ekran yakalama
GenericName[tr]=Ekran Yakalama Programı
Comment[uk]=Програма  для створення знімків екрану
GenericName[uk]=Створення знімків екрану
