[Desktop Entry]
Exec=screengrab
Icon=screengrab
Terminal=false
Type=Application
Categories=Graphics;RasterGraphics;Qt;
X-KDE-StartupNotify=false

Name=ScreenGrab
Comment=Screen capture
GenericName=Screen Capture Program
Name[ca]=ScreenGrab
GenericName[ca]=Programa de captura de la pantalla
Comment[ca]=Captura de la pantalla
Name[cs]=Zachycení obrazovky
Comment[cs]=Pořizování snímků obrazovky
GenericName[cs]=Pořizování snímků obrazovky
Name[de]=ScreenGrab
Comment[de]=Bildschirmfotos aufnehmen
GenericName[de]=Anwendung für Bildschirmfotos
Name[es]=ScreenGrab
GenericName[es]=Programa para capturas de pantalla
Comment[es]=Captura la pantalla
Name[et]=ScreenGrab
Comment[et]=Ekraanitõmmise tegija
GenericName[et]=Ekraanipildistaja ja ekraanitõmmise rakendus
Name[fr]=ScreenGrab
Comment[fr]=Capture d'écran
GenericName[fr]=Programme de capture d'écran
Name[gl]=ScreenGrab
GenericName[gl]=Programa para tomar capturas da pantalla
Comment[gl]=Captura da pantalla
Name[he]=לכידת מסך
Comment[he]=לכידת המסך
GenericName[he]=תתכנית לצילום המסך
Comment[hr]=Snimanje ekrana
GenericName[hr]=Program za snimanje ekrana
Comment[hu]=Képernyőkép készítése az asztalról
GenericName[hu]=Képernyőkép
Name[it]=ScreenGrab
Comment[it]=Applicazione per catturare schermate
GenericName[it]=Cattura schermata
Name[ja]=ScreenGrab
GenericName[ja]=スクリーンショット Qt
Comment[ja]=画面全体・ウィンドウ・指定範囲を画像として保存します
Name[pt]=ScreenGrab
Comment[pt]=Captura de ecrã
GenericName[pt]=Programa de captura de ecrã
Name[pt_BR]=ScreenGrab
Comment[pt_BR]=Captura de tela
GenericName[pt_BR]=Programa de captura de tela
Name[ru]=ScreenGrab
Comment[ru]=Программа для создания снимков экрана
GenericName[ru]=Создание снимков экрана
Name[tr]=ScreenGrab
Comment[tr]=Ekran yakalama
GenericName[tr]=Ekran Yakalama Programı
Name[uk]=ScreenGrab
Comment[uk]=Програма для створення знімків екрана
GenericName[uk]=Створення знімків екрана
