[Desktop Entry]
Type=Application
Exec=pcmanfm-qt --desktop --profile=lxqt
TryExec=pcmanfm-qt
OnlyShowIn=LXQt;
X-LXQt-Module=true

Name=Desktop
Name[ar]=سطح المكتب
Name[bg]=Работен плот
Name[ca]=Escriptori
Name[cs]=Plocha
Name[da]=Skrivebord
Name[de]=Arbeitsfläche
Name[el]=Επιφάνεια εργασίας
Name[eo]=Labortablo
Name[es]=Escritorio
Name[es_VE]=Escritorio
Name[et]=Töölaud
Name[eu]=Mahaigaina
Name[fi]=Työpöytä
Name[fr]=Bureau
Name[gl]=Escritorio
Name[he]=שולחן עבודה
Name[hr]=Radna površina
Name[hu]=Asztal
Name[ia]=Scriptorio
Name[it]=Scrivania
Name[ja]=デスクトップ
Name[kk]=Жұмыс үстелі
Name[lt]=Darbalaukis
Name[nl]=Bureaublad
Name[pl]=Pulpit
Name[pt]=Ambiente de trabalho
Name[pt_BR]=Área de trabalho
Name[ro]=Desktop
Name[ru]=Pабочий стол
Name[sl]=Namizje
Name[th]=เดสก์ท็อป
Name[tr]=Masaüstü
Name[uk]=Стільниця
Name[zh_CN]=桌面
Name[zh_TW]=桌面
