[Desktop Entry]
Type=Application
Version=1.0
TryExec=xscreensaver
Exec=xscreensaver -no-splash
OnlyShowIn=LXQt;

Name=XScreenSaver
Name[ar]=حافظ الشَّاشة
Name[cs]=Šetřič obrazovky
Name[da]=Pauseskærm
Name[de]=Bildschirmschoner
Name[el]=ΠροφύλαξηOθόνηςΧ
Name[eo]=XEkranKurteno
Name[es]=XScreenSaver
Name[es_VE]=XScreenSaver
Name[et]=XScreenSaver
Name[eu]=XScreenSaver
Name[fi]=XScreenSaver
Name[fr]=XScreenSaver
Name[he]=שומר מסך X
Name[hr]=Zaštita ekrana X
Name[hu]=XScreenSaver
Name[id]=XScreenSaver
Name[it]=Salvaschermo
Name[ja]=Xスクリーンセーバー (XScreenSaver)
Name[lt]=XScreenSaver
Name[nl]=X-schermbeveiliging
Name[pl]=XScreenSaver
Name[pt]=Proteção de ecrã
Name[pt_BR]=Protetor de tela
Name[ro]=XScreenSaver
Name[ru]=XэкранCпаситель
Name[sl]=XScreenSaver
Name[sr]=Икс-ЧуварЕкрана
Name[sr@ijekavian]=Икс-ЧуварЕкрана
Name[sr@ijekavianlatin]=Iks-ČuvarEkrana
Name[sr@latin]=Iks-ČuvarEkrana
Name[th_TH]=โปรแกรมรักษาหน้าจอของX
Name[tr]=XScreenSaver
Name[uk]=XScreenSaver
Name[zh_CN]=屏幕保护程序
Name[zh_TW]=螢幕保護程式
