[Xfce Panel]
Type=X-XFCE-PanelPlugin
Encoding=UTF-8
Name=Battery Monitor
Name[ar]=مراقب البطارية
Name[ast]=Monitor de batería
Name[bg]=Наблюдение на батерията
Name[ca]=Monitor de la bateria
Name[cs]=Sledování baterie
Name[da]=Batteriovervågning
Name[de]=Batterieüberwachung
Name[el]=Παρακολούθηση μπαταρίας
Name[en_GB]=Battery Monitor
Name[es]=Monitor de batería
Name[eu]=Bateria-karga monitorea
Name[fi]=Akun seuraaja
Name[fr]=Moniteur de batterie
Name[gl]=Monitor da Batería
Name[hr]=Monitor baterije
Name[hu]=Akkumulátorfigyelő
Name[id]=Monitor Baterai
Name[is]=Rafhlöðueftirlit
Name[it]=Monitor della batteria
Name[ja]=バッテリモニター
Name[kk]=Батарея бақылаушысы
Name[ko]=배터리 감시기
Name[lt]=Baterijos stebėtojas
Name[lv]=Baterijas novērotājs
Name[nb]=Batteriovervåkning
Name[nl]=Accu Monitor
Name[nn]=Batteriovervaking
Name[pa]=ਬੈਟਰੀ ਮਾਨੀਟਰ
Name[pl]=Monitor baterii
Name[pt]=Monitor de bateria
Name[pt_BR]=Monitor da Bateria
Name[ru]=Индикатор батареи
Name[sk]=Sledovanie batérie
Name[sq]=Mbikëqyrës Baterie
Name[sv]=Batteriövervakare
Name[tr]=Pil Gözlemcisi
Name[ug]=توكدان كۆزەتكۈ
Name[uk]=Монітор батареї
Name[ur]=بیٹری مانیٹر
Name[ur_PK]=بیٹری مانیٹر
Name[vi]=Giám sát Pin
Name[zh_CN]=电池监视器
Name[zh_TW]=電池監視器
Comment=Show and monitor the battery status
Comment[ar]=عرض و مراقبة حالة البطارية
Comment[ast]=Amosar y monitorizar l'estáu de la batería
Comment[bg]=Покажи и наблюдавай състоянието на батерията
Comment[ca]=Mostra i monitoritza l'estat de la bateria
Comment[cs]=Zobrazit a monitorovat stav baterie
Comment[da]=Vis og overvåg batteristatus
Comment[de]=Batteriezustand zeigen und überwachen
Comment[el]=Εμφάνιση και παρακολούθηση της κατάστασης της μπαταρίας
Comment[en_GB]=Show and monitor the battery status
Comment[es]=Mostrar y monitorizar el estado de la batería
Comment[eu]=Bateria egoera erakutsi eta monitorizatu
Comment[fi]=Näytä ja valvo akun tilaa
Comment[fr]=Afficher et suivre l'état de la batterie
Comment[gl]=Mostrar e monitorizar o estado da batería
Comment[hr]=Pokaži i prati status baterije
Comment[hu]=Az akkumulátor állapotának megjelenítése és figyelése
Comment[id]=Tampilkan dan pantau status baterai
Comment[it]=Mostra e monitorizza lo stato della batteria
Comment[ja]=バッテリ状況の表示と監視を行います
Comment[kk]=Батарея қалпын көрсету және бақылау
Comment[ko]=배터리 상태를 보이며 감시합니다
Comment[lt]=Rodyti ir stebėti baterijos būseną
Comment[lv]=Rādīt un novērot baterijas stāvokli
Comment[nb]=Vis og overvåk batteristatus
Comment[nl]=Toon en bewaak de status van de accu
Comment[nn]=Vis og overvak batteristatus
Comment[pa]=ਬੈਟਰੀ ਹਾਲਤ ਵੇਖੋ ਅਤੇ ਨਿਗਰਾਨੀ ਕਰੋ
Comment[pl]=Pokazuj i monitoruj stan baterii
Comment[pt]=Mostrar e monitorizar o estado da bateria
Comment[pt_BR]=Mostrar e monitorar o status da bateria
Comment[ru]=Отслеживает состояние батареи
Comment[sk]=Zobrazenie a sledovanie stavu batérie
Comment[sq]=Shfaq dhe mbikëqyr
Comment[sv]=Visa och övervaka batteristatus
Comment[tr]=Pil durumunu göster ve gözlemle
Comment[ug]=توكدان ھالىتىنى كۆزىتىپ كۆرسەت
Comment[uk]=Показувати і відслідковувати стан батареї
Comment[ur]=ظاہر کریں اور بیٹری کی حالت دیکھتے رہیں
Comment[ur_PK]=ظاہر کریں اور بیٹری کی حالت دیکھتے رہیں
Comment[vi]=Hiển thị và giám sát tình trạng pin
Comment[zh_CN]=显示并监测电池状态
Comment[zh_TW]=顯示並監視電池狀態
Icon=xfce4-battery-plugin
X-XFCE-Internal=FALSE
X-XFCE-Module=battery
