[Xfce Panel]
Type=X-XFCE-PanelPlugin
Name=CPU Frequency Monitor
Name[ar]=شاشة تردد المعالج
Name[ast]=Monitor de frecuencia de CPU
Name[bg]=Наблюдател на честотата на ЦП
Name[ca]=Monitor de freqüència de la CPU
Name[cs]=Sledování frekvence procesoru
Name[da]=CPU-frekvensovervågning
Name[de]=CPU-Frequenzüberwachung
Name[el]=Παρακολούθηση συχνότητας cpu
Name[en_AU]=CPU Frequency Monitor
Name[en_GB]=CPU Frequency Monitor
Name[es]=Monitor de frecuencia del procesador
Name[eu]=PUZ maiztasun monitorea
Name[fr]=Moniteur de fréquence du processeur
Name[gl]=Monitor de frecuencia da CPU
Name[hr]=Monitor frekvencije procesora
Name[hu]=CPU-órajelfigyelő
Name[id]=Monitor Frekuensi CPU
Name[it]=Monitor della frequenza della CPU
Name[ja]=CPU 周波数モニター
Name[kk]=Процессор жиілігін бақылаушы
Name[ko]=CPU 주파수 감시기
Name[lt]=CPU dažnio stebėjimas
Name[lv]=CPU frekvences uzraugs
Name[ms]=Pemantau Frekuensi CPU
Name[nb]=CPU Frekvensmonitor
Name[nl]=Monitor voor processorfrequentie
Name[oc]=Monitor de frequéncia del processor
Name[pa]=CPU ਫਰੀਕਿਊਂਸੀ ਮਾਨੀਟਰ
Name[pl]=Monitor częstotliwości CPU
Name[pt]=Monitor de frequência do CPU
Name[pt_BR]=Monitor de Frequência da CPU
Name[ru]=Монитор частоты CPU
Name[sk]=Sledovanie frekvencie procesora
Name[sq]=Mbikëqyrës Frekuence CPU-je
Name[sr]=Праћење учесталости процесора
Name[sv]=CPU-Frekvensövervakare
Name[th]=เฝ้าสังเกตความถี่ซีพียู
Name[tr]=İşlemci Frekans Gözlemcisi
Name[ug]=س پ ئۇ (CPU) نىڭ چاستوتا كۆزەتچىسى
Name[uk]=Спостереження за частотою процесора
Name[ur]=سی پی یو مانیٹر فریکوینسی
Name[ur_PK]=سی پی یو مانیٹر فریکوینسی
Name[zh_CN]=CPU 频率监视器
Name[zh_TW]=CPU 頻率監控器
Comment=Show CPU frequencies and governor
Comment[ar]=إظهار ترددات وحدة المعالجة المركزية والحاكم
Comment[ast]=Amosar frecuencies y governador de la CPU
Comment[bg]=Показване на честотите и регулаторите на ЦП
Comment[cs]=Zobrazit frekvenci procesoru a regulátor
Comment[da]=Vis CPU-frekvenser og bestyrer
Comment[de]=CPU-Frequenzen und Regler anzeigen
Comment[en_AU]=Show CPU frequencies and governor
Comment[en_GB]=Show CPU frequencies and governor
Comment[es]=Mostrar frecuencias y perfil del procesador
Comment[eu]=Erakutsi PUZ maiztasun eta erregulagailuak
Comment[fr]=Afficher les fréquences et le profil du processeur
Comment[hr]=Prikaži frekvenciju i način upravljanja procesorom
Comment[hu]=CPU frekvenciák és vezérlő megjelenítése
Comment[id]=Tampilkan frekuensi dan pemerintah CPU
Comment[it]=Mostra le frequenze e il profilo della CPU
Comment[ja]=CPU 周波数とガバナーを表示します
Comment[ko]=CPU 주파수와 정책을 보여줍니다
Comment[lt]=Rodyti CPU dažnius ir reguliatorių
Comment[ms]=Tunjuk frekuensi dan gabenor CPU
Comment[nb]=Vis CPU-frekvenser og reguleringsplattform
Comment[nl]=Toon CPU-frequenties en beheerder
Comment[oc]=Afichar las frequéncias del processor e del governador
Comment[pl]=Wyświetlanie częstotliwości CPU i zarządcy
Comment[pt]=Mostra a frequência e os reguladores do CPU
Comment[pt_BR]=Mostrar frequências e governador da CPU
Comment[ru]=Показывает частоту CPU и регуляторы
Comment[sk]=Zobraziť frekvenciu a správcu CPU
Comment[sr]=Приказуј управљача и учесталости процесора
Comment[sv]=Visa CPU-frekvenser och regulator
Comment[th]=แสดงความถี่ซีพียูและวิธีควบคุมความถี่
Comment[tr]=İşlemci frekansını ve işlemci yöneticisini göster
Comment[uk]=Показати частоту процесора та його можливості
Comment[zh_CN]=显示 CPU 主频及调频器
Comment[zh_TW]=顯示 CPU 頻率和調節器
Icon=xfce4-cpufreq-plugin
X-XFCE-Internal=FALSE
X-XFCE-Module=cpufreq
