[Desktop Entry]
Type=Service
ServiceTypes=LxQtPanel/Plugin
Name=Color picker
Comment=Get the color under the cursor. For web developers.
Comment[zh_TW]=取得由標下的顏色。網頁開發者推荐使用。
Name[zh_TW]=取得顏色
Comment[zh_CN]=为网络开发者获取鼠标下的颜色。
Name[zh_CN]=颜色拾取器
Comment[uk]=Бере колір під курсором. Для web-розробників.
Name[uk]=Селектор кольору
Comment[th_TH]=นำค่าสีที่อยู่ใต้เคอร์เซอร์ขึ้นมา สำหรับนักพัฒนาเว็บ
Name[th_TH]=ตัวเลือกค่าสี
Comment[ru_RU]=Получает цвет под курсором. Для веб-разработчиков.
Name[ru_RU]=Выбор цвета
Comment[ru]=Получить цвет под курсором мыши. Для веб-разработчиков
Name[ru]=Цветовая палитра
Comment[ro_RO]=Obține culoarea de sub cursor. Pentru dezvoltatori web.
Comment[pt_BR]=Obter a cor sob o cursor. Para desenvolvedores web.
Name[pt_BR]=Seletor de cores
Comment[pt]=Obter cor por baixo do cursor. Para programadores web.
Name[pt]=Seletor de cores
Comment[pl_PL]=Otrzymaj kolor z pod kursora. Dla webdeveloperów. 
Name[pl_PL]=Wybieracz kolorów
Comment[it_IT]=Rileva il colore sotto il cursore. Per sviluppatori web.
Name[it_IT]=Selettore del colore
Comment[fi]=Näyttää hiiren osoittimen alla olevan värin.
Name[fi]=Värivalitsin
Comment[eu]=Eskuratu kurtsorearen azpiko kolorea. Web-garatzaileentzat.
Name[eu]=Kolore-hautatzailea
Comment[es_VE]=Toma un color de la pantalla con el cursor, para desarrolladores web.
Name[es_VE]=Recoge colores
Comment[es]=Obtiene el color bajo el cursor. Para desarrolladores web.
Name[es]=Selector de color
Comment[el_GR]=Λήψη του χρώματος κάτω από τον δείκτη. Για σχεδιαστές ιστοσελίδων.
Name[el_GR]=Επιλογέας χρωμάτων
Comment[de_DE]=Wählt Farbe unter dem Cursor. Für Webentwickler.
Name[de_DE]=Farbwähler
Comment[da_DK]=Find farven under musemarkøren. For webudviklere.
Name[da_DK]=Farvevælger
Comment[da]=Find farven under musemarkøren. For webudviklere.
Name[da]=Farvevælger
Comment[cs_CZ]=Dostaňte barvu pod ukazovátkem. Pro vývojáře webu.
Name[cs_CZ]=Volič barev
Comment[cs]=Dostaňte barvu pod ukazovátkem. Pro vývojáře webu.
Name[cs]=Volič barev
