[Desktop Entry]
Type=Service
ServiceTypes=LxQtPanel/Plugin

Name=CPU monitor
Comment=Displays the current CPU load.

Name[ru]=Загрузка ЦП
Comment[ru]=Плагин загрузки ЦП

Comment[zh_TW]=CPU使用監視器
Name[zh_TW]=CPU使用
Comment[zh_CN]=CPU 负载监视器
Name[zh_CN]=CPU 负载
Comment[uk]=Показує поточне навантаження CPU.
Name[uk]=Монітор CPU
Comment[tr]=İşlemci Yükü izleyici
Name[tr]=İşlemci Yükü
Comment[th_TH]=เฝ้าสังเกตการทำงานซีพียู
Name[th_TH]=การทำงานซีพียู
Comment[sl]=Nadzornik obremenitve CPE
Name[sl]=Obremenitev CPE
Comment[ru_RU]=Монитор загрузки процессора
Name[ru_RU]=Загрузка процесора
Comment[ru]=указаtил загрузки процессора
Name[ru]=загрузки процессора
Comment[ro_RO]=Monitor de încărcare a procesorului
Name[ro_RO]=Grad de încărcare al procesorului
Comment[pt_BR]=Monitor de carga da CPU
Name[pt_BR]=Carga da CPU
Comment[pt]=Monitor de carga do cpu
Name[pt]=Carga do cpu
Comment[pl_PL]=Monitor obciążenia CPU
Name[pl_PL]=Obciążenie CPU
Comment[nl]=CPU belasting monitor
Name[nl]=Cpu belasting
Comment[lt]=Procesoriaus stebėtojas
Name[lt]=Procesoriaus apkrova
Comment[ja]=CPUロードモニタ
Name[ja]=CPUロード
Comment[it_IT]=Monitor del carico del processore
Name[it_IT]=Carico del processore
Comment[hu]=Megjeleníti a processzorterhelést.
Name[hu]=CPU-figyelő
Comment[fi]=Suorittimen kuormituksen seuranta
Name[fi]=Suorittimen kuormitus
Comment[eu]=PUZaren uneko karga bistaratzen du.
Name[eu]=PUZaren monitorea
Comment[es_VE]=Monitor de carga del CPU
Name[es_VE]=Carga del CPU
Comment[es]=Monitor de carga de CPU
Name[es]=Carga de CPU
Comment[eo]=Monitorado de CPU-ŝarĝo
Name[eo]=CPU-ŝarĝo
Comment[el_GR]=Εμφανίζει την τρέχουσα χρήση ΚΜΕ.
Name[el_GR]=Επόπτης ΚΜΕ
Comment[de_DE]=Cpu
Name[de_DE]=CPU-Auslastung
Comment[de]=Prozesslast-Monitor
Name[de]=Prozessauslastung
Comment[da_DK]=CPU Overvågning
Name[da_DK]=CPU Belastning
Comment[da]=CPU Overvågning
Name[da]=CPU-belastning
Comment[cs_CZ]=Sledování zatížení procesoru
Name[cs_CZ]=Zatížení procesoru
Comment[cs]=Sledování zatížení procesoru
Name[cs]=Zatížení procesoru
Comment[ar]=مُراقب عبء المعالج
Name[ar]=عبء المعالج
