[Desktop Entry]
Type=Service
ServiceTypes=LxQtPanel/Plugin
Name=Removable media
Comment=Easy mounting and unmounting of USB and optical drives.

Comment[zh_TW]=可卸除式裝置管理(USB、光碟...)
Name[zh_TW]=可卸除式裝置
Comment[zh_CN]=移动存储处理(USB, CD, DVD, ...)
Name[zh_CN]=移动存储
Comment[uk]=Легке керування знімними носіями (USB, CD, DVD тощо)
Name[uk]=Знімні носії
Comment[tr]=Çıkarılabilir aygıt yöneticisi (USB, CD, DVD, ...)
Name[tr]=Çıkarılabilir aygıt
Comment[th_TH]=ตัวจัดการสื่อที่สามารถถอดเสียบได้ (USB, CD, DVD, ...)
Name[th_TH]=สื่อที่สามารถถอดเสียบได้
Comment[sr@latin]=Rukovaoc uklonjivim medijima (USB, CD, DVD...)
Name[sr@latin]=Uklonjivi mediji
Comment[sr]=Руковаоц уклоњивим медијима (УСБ, ЦД, ДВД...)
Name[sr]=Уклоњиви медији
Comment[sl]=Upravljalnik odstranljivih nosilcev (USB, CD, DVD, ...)
Name[sl]=Odstranljivi nosilci
Comment[sk]=Práca s prenosnými médiami (USB, CD, DVD, ...)
Name[sk]=Prenosné médiá
Comment[ru_RU]=Действия со съемными устройствами(USB, CD, DVD, ...)
Name[ru_RU]=Съемные устройства
Comment[ru]=Менеджер сменных носителей (USB, CD, DVD, и.т.д.)
Name[ru]=Сменные носители
Comment[ro_RO]=Administrator de dispozitive detașabile (USB, CD, DVD, ...)
Name[ro_RO]=Dispozitive detașabile
Comment[pt_BR]=Manipulador de mídia removível (USB, CD, DVD, ...)
Name[pt_BR]=Mídia removível
Comment[pt]=Gestor de discos amovíveis (USB, CD, DVD, ...)
Name[pt]=Discos amovíveis
Comment[pl_PL]=Nośniki wymienne (USB, CD, DVD, ...)
Name[pl_PL]=Nośniki wymienne
Comment[pl]=Menedżer urządzeń (USB, CD, DVD, ...)
Name[pl]=Menedżer urządzeń
Comment[nl]=Verwijderbare media beheerder (USB, CD, DVD, ...)
Name[nl]=Verwijderbare media
Comment[lt]=Pašalinimų įrenginių tvarkymas (USB, CD, DVD, ...)
Name[lt]=Pašalinami įrenginiai
Comment[ja]=リムーバルメディアハンドラー(USB, CD, DVD, ...)
Name[ja]=リムーバルメディア
Comment[it_IT]=Gestore dei dispositivi rimovibili (USB, CD, DVD, ...)
Name[it_IT]=Dispositivi rimovibili
Comment[hu]=Cserélhetőeszköz-kezelő (USB, CD, DVD, …)
Name[hu]=Cserélhető eszköz
Comment[fr_FR]=Gestionnaire de médias amovibles (USB, CD, DVD, ...)
Name[fr_FR]=Média amovible
Comment[fi]=Irrotettavien laitteiden ja medioiden käsittelijä (USB, CD, DVD...)
Name[fi]=Irrotettavat laitteet ja mediat
Comment[eu]=Gailu aldagarrien maneiatzailea (USB, CD, DVD, ...)
Name[eu]=Gailu aldagarria
Comment[es_VE]=Manejador de dispositivos removibles (USB, DVD, CAM, ..)
Name[es_VE]=Dispositivos
Comment[es]=Manejador de dispositivos desmontables (USB, CD, DVD, ...)
Name[es]=Dispositivos desmontables
Comment[eo]=Traktilo de demeteblaj aparatoj (USB, KD, DVD, ...)
Name[eo]=Demetebla datumportilo
Comment[el_GR]=Διαχείριση αφαιρούμενων μέσων (USB, CD, DVD, ...)
Name[el_GR]=Αφαιρούμενα μέσα
Comment[de_DE]=Wechseldatenträger (USB, CD, DVD, ...)
Name[de_DE]=Entfernbare Wechseldatenträger
Comment[de]=Wechseldatenträger Verwaltung (USB, CD, DVD, ...)
Name[de]=Wechseldatenträger
Comment[da_DK]=Håndtering af flytbare enheder (USB, CD, DVD, ...)
Name[da_DK]=Flytbare enheder
Comment[da]=Håndtering af flytbare enheder og medier (USB, CD, DVD, ...)
Name[da]=Flytbare enheder
Comment[cs_CZ]=Zacházení s odstranitelnými médii (USB, CD, DVD, ...)
Name[cs_CZ]=Odstranitelná média
Comment[cs]=Správa odstranitelných zařízení (USB, CD, DVD, ...)
Name[cs]=Správce zařízení
Comment[ar]=معالج الوسائط القابلة للفصل (يو إس بي و أقراص مدمجة...)
Name[ar]=الوسائط القابلة للفصل
Name[sr@ijekavianlatin]=Uklonjivi mediji
Comment[sr@ijekavianlatin]=Rukovaoc uklonjivim medijima (USB, CD, DVD...)
Name[sr@ijekavian]=Уклоњиви медији
Comment[sr@ijekavian]=Руковаоц уклоњивим медијима (УСБ, ЦД, ДВД...)
