[Desktop Entry]
Type=Service
ServiceTypes=LxQtPanel/Plugin
Name=Sensors
Comment=View readings from hardware sensors.
Name[zh_TW]=感應器
Comment[zh_TW]=從硬體感應器中檢視(現在為 lm_sensors)
Name[zh_CN]=传感器
Comment[zh_CN]=查看硬件传感器数据(当前是 lm_sensors)
Name[uk]=Сенсори
Comment[uk]=Показати дані апаратних сенсорів (lm_sensors)
Name[tr]=Algılayıcılar
Comment[tr]=Donanım algılayıcılarının okudukları değerleri görüntüleyin (şimdilik lm_sensors)
Name[th_TH]=ตัวตรวจจับ
Comment[th_TH]=ดูข้อมูลที่ตัวตรวจจับฮาร์ดแวร์อ่านได้ (lm_sensors โดยปัจจุบัน)
Name[sl]=Senzorji
Comment[sl]=Oglejte si meritve senzorjev za strojno opremo (trenutno lm_sensors)
Name[ru_RU]=Сенсоры
Comment[ru_RU]=Посмотреть данные с аппаратных сенсоров(в данном случае lm_sensors)
Name[ru]=Датчики
Comment[ru]=Посмотреть показания аппаратных датчиков (в настоящее время лm_датчики)
Name[ro_RO]=Senzori
Comment[ro_RO]=Vizualizează citirile senzorilor hardware (momentan lm_sensors)
Name[pt_BR]=Sensores
Comment[pt_BR]=Visualizar as leituras dos sensores de hardware (atualmente do lm_sensors)
Name[pt]=Sensores
Comment[pt]=Consultar valores dos sensores do equipamento (lm_sensors)
Name[pl_PL]=Czujniki
Comment[pl_PL]=Pokaż wskazania z czujników (aktualnie lm_sensors)
Name[nl]=Sensoren
Comment[nl]=Bekijk metingen van hardware sensoren (op dit moment lm_sensors)
Name[lt]=Jutikliai
Comment[lt]=Rodo nuskaitymus iš jutiklių (lm_sensors)
Name[ja]=センサ
Comment[ja]=ハードウェアセンサからの測定値を表示(現在は lm_sensors)
Name[it_IT]=Sensori
Comment[it_IT]=Visualizza i valori rilevati dai sensori hardware (attualmente lm_sensors)
Name[hu]=Szenzorok
Comment[hu]=Megjeleníti a hardver szenzorjainak értékeit.
Name[fr_FR]=Capteurs
Comment[fr_FR]=Voir les mesures effectuées par les capteurs (actuellement lm_sensors)
Name[fi]=Sensorit
Comment[fi]=Katso laitteistosensorien tuottamia lukuja (tällä hetkellä lm_sensors)
Name[eu]=Sentsoreak
Comment[eu]=Ikusi hardware-sentsoreen irakurketak (unean lm_sensors)
Name[es_VE]=Sensores
Comment[es_VE]=Ver las lecturas desde los sensores (actualmente lm_sensors)
Name[es]=Sensores
Comment[es]=Ver las lecturas de los sensores de harware (Actualmente lm_sensors)
Name[eo]=Sentiloj
Comment[eo]=Vidi legojn de sentiloj (aktuale lm_sensors)
Name[el_GR]=Αισθητήρες
Comment[el_GR]=Προβολή ενδείξεων αισθητήρων υλικού (τρέχον lm_sensors)
Name[de_DE]=Sensoren
Comment[de_DE]=Zeige die Sensorwerte der Hardware-Sensoren (momentan lm_sensors) 
Name[da_DK]=Sensorer
Comment[da_DK]=Vis målinger fra hardware-sensorer (I øjeblikket lm_sensors)
Name[da]=Sensorer
Comment[da]=Vis målinger fra hardware-sensorer (I øjeblikket lm_sensors)
Name[cs_CZ]=Čidla
Comment[cs_CZ]=Zobrazit odečty z hardwarových čidel (nyní lm_sensors)
Name[cs]=Čidla
Comment[cs]=Zobrazit odečty z hardwarových čidel (nyní lm_sensors)
Name[ca]=Sensors
Comment[ca]=Veure dades provinents dels sensors (actualment lm_sensors)
Name[ar]=إستشعار
Comment[ar]=عرض قراءة من إستشعار لأجهزة (حاليا lm_sensors)
