[Desktop Entry]
Type=Service
ServiceTypes=LxQtPanel/Plugin
Name=Task manager
Comment=Switch between running applications

Comment[zh_TW]=在正在運行程式中切換
Name[zh_TW]=工作管理員
Comment[zh_CN]=在运行的程序间切换
Name[zh_CN]=任务管理器
Comment[uk]=Перемкнутися між запущеними вікнами
Name[uk]=Менеджер завдань
Comment[tr]=Çalışan uygulamalar arasında geçiş yapın
Name[tr]=Görev Yöneticisi
Comment[th_TH]=สลับใช้งานระหว่างโปรแกรมที่เปิดอยู่
Name[th_TH]=ตัวจัดการงาน
Comment[sr@latin]=Prebacujte između programa u radu
Name[sr@latin]=Menadžer zadataka
Comment[sr]=Пребацујте између програма у раду
Name[sr]=Менаџер задатака
Comment[sl]=Preklapljajte med zagnanimi programi
Name[sl]=Upravljalnik opravil
Comment[sk]=Prepínanie medzi bežiacimi aplikáciami
Name[sk]=Správca úloh
Comment[ru_RU]=Переключиться между запущенными приложениями
Name[ru_RU]=Панель задач
Comment[ru]=Переключение между запущенными программами
Name[ru]=Панель задач
Comment[ro_RO]=Comută între aplcațiile active
Comment[pt_BR]=Alterne entre aplicativos em execução
Name[pt_BR]=Gerenciador de tarefas
Comment[pt]=Permite trocar entre as aplicações em execução
Name[pt]=Gestor de tarefas
Comment[pl_PL]=Przełączaj między uruchomionymi aplikacjami
Name[pl_PL]=Pasek zadań
Comment[pl]=Przełączaj się pomiędzy otwartymi aplikacjami
Name[pl]=Pasek zadań
Comment[nl]=Wissel tussen draaiende applicaties
Name[nl]=taak-manager
Comment[lt]=Persijungimas tarp programų
Name[lt]=Užduočių tvarkytuvė
Comment[ja]=実行中のアプリケーションを切り替え
Name[ja]=タスク管理
Comment[it_IT]=Permette di accedere alle applicazioni in esecuzione
Name[it_IT]=Gestore dei processi
Comment[hu]=Váltás a futú alkalmazások között
Name[hu]=Feladatkezelő
Comment[fr_FR]=Basculer entre des applications actives
Name[fr_FR]=Gestionnaire des tâches
Comment[fi]=Vaihda käynnissä olevien sovellusten välillä
Name[fi]=Tehtävähallinta
Comment[eu]=Aldatu martxan dauden aplikazioen artean
Name[eu]=Ataza-kudeatzailea
Comment[es_VE]=Cambia entre aplicaciones o programas abiertos
Name[es_VE]=Manejador de ventanas
Comment[es]=Cambia entre aplicaciones activas
Name[es]=Administrador de tareas
Comment[eo]=Ŝalti inter rulantaj aplikaĵoj
Name[eo]=Taskmastrumilo
Comment[el_GR]=Εναλλαγή μεταξύ εκτελούμενων εφαρμογών
Name[el_GR]=Διαχειριστής εργασιών
Comment[de_DE]=Zwischen laufenden Applikationen umschalten
Name[de_DE]=Task Manager
Comment[de]=Wechsel zwischen laufenden Anwendungen
Name[de]=Anwendungsverwalter
Comment[da_DK]=Skift imellem kørende programmer
Name[da_DK]=Jobliste
Comment[da]=Skifter imellem kørende programmer
Name[da]=Programadministrator
Comment[cs_CZ]=Přepínat mezi běžícími programy
Name[cs_CZ]=Správce úkolů
Comment[cs]=Přepínání mezi běžícími programy
Name[cs]=Správce úkolů
Comment[ar]=التبديل بين التطبيقات الجارية
Name[ar]=مدير المهامّ
Name[sr@ijekavianlatin]=Menadžer zadataka
Comment[sr@ijekavianlatin]=Prebacujte između programa u radu
Name[sr@ijekavian]=Менаџер задатака
Comment[sr@ijekavian]=Пребацујте између програма у раду
