<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
 "http://www.freedesktop.org/standards/PolicyKit/1/policyconfig.dtd">
<policyconfig>

    <vendor>The GParted Project</vendor>
    <vendor_url>http://gparted.org/</vendor_url>
    <icon_name>gparted</icon_name>
    <action id="org.gnome.gparted">

        <description>Run GParted as root</description>
        <description xml:lang="cs">Spouštět GParted pod uživatelem root</description>
        <description xml:lang="de">GParted als Root-Benutzer ausführen</description>
        <description xml:lang="es">Ejecutar GParted como root</description>
        <description xml:lang="fr">Lancer GParted en tant qu’utilisateur root</description>
        <description xml:lang="hr">Pokreni GParted kao korijenskog korisnika</description>
        <description xml:lang="hu">GParted futtatása rendszergazdaként</description>
        <description xml:lang="id">Jalankan GParted sebagai root</description>
        <description xml:lang="lv">Palaist GParted kā root</description>
        <description xml:lang="pl">Uruchomienie programu GParted jako administrator</description>
        <description xml:lang="pt_BR">Execute GParted como root</description>
        <description xml:lang="ro">Rulează GParted ca root</description>
        <description xml:lang="sk">Spustiť GParted ako správca</description>
        <description xml:lang="sv">Kör GParted som root</description>
        <description xml:lang="vi">Chạy GParted dưới tư cách siêu quản trị.</description>
        <message>Authentication is required to run the GParted Partition Editor as root</message>
        <message xml:lang="cs">Ke spuštění editoru oddílů GParted pod uživatelem root je vyžadováno ověření</message>
        <message xml:lang="de">Legitimierung ist erforderlich, um GParted als Root-Benutzer auszuführen</message>
        <message xml:lang="es">Se necesita autenticación para ejecutar el editor de particiones GParted como root</message>
        <message xml:lang="fr">Il est nécessaire de s’authentifier pour lancer l’éditeur de partitions GParted en tant qu’utilisateur root</message>
        <message xml:lang="hr">Potrebna je ovjera za pokretanje GParted uređivača particija kao korijenskog korisnika</message>
        <message xml:lang="hu">Hitelesítés szükséges a GParted partíciószerkesztő rendszergazdaként való futtatásához</message>
        <message xml:lang="id">Otentikasi diperlukan untuk menjalankan Penyunting Partisi GParted sebagai root</message>
        <message xml:lang="lv">Nepieciešama autentificēšana, lai palaistu GParted nodalījumu redaktoru ar root tiesībām</message>
        <message xml:lang="pl">Wymagane jest uwierzytelnienie, aby uruchomić edytora partycji GParted jako administrator</message>
        <message xml:lang="pt_BR">Autenticação é necessária para executar o Editor de Partições GParted como root</message>
        <message xml:lang="ro">Autentificarea este necesară pentru a rula Editorul de partiții GParted ca root</message>
        <message xml:lang="sk">Na spustenie editora oddielov GParted ako správca sa vyžaduje overenie totožnosti</message>
        <message xml:lang="sv">Autentisering krävs för att köra GParted partitionsredigerare som root</message>
        <message xml:lang="vi">Cần xác thực để chạy bộ Sửa phân vùng đĩa GParted dưới tư cách siêu quản trị</message>
        <defaults>
            <allow_any>auth_admin</allow_any>
            <allow_inactive>auth_admin</allow_inactive>
            <allow_active>auth_admin</allow_active>
        </defaults>
        <annotate key="org.freedesktop.policykit.exec.path">/usr/bin/gparted</annotate>
        <annotate key="org.freedesktop.policykit.exec.allow_gui">true</annotate>

    </action>

</policyconfig>