[KSplash Theme: Default]
Name = Default Splash Screen
Description = Porteus Splash Screen
Version = 1.0
Author = fanthom, based on http://kde-look.org/content/show.php/Caledonia+KSplash?content=143576
Homepage = http://www.porteus.org
Engine = KSplashX
