[Xfce Panel]
Type=X-XFCE-PanelPlugin
Name=CPU Frequency Monitor
Name[ar]=مرقاب تردد المعالج
Name[ast]=Monitor de frecuencia de CPU
Name[ca]=Monitor de freqüència de la CPU
Name[cs]=Sledování frekvence procesoru
Name[da]=CPU-frekvensovervågning
Name[de]=CPU-Frequenzüberwachung
Name[el]=Παρακολούθηση συχνότητας cpu
Name[en_AU]=CPU Frequency Monitor
Name[en_GB]=CPU Frequency Monitor
Name[es]=Monitor de frecuencia del procesador
Name[eu]=CPU Maiztasun Monitorea
Name[fr]=Moniteur de fréquence du processeur
Name[gl]=Monitor de frecuencia da CPU
Name[hr]=Monitor frekvencije procesora
Name[hu]=CPU-órajelfigyelő
Name[id]=Monitor Frekuensi CPU
Name[it]=Monitor della frequenza della CPU
Name[ja]=CPU 周波数モニター
Name[kk]=Процессор жиілігін бақылаушы
Name[ko]=CPU 주파수 감시기
Name[lt]=CPU dažnio stebėjimas
Name[lv]=CPU frekvences uzraugs
Name[nb]=CPU Frekvensmonitor
Name[nl]=Monitor voor processorfrequentie
Name[pa]=CPU ਫਰੀਕਿਊਂਸੀ ਮਾਨੀਟਰ
Name[pl]=Monitor częstotliwości CPU
Name[pt]=Monitor de frequência do CPU
Name[pt_BR]=Monitor de Frequência da CPU
Name[ru]=Монитор частоты CPU
Name[sk]=Sledovanie frekvencie procesora
Name[sq]=Mbikëqyrës Frekuence CPU-je
Name[sr]=Праћење учесталости процесора
Name[sv]=Övervakare för processorfrekvens
Name[tr]=İşlemci Frekans Gözlemcisi
Name[ug]=س پ ئۇ (CPU) نىڭ چاستوتا كۆزەتچىسى
Name[uk]=Спостереження за частотою процесора
Name[ur]=سی پی یو مانیٹر فریکوینسی
Name[ur_PK]=سی پی یو مانیٹر فریکوینسی
Name[zh_TW]=CPU 頻率監控器
Comment=Show CPU frequencies and governor
Comment[cs]=Zobrazit frekvenci procesoru a regulátor
Comment[de]=Zeigt CPU-Frequenzen und Regler
Comment[en_AU]=Show CPU frequencies and governor
Comment[en_GB]=Show CPU frequencies and governor
Comment[es]=Mostrar frecuencias y perfil del procesador
Comment[fr]=Afficher les fréquences du processeur et du gouverneur
Comment[hr]=Prikaži frekvenciju i način upravljanja procesorom
Comment[it]=Mostra le frequenze e il profilo della CPU
Comment[ja]=CPU 周波数とガバナーを表示します
Comment[ko]=CPU 주파수와 정책을 보여줍니다
Comment[nl]=Toon CPU-frequenties en beheerder
Comment[pt]=Mostra a frequência e os reguladores do CPU
Comment[pt_BR]=Mostrar frequências e governador da CPU
Comment[ru]=Показывает частоту CPU и регуляторы
Comment[sr]=Приказуј управљача и учесталости процесора
Comment[tr]=İşlemci frekansını ve işlemci yöneticisini göster
Icon=xfce4-cpufreq-plugin
X-XFCE-Internal=FALSE
X-XFCE-Module=cpufreq
