[Xfce Panel]
Type=X-XFCE-PanelPlugin
Encoding=UTF-8
Name=CPU Graph
Name[ar]=الرسم البياني لوحدة المعالجة المركزية
Name[ast]=Gráfica de CPU
Name[be]=Графікі ЦП
Name[ca]=Gràfica de CPU
Name[cs]=Graf procesoru
Name[da]=CPU-graf
Name[de]=CPU-Graph
Name[el]=Γράφημα CPU
Name[en_GB]=CPU Graph
Name[es]=Gráfica de CPU
Name[eu]=CPU Grafikoa
Name[fi]=Suoritinkäyttö
Name[fr]=CPU Graph
Name[gl]=Gráfico da CPU
Name[hu]=CPU-grafikon
Name[id]=Grafik CPU
Name[it]=Grafico CPU
Name[ja]=CPU グラフ
Name[kk]=CPU Graph
Name[ko]=CPU 그래프
Name[ku]=Graf a CPU
Name[lt]=CPU Graph
Name[lv]=CPU grafs
Name[nb]=Prosessorgraf
Name[nl]=CPU Graph
Name[pa]=CPU ਗਰਾਫ਼
Name[pl]=Monitor CPU
Name[pt]=Gráfico de CPU
Name[pt_BR]=Gráfico da CPU
Name[ro]=Grafic CPU
Name[ru]=График процессора
Name[sk]=Graf procesora
Name[sq]=Grafik i CPU-së
Name[sv]=Processordiagram
Name[tr]=İşlemci Grafiği
Name[ug]=CPU گرافىكى
Name[uk]=Статистика процесора
Name[ur]=سی پی یو گراف
Name[ur_PK]=سی پی یو گراف
Name[zh_CN]=CPU 图像
Name[zh_TW]=CPU 圖表
Comment=Graphical representation of the CPU load
Comment[ar]=تمثيل رسومي لتحميل وحدة المعالجة المركزية
Comment[ast]=Representación gráfica de la carga de CPU
Comment[be]=Графічнае прадстаўленьне нагрузкі на ЦП
Comment[ca]=Representació gràfica de la càrrega de CPU
Comment[cs]=Grafická reprezentace zatížení procesoru
Comment[da]=Grafisk visning af CPU belastningen
Comment[de]=Grafische Darstellung der CPU-Last
Comment[el]=Γραφική αναπαράσταση του φόρτου της CPU
Comment[en_GB]=Graphical representation of the CPU load
Comment[es]=Representación gráfica de la carga de CPU
Comment[eu]=CPU lan-kargaren errepresentazio grafikoa
Comment[fi]=Suorittimien käyttöasteen kuvaaja
Comment[fr]=Représentation graphique de la charge processeur
Comment[gl]=Representación gráfica da carga da CPU
Comment[hu]=A CPU-terhelés grafikus ábrázolása
Comment[id]=Representasi grafik dari beban CPU
Comment[it]=Rappresentazione grafica del carico della CPU
Comment[ja]=CPU 負荷のグラフを表示します
Comment[kk]=Процессор жүктелудің графикалық бейнелеуі
Comment[ko]=CPU 부하를 그래픽으로 표현합니다
Comment[ku]=Nîşandayîna grafîkî a bara CPU'yê
Comment[lt]=Grafinis CPU apkrovos atvaizdavimas
Comment[lv]=Grafiska CPU noslodzes attēlošana
Comment[nb]=Grafisk representasjon av prosessorlast
Comment[nl]=Grafische weergave van de processorbelasting
Comment[pa]=CPU ਲੋਡ ਲਈ ਗਰਾਫਿਕਲ ਦਿੱਖ
Comment[pl]=Dostarcza informacje na temat obciążenia CPU w postaci graficznej
Comment[pt]=Representação gráfica da carga do CPU
Comment[pt_BR]=Representação gráfica do uso da CPU
Comment[ro]=Reprezentarea grafică a încărcării procesorului
Comment[ru]=Графическое представление загруженности процессора
Comment[sk]=Grafická prezentácia zaťaženia procesora
Comment[sq]=Paraqitje grafike e ngarkesës së CPU-së
Comment[sv]=Grafisk representation av processorbelastning
Comment[tr]=İşlemci yükünü görsel olarak gösterir
Comment[ug]=CPU يۈكىنى گرافىك شەكلىدە قىلىپ كۆرسىتىدۇ
Comment[uk]=Графічне представлення завантаження процесора
Comment[ur]=گریفکل نمائندہ برائے CPU لوڈ
Comment[ur_PK]=گریفکل نمائندہ برائے CPU لوڈ
Comment[zh_CN]=图形化的 CPU 负载呈现
Comment[zh_TW]=圖形化呈現 CPU 負載狀況
Icon=xfce4-cpugraph-plugin
X-XFCE-Module=cpugraph
X-XFCE-Unique=FALSE

