[Xfce Panel]
Type=X-XFCE-PanelPlugin
Encoding=UTF-8
Name=Mail Watcher
Name[ar]=عرض البريد
Name[ast]=Avisu de correos nuevos
Name[bg]=Преглед на пощата
Name[ca]=Monitor de correu
Name[cs]=Sledování pošty
Name[da]=Mail Watcher
Name[de]=E-Mail-Überwachung
Name[el]=Παρακολούθηση αλληλογραφίας
Name[en_AU]=Mail Watcher
Name[en_GB]=Mail Watcher
Name[es]=Aviso de nuevos correos
Name[eu]=Posta arakatzailea
Name[fi]=Postivahti
Name[fr]=Surveillance du courrier
Name[gl]=Comprobador de correo
Name[he]=בודק דוא״ל
Name[hr]=Motritelj pošte
Name[hu]=Levélfigyelő
Name[id]=Pengawas Surat
Name[it]=Guardaposta
Name[ja]=メールウォッチャー
Name[ko]=메일 감시기
Name[lt]=Mail Watcher
Name[lv]=Pasta uzraugs
Name[nb]=Epost varsling
Name[nl]=Postbewaker
Name[pl]=Powiadamianie o poczcie
Name[pt]=Monitor de correio
Name[pt_BR]=Monitor de mensagens
Name[ru]=Проверка почты
Name[sk]=Sledovanie pošty
Name[sq]=Vëzhgues Poste
Name[sr]=Осматрач поште
Name[tr]=E-Posta İzleyici
Name[ug]=ئېلخەت كۆزەتكۈ
Name[uk]=Перевірка пошти
Name[ur]=میل واچر
Name[ur_PK]=میل واچر
Name[vi]=Theo dõi Thư
Name[zh_CN]=邮件监视器
Name[zh_TW]=郵件監視器
Comment=Check mail from multiple mailboxes
Comment[ar]=التحقق من البريد من صناديق بريد متعددة
Comment[ast]=Comprueba'l corréu de dellos buzones
Comment[bg]=Проверка на пощата от няколко пощенски кутии
Comment[ca]=Comprova el correu de múltiples bústies
Comment[cs]=Ověřovat poštu ve více schránkách.
Comment[da]=Kontrollér post fra flere postkasser
Comment[de]=Mehrere Postfächer auf neue Nachrichten überprüfen
Comment[el]=Έλεγχος πολλαπλών γραμματοκιβωτίων
Comment[en_AU]=Check mail from multiple mailboxes
Comment[en_GB]=Check mail from multiple mailboxes
Comment[es]=Comprueba el correo de varios buzones
Comment[eu]=Postakutxa anitzetako posta arakatu
Comment[fi]=Tarkista posti useista postilaatikoista
Comment[fr]=Surveiller le courrier de multiples boites aux lettres
Comment[gl]=Comproba o correo de varias caixas de correo
Comment[he]=בדיקת דוא״ל במספר תיבות
Comment[hr]=Provjeri poštu iz višestrukih poštanskih sandučića
Comment[hu]=Levél ellenőrzése több postafiókból
Comment[id]=Cek surat dari banyak kotak surat
Comment[it]=Controlla la posta da diverse caselle
Comment[ja]=様々なタイプのメールボックスに届くメールをチェックします
Comment[ko]=여러 개의 메일함에서 메일을 확인합니다
Comment[lt]=Tikrinti paštą iš kelių pašto dėžučių
Comment[lv]=Pārbaudīt pastu vairākās pastkastītēs
Comment[nb]=Varsle epost fra flere epostbokser
Comment[nl]=Controleer op post van verschillende postbussen
Comment[pl]=Powiadamia o nowej poczcie w wielu skrzynkach pocztowych
Comment[pt]=Verificar correio de várias caixas de correio
Comment[pt_BR]=Verificar mensagens de várias caixas de mensagens
Comment[ru]=Проверять почту из нескольких ящиков
Comment[sk]=Kontrolovať poštu vo viacerých schránkach
Comment[sq]=Kontrollo për postë prej shumë kutish postare
Comment[sr]=Освежи пошту на вишеструким поштанским сандучићима
Comment[tr]=Posta kutularını yeni e-postalar için takip edin
Comment[ug]=ھەر خىل خەت ساندۇقلىرىغا كەلگەن يېڭى ئېلخەتلەرنى كۆزىتىدۇ
Comment[uk]=Перевіряти пошту з кількох поштових скриньок
Comment[ur]=متعدد میل بکس کی میل چیک کریں
Comment[ur_PK]=متعدد میل بکس کی میل چیک کریں
Comment[vi]=Kiểm tra thư từ nhiều hộp thư
Comment[zh_CN]=从多个邮箱中检查邮件
Comment[zh_TW]=檢查諸多信箱中的信件
Icon=xfce-mail
X-XFCE-Module=mailwatch
X-XFCE-Internal=false
