[Xfce Panel]
Type=X-XFCE-PanelPlugin
Encoding=UTF-8
Name=Notification Plugin
Name[bg]=Добавка за Уведомления
Name[ca]=Connector de notificacions
Name[cs]=Zásuvný modul Oznámení
Name[da]=Notifikation-plugin
Name[de]=Benachrichtigungserweiterung
Name[el]=Πρόσθετο Ειδοποιήσεων
Name[es]=Complemento de notificación
Name[fi]=Ilmoituslisäosa
Name[fr]=Greffon de notification
Name[gl]=Engadido de notificacións
Name[he]=תוסף הודעות
Name[hr]=Priključak za obavijesti
Name[it]=Plugin Notifiche
Name[ja]=デスクトップ通知プラグイン
Name[kk]=Хабарламалар плагині
Name[ko]=알림 플러그인
Name[lt]=Pranešimų įskiepis
Name[ms]=Pemalam Pemberitahuan
Name[nb]=Varslingsprogramtillegg
Name[nl]=Meldingen-invoegsel
Name[pl]=Wtyczka powiadomień
Name[pt]=Suplemento de notificações
Name[pt_BR]=Plug-in de Notificações
Name[ru]=Модуль оповещений
Name[sk]=Zásuvný modul oznámení
Name[sq]=Shtojcë Njoftimesh
Name[sr]=Прикључак обавештења
Name[sv]=Aviseringsinsticksprogram
Name[th]=ปลั๊กอินแจ้งเหตุ
Name[tr]=Bildirim Eklentisi
Name[uk]=Додаток Повідомлень
Name[zh_CN]=通知插件
Name[zh_TW]=通知外掛程式
Comment=Notification plugin for the Xfce panel
Comment[bg]=Добавка за уведомления на Xfce панел
Comment[ca]=Connector de notificacions per al plafó de XFCE
Comment[cs]=Zásuvný modul Oznámení pro panel Xfce
Comment[da]=Notifikation-plugin for Xfce-panelet
Comment[de]=Benachrichtigungserweiterung für die Xfce-Leiste
Comment[el]=Πρόσθετο Ειδοποιήσεων για το ταμπλό του Xfce
Comment[es]=Complemento de notificación para el panel de Xfce
Comment[fi]=Ilmoituslisäosa Xfce:n paneelille
Comment[fr]=Greffon de notification pour le tableau de bord Xfce
Comment[gl]=Engadido de notificacións para o panel de Xfce
Comment[he]=תוסף הודעות ללוח Xfce 
Comment[hr]=Priključak za obavijesti Xfce ploče
Comment[it]=Plugin Notifiche per il pannello Xfce
Comment[ja]=Xfceパネルのための通知プラグイン
Comment[kk]=Xfce панелі үшін хабарламалар плагині
Comment[ko]=xfce 패널용 알림 플러그인
Comment[lt]=Pranešimų įskiepis, skirtas Xfce skydeliui
Comment[ms]=Pemalam pemberitahuan untuk panel Xfce
Comment[nb]=Varslingsprogramtillegg for Xfce-panelet
Comment[nl]=Meldingen-invoegsel voor de Xfce-werkbalk
Comment[pl]=Wtyczka powiadomień dla panelu Xfce
Comment[pt]=Suplemento de notificações para o painel do Xfce
Comment[pt_BR]=Plug-in de Notificações para o painel do Xfce
Comment[ru]=Модуль оповещений для панели Xfce
Comment[sk]=Zásuvný modul oznámení pre panel prostredia Xfce
Comment[sq]=Shtojcë njoftimesh për panelin e Xfce-së
Comment[sr]=Прикључак обавештења полице ИксФЦЕ-а
Comment[sv]=Aviseringsinsticksprogram för Xfce-panelen
Comment[th]=ปลั๊กอินแจ้งเหตุสำหรับพาเนล Xfce
Comment[tr]=Xfce paneli için bildirim eklentisi
Comment[uk]=Додаток повідомлень для панелі Xfce
Comment[zh_CN]=Xfce 面板专用的通知插件
Comment[zh_TW]=Xfce 面板的通知外掛程式
Icon=xfce4-notifyd
X-XFCE-Module=notification-plugin
X-XFCE-Internal=false
X-XFCE-Unique=false
X-XFCE-API=2.0
