[Xfce Panel]
Type=X-XFCE-PanelPlugin
Encoding=UTF-8
Name=PulseAudio Plugin
Name[bg]=Добавка за PulseAudio
Name[ca]=Connector de PulseAudio
Name[cs]=Zásuvný modul PulseAudio
Name[da]=PulseAudio-plugin
Name[de]=PulseAudio-Modul
Name[el]=Πρόσθετο PulseAudio
Name[en_AU]=PulseAudio Plugin
Name[es]=Complemento de PulseAudio
Name[fr]=Greffon PulseAudio
Name[ga]=Breiseán PulseAudio
Name[gl]=Engadido PulseAudio
Name[he]=תוסף PulseAudio
Name[hr]=PulseAudio priključak
Name[hu]=PulseAudio bővítmény
Name[id]=Pengaya PulseAudio
Name[is]=PulseAudio-viðbót
Name[it]=Plugin PulseAudio
Name[ja]=PulseAudio プラグイン
Name[kk]=PulseAudio плагині
Name[ko]=PulseAudio 플러그인
Name[lt]=PulseAudio įskiepis
Name[ms]=Pemalam PulseAudio
Name[nb]=PulseAudio-tillegg
Name[nl]=Invoegsel voor PulseAudio
Name[oc]=Empeuton PulseAudio
Name[pl]=Wtyczka PulseAudio
Name[pt]=Plugin PulseAudio
Name[pt_BR]=Plug-in do PulseAudio
Name[ru]=Модуль PulseAudio
Name[sk]=Zásuvný modul systému PulseAudio
Name[sl]=PulseAudio vstavek
Name[sr]=Прикључак звука Пулсаудија
Name[sv]=PulseAudio insticksprogram
Name[th]=ปลั๊กอิน PulseAudio
Name[tr]=PulseAudio Eklentisi
Name[uk]=Додаток PulseAudio
Name[zh_CN]=PulseAudio 插件
Name[zh_TW]=PulseAudio 外掛程式
Comment=Adjust the audio volume of the PulseAudio sound system
Comment[bg]=Регулиране нивата на звука в PulseAudio
Comment[ca]=Ajusta el volum d'àudio del sistema de so de PulseAudio
Comment[cs]=Nastavení hlasitosti zvukového systému PulseAudio
Comment[da]=Justér lydstyrken på PulseAudio-lydsystemet
Comment[de]=Die Lautstärke des PulseAudio-Klangsystems anpassen
Comment[el]=Προσαρμογή της έντασης του συστήματος ήχου PulseΑudio
Comment[en_AU]=Adjust the audio volume of the PulseAudio sound system
Comment[es]=Ajustar el volumen del sistema de sonido de PulseAudio
Comment[fr]=Ajuster le volume du système audio PulseAudio
Comment[ga]=Réitigh airde fuaime don chóras PulseAudio
Comment[gl]=Axusta o volume do sistema de son PulseAudio
Comment[he]=התאם עצמת קול אודיו של מערכת צליל PulseAudio
Comment[hr]=Podesi glasnoću zvuka PulseAudio zvučnog sustava
Comment[hu]=A PulseAudio hangrendszer hangerejének beállítása
Comment[id]=Sesuaikan volume audio dari sistem suara PulseAudio
Comment[it]=Controlla il volume del suono per il sistema sonoro PulseAudio
Comment[ja]=PulseAudio サウンドシステムの音量を調整します
Comment[kk]=PulseAudio дыбыс жүйесінің аудио деңгейлерін басқару
Comment[ko]=PulseAudio 사운드 시스템의 오디오 음량을 조절합니다
Comment[lt]=Reguliuoti PulseAudio garso sistemos garsų garsį
Comment[ms]=Laras volum audio bagi sistem bunyi PulseAudio
Comment[nb]=Juster lydstyrken på PulseAudio-lydsystemet
Comment[nl]=Stel het geluidsvolume bij van het geluidssysteem van PulseAudio
Comment[oc]=Ajustar lo volum del sistèma àudio PulseAudio
Comment[pl]=Regulacja głośności dźwięku systemu PulseAudio
Comment[pt]=Ajustar o volume do sisteme de som PulseAudio
Comment[pt_BR]=Ajusta o volume de áudio do sistema de som PulseAudio
Comment[ru]=Управление громкостью звука системы PulseAudio
Comment[sk]=Upraví hlasitosť zvuku zvukového systému PulseAudio
Comment[sl]=Prilagodi glasnost PulseAudio zvočnega sistema
Comment[sr]=Подесите гласноћу звучног система Пулсаудија
Comment[sv]=Justera ljudvolymen på PulseAudios ljudsystem
Comment[th]=ปรับความดังของระบบเสียง PulseAudio
Comment[tr]=PulseAudio ses sisteminin ses yüksekliğini ayarlayın
Comment[uk]=Налаштувати гучність аудіо звукової системи PulseAudio
Comment[zh_CN]=调节 PulseAudio 声音系统的音量
Comment[zh_TW]=調整 PulseAudio 音效系統的音量
Icon=xfce4-pulseaudio-plugin
X-XFCE-Module=pulseaudio-plugin
X-XFCE-Internal=FALSE
X-XFCE-API=2.0
