[Xfce Panel]
Type=X-XFCE-PanelPlugin
Encoding=UTF-8
Name=Status Tray Plugin
Name[be]=Убудова прасторы апавяшчэнняў
Name[bg]=Добавка за зоната на състоянието
Name[cs]=Zásuvný modul stavového panelu
Name[da]=Statusbakkeplugin
Name[de]=Status Tray-Erweiterung
Name[es]=Complemento de la bandeja de estado
Name[et]=Olekusalve pistikprogramm
Name[eu]=Egoera erretilu plugina
Name[fr]=Greffon de barre d’état
Name[gl]=Estado do engadido da zona de notificación
Name[he]=תוסף מגש סטטוס
Name[id]=Plugin Baki Status
Name[it]=Componente aggiuntivo del vassoio delle notifiche
Name[ja]=ステータストレイプラグイン
Name[kk]=Қалып-күй трей плагині
Name[lt]=Būsenos dėklo įskiepis
Name[nb]=Programtillegg for statuskurv
Name[nl]=Invoegsel voor statusvak
Name[pl]=Wtyczka zasobnika stanu
Name[pt]=Plugin do estado da área de notificação
Name[pt_BR]=Plug-in da bandeja de status
Name[ru]=Модуль статусного трея
Name[sk]=Zásuvný modul stavovej lišty
Name[sl]=Vtičnik statusne vrstice
Name[sq]=Shtojcë Paneli Gjendjesh
Name[sr]=Прикључак системске траке
Name[tr]=Durum Tepsisi Eklentisi
Name[uk]=Втулки лотка стану
Name[zh_CN]=状态栏插件
Name[zh_TW]=狀態匣外掛程式
Comment=Provides status notifier items (application indicators) and legacy systray items
Comment[be]=Забяспечвае элементамі апавяшчэння (індыкатары праграм) і старымі элементамі прасторы апавяшчэнняў
Comment[bg]=Предоставя елементи за уведомлението за състоянието (приложения и индикатори) и наследени елементи от зоната за уведомяване 
Comment[cs]=Poskytuje položky oznamovače stavu (indikátory aplikací) a legacy položky systémové oblasti.
Comment[da]=Leverer statusunderretterelementer (programindikatorer) og udgået systembakkeelementer
Comment[de]=Bietet Elemente für Statusbenachrichtiger (Anwendungsindikatoren) und alte Systray-Elemente
Comment[es]=Proporciona elementos de notificación de estado (indicadores de aplicaciones) y elementos de la bandeja del sistema heredados
Comment[et]=Tagab olekusalve esemete (rakenduste teated) ning eelmise põlvkonna süsteemisalve esemete kuvamise
Comment[eu]=Egoera berri-emailearen elementuak (aplikazio adierazleak) eta jasotako systray elementuak hornitzen ditu
Comment[fr]=Fournit des éléments d’indication d’état (indicateurs des applications) et des éléments de la zone de notification historique
Comment[gl]=Fornece elementos notificadores de estado (indicadores de aplicación) e elementos da zona de notificación de xeito herdado
Comment[he]=מספק פריטי מודיע סטטוס (אינדיקטורים של ישומים) ופריטי מגש מערכת מיושנים
Comment[id]=Menyediakan item pemberitahu status (indikator aplikasi) dan item baki sistem versi lama
Comment[it]=Fornisce gli elementi di notifica dello stato (gli indicatori dell'applicazione) e gli elementi del vassodio di sistema classico
Comment[ja]=ステータス通知アイテム（アプリケーションインジケーター）とレガシーシステムトレイアイテムを提供します
Comment[kk]=Қалып-күй хабарлаушы нәрселерін (қолданбалар индикаторларын) және ескірген жүйелік трей нәрселерін ұсынады
Comment[lt]=Pateikia būsenos pranešiklių elementus (programų indikatorius) bei liekamuosius sistemos dėklo elementus
Comment[nb]=Tilbyr elementer for statusvarsling (programindikatorer) og elementer i systemkurv av den gamle typen
Comment[nl]=Levert statusmeldingselementen (toepassingsindicatoren) en ouderwetse systeemvakelementen
Comment[pl]=Zapewnia elementy powiadamiające o stanie (wskaźniki aplikacji) i starsze elementy zasobnika systemowego
Comment[pt]=Fornece itens notificadores de estado (indicadores de aplicação) e itens de área de notificação do sistema antigos
Comment[pt_BR]=Fornece itens notificadores de status (indicadores de aplicativos) e itens legado da bandeja do sistema
Comment[ru]=Предоставляет элементы уведомления о состоянии (индикаторы приложений) и устаревшие элементы панели задач
Comment[sk]=Poskytuje oznamovače stavu (indikátory aplikácií) a bývalé položky systémovej lišty
Comment[sl]=Omogoča predmete za obvestilnik stanja (indikatorje aplikacij) in opuščene predmete sistemske vrstice
Comment[sq]=Furnizon elementë njoftuesish gjendjesh (tregues aplikacionesh) dhe elementë paneli të dikurshëm sistemi
Comment[sr]=Омогућава ставке обавештења о стању (указиваче програма) и уобичајене ставке системске траке
Comment[tr]=Durum bildirim ögeleri (uygulama göstergeleri) ve eski sistem tepsisi ögeleri sağlar
Comment[uk]=Відображає елементи сповіщувачів стану (індикатори застосунків) і елементи системного лотка.
Comment[zh_CN]=提供状态通知程序项 (应用程序指示器) 和旧式系统托盘项
Comment[zh_TW]=提供狀態指示器項目（應用程式指示器）與舊式系統匣項目
Icon=org.xfce.panel.statustray
X-XFCE-Module=systray
X-XFCE-Unique=SCREEN
X-XFCE-Internal=FALSE
X-XFCE-API=2.0
