[Desktop Entry]
Name=Application Browser
Name[ar]=متصفّح التطبيقات
Name[as]=অনুপ্ৰয়োগ চৰক
Name[bn_IN]=অ্যাপ্লিকেশন ব্রাউজার
Name[br]=Furcher arloadoù
Name[ca]=Navegador d'aplicacions
Name[cs]=Prohlížeč aplikací
Name[da]=Gennemse programmer
Name[de]=Anwendungs-Browser
Name[dz]=གློག་རིམ་བརའུ་ཟར་
Name[el]=Περιηγητής Εφαρμογών
Name[en_CA]=Application Browser
Name[en_GB]=Application Browser
Name[es]=Navegador de aplicaciones
Name[et]=Rakenduste sirvija
Name[eu]=Aplikazioen arakatzailea
Name[fi]=Sovellusselain
Name[fr]=Explorateur d'applications
Name[gl]=Examinador de aplicativos
Name[gu]=કાર્યક્રમ બ્રાઉઝર
Name[he]=דפדפן יישומים
Name[hu]=Alkalmazásböngésző
Name[id]=Peramban Aplikasi
Name[it]=Esploratore applicazioni
Name[ja]=アプリケーションブラウザー 
Name[kn]=ಅನ್ವಯ ವೀಕ್ಷಕ
Name[ko]=프로그램 찾아보기
Name[lt]=Programų naršyklė
Name[lv]=Lietotņu pārlūks
Name[ml]=പ്രയോഗത്തിനുള്ള ബ്രൌസര്‍
Name[mr]=अनुप्रयोग ब्राऊजर
Name[nb]=Programdialog
Name[nds]=Programmkieker
Name[or]=ପ୍ରୟୋଗ ବ୍ରାଉଜର
Name[pl]=Przeglądarka programów
Name[ps]=کاريال لټونی
Name[pt]=Navegador de Aplicações
Name[pt_BR]=Navegador de aplicativos
Name[ro]=Navigator de aplicații
Name[ru]=Проводник приложений
Name[sk]=Prehliadač aplikácií
Name[sl]=Brskalnik programov
Name[sr]=Прегледник програма
Name[sr@latin]=Preglednik programa
Name[sv]=Programbläddrare
Name[ta]=பயன்பாட்டு உலாவி
Name[te]=అనువర్తనం అన్వేషణి
Name[th]=เครื่องมือเรียกดูโปรแกรม
Name[vi]=Trình duyệt Ứng dụng
Name[wa]=Foyetu di programes
Name[zh_CN]=应用程序浏览器
Name[zh_TW]=應用程式瀏覽器
Exec=/usr/bin/application-browser
Terminal=false
Type=Application
StartupNotify=true
Encoding=UTF-8
NoDisplay=true
