[Desktop Entry]
Name[am]=ማሳያ
Name[be]=Экраны
Name[bg]=Монитори
Name[br]=Skrammañ
Name[ca]=Pantalles
Name[ca@valencia]=Pantalles
Name[cs]=Zobrazení
Name[da]=Skærme
Name[de]=Bildschirm
Name[el]=Εμφανίσεις
Name[en_AU]=Displays
Name[en_GB]=Displays
Name[es]=Pantallas
Name[et]=Kuvad
Name[fi]=Näytöt
Name[fr]=Affichage
Name[gl]=Pantallas
Name[he]=תצוגות
Name[hr]=Zasloni
Name[hu]=Képernyők
Name[hy]=Ցուցադրել
Name[id]=Tampilan
Name[ie]=Monitores
Name[is]=Skjáir
Name[it]=Schermi
Name[ja]=ディスプレイ
Name[kk]=Экрандар
Name[ko]=디스플레이
Name[lt]=Vaizduokliai
Name[ms]=Paparan
Name[nb]=Skjermer
Name[nl]=Schermen
Name[oc]=Afichatges
Name[pl]=Ekrany
Name[pt]=Monitores
Name[pt_BR]=Monitores
Name[ro]=Monitoare
Name[ru]=Экраны
Name[sk]=Zobrazovacie zariadenia
Name[sl]=Zasloni
Name[sr]=Екрани
Name[sv]=Bildskärmar
Name[tr]=Ekranlar
Name[uk]=Дисплеї
Name[uz]=Ekranlar
Name[zh_CN]=显示器
Name[zh_TW]=顯示
Name=Displays
Comment[am]=ሪዞሊሽን እና ቦታ መቀየሪያ የ መመልከቻውን እና ማሳያውን
Comment[be]=Змяненне разрознення і пазіцыі манітораў і праектараў
Comment[bg]=Промени резолюцията и позицията на мониторите и проекторите
Comment[br]=Kemmañ diarunusted ha lec'hiadur ar skrammoù hag al luc'hvannerezed
Comment[ca]=Canvieu la resolució i la posició dels monitors i dels projectors
Comment[ca@valencia]=Canvieu la resolució i la posició dels monitors i dels projectors
Comment[cs]=Změnit rozlišení a polohu monitorů a projektorů
Comment[da]=Ændr opløsning og position for skærme og projektorer
Comment[de]=Auflösung und Anordnung von Bildschirmen und Projektoren ändern
Comment[el]=Αλλαγή της ανάλυσης και θέσης οθονών και προβολέων
Comment[en_AU]=Change resolution and position of monitors and projectors
Comment[en_GB]=Change resolution and position of monitors and projectors
Comment[es]=Cambiar la resolución y posición de los monitores y proyectores
Comment[et]=Kuvarite ja projektorite eraldusvõime ning asukoha muutmine
Comment[fi]=Muuta näytön ja projektorin tarkkuutta ja sijaintia
Comment[fr]=Modifier la résolution et la position des écrans
Comment[gl]=Cambiar a resolución e posición dos monitores e proxectores
Comment[he]=שינוי הרזולוציה לרבות מיקום הצגים והמקרנים
Comment[hr]=Promijeni razlučivost i položaj monitora i projektora
Comment[hu]=Monitorok felbontásának és elhelyezésének módosítása
Comment[hy]=Փոխել պրոյեկտորների և մոնիտորների բանաձևը և դիրքը
Comment[id]=Ubah resolusi dan posisi monitor dan proyektor
Comment[ie]=Alterar li resolution e position de monitores e projectores
Comment[is]=Breyttu upplausn og stöðu skjáa og myndvarpa
Comment[it]=Cambia la risoluzione e la posizione dei monitor e dei proiettori
Comment[ja]=モニターとプロジェクターの解像度と位置を変更します。
Comment[kk]=Мониторлар және проекторлар ажыратымдылығы және орналасуын өзгерту
Comment[ko]=모니터와 프로젝터의 해상도와 위치를 바꿉니다
Comment[lt]=Pakeisti vaizduoklių ir projektorių raišką ir poziciją
Comment[ms]=Ubah resolusi dan kedudukan monitor serta projektor
Comment[nb]=Endre oppløsning og posisjon for skjermer og projektorer.
Comment[nl]=Wijzig resolutie en positie van beeldschermen en projectoren
Comment[oc]=Modificar la resolucion e la posicion dels ecrans e projectors
Comment[pl]=Zmień rozmiar i pozycję monitorów i projektorów
Comment[pt]=Mudar resolução e posição dos monitores e projetores
Comment[pt_BR]=Altera a resolução e a posição de monitores e projetores
Comment[ro]=Schimbați rezoluția și poziția monitoarelor și a proiectoarelor
Comment[ru]=Изменение разрешения и положения мониторов и проекторов
Comment[sk]=Mení rozlíšenie a pozíciu monitorov a projektorov
Comment[sl]=Spremeni ločljivost in položaj zaslonov in projektorjev
Comment[sr]=Измените резолуцију и положај монитора и пројектора
Comment[sv]=Ändra upplösning och position för skärmar och projektorer
Comment[tr]=Monitör ve projektörlerin çözünürlüğünü ve konumunu değiştir
Comment[uk]=Зміна роздільності та позиції моніторів і проєкторів
Comment[zh_CN]=更改显示器和投影仪的分辨率和位置
Comment[zh_TW]=改變螢幕及投影機的解析度和位置
Comment=Change resolution and position of monitors and projectors
Exec=mate-display-properties
# Translators: Do NOT translate or transliterate this text (this is an icon file name)!
Icon=preferences-desktop-display
Terminal=false
Type=Application
StartupNotify=true
Categories=GTK;Settings;HardwareSettings;
# Translators: Search terms to find this application. Do NOT translate or localize the semicolons! The list MUST also end with a semicolon!
Keywords[ca]=mate-control-center;MATE;resolució;posició;monitors;pantalles;propietats;
Keywords[cs]=mate-control-center;ovládací centrum;MATE;rozlišení;pozice;monitor;monitory;displej;display;vlastnosti;
Keywords[da]=mate-control-center;MATE;resolution;position;monitors;display;properties;opløsning;placering;skærme;egenskaber;
Keywords[es]=control;centro;MATE;resolución;posición;monitores;pantallas;propiedades;
Keywords[fr]=mate-control-center;MATE;resolution;position;monitors;display;properties;
Keywords[gl]=centro-control-mate;MATE;resolución;posición;monitores;pantalla;propiedades;
Keywords[id]=mate-control-center;MATE;resolusi;posisi;monitor;tampilan;properti;
Keywords[it]=mate-control-center;MATE;risoluzione;posizione;schermo;monitor;proprieta;
Keywords[ms]=mate-control-center;MATE;resolusi;kedudukan;monitor;paparan;sifat;
Keywords[nb]=mate-control-center;MATE;oppløsning;posisjon;skjermer;vis;egenskaper;
Keywords[nl]=mate-control-center;MATE;beeldresolutie;positie;beeldscherm;scherm;eigenschappen;
Keywords[oc]=mate-control-center;MATE;resolution;position;monitors;display;properties;afichatge;ecran;resolucion;proprietats;
Keywords[pl]=mate-control-center;MATE;resolution;position;monitors;display;properties;
Keywords[pt]=mate-control-center;MATE;resolução;posição;monitores;ecrã;propriedades;
Keywords[ru]=mate-control-center;MATE;разрешение;положение;мониторы;экран;свойства;
Keywords[sr]=мејтов-управљачки-центар;Мејт;резолуција;положај;монитори;екран;својства;
Keywords[uk]=mate-control-center;MATE;роздільність; положення; монітори; дисплей; властивості;
Keywords[zh_CN]=mate 控制中心;MATE;分辨率;位置;显示器;显示;属性;
Keywords[zh_TW]=mate-control-center;MATE;resolution;position;monitors;display;properties;
Keywords=mate-control-center;MATE;resolution;position;monitors;display;properties;
OnlyShowIn=MATE;
