[Desktop Entry]
Type=Service
ServiceTypes=LXQtPanel/Plugin
Name=Date & time
Comment=Displays the current time. Comes with a calendar.
Icon=preferences-system-time

Name[ar]=التّاريخ والوقت
Comment[ar]=تعرض الوقت الحاليّ. فيها تقويم.
Comment[cs]=Hodiny a kalendář
Name[cs]=Hodiny
Comment[cs_CZ]=Hodiny a kalendář
Name[cs_CZ]=Hodiny
Name[da]=Dato og klokkeslæt
Comment[da]=Viser den aktuelle tid. Der følger en kalender med.
Name[de]=Uhr und Kalender
Comment[de]=Zeigt die aktuelle Uhrzeit. Ein Kalender ist auch enthalten.
Comment[el]=Ρολόι και ημερολόγιο
Name[el]=Ρολόι
Comment[eo]=Horloĝo kaj kalendaro
Name[eo]=Horloĝo
Comment[es]=Reloj y calendario
Name[es]=Reloj
Comment[es_VE]=Reloj y calendario
Name[es_VE]=Reloj
Comment[eu]=Erlojua eta egutegia
Name[eu]=Erlojua
Comment[fi]=Kello ja kalenteri
Name[fi]=Kello
Comment[fr]=Horloge et calendrier
Name[fr]=Horloge
Comment[hu]=Óra és naptár
Name[hu]=Óra
Comment[it]=Orologio e calendario
Name[it]=Orologio
Comment[ja]=時計とカレンダー
Name[ja]=時計
Comment[lt]=Laikrodis ir kalendorius
Name[lt]=Laikrodis
Comment[nl]=Klok en kalender
Name[nl]=Klok
Comment[pl]=Wyświetla obecny czas. Zawiera kalendarz.
Name[pl]=Zegar
Name[pt]=Relógio
Comment[pt]=Relógio e calendário
Comment[pt_BR]=Relógio e calendário
Name[pt_BR]=Relógio
Comment[ro_RO]=Afișează ora curentă incluzând și un calendar.
Name[ro_RO]=Data și ora
Comment[ru]=Отображение текущего времени. Поставляется с календарем.
Name[ru]=Дата и время
Comment[sk]=Hodiny a kalendár
Name[sk]=Hodiny
Comment[sl]=Ura in koledar
Name[sl]=Ura
Comment[sr]=Сат и календар
Name[sr]=Сат
Name[sr@ijekavian]=Сат
Comment[sr@ijekavian]=Сат и календар
Name[sr@ijekavianlatin]=Sat
Comment[sr@ijekavianlatin]=Sat i kalendar
Comment[sr@latin]=Sat i kalendar
Name[sr@latin]=Sat
Comment[th_TH]=นาฬิกาและปฏิทิน
Name[th_TH]=นาฬิกา
Comment[tr]=Saat ve takvim
Name[tr]=Saat
Comment[uk]=Показує поточний час. Календар
Name[uk]=Дата і час
Comment[zh_CN]=时钟和日历
Name[zh_CN]=时钟
Comment[zh_TW]=時鐘與日曆
Name[zh_TW]=時鐘
