[Desktop Entry]
Type=Service
ServiceTypes=LXQtPanel/Plugin
Icon=cpu

Name=CPU monitor
Comment=Displays the current CPU load
Name[ar]=مرقاب المعالج
Comment[ar]=تعرض حمل المعالج الحاليّ
Name[bg]=CPU Монитор
Comment[bg]=Показва натоварването на CPU
Name[ca]=Monitor de CPU
Comment[ca]=Mostra la càrrega actual de la CPU
Name[cs]=Vytížení procesoru
Comment[cs]=Sledování vytížení procesoru
Name[da]=CPU-overvågning
Comment[da]=Viser det aktuelle CPU-forbrug
Name[de]=Prozessorauslastung
Comment[de]=Prozessorlast-Monitor
Name[el]=Επόπτης του επεξεργαστή
Comment[el]=Εμφανίζει το φορτίο του επεξεργαστή
Name[eo]=CPU-ŝarĝo
Comment[eo]=Monitorado de CPU-ŝarĝo
Name[es]=Monitor de CPU
Comment[es]=Muestra la carga actual de la CPU
Name[es_VE]=Carga del CPU
Comment[es_VE]=Monitor de carga del CPU
Name[et]=Protsessori koormus
Comment[et]=Jälgi protsessori koormust
Name[eu]=PUZaren monitorea
Comment[eu]=PUZaren uneko karga bistaratzen du
Name[fi]=Suorittimen kuormitus
Comment[fi]=Suorittimen kuormituksen seuranta
Name[fr]=Charge du processeur
Comment[fr]=Affichage de la charge du processeur
Name[he]=צג מעבד
Comment[he]=מציג את העומס הנוכחי על המעבד
Name[hr]=Praćenje procesora
Comment[hr]=Prikazuje trenutačno opterećenje procesora
Name[hu]=CPU-figyelő
Comment[hu]=Megjeleníti a processzorterhelést
Name[it]=Carico del processore
Comment[it]=Monitor del carico del processore
Name[ja]=CPU モニター
Comment[ja]=現在の CPU の負荷を表示します
Name[lt]=Procesoriaus apkrova
Comment[lt]=Procesoriaus stebėtojas
Name[nl]=Processormonitor
Comment[nl]=Toont de huidige processorbelasting
Name[pl]=Obciążenie CPU
Comment[pl]=Wyświetla obecne obciążenie CPU
Name[pt]=Carga do CPU
Comment[pt]=Monitor de carga do CPU
Name[pt_BR]=Carga da CPU
Comment[pt_BR]=Monitor de carga da CPU
Name[ro]=Afișează gradul de încărcare al procesorului
Comment[ro]=Monitor de încărcare a procesorului
Name[ru]=Монитор загрузки процессора
Comment[ru]=Отображает текущую загрузку процессора
Name[sl]=Obremenitev CPE
Comment[sl]=Nadzornik obremenitve CPE
Name[th]=การทำงานซีพียู
Comment[th]=เฝ้าสังเกตการทำงานซีพียู
Name[tr]=İşlemci Yükü
Comment[tr]=İşlemci Yükü izleyici
Name[uk]=Монітор CPU
Comment[uk]=Показує поточне навантаження CPU
Name[zh_CN]=CPU 负载
Comment[zh_CN]=CPU 负载监视器
Name[zh_TW]=CPU使用
Comment[zh_TW]=CPU使用監視器
