[Desktop Entry]
Type=Service
ServiceTypes=LXQtPanel/Plugin
Icon=folder

Name=Directory Menu
Comment=Displays a menu showing the contents of a directory
Name[ar]=قائمة الأدلّة
Comment[ar]=تعرض قائمة تظهر محتويات الدّليل
Name[bg]=Меню с директории
Comment[bg]=Показва меню със съдържанието на избрана директория
Name[ca]=Menú del directori
Comment[ca]=Mostra un menú que visualitza el contingut d'un directori
Name[cs]=Nabídka složka
Comment[cs]=Zobrazí nabídku s obsahem složky
Name[da]=Mappemenu
Comment[da]=Viser en menu med indholdet af en mappe
Name[de]=Ordnermenü
Comment[de]=Zeigt ein Menü mit dem Inhalt eines Ordners an
Name[el]=Μενού καταλόγου
Comment[el]=Εμφανίζει ένα μενού με τα περιεχόμενα ενός καταλόγου
Name[es]=Menú de directorio
Comment[es]=Muestra en un menú el contenido de un directorio
Name[et]=Kaustade menüü
Comment[et]=Kuvab kaustapuud menüünupuna
Name[fr]=Menu de répertoire
Comment[fr]=Affiche un menu avec le contenu d'un répertoire
Name[he]=תפריט תיקייה
Comment[he]=מציג תפריט עם התכנים שבתיקייה
Name[hr]=Izbornik mape
Comment[hr]=Prikazuje sadržaj mape u izborniku
Name[hu]=Könyvtármenü
Comment[hu]=Egy könyvtár tartalmát mutató menü
Name[it]=Menu cartella
Comment[it]=Mostra il contenuto di una cartella
Name[ja]=ディレクトリメニュー
Comment[ja]=指定したディレクトリからツリー表示します
Name[lt]=Katalogų meniu
Comment[lt]=Rodo meniu, kuriame rodomas katalogų turinys
Name[nl]=Mapmenu
Comment[nl]=Toont de inhoud van een map in een menu
Name[pl]=Menu katalogów
Comment[pl]=Wyświetla menu z zawartością katalogów
Name[pt]=Menu de diretórios
Comment[pt]=Mostra um menu com o conteúdo do diretório
Name[ru]=Меню каталога
Comment[ru]=Показывает меню, отображающее содержимое каталога
Name[zh_CN]=目录菜单
Comment[zh_CN]=显示包含目录内容的菜单
