[Desktop Entry]
Type=Service
ServiceTypes=LXQtPanel/Plugin
Icon=user-desktop

Name=Show Desktop
Comment=Minimize all windows and show the desktop
Name[ar]=أظهر سطح المكتب
Comment[ar]=تصغّر كلّ النّوافذ وتُظهر سطح المكتب
Name[bg]=Показване на работния плот
Comment[bg]=Минимизиране на всички прозорци и показване на работния плот
Name[ca]=Mostra l'escriptori
Comment[ca]=Minimitza totes les finestres i mostra l'escriptori
Name[cs]=Ukázat plochu
Comment[cs]=Minimalizovat všechna okna a ukázat plochu
Name[da]=Vis skrivebord
Comment[da]=Minimer alle vinduer og vis skrivebordet
Name[de]=Arbeitsfläche anzeigen
Comment[de]=Alle Fenster minimieren und die Arbeitsfläche anzeigen
Name[el]=Εμφάνιση επιφάνειας εργασίας
Comment[el]=Ελαχιστοποίηση όλων των παραθύρων και εμφάνιση της επιφάνειας εργασίας
Name[eo]=Montri labortablon
Comment[eo]=Malmaksimigi ĉiujn fenestrojn kaj montri la labortablon
Name[es]=Mostrar el escritorio
Comment[es]=Minimiza todas las ventanas y muestra el escritorio
Name[es_VE]=Mostrar Escritorio
Comment[es_VE]=Minimiza todas las ventanas de todos los escritorios
Name[et]=Näita töölauda
Comment[et]=Nupule vajutamine lappab kõik aknad kokku ning näitab töölauda
Name[eu]=Erakutsi mahaigaina
Comment[eu]=Minimizatu leiho guztiak eta erakutsi mahaigaina
Name[fi]=Näytä työpöytä
Comment[fi]=Pienennä kaikki ikkunat ja näytä työpöytä
Name[fr]=Montrer le bureau
Comment[fr]=Minimiser toutes les fenêtres et montrer le bureau
Name[he]=הצגת שולחן עבודה
Comment[he]=מזעור כל החלונות והצגת שולחן העבודה
Name[hr]=Prikaži radnu površinu
Comment[hr]=Sakrij sve prozore i prikaži radnu površinu
Name[hu]=Asztal megjelenítése
Comment[hu]=Minimalizálja az összes ablakot és megjeleníti az asztalt
Name[id_ID]=Tampilkan Desktop
Comment[id_ID]=Kecilkan seluruh jendela dan tampilkan desktop
Name[it]=Mostra scrivania
Comment[it]=Minimizza tutte le finestre e mostra la scrivania
Name[ja]=デスクトップ表示
Comment[ja]=すべてのウィンドウを最小化してデスクトップを表示します
Name[lt]=Darbalaukio rodymas
Comment[lt]=Suskleidžia visus langus ir rodo darbalaukį
Name[nl]=Bureaublad tonen
Comment[nl]=Minimaliseer alle vensters en toon het bureaublad
Name[pl]=Pokaż pulpit
Comment[pl]=Minimalizuje wszystkie okna i pokazuje pulpit
Name[pt]=Mostrar área de trabalho
Comment[pt]=Minimizar janelas e mostrar a área de trabalho
Name[pt_BR]=Exibir a área de trabalho
Comment[pt_BR]=Minimizar todas as janelas e exibir a área de trabalho
Name[ro_RO]=Arată desktopul
Comment[ro_RO]=Minimizează toate ferestrele și arată desktopul
Name[ru]=Показать рабочий стол
Comment[ru]=Свернуть все окна и показать рабочий стол
Name[sk]=Zobraziť plochu
Comment[sk]=Minimalizuje všetky okná a zobrazí plochu
Name[sl]=Pokaži namizje
Comment[sl]=Pomanjšajte vsa okna, da se pokaže namizje
Name[sr]=Приказ површи
Comment[sr]=Минимизуј све прозоре и прикажи радну површ
Name[sr@ijekavian]=Приказ површи
Comment[sr@ijekavian]=Минимизуј све прозоре и прикажи радну површ
Name[sr@ijekavianlatin]=Prikaz površi
Comment[sr@ijekavianlatin]=Minimizuj sve prozore i prikaži radnu površ
Name[sr@latin]=Prikaz površi
Comment[sr@latin]=Minimizuj sve prozore i prikaži radnu površ
Name[th]=แสดงพื้นโต๊ะ
Comment[th]=ย่อเก็บหน้าต่างทั้งหมดและแสดงพื้นโต๊ะ
Name[tr]=Masaüstünü Göster
Comment[tr]=Tüm pencereleri küçült ve masaüstünü göster
Name[uk]=Показати стільницю
Comment[uk]=Згорнути всі вікна та показати стільницю
Name[zh_CN]=显示桌面
Comment[zh_CN]=最小化所有窗口并显示桌面
Name[zh_TW]=顯示桌面
Comment[zh_TW]=將所有視窗縮到最小並顯示桌面
