[Desktop Entry]
Type=Service
ServiceTypes=LXQtPanel/Plugin
Icon=bookmark-new

Name=Spacer
Comment=Space between widgets
Name[ar]=مُباعد
Comment[ar]=مساحة بين الودجات
Name[bg]=Разделител
Comment[bg]=Създаване на разстояние и разграничител между приставките
Name[ca]=Espaiador
Comment[ca]=Espai entre estris
Name[cs]=Výplň
Comment[cs]=Pro vytvoření mezery mezi ovládacími prvky
Name[da]=Mellemrum
Comment[da]=Mellemrum mellem widgets
Name[de]=Platzhalter
Comment[de]=Stellt den Abstand zwischen den Widgets ein
Name[el]=Διάστημα
Comment[el]=Διάστημα μεταξύ των γραφικών συστατικών
Name[es]=Espaciador
Comment[es]=Espacio entre miniaplicaciones
Name[et]=Eraldaja
Comment[et]=Tee ruumi vidinate vahele
Name[fr]=Espaceur
Comment[fr]=Fixe un espacement entre les widgets
Name[he]=מרווח
Comment[he]=רווח בין וידג׳טים
Name[hr]=Razmaci
Comment[hr]=Postavljanje razmaka izmađu programčića
Name[hu]=Távtartó
Comment[hu]=Elemek közötti távolságtartó
Name[it]=Spaziatore
Comment[it]=Aggiunge uno spazio fra gli elementi
Name[ja]=スペーサー
Comment[ja]=ウィジェット間に空間を開けます
Name[lt]=Tarpiklis
Comment[lt]=Tarpas tarp valdiklių
Name[nl]=Tussenruimte
Comment[nl]=Ruimte tussen bedieningselementen
Name[pl]=Odstęp
Comment[pl]=Odstęp między elementami
Name[pt]=Espaçamento
Comment[pt]=Espaço entre os widgets
Name[ru]=Разделитель
Comment[ru]=Промежуток между виджетами
Name[zh_CN]=间隔
Comment[zh_CN]=小部件之间的间隔
