[Desktop Entry]
Type=Service
ServiceTypes=LXQtPanel/Plugin
Icon=go-bottom
Name=Status Notifier
Comment=Provides the notification area (aka systray)
Name[ar]=ملحقة لمُخطر الحالة
Name[bg]=Област на системни известия
Comment[bg]=Показване на системни известия ( т.нар. систрей)
Name[ca]=Connector de notificacions d'estat
Name[cs]=Stavové zprávy
Comment[cs]=Zásuvný modul pro oznamovací oblast
Name[da]=Statusunderretter
Comment[da]=Giver underretningsområdet (også kendt som systembakke)
Name[de]=Statusbenachrichtigungen
Comment[de]=Plugin für Statusbenachrichtigungen
Name[el]=Πρόσθετο ειδοποίησης κατάστασης
Comment[el]=Η περιοχή ειδοποιήσεων πλαισίου συστήματος
Name[es]=Complemento de notificaciones de estado
Comment[es]=Brinda el área de notificaciones (conocida también como bandeja\
Name[et]=Olekuteataja
Comment[et]=Teadete ja teatiste vidin (tuntud ka kui süsteemisalv)
Name[fr]=Information du statut
Comment[fr]=Greffon d'information du statut
Name[he]=התראות מצב
Comment[he]=מספק את אזור ההתראות (ידוע גם בשם מגש המערכת)
Name[hr]=Obavijesti o stanju
Comment[hr]=Pruža područje za obavijesti (poznato kao programska traka)
Name[hu]=Állapotjelzés
Comment[hu]=Állapotértesítő bővítmény
Name[it]=Notificatore
Comment[it]=Fornisce l'area di notifica (vassoio)
Name[ja]=ステータス通知
Comment[ja]=通知領域を確保します (別名 システムトレイ)
Name[lt]=Pranešimų įskiepis
Comment[lt]=Pateikia pranešimų sritį (dar žinomą kaip sistemos dėklas)
Name[nl]=Systeemvak
Comment[nl]=Systeemvak-invoegtoepassing
Name[pl]=Wtyczka powiadomień o stanie
Name[pt]=Plugin Status Notifier
Comment[pt]=Um plugin para notificar sobre o estado
Name[ru]=Плагин уведомлений
Comment[ru]=Создаёт область уведомления (системный трей)
Name[zh_CN]=状态提示器
Comment[zh_CN]=状态提示器插件
