[Desktop Entry]
Type=Service
ServiceTypes=LXQtPanel/Plugin
Name=System Statistics
Comment=System Statistics plugin.
Icon=utilities-system-monitor

Name[ar]=إحصائيّات النّظام
Comment[ar]=ملحقة لإحصائيّات النّظام.
Name[da]=Systemstatistik
Comment[da]=Systemstatistik-plugin.
Name[de]=Systemstatistiken
Comment[de]=Plugin zum Anzeigen von Systemstatistiken
Name[el]=Στατιστικά συστήματος
Comment[el]=Πρόσθετο στατιστικών του συστήματος.
Name[fr]=Statistiques du système
Comment[fr]=Greffon d'affichage des statistiques du système
Name[hu]=Rendszerstatisztika
Comment[hu]=Infó a rendszerállapotról
Name[it]=Statistiche del sistema
Comment[it]=Mostra statistiche configurabili del sistema
Name[ja]=システム統計
Comment[ja]=システム統計のプラグイン
Name[lt]=Sistemos statistika
Comment[lt]=Sistemos statistikos įskiepis.
Name[pl]=Statystyki systemowe
Comment[pl]=Wtyczka statystyk systemu.
Name[pt]=Estatísticas do sistema
Comment[pt]=Mostra as estatísticas do sistema
Name[ru]=Системная статистика
Comment[ru]=Плагин системной статистики.
Name[zh_CN]=系统统计
Comment[zh_CN]=系统统计插件
