[Desktop Entry]
Type=Service
ServiceTypes=LXQtPanel/Plugin
Icon=window-duplicate

Name=Task Manager
Comment=Switch between running applications
Name[ar]=مدير المهامّ
Comment[ar]=بدّل بين التّطبيقات العاملة
Name[bg]=Управление на прозорци
Comment[bg]=Лента за превключване и управление на отворените прозорци
Name[ca]=Gestor de tasques
Comment[ca]=Canvieu entre aplicacions en execució
Name[cs]=Správce aplikací
Comment[cs]=Přepínání mezi spuštěnými aplikacemi
Name[da]=Opgavehåndtering
Comment[da]=Skift mellem kørende programmer
Name[de]=Anwendungsverwalter
Comment[de]=Wechsel zwischen laufenden Anwendungen
Name[el]=Διαχειριστής εργασιών
Comment[el]=Εναλλαγή μεταξύ των εκτελούμενων εφαρμογών
Name[eo]=Taskmastrumilo
Comment[eo]=Ŝalti inter rulantaj aplikaĵoj
Name[es]=Administrador de tareas
Comment[es]=Cambia entre aplicaciones activas
Name[es_VE]=Manejador de ventanas
Comment[es_VE]=Cambia entre aplicaciones o programas abiertos
Name[et]=Tegumihaldur
Comment[et]=Halda ja vaheta hetkel kasutusel olevaid rakendusi
Name[eu]=Ataza-kudeatzailea
Comment[eu]=Aldatu martxan dauden aplikazioen artean
Name[fi]=Tehtävähallinta
Comment[fi]=Vaihda käynnissä olevien sovellusten välillä
Name[fr]=Gestionnaire des tâches
Comment[fr]=Basculer entre des applications actives
Name[he]=מנהל משימות
Comment[he]=מעבר בין יישומים פעילים
Name[hr]=Upravljač zadataka
Comment[hr]=Prebacivanje između pokrenutih programa
Name[hu]=Feladatkezelő
Comment[hu]=Váltás a futó alkalmazások között
Name[it]=Barra delle applicazioni
Comment[it]=Permette di spostarsi tra le applicazioni in esecuzione tramite pulsanti
Name[ja]=タスク管理
Comment[ja]=実行中のアプリケーションを切り替えます
Name[lt]=Užduočių tvarkytuvė
Comment[lt]=Perjungti tarp paleistų programų
Name[nl]=Taakbalk
Comment[nl]=Schakel tussen actieve programma's
Name[pl]=Pasek zadań
Comment[pl]=Przełączaj pomiędzy otwartymi aplikacjami
Name[pt]=Gestor de tarefas
Comment[pt]=Permite trocar entre as aplicações em execução
Name[pt_BR]=Gerenciador de tarefas
Comment[pt_BR]=Alterne entre aplicativos em execução
Comment[ro]=Comută între aplcațiile active
Name[ru]=Панель задач
Comment[ru]=Переключиться между запущенными приложениями
Name[sk]=Správca úloh
Comment[sk]=Prepínanie medzi bežiacimi aplikáciami
Name[sl]=Upravljalnik opravil
Comment[sl]=Preklapljajte med zagnanimi programi
Name[sr]=Менаџер задатака
Comment[sr]=Пребацујте између програма у раду
Name[sr@ijekavian]=Менаџер задатака
Comment[sr@ijekavian]=Пребацујте између програма у раду
Name[sr@ijekavianlatin]=Menadžer zadataka
Comment[sr@ijekavianlatin]=Prebacujte između programa u radu
Name[sr@latin]=Menadžer zadataka
Comment[sr@latin]=Prebacujte između programa u radu
Name[th]=ตัวจัดการงาน
Comment[th]=สลับใช้งานระหว่างโปรแกรมที่เปิดอยู่
Name[tr]=Görev Yöneticisi
Comment[tr]=Çalışan uygulamalar arasında geçiş yapın
Name[uk]=Менеджер завдань
Comment[uk]=Перемкнутися між запущеними вікнами
Name[zh_CN]=任务管理器
Comment[zh_CN]=在运行的程序间切换
Name[zh_TW]=工作管理員
Comment[zh_TW]=在正在運行程式中切換
