[Desktop Entry]
Type=Service
ServiceTypes=LXQtPanel/Plugin
Name=Volume control
Comment=Control the system's volume and launch your preferred mixer.
Icon=multimedia-volume-control

Name[ar]=تحكّم بمستوى الصّوت
Comment[ar]=تحكّم بمستوى صوت النّظام وأطلق المازج المفضّل لك.
Comment[cs]=Ovládejte hlasitost systému a spusťte svůj upřednostňovaný směšovač. 
Name[cs]=Ovládání hlasitosti
Comment[cs_CZ]=Ovládejte hlasitost systému a spusťte svůj upřednostňovaný směšovač. 
Name[cs_CZ]=Ovládání hlasitosti
Name[da]=Lydstyrkekontrol
Comment[da]=Juster systemets lydstyrke og start din foretrukne mikser.
Name[de]=Lautstärkeeinstellung
Comment[de]=Systemlautstärke einstellen und den bevorzugten Mischer starten.
Name[el]=Έλεγχος έντασης ήχου
Comment[el]=Ελέγξτε την ένταση ήχου του συστήματος και εκκινήστε τον προτιμώμενο μίκτη.
Comment[es]=Controla el volumen del sistema y lanza su mezclador preferido
Name[es]=Control de volumen
Comment[es_VE]=Controla el volumen del sistema y lanza el mezclador escogido referido
Name[es_VE]=Control de volumen
Comment[eu]=Kontrolatu sistemaren bolumena eta abiarazi zure gogoko nahasgailua.
Name[eu]=Bolumen-kontrola
Comment[fi]=Hallitse järjestelmän äänenvoimakkuutta, ja käynnistä suosimasi mikseri.
Name[fi]=Äänenvoimakkuuden hallinta
Name[fr]=Volume audio
Comment[fr]=Réglage du volume audio du système et démarrage du mixeur.
Comment[hu]=A rendszer hangerejének beállítása
Name[hu]=Hangerőszabályzó
Name[it]=Controllo del volume
Comment[it]=Controlla il volume del sistema e avvia il  mixer preferito
Name[ja]=音量調節
Comment[ja]=システムの音量を制御したり、ミキサーを起動したりします
Name[lt]=Garsio reguliavimas
Comment[lt]=Reguliuoti sistemos garsį ir paleisti pageidaujamą mašiklį.
Comment[pl]=Dopasuj poziom dźwięku i uruchom preferowany mikser.
Name[pl]=Regulacja poziomu dźwięku 
Name[pt]=Controlo de volume
Comment[pt]=Controlar o volume do sistema e abrir o gestor de som
Comment[pt_BR]=Controla o volume do sistema e lança seu mixer preferido.
Name[pt_BR]=Controle de Volume
Comment[ro_RO]=Controlează volumul sistem și lansează mixerul dvs preferat
Name[ro_RO]=Control volum
Comment[ru]=Управлять громкостью звука в системе и запустить предпочитаемый микшер.
Name[ru]=Регулятор громкости
Comment[th_TH]=ควบคุมระดับเสียงของระบบและเรียกใช้ตัวผสมที่คุณต้องการ
Name[th_TH]=ควบคุมระดับเสียง
Comment[uk]=Регулює системну гучність та запускає ваш улюблений мікшер
Name[uk]=Регулятор гучності
Comment[zh_CN]=控制系统音量并启动您喜欢的混音器。
Name[zh_CN]=音量控制
Comment[zh_TW]=控制系統音量並啟動您喜愛的音量控制器
Name[zh_TW]=音量控制
