[Desktop Entry]
Type=Service
ServiceTypes=LXQtPanel/Plugin
Icon=clock

Name=World Clock
Comment=Displays a clock with calendar and time zones
Name[ar]=ساعة العالم
Comment[ar]=ملحقة لساعة العالم
Name[bg]=Часовник
Comment[bg]=Показва час, дати, часови зони и календар
Name[ca]=Rellotge mundial
Comment[ca]=Connector del rellotge mundial
Name[cs]=Čas ve světě
Comment[cs]=Čas v různých časových pásmech
Name[da]=Verdensur
Comment[da]=Verdensur-plugin
Name[de]=Weltzeituhr
Comment[de]=Uhr mit Kalender und Zeitzonen
Name[el]=Παγκόσμιο ρολόι
Comment[el]=Πρόσθετο παγκόσμιου ρολογιού
Name[es]=Reloj mundial
Comment[es]=Complemento de reloj mundial
Name[et]=Maailmakell
Comment[et]=Näita kellaaega koos kalendri ja ajavööndiga
Name[fr]=Horloge universelle
Comment[fr]=Horloge universelle
Name[he]=שעון עולמי
Comment[he]=מציג שעון עם לוח שנה ואזורי זמן
Name[hr]=Svjetski sat
Comment[hr]=Priključak za svjetski sat
Name[hu]=Világóra
Comment[hu]=Világóra bővítmény
Name[it]=Orologio mondiale
Comment[it]=Orologio con calendario e fusi orari diversi
Name[ja]=世界時計
Comment[ja]=カレンダーとタイムゾーンと時計を表示します
Name[lt]=Pasaulio laikrodžiai
Comment[lt]=Pasaulio laikrodžių įskiepis
Name[nl]=Klok
Comment[nl]=Toon een klok op het paneel met kalender en tijdzones
Name[pl]=Zegar światowy
Comment[pl]=Wtyczka zegara światowego
Name[pt]=Relógio mundial
Comment[pt]=Extra para mostrar um relógio mundial
Name[ru]=Мировое время
Comment[ru]=Плагин мирового времени
Name[zh_CN]=世界时钟
Comment[zh_CN]=世界时钟插件
