[Desktop Entry]
Type=Application
Name=Application Switcher
TryExec=lxqt-appswitcher
Exec=lxqt-appswitcher
Hidden=true
OnlyShowIn=LXQt;
X-LXQt-Module=true

Name[zh_TW]=應用程式切換器
Name[zh_CN]=程序切换器
Name[uk]=Перемикач вікон
Name[tr]=Uygulama Seçici
Name[th_TH]=ตัวสลับการใช้งานโปรแกรม
Name[sl]=Preklapljanje med programi
Name[ru_RU]=Переключатель программ
Name[ru]=переключениk программа 
Name[ro_RO]=Comutator de aplicații
Name[pt_BR]=Alternador de aplicativos
Name[pt]=Alternador de aplicações
Name[pl_PL]=Przełącznik programów
Name[nl]=Programma Wisselaar
Name[lt]=Programų perjungimas
Name[ja]=アプリケーション切替ウィンドウ
Name[it_IT]=Switcher applicazioni
Name[hu]=Alkalmazásváltó
Name[fr_FR]=Basculer entre les fenêtres ouvertes
Name[fi]=Sovellusvaihdin
Name[eu]=Aplikazio-aldatzailea
Name[es_VE]=Cambiador de ventanas activas
Name[es]=Selector de aplicaciones
Name[eo]=Ŝaltilo de aplikaĵoj
Name[el_GR]=Εναλλαγή εφαρμογών
Name[de_DE]=Fensterwechsler
Name[da_DK]=Programskifter
Name[da]=Programskifter
Name[cs_CZ]=Přepínač programů
Name[cs]=Přepínač programů
Name[ar]=مُبدِّل التطبيقات
