[Desktop Entry]
Type=Application
Name=Desktop
Exec=pcmanfm-qt --desktop --profile=lxqt
TryExec=pcmanfm-qt
OnlyShowIn=LXQt;
X-LXQt-Module=true

Name[zh_TW]=桌面
Name[zh_CN]=桌面
Name[uk]=Стільниця
Name[tr]=Masaüstü
Name[th_TH]=เดสก์ท็อป
Name[sl]=Namizje
Name[ru_RU]=Рабочий стол
Name[ru]=Pабочий стол
Name[ro_RO]=Desktop
Name[pt_BR]=Área de trabalho
Name[pt]=Área de trabalho
Name[pl_PL]=Pulpit
Name[nl]=Bureaublad
Name[lt]=Darbalaukis
Name[ja]=デスクトップ
Name[it_IT]=Desktop
Name[ia]=Scriptorio
Name[hu]=Asztal
Name[fr_FR]=Bureau
Name[fi]=Työpöytä
Name[eu]=Mahaigaina
Name[es_VE]=Escritorio
Name[es]=Escritorio
Name[eo]=Labortablo
Name[el_GR]=Επιφάνεια εργασίας
Name[de_DE]=Desktop
Name[da_DK]=Skrivebord
Name[da]=Skrivebord
Name[cs_CZ]=Plocha
Name[cs]=Plocha
Name[ar]=سطح المكتب
