[Desktop Entry]
Type=Application
Name=Panel
TryExec=lxqt-panel
Exec=lxqt-panel
OnlyShowIn=LXQt;
X-LXQt-Module=true

Name[zh_TW]=面板
Name[zh_CN]=面板
Name[uk]=Панель
Name[tr]=Panel
Name[th_TH]=พาเนล
Name[sl]=Pult
Name[ru_RU]=Панель
Name[ru]=панель
Name[ro_RO]=Panou
Name[pt_BR]=Painel
Name[pt]=Painel
Name[pl_PL]=Panel
Name[nl]=Paneel
Name[lt]=Skydelis
Name[ja]=パネル
Name[it_IT]=Pannello
Name[ia]=Panello
Name[hu_HU]=Panel
Name[hu]=Panel
Name[fr_FR]=Tableau de bord
Name[fi]=Paneeli
Name[eu]=Panela
Name[es_VE]=Panel
Name[es]=Panel
Name[eo]=Panelo
Name[el_GR]=Πίνακας
Name[de_DE]=Panel
Name[da_DK]=Panel
Name[da]=Panel
Name[cs_CZ]=Panel
Name[cs]=Panel
Name[ar]=اللوحة
