[Desktop Entry]
Type=Application
Name=Notification Daemon
TryExec=lxqt-notificationd
Exec=lxqt-notificationd
OnlyShowIn=LXQt;
X-LXQt-Module=true

Name[zh_TW]=系統通知程序
Name[zh_CN]=通知服务
Name[uk]=Демон сповіщень
Name[tr]=Bildirim Artsüreci
Name[th_TH]=ดีมอนการแจ้งเตือน
Name[sl]=Obvestilnik
Name[ru_RU]=Служба уведомлений
Name[ru]=демон Cообщение 
Name[ro_RO]=Daemon de notificare
Name[pt_BR]=Daemon de notificação
Name[pt]=Serviço de notificações
Name[pl_PL]=Daemon Powiadomień
Name[nl]=notificatie Daemon
Name[lt]=Pranešimų tarnyba
Name[ja]=通知デーモン
Name[it_IT]=Demone delle notifiche
Name[hu]=Értesítő szolgáltatás
Name[fr_FR]=Démon de notification
Name[fi]=Ilmoituspalvelu
Name[eu]=Jakinarazpen-deabrua
Name[es_VE]=Demonio de notificaciones
Name[es]=Demonio de notificaciones
Name[eo]=Demono de atentigoj
Name[el_GR]=Υπηρεσία ειδοποιήσεων
Name[de_DE]=Meldungen-Daemon
Name[da_DK]=Bekendtgørelse Tjeneste
Name[da]=Beskedtjeneste
Name[cs_CZ]=Oznamovací démon
Name[cs]=Oznamovací démon
Name[ar]=بريمج الإشعارات
