[Desktop Entry]
Type=Application
Version=1.0
Name=XScreenSaver
TryExec=xscreensaver
Exec=xscreensaver -no-splash
OnlyShowIn=LXQt;

Name[zh_TW]=螢幕保護程式
Name[zh_CN]=屏保
Name[uk]=XScreenSaver
Name[tr]=XScreenSaver
Name[th_TH]=โปรแกรมรักษาหน้าจอของX
Name[sr@latin]=Iks-ČuvarEkrana
Name[sr]=Икс-ЧуварЕкрана
Name[sl]=XScreenSaver
Name[ru_RU]=XScreenSaver
Name[ru]=XэкранCпаситель
Name[ro_RO]=XScreenSaver
Name[pt_BR]=XScreenSaver
Name[pt]=Proteção de ecrã
Name[pl_PL]=XScreenSaver
Name[nl]=X-schermbeveiliging
Name[lt]=XScreenSaver
Name[ja]=Xスクリーンセーバ
Name[it_IT]=XScreenSaver
Name[id_ID]=XScreenSaver
Name[fr_FR]=XScreenSaver
Name[fi]=XScreenSaver
Name[eu]=XScreenSaver
Name[es_VE]=XScreenSaver
Name[es]=XScreenSaver
Name[eo]=XEkranKurteno
Name[el_GR]=ΠροφύλαξηOθόνηςΧ
Name[de_DE]=XScreenSaver
Name[da_DK]=XScreenSaver
Name[da]=Pauseskærm
Name[cs_CZ]=Šetřič obrazovky
Name[cs]=Šetřič obrazovky
Name[ar]=حافظ الشَّاشة
