[Desktop Entry]
Version=1.0
Name=Text Editor Settings
Name[bg]=Настройки на текстовия редактор
Name[de]=Textbearbeitungs-Einstellungen
Name[es]=Configuración del editor de texto
Name[et]=Tekstiredaktori seadistused
Name[eu]=Testu editorearen ezarpenak
Name[gl]=Configuración do editor de texto
Name[it]=Impostazioni dell'editor di testo
Name[ja]=テキストエディター設定
Name[lt]=Tekstų redaktoriaus nustatymai
Name[nb]=Oppsett av tekstprogram
Name[pt]=Definições do Editor de texto
Name[pt_BR]=Configurações do Editor de Texto
Name[sq]=Rregullime Përpunuesi Tekstesh
Name[sv]=Textredigerare inställningar
Name[zh_CN]=文本编辑器设置
Name[zh_TW]=文字編輯器設定
Comment=Configure the Mousepad text editor
Comment[bg]=Конфигуриране на текстовият редактор Mousepad
Comment[de]=Konfiguration der Mousepad-Textbearbeitung
Comment[es]=Configurar el editor de texto Mousepad
Comment[et]=Seadista tekstiredaktorit Mousepad
Comment[eu]=Mousepad testu editorea konfiguratu
Comment[gl]=Configurar o editor de texto Mousepad
Comment[it]=Configura l'editor di testo Mousepad
Comment[ja]=Mousepad テキストエディターを設定します
Comment[lt]=Konfigūruoti Mousepad tekstų redaktorių
Comment[nb]=Sett opp tekstprogrammet Mousepad
Comment[pt]=Configurar o editor de texto Mousepad
Comment[sq]=Formësoni përpunuesin e teksteve Mousepad
Comment[sv]=Ställ in Mousepad textredigerare 
Comment[zh_CN]=配置 Mousepad  文本编辑器
Comment[zh_TW]=設定 Mousepad 文字編輯器
Exec=mousepad --preferences
Icon=org.xfce.mousepad
Terminal=false
Type=Application
Categories=XFCE;GTK;Settings;DesktopSettings;X-XFCE-SettingsDialog;X-XFCE-PersonalSettings;
StartupNotify=true
NotShowIn=GNOME;
