[Desktop Entry]
Version=1.0
Name=Clipboard Manager Settings
Name[bg]=Настройки на мениджъра на системния буфер
Name[da]=Indstillinger for udklipsholderhåndtering
Name[de]=Zwischenablage Diensteinstellungen
Name[es]=Ajustes del administrador del portapapeles
Name[fr]=Paramètres du gestionnaire de presse-papiers
Name[it]=Impostazioni del gestore degli appunti
Name[ja]=クリップボードマネージャー設定
Name[nb]=Utklippstavlebehandlerens innstillinger
Name[nl]=Instellingen van Klembordbeheer
Name[pl]=Ustawienia Menedżera schowka
Name[pt]=Definições do gestor de área de transferência
Name[sq]=Rregullime Përgjegjësi të Papastre
Comment=Customize your clipboard
Comment[bg]=Персонализирайте вашият системен буфер
Comment[da]=Tilpas din udklipsholder
Comment[de]=Anpassen der Zwischenablage
Comment[es]=Personaliza tu portapapeles
Comment[fr]=Personnaliser votre presse-papiers
Comment[it]=Personalizza i tuoi appunti
Comment[ja]=クリップボードのカスタマイズ
Comment[nb]=Tilpass utklippstavla
Comment[nl]=Pas uw klembord aan
Comment[pl]=Dostosowywanie schowka
Comment[pt]=Personalize a sua área de transferência
Comment[sq]=Përshtatni të papastrën tuaj
Exec=xfce4-clipman-settings
Icon=xfce4-clipman-plugin
Terminal=false
StartupNotify=true
Type=Application
OnlyShowIn=XFCE;
Categories=XFCE;GTK;Settings;DesktopSettings;X-XFCE-SettingsDialog;X-XFCE-PersonalSettings;
X-XfcePluggable=true
X-XfceHelpComponent=clipman
X-XfceHelpPage=start
