[Desktop Entry]
Type=Application
Name=Cinnamon Settings Daemon - smartcard
Exec=/usr/libexec/csd-smartcard
OnlyShowIn=X-Cinnamon;
NoDisplay=true
X-GNOME-Autostart-Phase=Initialization
X-GNOME-Autostart-Notify=true
X-GNOME-AutoRestart=true
