[Desktop Entry]
Version=1.0
Name=Xfce Terminal
Comment=Terminal Emulator
Comment[pt_BR]=Emulador de terminal
GenericName=Terminal Emulator
GenericName[pt_BR]=Emulador de terminal
Exec=xfce4-terminal
Icon=utilities-terminal
Terminal=false
Type=Application
Categories=GTK;System;TerminalEmulator;
StartupNotify=true
