[Desktop Entry]
Type=Application
Version=1.0
Name=Bluetooth Device
Name[am]=የ ብሉቱዝ አካል
Name[ar]=جهاز بلوتوث
Name[be]=Bluetooth-прылада
Name[bg]=Bluetooth устройсто
Name[da]=Bluetooth-enhed
Name[de]=Bluetooth-Gerät
Name[el]=Συσκευή Bluetooth
Name[en_AU]=Bluetooth Device
Name[en_GB]=Bluetooth Device
Name[es]=Dispositivo Bluetooth
Name[fr]=Périphérique Bluetooth
Name[hr]=Bluetooth uređaj
Name[hu]=Bluetooth eszköz
Name[id]=Perangkat Bluetooth
Name[it]=Dispositivo Bluetooth
Name[ko]=블루투스 장치
Name[lt]=Bluetooth Įrenginys
Name[lv]=Bluetooth Iekārta
Name[ms]=Peranti Bluetooth
Name[nb]=Blåtanns-enhet
Name[nl]=Bluetooth-apparaat
Name[pl]=Urządzenie Bluetooth
Name[pt]=Dispositivo Bluetooth
Name[ro]=Dispozitiv Bluetooth
Name[ru]=Устройство Bluetooth
Name[sr]=Блутут уређај
Name[tr]=Bluetooth Aygıtı
Name[uk]=Пристрій Bluetooth
Name[zh_CN]=蓝牙设备
Name[zh_TW]=藍牙裝置
Icon=blueman
Exec=blueman-sendto %F
