[Desktop Entry]
Version=1.0
Name=Default Applications
Name[be]=Прадвызначаныя праграмы
Name[be@tarask]=Змоўчныя дастасаваньні
Name[bg]=Стандартни програми
Name[ca]=Aplicacions predeterminades
Name[cs]=Výchozí aplikace
Name[da]=Standardprogrammer
Name[de]=Standardanwendungen
Name[es]=Aplicaciones predeterminadas
Name[eu]=Lehenetsitako aplikazioak
Name[fi]=Oletussovellukset
Name[fr]=Applications par défaut
Name[gl]=Aplicacións predeterminadas
Name[he]=ישומי ברירת מחדל
Name[hr]=Zadani programi
Name[id]=Aplikasi Baku
Name[it]=Applicazioni predefinite
Name[ja]=デフォルトアプリケーション
Name[kk]=Бастапқы қолданбалар
Name[lt]=Numatytosios programos
Name[nb]=Forvalgte programmer
Name[nl]=Standaardtoepassingen
Name[oc]=Aplicacions per defaut
Name[pl]=Domyślne programy
Name[pt]=Aplicações predefinidas
Name[pt_BR]=Aplicativos padrão
Name[ru]=Приложения по умолчанию
Name[sk]=Predvolené aplikácie
Name[sl]=Privzete aplikacije
Name[sq]=Aplikacione Parazgjedhje
Name[sr]=Подразумевани програми
Name[sv]=Standardprogram
Name[tr]=Öntanımlı Uygulamalar
Name[uk]=Типові програми
Name[zh_CN]=默认应用程序
Name[zh_TW]=預設應用程式
Comment=Associate preferred applications with MIME types
Comment[be]=Звязвае праграмы з тыпамі MIME
Comment[be@tarask]=Зьвязаць пераважныя дастасаваньні MIME-тыпамі
Comment[bg]=Обвързване на предпочитани програми с MIME типове
Comment[ca]=Associeu les aplicacions preferides amb els tipus MIME
Comment[cs]=Asociujte upřednostňované aplikace s typy MIME
Comment[da]=Tilknyt foretrukne programmer med MIME-typer
Comment[de]=Bevorzugte Anwendungen mit MIME-Typen verknüpfen
Comment[es]=Asociar aplicaciones preferidas con tipos MIME
Comment[eu]=Lotu hobetsitako MIME motak aplikazioekin.
Comment[fr]=Associer les applications préférées aux types MIME
Comment[gl]=Asocia as aplicacións preferidas con tipos MIME
Comment[he]=קשר ישומים מועדפים עם סוגי MIME 
Comment[hr]=Poveži aplikacije s MIME tipovima
Comment[id]=Asosiasikan aplikasi yang disukai dengan tipe MIME
Comment[it]=Associa le applicazioni preferite con i tipi MIME
Comment[ja]=MIME タイプにお気に入りのアプリケーションを割り当てます
Comment[kk]=Таңдамалы қолданбаларды MIME түрлерімен сәйкестендіру
Comment[lt]=Susieti pageidaujamas programas su MIME tipais
Comment[nb]=Tilknytt foretrukne programmer med MIME-typer
Comment[nl]=Koppel voorkeurstoepassingen aan bestandssoorten (MIME-typen)
Comment[pl]=Powiązuje typy MIME z preferowanymi programami
Comment[pt]=Associar aplicações preferidas com tipos de MIME
Comment[pt_BR]=Associa aplicativos preferidos aos tipos MIME
Comment[ru]=Связать предпочитаемые приложения с MIME-типами 
Comment[sk]=Priradenie uprednostňovaných aplikácií k typom MIME
Comment[sl]=Poveži prednostne aplikacije z MIME vrstami
Comment[sq]=Përshoqëroni aplikacione të parapëlqyer me lloje MIME
Comment[sr]=Придружите омиљене програме МИМЕ врстама
Comment[sv]=Associera föredragna program med MIME-typer
Comment[tr]=Yeğlenen uygulamaları MIME türleriyle ilişkilendirin
Comment[uk]=Асоціювати програми з відповідними типами MIME
Comment[zh_CN]=首选应用程序与 MIME 类型绑定
Comment[zh_TW]=將偏好的應用程式與 MIME 類型關聯
Keywords=file;type;extension;association;open with;web browser;mail reader;file manager;terminal emulator;
Keywords[be]=файл;тып;пашырэнне;асацыяцыя;адкрыць у;вэб-браўзер;паштовы кліент;кіраўнік файлаў;эмулятар тэрмінала;
Keywords[be@tarask]=файл;тып;пашырэньне;асацыяцыя;адчыніць з дапамогай;гартач сеціва;чытач пошты;файлавы кіраўнік;эмулятар тэрміналу;
Keywords[bg]=файл;тип;разширение;асоциация;отваряне с;уеб браузър;четец на поща;файлове мениджър;терминален емулатор;
Keywords[ca]=fitxer;tipus;extensió;associació;obre;amb;navegador;web;lector;correu;gestor;;emulador;terminal;
Keywords[cs]=soubor;typ;přípona;asociace;otevřít v programu;webový prohlížeč;poštovní klient;správce souborů;emulátor terminálu;
Keywords[da]=fil;type;endelse;tilknytning;åbn med;webbrowser;postlæser;filhåndtering;terminalemulator;
Keywords[de]=Datei;Typ;Erweiterung;Zuordnung;öffnen mit;Webbrowser;Mailreader;Dateimanager;Terminalemulator;
Keywords[es]=archivo;tipo;extensión;asociación;abrir con;navegador web;lector de correo;administrador de archivos;emulador de terminal;
Keywords[eu]=fitxategia;mota;luzapena;lotura;ireki honekin;web nabigatzailea;posta bezeroa;fitxategi kudeatzailea;terminal emuladorea;
Keywords[fr]=fichier;type;extension;association;ouvrir avec;navigateur web;lecteur de courrier;gestionnaire de fichiers;émulateur de terminal;
Keywords[gl]=ficheiro;tipo;extensión;asociación;abrir con;navegador web;lector de correo;xestor de ficheiros;emulador de terminal;preferido;predeterminado;por defecto
Keywords[he]=file;type;extension;association;open with;web browser;mail reader;file manager;terminal emulator;
Keywords[id]=berkas;tipe;ekstensi;asosiasi;buka dengan;peramban web;pembaca surel;manajer berkas;emulator terminal;
Keywords[it]=file;type;extension;association;open with;web browser;mail reader;file manager;terminal emulator;
Keywords[ja]=ファイル;タイプ;拡張子;関連付け;開く;ウェブブラウザー;メーラー;ファイルマネージャー;ターミナルエミュレーター; 
Keywords[kk]=file;type;extension;association;open with;web browser;mail reader;file manager;terminal emulator;файл;түрі;кеңейту;сәйкестілік;көмегімен ашу;веб браузері;пошта қолданбасы;файлдар басқарушысы;терминал эмуляторы;
Keywords[lt]=failas;failų;failu;tipas;failo;tipai;plėtinys;prievardis;susiejimas;sąsaja;sąsajos;sasajos;pletinys;sasaja;atverti naudojant;atverti su;saityno naršyklė;saityno narsykle;žiniatinklio naršyklė;ziniatinklio narsykle;pašto skaitytuvė;pasto skaitytuve;pašto skaitytuvas;pasto skaitytuvas;pašto programa;pasto programa;failų tvarkytuvė;failu tvarkytuve;failų tvarkyklė;failu tvarkykle;failų naršyklė;failu narsykle;terminalas;terminalo emuliatorius;
Keywords[nb]=filtype;etternavn;utvidelse;assosiering;åpne med;nettleser;e-postleser;filbehandler;terminalemulator;
Keywords[nl]=bestand;type;soort;koppeling;openen met;webverkenner;e-mailprogramma;bestandbeheerder;terminalvenster;terminal;
Keywords[pl]=plik;typ;rozszerzenie;skojarzenie;otwieranie przy użyciu;przeglądarka internetowa;czytnik poczty;menedżer plików;emulator terminala;
Keywords[pt]=ficheiro;tipo;extensão;associação;abrir com;navegador web;leitor correio eletónico;gestor de ficheiros;emulador de terminal;
Keywords[pt_BR]=arquivo;tipo;extensão;associação;abrir com;navegador web;cliente de e-mail;gerenciador de arquivos;emulador de terminal;
Keywords[ru]=файл;тип;расширение;ассоциация;связать;открыть с;веб-браузер;почта;почтовая программа;файловый менеджер;терминал;эмулятор терминала;
Keywords[sk]=súbor;typ;prípona;priradenie;otvoriť s;otvoriť pomocou;webový;prehliadač;čítač;pošty;poštový;klient;správca;súborov;emulátor;terminálu;
Keywords[sl]=datoteka;vrsta;končnica;asociacija;odpri z;spletni brksalnik;bralnik pošte;datotečni brslanik;eulator terminala;
Keywords[sq]=kartelë;lloj;zgjatim;përshoqërim;hape me;shfletues;lexues poste;përgjegjës kartelash;emulues terminali;
Keywords[sr]=датотека;врста;проширење;придруживање;отвори помоћу;прегледник веба;читач поште;управник датотека;опонашач терминала;
Keywords[tr]=dosya;tür;uzantı;ilişkilendirme;birlikte aç;web tarayıcısı;posta okuyucu;e-posta okuyucu;eposta okuyucu;dosya yöneticisi; terminal öykünücüsü;uçbirim öykünücüsü;
Keywords[uk]=файл;тип;розширення;асоціація;відкрити в;вебоглядач;поштова програма;керівник файлів;емулятор термінала;
Keywords[zh_CN]=file;type;extension;association;open with;web browser;mail reader;file manager;terminal emulator;文件;类型;扩展;关联;打开方式;网络浏览;邮件阅读;文件管理;终端模拟;
Keywords[zh_TW]=file;type;extension;association;open with;web browser;mail reader;file manager;terminal emulator;
Exec=xfce4-mime-settings
Icon=org.xfce.settings.default-applications
Terminal=false
Type=Application
Categories=XFCE;GTK;Settings;DesktopSettings;X-XFCE-SettingsDialog;X-XFCE-SystemSettings;
StartupNotify=true
OnlyShowIn=XFCE;
X-XfcePluggable=true
