[Desktop Entry]
Version=1.0
Type=Application
Name=Caja-Actions Configuration Tool
Name[cs]=Nástroj nastavení Akce-Caja
Name[de]=Einstellungen für Caja-Aktionen
Name[el]=Εργαλείο ρυθμίσεων ενεργειών Ναυτίλου
Name[es]=Herramienta de configuración de las acciones de Caja
Name[fr]=Outil de configuration de Caja-Actions
Name[it]=Strumento di configurazione delle azioni di Caja
Name[pt_BR]=Ferramenta de configuração de Ações do Caja
Name[sl]=Orodje nastavitev dejanj Cajaa
Name[sr]=Алат подешавања Наутилусових радњи
Name[sr@latin]=Alat podešavanja Cajaovih radnji
Name[sv]=Konfigurationsverktyg för Caja-åtgärder
Comment=Configure items to be added to the Caja context menus
Comment[cs]=Přidat položky, které budou přidány do kontextové nabídky aplikace Caja
Comment[de]=Einträge konfigurieren, um sie zum Kontextmenü von Caja hinzuzufügen
Comment[el]=Ρύθμιση στοιχείων για προσθήκη στα μενού περιεχομένων του Ναυτίλου
Comment[es]=Configure los elementos que van a ser añadidos a los menús contextuales de Caja
Comment[fr]=Configurer les éléments à ajouter aux menus contextuels de Caja
Comment[it]=Configura gli oggetti per aggiungerli al menù contestuale di Caja
Comment[pt_BR]=Configurar itens para ser adicionado aos menus de contexto do Caja
Comment[sl]=Nastavi predmete za dodajanje v vsebinski meni Cajaa
Comment[sr]=Подесите ставке које ће бити додате у приручне изборнике Наутилуса
Comment[sr@latin]=Podesite stavke koje će biti dodate u priručne izbornike Cajaa
Exec=caja-actions-config-tool
Icon=caja-actions
Categories=Settings;DesktopSettings;
StartupNotify=true
