[Desktop Entry]
Name=Run Application
Name[ar]=شغّل تطبيقاً
Name[cs]=Spustit aplikaci
Name[de]=Anwendung ausführen
Name[el]=Εκτέλεση εφαρμογής
Name[en_GB]=Run Application
Name[es]=Ejecutar una aplicación
Name[eu]=Exekutatu aplikazioa
Name[fr]=Lancer une application
Name[gl]=Executar aplicativo
Name[he]=הפעלת יישום
Name[hu]=Alkalmazás futtatása
Name[id]=Jalankan Aplikasi
Name[lt]=Paleisti programą
Name[lv]=Palaist lietotni
Name[nb]=Kjør program
Name[pl]=Uruchom program
Name[pt_BR]=Executar aplicativo
Name[ro]=Rulare aplicație
Name[ru]=Запустить приложение
Name[sk]=Spustiť aplikáciu
Name[sl]=Zaženi program
Name[sr]=Покрени програм
Name[sr@latin]=Pokreni program
Name[sv]=Kör program
Name[zh_CN]=运行应用程序
Comment=Show the "Run Application" dialog
Comment[ar]=أظهر حوار "شغّل تطبيقاً"
Comment[cs]=Zobrazit okno „Spustit aplikaci“
Comment[de]=Dialogfeld »Anwendung ausführen« anzeigen
Comment[el]=Εμφάνιση του διαλόγου "Εκτέλεση εφαρμογής"
Comment[en_GB]=Show the "Run Application" dialogue
Comment[es]=Mostrar el diálogo «Ejecutar una aplicación»
Comment[eu]=Erakutsi "Exekutatu aplikazioa" elkarrizketa-koadroa
Comment[fr]=Affiche la boîte de dialogue « Lancer une application »
Comment[gl]=Mostrar o diálogo "Executar aplicativo"
Comment[he]=הצגת הדו־שיח "הפעלת יישום"
Comment[hu]=Az „Alkalmazás futtatása” ablak megjelenítése
Comment[id]=Tampilkan dialog "Jalankan Aplikasi"
Comment[lt]=Rodyti dialogą „Paleisti programą“
Comment[lv]=Rādīt "Palaist lietotni" dialogu
Comment[nb]=Vis dialogen «Kjør program»
Comment[pl]=Wyświetlenie okna "Uruchom program"
Comment[pt_BR]=Exibir o diálogo "Executar aplicativo "
Comment[ro]=Afișează dialogul „Rulare aplicație”
Comment[ru]=Показать диалог запуска приложений
Comment[sk]=Zobrazuje dialógové okno „Spustiť aplikáciu“
Comment[sl]=Pokaže pogovorno okno "Zaženi program"
Comment[sr]=Прикажи прозорче „Покрени програм“
Comment[sr@latin]=Prikaži prozorče „Pokreni program“
Comment[sv]=Visa dialogrutan "Kör program"
Comment[zh_CN]=显示“运行应用程序”对话框
Exec=/usr/bin/trigger-panel-run-dialog
Terminal=false
Type=Application
Icon=system-run
Hidden=true
Categories=Application;System;
OnlyShowIn=MATE;
StartupNotify=true
