# Service menu to build Porteus modules ( *.xzm files )
# Author: fanthom

[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KonqPopupMenu/Plugin,inode/directory
X-KDE-Priority=TopLevel
Actions=make_porteus_module;

[Desktop Action make_porteus_module]
Name=Build Porteus xzm module
Comment=Create a porteus module from a folder
Name[ru]=Создать модуль
Comment[ru]=Создать из папки модуль для Porteus
Icon=cdr
Exec=/opt/porteus-scripts/context-menu/create-module %f
