[Desktop Entry]
Version=1.0
Icon=gnome-balsa2
Type=X-XFCE-Helper
Name=Balsa
Name[ar]=Balsa
Name[be]=Balsa
Name[be@tarask]=Бальса
Name[bg]=Balsa
Name[bn]=বেলসা
Name[ca]=Balsa
Name[cs]=Balsa
Name[da]=Balsa
Name[de]=Balsa
Name[el]=Balsa
Name[en_AU]=Balsa
Name[en_CA]=Balsa
Name[en_GB]=Balsa
Name[es]=Balsa
Name[et]=Balsa
Name[eu]=Balsa
Name[fi]=Balsa
Name[fr]=Balsa
Name[gl]=Balsa
Name[he]=Balsa
Name[hr]=Balsa
Name[hu]=Balsa
Name[hy_AM]=Balsa
Name[hye]=Balsa
Name[id]=Balsa
Name[ie]=Balsa
Name[is]=Balsa
Name[it]=Balsa
Name[ja]=Balsa
Name[kab]=Balsa
Name[kk]=Balsa
Name[ko]=Balsa
Name[lt]=Balsa
Name[ms]=Balsa
Name[nb]=Balsa
Name[nl]=Balsa
Name[nn]=Balsa
Name[oc]=Balsa
Name[pl]=Balsa
Name[pt]=Balsa
Name[pt_BR]=Balsa
Name[ro]=Balsa
Name[ru]=Balsa
Name[sk]=Balsa
Name[sl]=Balsa
Name[sq]=Balsa
Name[sr]=Балса
Name[sv]=Balsa
Name[th]=Balsa
Name[tr]=Balsa
Name[ug]=Balsa
Name[uk]=Balsa
Name[zh_CN]=Balsa 邮件阅读器
Name[zh_HK]=Balsa
Name[zh_TW]=Balsa
StartupNotify=false
X-XFCE-Binaries=balsa;
X-XFCE-Category=MailReader
X-XFCE-Commands=%B;
X-XFCE-CommandsWithParameter=/usr/lib64/xfce4/xfce4-compose-mail balsa %B "mailto:%s";
