
[Desktop Entry]
Version=1.0
Icon=brave
Type=X-XFCE-Helper
Name=Brave
Name[ar]=بريف
Name[be]=Brave
Name[bg]=Brave
Name[ca]=Brave
Name[cs]=Brave
Name[da]=Brave
Name[de]=Brave
Name[el]=Brave
Name[en_AU]=Brave
Name[en_GB]=Brave
Name[es]=Brave
Name[fi]=Brave
Name[fr]=Brave
Name[gl]=Brave
Name[he]=Brave
Name[hr]=Brave
Name[hu]=Brave
Name[id]=Brave
Name[is]=Brave
Name[it]=Brave
Name[ja]=Brave
Name[kk]=Brave
Name[ko]=브레이브
Name[lt]=Brave
Name[ms]=Brave
Name[nb]=Brave
Name[nl]=Brave
Name[nn]=Brave
Name[pl]=Brave
Name[pt]=Brave
Name[pt_BR]=Brave
Name[ro]=Brave
Name[ru]=Brave
Name[sk]=Brave
Name[sq]=Brave
Name[sr]=Храбар
Name[sv]=Brave
Name[th]=Brave
Name[tr]=Brave
Name[uk]=Brave
Name[zh_CN]=Brave
Name[zh_TW]=Brave
StartupNotify=true
X-XFCE-Binaries=brave;
X-XFCE-Category=WebBrowser
X-XFCE-Commands=%B;
X-XFCE-CommandsWithParameter=%B "%s";
