[Desktop Entry]
Version=1.0
Icon=web-browser
Type=X-XFCE-Helper
Name=Epiphany Web Browser
Name[ar]=متصفّح الوِب إبِفَني
Name[be]=Вэб-браўзер Epiphany
Name[bg]=Epiphany Уеб браузър
Name[bn]=এপিফেনি ওয়েব ব্রাউজার
Name[ca]=Navegador web Epiphany
Name[cs]=Webový prohlížeč Epiphany
Name[da]=Epiphany Webbrowser
Name[de]=Epiphany
Name[el]=Περιηγητής διαδικτύου Epiphany
Name[en_AU]=Epiphany Web Browser
Name[en_CA]=Epiphany Web Browser
Name[en_GB]=Epiphany Web Browser
Name[es]=Navegador web Epiphany
Name[et]=Epiphany veebibrauser
Name[eu]=Epiphany web nabigatzailea
Name[fi]=Epiphany-verkkoselain
Name[fr]=Navigateur Web Epiphany
Name[gl]=Navegador Web Epiphany
Name[he]=דפדפן רשת Epiphany
Name[hr]=Epiphany web preglednik
Name[hu]=Epiphany webböngésző
Name[hy_AM]=Epiphany զննարկիչ
Name[hye]=Epiphany զննարկիչ
Name[id]=Peramban Web Epiphany
Name[ie]=Navigator Web Epiphany
Name[is]=Epiphany netvafri
Name[it]=Browser web Epiphany
Name[ja]=Epiphany ウェブブラウザー
Name[kab]=Iminig web Epiphany
Name[kk]=Epiphany веб браузері
Name[ko]=에피파니 웹 브라우저
Name[lt]=Epiphany saityno naršyklė
Name[ms]=Pelayar Sesawang Epiphany
Name[nb]=Epiphany nettleser
Name[nl]=Epiphany Webbrowser
Name[nn]=Epiphany nettlesar
Name[oc]=Navigador Web Epiphany
Name[pl]=Epiphany
Name[pt]=Navegador web Epiphany
Name[pt_BR]=Navegador web Epiphany
Name[ro]=Navigatorul Epiphany
Name[ru]=Веб-браузер Epiphany
Name[sk]=Epiphany internetový prehliadač
Name[sl]=Spletni brskalnik Epiphany
Name[sq]=Shfletuesi Epiphany
Name[sr]=Прегледник веба Спознаја
Name[sv]=Webbläsaren Epiphany
Name[th]=โปรแกรมท่องเว็บ Epiphany
Name[tr]=Epiphany Web Tarayıcı
Name[ug]=Epiphany توركۆرگۈ
Name[uk]=Переглядач Web Epiphany
Name[zh_CN]=Epiphany 网络浏览器
Name[zh_HK]=Epiphany 網頁瀏覽器
Name[zh_TW]=Epiphany 網路瀏覽器
StartupNotify=true
X-XFCE-Binaries=epiphany;
X-XFCE-Category=WebBrowser
X-XFCE-Commands=%B;
X-XFCE-CommandsWithParameter=%B "%s";
