[Desktop Entry]
Version=1.0
Icon=kmail
Type=X-XFCE-Helper
Name=KMail
StartupNotify=true
X-XFCE-Binaries=kmail;
X-XFCE-Category=MailReader
X-XFCE-Commands=%B;
X-XFCE-CommandsWithParamter=/usr/lib64/xfce4/exo/exo-compose-mail kmail %B "mailto:%s";
