
[Desktop Entry]
Version=1.0
Type=X-XFCE-Helper
Name=PCManFM-Qt File Manager
Name[be]=Кіраўнік файлаў PCManFM-Qt
Name[bg]=Файлов мениджър PCManFM-Qt
Name[ca]=Gestor de fitxers PCManFM-Qt
Name[cs]=Správce souborů PCManFM-Qt
Name[da]=PCManFM-Qt Filhåndtering
Name[de]=PCManFM-Qt Dateiverwaltung
Name[en_AU]=PCManFM-Qt File Manager
Name[en_GB]=PCManFM-Qt File Manager
Name[es]=Gestor de archivos PCManFM-Qt
Name[fi]=PCManFM-Qt-tiedostonhallinta
Name[fr]=Gestionnaire de fichiers PCManFM-Qt
Name[gl]=Xestor  de ficheiros PCManFM-Qt
Name[he]=מנהל קבצים PCManFM-Qt
Name[hr]=PCManFM-Qt upravitelj datotekama
Name[hu]=PCManFM-Qt fájlkezelő
Name[hy]=PCManFM-Qt նիշք
Name[hy_AM]=PCManFM-Qt նիշք
Name[id]=PCManFM Qt File Manager
Name[ie]=Gerente de files PCManFM-QT
Name[is]=PCManFM-Qt skráastjóri
Name[it]=Gestore dei file PCManFM-Qt
Name[ja]=PCManFM-Qt ファイルマネージャー
Name[kk]=PCManFM-Qt файлдар басқарушысы
Name[ko]=PCManFM-Qt 파일 관리자
Name[lt]=PCManFM-Qt failų tvarkytuvė
Name[ms]=Pengurus Fail PCManFM-Qt
Name[nb]=PCManFM-Qt Filbehandler
Name[nl]=PCManFM-Qt Bestandbeheerder
Name[nn]=PCManFM-Qt filutforskar
Name[pl]=Menedżer plików PCManFM-Qt
Name[pt]=Gestor de ficheiros PCManFM-Qt
Name[pt_BR]=Gerenciador de arquivos PCManFM-Qt
Name[ru]=Файловый менеджер PCManFM-Qt
Name[sl]=PCManFM-Qt File Manager
Name[sq]=Përgjegjësi PCManFM-Qt i Kartelave
Name[sr]=PCManFM-Qt управник датотека
Name[sv]=PCManFM-Qt Filhanterare
Name[th]=โปรแกรมจัดการแฟ้ม PCManFM-Qt
Name[tr]=PCManFM-Qt Dosya Yöneticisi
Name[uk]=Менеджер файлів PCManFM-Qt
Name[zh_CN]=PCManFM-Qt 文件管理器
Name[zh_TW]=PCManFM-Qt 檔案管理員
StartupNotify=true
X-XFCE-Binaries=pcmanfm-qt;
X-XFCE-Category=FileManager
X-XFCE-Commands=%B;
X-XFCE-CommandsWithParameter=%B -n "%s";
