[Desktop Entry]
Version=1.0
Icon=utilities-terminal
Type=X-XFCE-Helper
Name=QTerminal
Name[be]=QTerminal
Name[be@tarask]=К'юТэрмінал
Name[bg]=QTerminal
Name[ca]=QTerminal
Name[cs]=QTerminal
Name[da]=QTerminal
Name[de]=QTerminal
Name[el]=QTerminal
Name[en_AU]=QTerminal
Name[en_CA]=QTerminal
Name[en_GB]=QTerminal
Name[es]=QTerminal
Name[et]=QTerminal
Name[eu]=QTerminal
Name[fi]=QTerminal
Name[fr]=QTerminal
Name[gl]=QTerminal
Name[he]=QTerminal
Name[hr]=QTerminal
Name[hu]=QTerminal
Name[hy_AM]=Q վահանակ
Name[hye]=Q վահանակ
Name[id]=QTerminal
Name[ie]=QTerminal
Name[is]=QTerminal
Name[it]=QTerminal
Name[ja]=QTerminal
Name[kab]=QTerminal
Name[kk]=QTerminal
Name[ko]=QTerminal
Name[lt]=QTerminal
Name[ms]=QTerminal
Name[nb]=QTerminal
Name[nl]=QTerminal
Name[nn]=QTerminal
Name[oc]=QTerminal
Name[pl]=QTerminal
Name[pt]=QTerminal
Name[pt_BR]=QTerminal
Name[ro]=QTerminal
Name[ru]=QTerminal
Name[sk]=QTerminal
Name[sl]=QTerminal
Name[sq]=QTerminal
Name[sr]=Куов терминал
Name[sv]=QTerminal
Name[th]=QTerminal
Name[tr]=QTerminal
Name[uk]=QTerminal
Name[zh_CN]=QTerminal
Name[zh_TW]=QTerminal
StartupNotify=false
X-XFCE-Binaries=qterminal;
X-XFCE-Category=TerminalEmulator
X-XFCE-Commands=%B;
X-XFCE-CommandsWithParameter=%B -e %s;
