[Desktop Entry]
Version=1.0
Icon=terminator
Type=X-XFCE-Helper
Name=Terminator
Name[be]=Terminator
Name[bg]=Терминатор
Name[ca]=Terminator
Name[cs]=Terminator
Name[da]=Terminator
Name[de]=Terminator
Name[el]=Terminator
Name[en_AU]=Terminator
Name[en_CA]=Terminator
Name[en_GB]=Terminator
Name[es]=Terminator
Name[et]=Terminator
Name[eu]=Terminator
Name[fi]=Terminator
Name[fr]=Terminator
Name[gl]=Terminator
Name[he]=מסיים
Name[hr]=Terminator
Name[hu]=Terminator
Name[hy_AM]=Terminator
Name[hye]=Terminator
Name[id]=Terminator
Name[ie]=Terminator
Name[is]=Terminator
Name[it]=Terminator
Name[ja]=Terminator
Name[kab]=Terminator
Name[kk]=Terminator
Name[ko]=터미네이터
Name[lt]=Terminator
Name[ms]=Terminator
Name[nb]=Terminator
Name[nl]=Terminator
Name[nn]=Terminator
Name[oc]=Terminator
Name[pl]=Terminator
Name[pt]=Terminator
Name[pt_BR]=Terminator
Name[ro]=Terminator
Name[ru]=Terminator
Name[sk]=Terminator
Name[sl]=Terminator
Name[sq]=Terminator
Name[sr]=Терминал
Name[sv]=Terminator
Name[th]=Terminator
Name[tr]=Terminator
Name[uk]=Terminator
Name[zh_CN]=Terminator
Name[zh_TW]=終端機
StartupNotify=true
X-XFCE-Binaries=terminator;
X-XFCE-Category=TerminalEmulator
X-XFCE-Commands=%B;
X-XFCE-CommandsWithParameter=%B -x %s;
