[Desktop Entry]
Version=1.0
Icon=terminator
Type=X-XFCE-Helper
Name=Terminator
Name[am]=Terminator
Name[be]=Terminator
Name[bg]=Терминатор
Name[ca]=Terminator
Name[da]=Terminator
Name[de]=Terminator
Name[el]=Terminator
Name[en_AU]=Terminator
Name[en_GB]=Terminator
Name[fi]=Terminator
Name[fr]=Terminator
Name[gl]=Terminator
Name[he]=מסיים
Name[hr]=Terminator
Name[hu]=Terminator
Name[id]=Terminator
Name[is]=Terminator
Name[ja]=Terminator
Name[kk]=Terminator
Name[ko]=터미네이터
Name[lt]=Terminator
Name[ms]=Terminator
Name[nl]=Afmaker
Name[nn]=Terminator
Name[pl]=Terminator
Name[pt]=Terminator
Name[pt_BR]=Terminator
Name[ro]=Terminator
Name[ru]=Terminator
Name[sk]=Terminator
Name[sq]=Terminator
Name[sv]=Terminator
Name[th]=Terminator
Name[tr]=Sonlandırıcı
Name[uk]=Terminator
Name[zh_CN]=Terminator
StartupNotify=true
X-XFCE-Binaries=terminator;
X-XFCE-Category=TerminalEmulator
X-XFCE-Commands=%B;
X-XFCE-CommandsWithParameter=%B -x %s;
