
[Desktop Entry]
Version=1.0
Icon=org.xfce.thunar
Type=X-XFCE-Helper
Name=Thunar
Name[ar]=ثونار
Name[be]=Thunar
Name[be@tarask]=Тунар
Name[bg]=Thunar
Name[bn]=Thunar
Name[ca]=Thunar
Name[cs]=Thunar
Name[da]=Thunar
Name[de]=Thunar
Name[el]=Thunar
Name[en_AU]=Thunar
Name[en_CA]=Thunar
Name[en_GB]=Thunar
Name[es]=Thunar
Name[et]=Thunar
Name[eu]=Thunar
Name[fi]=Thunar
Name[fr]=Thunar
Name[gl]=Thunar
Name[he]=Thunar
Name[hr]=Thunar
Name[hu]=Thunar
Name[hy_AM]=Thunar նիշք
Name[hye]=Thunar նիշք
Name[id]=Thunar
Name[ie]=Thunar
Name[is]=Thunar
Name[it]=Thunar
Name[ja]=Thunar
Name[kab]=Thunar
Name[kk]=Thunar
Name[ko]=투나
Name[lt]=Thunar
Name[ms]=Thunar
Name[nb]=Thunar
Name[nl]=Thunar
Name[nn]=Thunar
Name[oc]=Thunar
Name[pl]=Thunar
Name[pt]=Thunar
Name[pt_BR]=Thunar
Name[ro]=Thunar
Name[ru]=Thunar
Name[sk]=Thunar
Name[sl]=Thunar
Name[sq]=Thunar
Name[sr]=Тунар
Name[sv]=Thunar
Name[th]=Thunar
Name[tr]=Thunar
Name[ug]=سۇنار(Thunar)
Name[uk]=Thunar
Name[zh_CN]=Thunar
Name[zh_HK]=Thunar 檔案管理員
Name[zh_TW]=Thunar 檔案管理員
StartupNotify=true
X-XFCE-Binaries=thunar;
X-XFCE-Category=FileManager
X-XFCE-Commands=%B;
X-XFCE-CommandsWithParameter=%B "%s";
