[Desktop Entry]
Version=1.0
Icon=xfe
Type=X-XFCE-Helper
Name=Xfe File Manager
Name[ar]=مدير الملفات Xfe
Name[ast]=Xestor de ficheros Xfe
Name[be]=Кіраўнік файлаў Xfce
Name[bg]=Файлов мениджър на Xfce
Name[ca]=Gestor de fitxers Xfce
Name[cs]=Správce souborů Xfe
Name[da]=Xfe Filhåndtering
Name[de]=Xfe-Dateiverwaltung
Name[el]=Διαχειριστής αρχείων του Xfce
Name[en_AU]=Xfe File Manager
Name[en_GB]=Xfe File Manager
Name[es]=Gestor de archivos Xfe
Name[et]=Xfe failihaldur
Name[eu]=Xfce Fitxategi kudeatzailea
Name[fi]=Xfe-tiedostonhallinta
Name[fr]=Gestionnaire de fichiers Xfe
Name[gl]=Xestor de ficheiros Xfe
Name[he]=מנהל קבצים Xfe
Name[hr]=Xfe upravitelj datotekama
Name[hu]=Xfe fájlkezelő
Name[hy]=Xfce նիշք
Name[hy_AM]=Xfce նիշք
Name[id]=Manajer Berkas Xfe
Name[ie]=Gerentiator de files Xfe
Name[is]=Xfe skráastjóri
Name[it]=Gestore dei file Xfe
Name[ja]=Xfe File Manager
Name[kk]=Xfe File Manager
Name[kn]=Xfe ಕಡತ ನಿರ್ವಾಹಕ 
Name[ko]=Xfe 파일 관리자
Name[lt]=Xfe failų tvarkytuvė
Name[ms]=Pengurus Fail Xfe
Name[nb]=Xfe Filbehandler
Name[nl]=Xfe bestandbeheerder
Name[nn]=Xfe filutforskar
Name[oc]=Gestionari de fichièrs Xfce
Name[pl]=Menedżer plików Xfe
Name[pt]=Gestor de ficheiros Xfe
Name[pt_BR]=Gerenciador de arquivos do Xfce
Name[ro]=Managerul de fișiere Xfe
Name[ru]=Файловый менеджер Xfce
Name[sk]=Správca súborov Xfe
Name[sl]=Xfce brskalnik datotek
Name[sq]=Përgjegjës Kartelash Xfe
Name[sr]=Управник датотека Иксфе-а
Name[sv]=Filhanteraren Xfe
Name[te]=Xfe దస్త్ర నిర్వాహకం
Name[th]=โปรแกรมจัดการแฟ้ม Xfe
Name[tr]=Xfe Dosya Yöneticisi
Name[ug]=Xfe  ھۆججەت باشقۇرغۇ
Name[uk]=Файловий менеджер Xfe
Name[vi]=Trình quản lý tệp tin Xfce
Name[zh_CN]=Xfe 文件管理器
Name[zh_HK]=Xfe 檔案管理員
Name[zh_TW]=Xfe 檔案管理員
StartupNotify=true
X-XFCE-Binaries=xfe;
X-XFCE-Category=FileManager
X-XFCE-Commands=%B;
X-XFCE-CommandsWithParameter=%B "%s";
