[Desktop Entry]
Version=1
Type=Application
Encoding=UTF-8
Name=Convert deb to xzm...
Icon=cdr
Author=Brokenman
MimeType=application/x-deb
OnlyShowIn=pcmanfm
NoDisplay=true
Exec=/opt/porteus-scripts/context-menu/convert_deb %F
