[Desktop Entry]
Type=Action
Icon[en_US]=/usr/share/icons/hicolor/48x48/apps/usmslackware.png
Icon[en]=/usr/share/icons/hicolor/48x48/apps/usmslackware.png
Icon[C]=/usr/share/icons/hicolor/48x48/apps/usmslackware.png
Tooltip[en_US]=Uninstall a slackware package
Tooltip[en]=Uninstall a slackware package
Tooltip[C]=Uninstall a slackware package
ToolbarLabel[en_US]=Uninstall package
ToolbarLabel[en]=Uninstall package
ToolbarLabel[C]=Uninstall package
Name[en_US]=Uninstall package
Name[en]=Uninstall package
Name[C]=Uninstall package
Profiles=profile-zero;

[X-Action-Profile profile-zero]
Basenames=*.tgz;*.txz;
Exec=/opt/porteus-scripts/context-menu/remove-slack %F
Name[en_US]=Uninstall package
Name[en]=Uninstall package
Name[C]=Uninstall package
