[Desktop Entry]
Name=Great Little Radio Player
Comment=Robust internet radio station streamer.
Exec=/opt/glrp/GreatLittleRadioPlayer
Terminal=false
Version=1.4.5
Type=Application
StartupNotify=true
Icon=/opt/glrp/glrp.svg
Categories=Qt;Audio;Music;Player;AudioVideo;Video;Network;X-MandrivaLinux-Multimedia-Sound;
Name[en_US]=Great Little Radio Player
GenericName[en]=Great Little Radio Player
GenericName[en_GB]=Great Little Radio Player
GenericName[en_ZA]=Great Little Radio Player
GenericName[hr]=Sjajan mali radio plejer
GenericName[sr]=Сјајан мали радио плејер
GenericName[fr]=Great Little Radio Player
Comment[en]=Robust internet radio station streamer.
Comment[en_US]=Robust internet radio station streamer.
Comment[en_GB]=Robust internet radio station streamer.
Comment[en_ZA]=Robust internet radio station streamer.
Comment[hr]=Moćan srimer internet radio stanica .
Comment[sr]=Моћан стример интернет радио станица.
Comment[fr]=Un lecteur robuste de web-radios.
