<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE policyconfig PUBLIC
"-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
"http://www.freedesktop.org/standards/PolicyKit/1.0/policyconfig.dtd">
<policyconfig>
   <action id="org.kde.nepomuk.filewatch.raiselimit" >
      <description xml:lang="ia">Limite de guardia de dossier</description>
      <description xml:lang="hu">Mappafigyelési korlát</description>
      <description xml:lang="zh_CN">文件夹监视限制</description>
      <description xml:lang="kk">Бақылайтын қапшықтар шегі</description>
      <description xml:lang="fr">Limite de surveillance des dossiers</description>
      <description xml:lang="nb">Grense for mappeovervåking</description>
      <description xml:lang="tr">Klasör İzleme Sınırı</description>
      <description xml:lang="ko">폴더 감시 제한</description>
      <description xml:lang="ro">Limita de urmărire a dosarelor</description>
      <description xml:lang="pl">Ograniczenie obserwowania katalogu</description>
      <description xml:lang="ug">قىسقۇچ كۆرۈش چەكلىمىسى</description>
      <description xml:lang="ca">Límit de vigilància de carpetes</description>
      <description xml:lang="nds">Orner-Beluergrenz</description>
      <description xml:lang="gl">Límite de vixilancia do cartafol</description>
      <description xml:lang="ru">Предел наблюдаемых папок</description>
      <description xml:lang="bs">Ograničenje praćenja direktorija</description>
      <description xml:lang="nl">Limiet op bewaakte mappen</description>
      <description xml:lang="uk">Обмеження щодо нагляду за теками</description>
      <description xml:lang="it">Limite di osservazione delle cartelle</description>
      <description xml:lang="pt">Limite de Monitorização de Pastas</description>
      <description xml:lang="el">Όριο παρακολούθησης φακέλων</description>
      <description xml:lang="sk">Limit sledovania priečinka</description>
      <description>Folder Watch Limit</description>
      <description xml:lang="en_GB">Folder Watch Limit</description>
      <description xml:lang="sl">Omejitev opazovanih map</description>
      <description xml:lang="zh_TW">資料夾監看限制</description>
      <description xml:lang="es">Límite de vigilancia de carpetas</description>
      <description xml:lang="et">Kataloogi jälgimise limiit</description>
      <description xml:lang="pt_BR">Limite de monitoramento de pastas</description>
      <description xml:lang="sr">Ограничење надгледања фасцикли</description>
      <description xml:lang="da">Grænse for mappeovervågning</description>
      <description xml:lang="cs">Limit sledovaných složek</description>
      <description xml:lang="sv">Övervakningsgräns för kataloger</description>
      <description xml:lang="fi">Kansioiden valvontaraja</description>
      <description xml:lang="de">Begrenzung für Ordnerüberwachung</description>
      <message xml:lang="ia"></message>
      <message xml:lang="hu">A fájlváltoztatások hiányzásának elkerülése érdekében növelje a mappafigyelési korlátot</message>
      <message xml:lang="zh_CN">为了避免丢失文件修改，请提升目录监视限制</message>
      <message xml:lang="kk">Файл өзгерістерін жоғалтпау үшін бақылайтын қапшықтар шегін көтеру</message>
      <message xml:lang="fr"></message>
      <message xml:lang="nb">For å få med alle filendringer kan grensa for mappeovervåking økes</message>
      <message xml:lang="tr"></message>
      <message xml:lang="ko">파일 변경 사항을 놓치지 않으려면 폴더 감시 제한을 높이십시오</message>
      <message xml:lang="ro"></message>
      <message xml:lang="pl"></message>
      <message xml:lang="ug">يوقالغان ھۆججەت ئۆزگىرىشىدىن ساقلىنىش ئۈچۈن، قىسقۇچ كۆرۈش چەكلىمىسىنى ئۆستۈرىدۇ</message>
      <message xml:lang="ca"></message>
      <message xml:lang="nds"></message>
      <message xml:lang="gl"></message>
      <message xml:lang="ru"></message>
      <message xml:lang="bs"></message>
      <message xml:lang="nl">Om wijzigingen in bestanden niet te missen vergroot u de limiet op bewaakte mappen</message>
      <message xml:lang="uk"></message>
      <message xml:lang="it"></message>
      <message xml:lang="pt"></message>
      <message xml:lang="el"></message>
      <message xml:lang="sk"></message>
      <message></message>
      <message xml:lang="en_GB"></message>
      <message xml:lang="sl"></message>
      <message xml:lang="zh_TW">避免遺失檔案變更，您可以提高資料夾監看限制</message>
      <message xml:lang="es"></message>
      <message xml:lang="et">Puuduvate failimuutuste vältimiseks tõsta kataloogi jälgimise limiiti</message>
      <message xml:lang="pt_BR"></message>
      <message xml:lang="sr">Веће ограничење надгледања фасцикли избегава пропуштене измене фајлова</message>
      <message xml:lang="da">Hæv mappeovervågningsgrænsen for at undgå at gå glip af filændringer</message>
      <message xml:lang="cs"></message>
      <message xml:lang="sv"></message>
      <message xml:lang="fi"></message>
      <message xml:lang="de"></message>
      <defaults>
         <allow_inactive>no</allow_inactive>
         <allow_active>auth_admin_keep</allow_active>
      </defaults>
   </action>
</policyconfig>
