<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE policyconfig PUBLIC
"-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
"http://www.freedesktop.org/standards/PolicyKit/1.0/policyconfig.dtd">
<policyconfig>
<vendor>Document Actions</vendor>
   <action id="org.kde.ktexteditor.katetextbuffer.savefile" >
      <description xml:lang="Name">Save Document</description>
      <description xml:lang="Name[ar]">احفظ المستند</description>
      <description xml:lang="Name[ca]">Desa el document</description>
      <description xml:lang="Name[cs]">Uložit dokument</description>
      <description xml:lang="Name[da]">Gem dokument</description>
      <description xml:lang="Name[de]">Dokument speichern</description>
      <description xml:lang="Name[el]">Αποθήκευση εγγράφου</description>
      <description xml:lang="Name[en_GB]">Save Document</description>
      <description xml:lang="Name[es]">Guardar documento</description>
      <description xml:lang="Name[et]">Dokumendi salvestamine</description>
      <description xml:lang="Name[eu]">Gorde dokumentua</description>
      <description xml:lang="Name[fi]">Tallenna tiedosto</description>
      <description xml:lang="Name[fr]">Enregistrer le document</description>
      <description xml:lang="Name[gl]">Gardar o documento</description>
      <description xml:lang="Name[hu]">Dokumentum mentése</description>
      <description xml:lang="Name[ia]">Salveguarda documento</description>
      <description xml:lang="Name[id]">Simpan Dokumen</description>
      <description xml:lang="Name[it]">Salva documento</description>
      <description xml:lang="Name[ko]">문서 저장</description>
      <description xml:lang="Name[lt]">Įrašyti dokumentą</description>
      <description xml:lang="Name[nl]">Document opslaan</description>
      <description xml:lang="Name[nn]">Lagra dokument</description>
      <description xml:lang="Name[pl]">Zapisz dokument</description>
      <description xml:lang="Name[pt]">Gravar o Documento</description>
      <description xml:lang="Name[pt_BR]">Salvar documento</description>
      <description xml:lang="Name[ru]">Сохранение документа</description>
      <description xml:lang="Name[sk]">Uložiť dokument</description>
      <description xml:lang="Name[sl]">Shrani dokument</description>
      <description xml:lang="Name[sr]">Сачувај документ</description>
      <description xml:lang="Name[sv]">Spara dokument</description>
      <description xml:lang="Name[tg]">Нигоҳ доштани ҳуҷҷат</description>
      <description xml:lang="Name[tr]">Belgeyi Kaydet</description>
      <description xml:lang="Name[uk]">Зберегти документ</description>
      <description xml:lang="Name[zh_CN]">保存文档</description>
      <description xml:lang="Name[zh_TW]">儲存文件</description>
      <message xml:lang="Description">Root privileges are needed to save this document</message>
      <message xml:lang="Description[ar]">مزايا الجذر مطلوبة لحفظ هذا المستند</message>
      <message xml:lang="Description[ca]">Es requereixen privilegis d'administrador per desar aquest document</message>
      <message xml:lang="Description[cs]">K uložení dokumentu je potřeba práva uživatele root</message>
      <message xml:lang="Description[da]">Root-rettigheder kræves for at gemme dette dokument</message>
      <message xml:lang="Description[de]">Rechte als Systemverwalter sind für das Speichern dieses Dokuments erforderlich</message>
      <message xml:lang="Description[el]">Απαιτούνται δικαιώματα διαχειριστή (root) για την αποθήκευση αυτού του εγγράφου</message>
      <message xml:lang="Description[en_GB]">Root privileges are needed to save this document</message>
      <message xml:lang="Description[es]">Se necesitan permisos de «root» para guardar este documento</message>
      <message xml:lang="Description[et]">Selle dokumendi salvestamiseks on vaja administraatori õigusi</message>
      <message xml:lang="Description[eu]">Root pribilegioak behar dira dokumentu hau gordetzeko</message>
      <message xml:lang="Description[fi]">Tämän tiedoston tallentamiseen tarvitaan pääkäyttäjän oikeudet</message>
      <message xml:lang="Description[fr]">Vous devez disposer des privilèges de superutilisateur pour enregistrer ce document</message>
      <message xml:lang="Description[gl]">Necesítanse privilexios de administrador para gardar este documento.</message>
      <message xml:lang="Description[hu]">A dokumentum mentéséhez root jogosultság szükséges</message>
      <message xml:lang="Description[ia]">Privilegios de radice root es necessari per salveguardar iste documento</message>
      <message xml:lang="Description[id]">Hak istimewa root diperlukan untuk menyimpan dokumen ini</message>
      <message xml:lang="Description[it]">Sono necessari i privilegi di root per salvare questo documento</message>
      <message xml:lang="Description[ko]">이 문서를 저장하려면 루트 권한이 필요함</message>
      <message xml:lang="Description[lt]"></message>
      <message xml:lang="Description[nl]">Om dit document op te slaan zijn root-rechten nodig</message>
      <message xml:lang="Description[nn]">Du må ha rotløyve for å kunna lagra dokumentet</message>
      <message xml:lang="Description[pl]">Wymagane są uprawnienia administratora do zapisania tego dokumentu</message>
      <message xml:lang="Description[pt]">São necessários privilégios de 'root' para gravar este documento</message>
      <message xml:lang="Description[pt_BR]">São necessários privilégios de root para salvar este documento</message>
      <message xml:lang="Description[ru]">Для сохранения этого документа необходимы права администратора</message>
      <message xml:lang="Description[sk]">Oprávnenia root-a sú potrebné na uloženie tohoto dokumentu</message>
      <message xml:lang="Description[sl]">Za shranjevanje tega dokumenta so zahtevana skrbniška dovoljenja</message>
      <message xml:lang="Description[sr]">Уписивање овог документа захтева корена овлашћења</message>
      <message xml:lang="Description[sv]">Systemadministratörsprivilegier krävs för att spara dokumentet</message>
      <message xml:lang="Description[tg]">Барои нигоҳ доштани ҳуҷҷат имтиёзҳои маъмурӣ лозиманд</message>
      <message xml:lang="Description[tr]">Bu belgeyi kaydetmek için yönetici ayrıcalıkları gereklidir</message>
      <message xml:lang="Description[uk]">Для збереження документа потрібні права доступу користувача root</message>
      <message xml:lang="Description[zh_CN]">保存文档需要超级用户权限</message>
      <message xml:lang="Description[zh_TW]">需要 root 權限以儲存此文件</message>
      <defaults>
         <allow_inactive>no</allow_inactive>
         <allow_active>auth_admin</allow_active>
      </defaults>
   </action>
</policyconfig>
