[Desktop Entry]
Exec=psu /opt/porteus-scripts/deactivate %F
MimeType=application/x-xzm;
Name=Deactivate...
Name[ru]=Деактивировать
Name[ru]=Деактивировать модуль...
NoDisplay=true
Icon=cdr
Type=Application
