[Desktop Entry]
Name=Icon Browser
Name[ru]=Браузер иконок
Comment=An application that shows themed icons
Exec=gtk3-icon-browser
Terminal=false
Type=Application
StartupNotify=true
Categories=Development;GTK;
NoDisplay=true
