[Desktop Entry]
Name=Vbox builder
Exec=/opt/porteus-scripts/update-vbox
Icon=/usr/share/pixmaps/porteus/vbox.png
Type=Application
Categories=Application;System;
