[KdmGreeterTheme]
Greeter=EOSMania.xml
Name=EOS Mania
Description=Theme based on Fedora 10 artwork and the EOS wallpaper
Author=Jaroslav Reznik, Than Ngo, Kevin Kofler, Mathias Panzenböck
Copyright=(c) 2008 Jaroslav Reznik, Than Ngo, Kevin Kofler, Mathias Panzenböck
Screenshot=screenshot.png
