[Desktop Entry]
Name=Screen Saver Switch
Name[fr]=Commutateur de l'économiseur d'écran
Comment=Lets you quickly enable or disable the screen saver
Comment[fr]=Autorise ou non le démarrage de l'économiseur d'écran
Type=Service
Icon=preferences-desktop-screensaver
ServiceTypes=Plasma/Applet

X-KDE-Library=plasma_applet_screensaverswitch
X-KDE-PluginInfo-Author=F.Schneider
X-KDE-PluginInfo-Email=fschneider.code@gmail.com
X-KDE-PluginInfo-Name=screensaverswitch
X-KDE-PluginInfo-Version=0.2
X-KDE-PluginInfo-Website=http://www.kde-look.org
X-KDE-PluginInfo-Category=Windows and Tasks
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
