[Desktop Entry]
Name=Kepas
Name[x-test]=xxKepasxx
Exec=kepastray
Icon=kepas
Type=Application
Terminal=false
Categories=Qt;KDE;Network;FileTransfer;
GenericName=Kepas - KDE Easy Publish and Share
Comment=Kepas - KDE Easy Publish and Share
Comment[be]=Kepas - проста апублікаваць і падзяліцца
Comment[el]=Kepas - Εύκολη δημοσίευση και μοίρασμα για το KDE
Comment[es]=Kepas - Sencillo sistema para publicar y compartir para KDE
Comment[et]=Kepas - KDE lihtne avaldamine ja jagamine
Comment[fr]=Kepas - Publier et partager facilement avec KDE
Comment[ga]=Kepas - "KDE Easy Publish and Share"
Comment[gl]=Kepas - Publicación e compartición sinxela para KDE
Comment[km]=Kepas - ងាយស្រួល​កែខៃ និង​ចែករំលែក​របស់ KDE
Comment[ms]=Kepas - Mudah Terbit dan Kongsi dalam KDE
Comment[nds]=Kepas - KDE Easy Publish and Share (Eenfach apen maken un delen)
Comment[nn]=Enkel publisering og fildeling
Comment[pt]=Kepas - Publicação e Partilha Simples no KDE
Comment[pt_BR]=Kepas - Fácil publicação e compartilhamento do KDE
Comment[sv]=Kepas - publicera och dela enkelt i KDE
Comment[th]=Kepas - เผยแพร่และแบ่งปัน
Comment[tr]=Kepas - KDE Kolay Yayınlama ve Paylaşım
Comment[uk]=Kepas - KDE Easy Publish and Share (Легка публікація і оприлюднення для KDE)
Comment[x-test]=xxKepas - KDE Easy Publish and Sharexx
X-DBUS-StartupType=Unique
X-KDE-StartupNotify=false
