[Desktop Entry]
Type=Action
Icon[en_US]=/usr/share/icons/hicolor/48x48/apps/usmslackware.png
Icon[en]=/usr/share/icons/hicolor/48x48/apps/usmslackware.png
Icon[C]=/usr/share/icons/hicolor/48x48/apps/usmslackware.png
Tooltip[en_US]=Convert a slackware package to a Porteus module
Tooltip[en]=Convert a slackware package to a Porteus module
Tooltip[C]=Convert a slackware package to a Porteus module
ToolbarLabel[en_US]=Convert slackware package
ToolbarLabel[en]=Convert slackware package
ToolbarLabel[C]=Convert slackware package
Name[en_US]=Convert slackware package
Name[en]=Convert slackware package
Name[C]=Convert slackware package
Profiles=profile-zero;

[X-Action-Profile profile-zero]
Basenames=*.tgz;*.txz;
Exec=/opt/porteus-scripts/context-menu/convert_txz %F
Name[en_US]=txz2xzm
Name[en]=txz2xzm
Name[C]=txz2xzm
