[Desktop Entry]
Type=Action
Icon[en_US]=gcr-key
Icon[en]=gcr-key
Icon[C]=gcr-key
Tooltip[en_US]=Get md5sum for the file
Tooltip[en]=Get md5sum for the file
Tooltip[C]=Get md5sum for the file
ToolbarLabel[en_US]=Get md5sum
ToolbarLabel[en]=Get md5sum
ToolbarLabel[C]=Get md5sum
Name[en_US]=Get md5sum
Name[en]=Get md5sum
Name[C]=Get md5sum
Profiles=profile-zero;

[X-Action-Profile profile-zero]
ExecutionMode=DisplayOutput
Exec=md5sum %f | awk '{print$1}'
Name[en_US]=md5sum
Name[en]=md5sum
Name[C]=md5sum
