[Desktop Entry]
Type=Action
Icon[en_US]=/usr/share/icons/hicolor/48x48/apps/usmslackware.png
Icon[en]=/usr/share/icons/hicolor/48x48/apps/usmslackware.png
Icon[C]=/usr/share/icons/hicolor/48x48/apps/usmslackware.png
Tooltip[en_US]=Install a slackware package
Tooltip[en]=Install a slackware package
Tooltip[C]=Install a slackware package
ToolbarLabel[en_US]=Install package
ToolbarLabel[en]=Install package
ToolbarLabel[C]=Install package
Name[en_US]=Install package
Name[en]=Install package
Name[C]=Install package
Profiles=profile-zero;

[X-Action-Profile profile-zero]
Basenames=*.tgz;*.txz;
Exec=/opt/porteus-scripts/context-menu/install-slack %F
Name[en_US]=Install package
Name[en]=Install package
Name[C]=Install package
