[Desktop Entry]
Version=1
Type=Application
Encoding=UTF-8
Name=Convert deb to xzm...
Name[ru]=Конвертировать deb в xzm модуль...
Icon=cdr
Author=Brokenman
MimeType=application/vnd.debian.binary-package
OnlyShowIn=pcmanfm
NoDisplay=true
Exec=/opt/porteus-scripts/context-menu/convert_deb %F
