[Desktop Entry]
Version=1.0
Name=SpaceFM File Search
Name[bg]=SpaceFM Файлово търсене
Name[cs]=Hledání souborů SpaceFM
Name[de]=SpaceFM Dateisuche
Name[el]=Αναζήτηση αρχείων του 
Name[es]=Busqueda de archivos de SpaceFM
Name[fr]=Ouvrir un dossier avec SpaceFM
Name[id]=SpaceFM Cari Berkas
Name[it]=SpaceFM Ricerca File
Name[ja]=SpaceFM ファイル検索
Name[lt]=SpaceFM failų paieška
Name[ltg]=Failu vaicōšona
Name[nl]=SpaceFM Bestand zoeken
Name[pl]=Wyszukiwarka plików w SpaceFM
Name[pt]=Procura de ficheiros SpaceFM
Name[pt_BR]=SpaceFM pesquisar no computador
Name[ru]=Поиск файлов SpaceFM
Name[sr]=Спејс-ФМ — Нађи датотеку
Name[sr@latin]=SpaceFM pretraga fajlova
Name[sv]=SpaceFM filsökning
Name[tr]=SpaceFM Dosya Arama
Categories=Utility;GTK;
Exec=spacefm --find-files %F
Icon=spacefm-find
StartupNotify=true
Type=Application
Terminal=false
MimeType=inode/directory;
Comment=Search for files and folders
Comment[bg]=Търсене за файлове и директории
Comment[cs]=Hledat soubory a složky
Comment[de]=Nach Dateien und Ordnern suchen
Comment[el]=Αναζήτηση για αρχεία και φακέλους
Comment[es]=Buscar archivos y carpetas
Comment[fr]=Rechercher des fichiers et des dossiers
Comment[id]=Cari berkas dan map
Comment[it]=Cerca file e cartelle
Comment[ja]=ファイルとフォルダの検索
Comment[lt]=Ieškoti failų ir aplankų
Comment[ltg]=Vaicōț mapis i failus
Comment[nl]=Zoeken naar mappen en bestanden
Comment[pl]=Szukaj plików i folderów
Comment[pt]=Procurar ficheiros e diretórios
Comment[pt_BR]=Localizar arquivos e pastas
Comment[ru]=Поиск файлов и каталогов
Comment[sr]=Претрага датотека и директоријума
Comment[sr@latin]=Pretraga fajlova i fascikli
Comment[sv]=Sök efter filer och kataloger
Comment[tr]=Dosya ve dizin ara
Comment[zh_CN]=搜索文件和目录
