[Desktop Entry]
Exec=/opt/porteus-scripts/xorg/psu /opt/porteus-scripts/xorg/terminal
Icon=utilities-terminal
Name=Super User Mode - Terminal
Type=Application
Categories=Application;System;
NoDisplay=true