[D-BUS Service]
Name=org.freedesktop.SystemToolsBackends.IfacesConfig
Exec=/usr/share/system-tools-backends-2.0/scripts/SystemToolsBackends.pl -m IfacesConfig
User=root
