[D-BUS Service]
Name=org.freedesktop.SystemToolsBackends.NTPConfig
Exec=/usr/share/system-tools-backends-2.0/scripts/SystemToolsBackends.pl -m NTPConfig
User=root
