Porteus Requirements
===============================================

Porteus is not pretentious, though it requires some minimal hardware to
run properly. It depends on how you wish to use Porteus, of course.

The most important thing is memory. You need at least 40 MB of RAM to
boot Porteus in text mode. A more detailed description follows:


Medium
------
Either an IDE connected CDROM (to boot from a CD), a USB FlashDisk
(to boot from a mass storage device), Compact flash card, or an
internal or external hard disk (to boot Porteus from a hard disk).


BIOS
----
Either non-emulation booting enabled (to boot from a CD)
or USB FlashDrive booting enabled (to boot from a mass storage device)

Memory requirements for text mode
36 MB to boot to cli (without copy2ram)

Memory requirements for KDE
------
768 MB to run Xwindow
1024 MB to be able to use copy2ram cheatcode

Memory requirements for CINNAMON
------
512 MB to run Xwindow
768 MB to be able to use copy2ram cheatcode

Memory requirements for MATE
------
256  MB to run Xwindow
512  MB to be able to use copy2ram cheatcode

Memory requirements for XFCE
------
256 MB to run Xwindow
512 MB to be able to use copy2ram cheatcode

Processor
---------
Any processor with support for 32-bit/64-bit instructions. Intel and AMD are
both OK.


Peripheral devices
------------------
any keyboard
any PS/2 or USB connected mouse


Harddisk
--------
No harddisk is required
