[Desktop Entry]
Name=Porteus FAQ
Exec=/opt/porteus-scripts/xorg/browser /usr/doc/Porteus-FAQ/index.html
Icon=/usr/share/pixmaps/porteus/porteus-logo-white.svg
Terminal=false
Type=Application
Categories=Application;System;