[Desktop Entry]
Name=Text Editor
Name[ab]=文字編輯器
Name[af]=Teksredigeerder
Name[am]=ጽሁፍ ማረሚያ
Name[ar]=مُحرّر نصوص
Name[as]=টেক্সট সম্পাদক
Name[ast]=Editor de Testu
Name[az]=Mətn Editoru
Name[be]=Тэкставы рэдактар
Name[be@latin]=Tekstavy redaktar
Name[bg]=Текстов редактор
Name[bn]=টেক্সট সম্পাদক
Name[bn_IN]=টেক্সট এডিটার
Name[br]=Embanner testennoù
Name[bs]=Tekst editor
Name[ca]=Editor de text
Name[ca@valencia]=Editor de text
Name[cmn]=文字編輯器
Name[crh]=Metin Muarriri
Name[cs]=Textový editor
Name[cy]=Golygydd Testun
Name[da]=Tekstredigering
Name[de]=Textbearbeitung
Name[dz]=ཚིག་ཡིག་ཞུན་དགཔ།
Name[el]=Επεξεργαστής κειμένου
Name[en@shaw]=𐑑𐑧𐑒𐑕𐑑 𐑧𐑛𐑦𐑑𐑼
Name[en_AU]=Text Editor
Name[en_CA]=Text Editor
Name[en_GB]=Text Editor
Name[eo]=Teksta Redaktilo
Name[es]=Editor de textos
Name[et]=Tekstiredaktor
Name[eu]=Testu-editorea
Name[fa]=ویرایشگر متن
Name[fi]=Tekstimuokkain
Name[fr]=Éditeur de texte
Name[ga]=Eagarthóir Téacs
Name[gl]=Editor de texto
Name[gu]=લખાણ સંપાદક
Name[he]=עורך טקסט
Name[hi]=पाठ संपादक
Name[hr]=Uređivač teksta
Name[hu]=Szövegszerkesztő
Name[hy]=Տեքստի խմբագրիչ
Name[ia]=Editor de texto
Name[id]=Penyunting Teks
Name[is]=Textaritill
Name[it]=Editor di testo
Name[ja]=テキストエディタ
Name[ka]=ტექსტის რედაქტორი
Name[kab]=Amaẓrag n uḍris
Name[kk]=Мәтін түзетушісі
Name[kn]=ಪಠ್ಯ ಸಂಪಾದಕ
Name[ko]=텍스트 편집기
Name[ku]=Edîtora Nivîsê
Name[ky]=Текст редактору
Name[la]=Scripta Edere
Name[lt]=Tekstų redaktorius
Name[lv]=Teksta redaktors
Name[mai]=पाठ संपादक
Name[mg]=Fanovana lahabolana
Name[mk]=Уредувач за текст
Name[ml]=എഴുത്തിടം
Name[mn]=Текст боловсруулагч
Name[mr]=पाठ्य संपादक
Name[ms]=Penyunting Teks
Name[nb]=Skriveprogram
Name[nds]=Textbewarker
Name[ne]=पाठ सम्पादक
Name[nl]=Tekstbewerker
Name[nn]=Tekstredigering
Name[oc]=Editor de tèxte
Name[or]=ପାଠ୍ଯ ସମ୍ପାଦକ
Name[pa]=ਟੈਕਸਟ ਐਡੀਟਰ
Name[pl]=Edytor tekstu
Name[ps]=ليک سمونګر
Name[pt]=Editor de texto
Name[pt_BR]=Editor de texto
Name[ro]=Editor de text
Name[ru]=Текстовый редактор
Name[rw]=Umuhinduzi w'inyandiko
Name[si]=පෙළ සකසනය
Name[sk]=Textový editor
Name[sl]=Urejevalnik besedil
Name[sq]=Editues teksti
Name[sr]=Уређивач текста
Name[sr@latin]=Vilenjakova beležnica
Name[sv]=Textredigerare
Name[ta]=உரை திருத்தி
Name[te]=పాఠమును సరిచేయునది
Name[th]=เครื่องมือแก้ไขข้อความ
Name[tk]=Metin Editçi
Name[tr]=Metin Düzenleyici
Name[uk]=Текстовий редактор
Name[ur]=متن مدون
Name[vi]=Bộ soạn thảo văn bản
Name[wa]=Aspougneu di tecse
Name[xh]=Umhleli wombhalo
Name[zh_CN]=文本编辑器
Name[zh_HK]=文字編輯器
Name[zh_TW]=文字編輯器
Comment=Edit text files
Comment[ab]=編輯文字檔
Comment[af]=Redigeer tekslêers
Comment[am]=የ ጽሁፍ ፋይሎች ማረሚያ
Comment[ar]=تحرير الملفات النّصية
Comment[as]=টেক্সট নথিপত্ৰ সম্পাদনা
Comment[ast]=Editar ficheros de testu
Comment[az]=Mətn fayllarını redaktə edin
Comment[be]=Рэдагаваць тэкставыя файлы
Comment[be@latin]=Redahuj tekstavyja fajły
Comment[bg]=Редактиране на текстови файлове
Comment[bn]=টেক্সট ফাইল সম্পাদনা করুন
Comment[bn_IN]=টেক্সট ফাইল সম্পাদনা
Comment[br]=Embann restroù testenn
Comment[bs]=Izmijeni tekstualne datoteke
Comment[ca]=Editeu fitxers de text
Comment[ca@valencia]=Editeu fitxers de text
Comment[cmn]=編輯文字檔
Comment[crh]=Metin dosyelerini tarir et
Comment[cs]=Upravovat textové soubory
Comment[cy]=Golygu ffeiliau testun
Comment[da]=Redigér tekstfiler
Comment[de]=Textdateien bearbeiten
Comment[dz]=ཚིག་ཡིག་ཡིག་སྣོད་ཚུ་ ཞུན་དག་རྐྱབས་
Comment[el]=Επεξεργασία αρχείων κειμένου
Comment[en@shaw]=𐑧𐑛𐑦𐑑 𐑑𐑧𐑒𐑕𐑑 𐑓𐑲𐑤𐑟
Comment[en_AU]=Edit text files
Comment[en_CA]=Edit text files
Comment[en_GB]=Edit text files
Comment[eo]=Redakti tekstajn dosierojn
Comment[es]=Edite archivos de texto
Comment[et]=Tekstifailide redigeerimine
Comment[eu]=Editatu testu-fitxategiak
Comment[fa]=ویرایش پرونده‌های متنی
Comment[fi]=Muokkaa tekstitiedostoja
Comment[fr]=Éditer des fichiers texte
Comment[ga]=Cuir comhaid téacs in eagar
Comment[gl]=Editar ficheiros de texto
Comment[gu]=લખાણ ફાઇલોમાં ફેરફાર કરો
Comment[he]=עריכת קובצי טקסט
Comment[hi]=पाठ फ़ाइलें संपादित करें
Comment[hr]=Uređivanje tekstovnih datoteka
Comment[hu]=Szövegfájlok szerkesztése
Comment[ia]=Modificar files de testo
Comment[id]=Edit berkas teks
Comment[is]=Sýsla með textaskrár
Comment[it]=Modifica file di testo
Comment[ja]=テキスト形式のファイルを編集します
Comment[ka]=ტექსტური ფაილების რედაქტირება
Comment[kab]=Ẓreg ifuyla iḍrisen
Comment[kk]=Мәтіндік файлдарды түзету
Comment[kn]=ಪಠ್ಯ ಕಡತಗಳನ್ನು ಸಂಪಾದಿಸು
Comment[ko]=텍스트 파일을 편집합니다
Comment[ku]=Pelên nivîsê sererast bike
Comment[ky]=Текст файлдарын оңдоо
Comment[lt]=Redaguoti tekstinius failus
Comment[lv]=Rediģēt teksta failus
Comment[mai]=पाठ फाइलकेँ संपादित करू
Comment[mg]=Hanova raki-dahabolana
Comment[mk]=Уредувај текстуални датотеки
Comment[ml]=പദാവലി ഫയലുകളില്‍ മാറ്റം വരുത്തുക
Comment[mn]=Текст файл боловсруулах
Comment[mr]=मजकूर फाइल्स् संपादीत करा
Comment[ms]=Sunting fail teks
Comment[nb]=Rediger tekstfiler
Comment[nds]=Textdateien bewarken
Comment[ne]=पाठ फाइल सम्पादन गर्नुहोस्
Comment[nl]=Tekstbestanden bewerken
Comment[nn]=Rediger tekstfiler
Comment[oc]=Editar de fichièrs tèxte
Comment[or]=ପାଠ୍ଯ ଫାଇଲଗୁଡ଼ିକୁ ସମ୍ପାଦନ କରନ୍ତୁ
Comment[pa]=ਟੈਕਸਟ ਫਾਇਲਾਂ ਸੋਧੋ
Comment[pl]=Edytor plików tekstowych
Comment[ps]=ليکن دوتنې سمول
Comment[pt]=Editar ficheiros de texto
Comment[pt_BR]=Edite arquivos de texto
Comment[ro]=Editare fișiere text
Comment[ru]=Редактор текстовых файлов
Comment[si]=පෙළ ගොනු සකසන්න
Comment[sk]=Úprava textových súborov
Comment[sl]=Urejanje besedilnih datotek
Comment[sq]=Ndrysho skedarë teksti
Comment[sr]=Уређујте текстуалне документе
Comment[sr@latin]=Uređivač tekstualnih dokumenata
Comment[sv]=Redigera textfiler
Comment[ta]=உரை கோப்புகளை திருத்தவும்
Comment[te]=పాఠ్య దస్త్రములను సరిచేయి
Comment[th]=แก้ไขแฟ้มข้อความ
Comment[tk]=Metin faýllary editle
Comment[tr]=Metin dosyalarını düzenle
Comment[uk]=Редактор текстових файлів
Comment[ur]=متن فائلیں مدون کریں
Comment[vi]=Soạn thảo tập tin văn bản
Comment[wa]=Asspougnî des fitchîs tecses
Comment[xh]=Hlela iifayili zombhalo
Comment[zh_CN]=编辑文本文件
Comment[zh_HK]=編輯文字檔
Comment[zh_TW]=編輯文字檔
Exec=xed %U
Terminal=false
Type=Application
StartupNotify=true
MimeType=text/plain;
Icon=accessories-text-editor
Categories=GTK;Utility;TextEditor;
Keywords=text;editor;tabs;highlighting;code;multiple;files;pluggable;notepad;
X-MATE-DocPath=xed/xed.xml
