[Desktop Entry]
Name=Simple Flow
Comment=Continuing the Simple series


X-KDE-PluginInfo-Author=Phobi4n
X-KDE-PluginInfo-Email=magpie240@gmx.com
X-KDE-PluginInfo-Name=SimpleFlow
X-KDE-PluginInfo-Version=2.0
X-KDE-PluginInfo-Website=phobi4n.deviantart.com
X-KDE-PluginInfo-Category=Plasma Theme
X-KDE-PluginInfo-License=None
X-KDE-PluginInfo-EnabledByDefault=true

[Wallpaper]
defaultWallpaperTheme=
defaultFileSuffix=
defaultWidth=
defaultHeight=


