[Desktop Entry]
Type=Action
ToolbarLabel[en_US]=Open as admin
ToolbarLabel[en]=Open as admin
ToolbarLabel[C]=Open as admin
Name[en_US]=Open as admin
Name[en]=Open as admin
Name[ru]=Открыть как администратор
Name[C]=Open as admin
Profiles=profile-zero;

Tooltip[en_US]=Open the directory as administrator
Tooltip[en]=Open the directory as administrator
Tooltip[ru]=Открыть папку с правами администратора
Tooltip[C]=Open the directory as administrator
Icon[en_US]=folder-red
Icon[en]=folder-red
Icon[C]=folder-red

[X-Action-Profile profile-zero]
MimeTypes=inode/directory;
Exec=/usr/bin/gksu  -l "dbus-launch --exit-with-session /usr/bin/caja" %f
Name[en_US]=Default profile
Name[en]=Default profile
Name[C]=Default profile
