[Desktop Entry]
Type=Action
Icon[en_US]=deb
Icon[en]=deb
Icon[C]=deb
Tooltip[en_US]=Convert debian package to Porteus
Tooltip[en]=Convert debian package to Porteus
Tooltip[ru]=Конвертировать deb архив в модуль Porteus
Tooltip[C]=Convert debian package to Porteus
ToolbarLabel[en_US]=deb2xzm
ToolbarLabel[en]=deb2xzm
ToolbarLabel[ru]=Конвертировать deb в xzm модуль
ToolbarLabel[C]=deb2xzm
Name[en_US]=deb2xzm
Name[en]=deb2xzm
Name[ru]=Конвертировать deb в xzm модуль
Name[C]=deb2xzm
Profiles=profile-zero;

[X-Action-Profile profile-zero]
Exec=/opt/porteus-scripts/context-menu/convert_deb %F
Name[en_US]=Default profile
Name[en]=Default profile
Name[C]=Default profile
Basenames=*.deb;
