[Desktop Entry]
Name=Cosmos
Name[ar]=الكَوْن
Name[as]=কসমস
Name[ast]=Cosmos
Name[be]=Космас
Name[be@latin]=Kosmas
Name[bg]=Космос
Name[bn]=কসমস
Name[bn_IN]=কসমস
Name[br]=Kosmos
Name[ca]=Cosmos
Name[ca@valencia]=Cosmos
Name[cmn]=宇宙
Name[crh]=Kâinat
Name[cs]=Kosmos
Name[cy]=Cosmos
Name[da]=Kosmos
Name[de]=Weltraum
Name[dz]=ཀོསི་མཱོསི།
Name[el]=Cosmos
Name[en@shaw]=𐑒𐑭𐑟𐑥𐑴𐑕
Name[en_AU]=Cosmos
Name[en_CA]=Cosmos
Name[en_GB]=Cosmos
Name[es]=Cosmos
Name[es_AR]=Cosmos
Name[et]=Kosmos
Name[eu]=Kosmos
Name[fa]=کیهان
Name[fi]=Maailmankaikkeus
Name[fr]=Cosmos
Name[ga]=Cosmas
Name[gl]=Cosmos
Name[gu]=કોસમોસ
Name[he]=קוסמוס
Name[hi]=कॉसमॉस
Name[hr]=Svemir
Name[hu]=Kozmosz
Name[id]=Cosmos
Name[is]=Stjörnuþokur
Name[it]=Cosmo
Name[ja]=宇宙
Name[ka]=კოსმოსი
Name[kn]=ಕಾಸ್ಮೋಸ್
Name[ko]=우주
Name[ku]=Gerdûn
Name[ky]=Космос
Name[lt]=Kosmosas
Name[lv]=Kosmoss
Name[mai]=कोसमोस
Name[mg]=Cosmos
Name[mk]=Космос
Name[ml]=പ്രപഞ്ചം
Name[mn]=Сансар
Name[mr]=कॉसमॉस
Name[ms]=Kosmos
Name[nb]=Kosmos
Name[nds]=Universum
Name[ne]=विश्व
Name[nl]=Cosmos
Name[nn]=Kosmos
Name[or]=ବିଶ୍ବବ୍ରହ୍ମାଣ୍ଡ
Name[pa]=ਕੋਸਮੋਸ
Name[pl]=Kosmos
Name[pt]=Cosmos
Name[pt_BR]=Cosmos
Name[ro]=Cosmos
Name[ru]=Космос
Name[si]=Cosmos
Name[sk]=Vesmír
Name[sl]=Vesolje
Name[sq]=Kozmos
Name[sr]=Свемир
Name[sr@latin]=Svemir
Name[sv]=Kosmos
Name[ta]=Cosmos
Name[te]=కాస్మోస్
Name[th]=อวกาศ
Name[tr]=Kozmos
Name[uk]=Космос
Name[ur]=کائنات
Name[vi]=Vũ trụ
Name[zh_CN]=宇宙
Name[zh_HK]=宇宙
Name[zh_TW]=宇宙
Comment=Display a slideshow of pictures of the cosmos
Comment[ar]=أظهر عرض شرائح من صور الكَوْن
Comment[as]=কসমস এৰ ছবিগুলোৰ একটি স্লাইডশো প্ৰদৰ্শন কৰক
Comment[ast]=Amuesa una presentación de semeyes del cosmos
Comment[be]=Адлюстроўвае слайд-шоў з выявамі космасу
Comment[be@latin]=Pakazvaje zdymki kosmasu
Comment[bg]=Показва прожекция със снимки от космоса
Comment[bn]=কসমস এর ছবিগুলোর একটি স্লাইডশো প্রদর্শন করুন
Comment[bn_IN]=কসমস এর ছবিগুলোর একটি স্লাইডশো প্রদর্শন করুন
Comment[ca]=Mostra una projecció amb diapositives d'imatges del cosmos
Comment[ca@valencia]=Mostra una projecció amb diapositives d'imatges del cosmos
Comment[cmn]=顯示宇宙圖片的幻燈片放映
Comment[crh]=Kâinat resimleri slayt temaşasını köster
Comment[cs]=Zobrazovat obrázky z kosmu jako prezentaci
Comment[cy]=Dangos sioe sleidiau o luniau'r cosmos
Comment[da]=Viser et billedeshow af billeder af kosmos
Comment[de]=Eine Diaschau mit Weltraumbildern anzeigen
Comment[dz]=ཀོསི་མཱོསི་གི་ པར་ཚུ་གི་བཤུད་བརྙན་ཅིག་ བཀྲམ་སྟོན་འབད།
Comment[el]=Προβολή μιας παρουσίασης εικόνων του cosmos
Comment[en_AU]=Display a slideshow of pictures of the cosmos
Comment[en_CA]=Display a slideshow of pictures of the cosmos
Comment[en_GB]=Display a slideshow of pictures of the cosmos
Comment[es]=Muestra una serie de imágenes del cosmos
Comment[es_AR]=Muestra una galería de imágenes del cosmos
Comment[et]=Kosmosepiltide slaidiesituse kuvamine
Comment[eu]=Bistaratu diapositibak argazki astronomikoekin
Comment[fa]=اسلایدهایی از تصاویر کیهان نمایش داده شود
Comment[fi]=Näyttää diaesityksen maailmankaikkeuden kuvista
Comment[fr]=Affiche un diaporama d'images du cosmos
Comment[gl]=Amosa unha presentación de imaxes do cosmos
Comment[gu]=કોસમોસના ચિત્રોનો સ્લાઈડશો દર્શાવો
Comment[he]=הצגת שקופיות של תמונות מהקוסמוס
Comment[hi]=कोसमोस के चित्र का स्लाइडशो दिखाएं
Comment[hr]=Prikaži niz slika svemira
Comment[hu]=Egy diavetítés a kozmosz képeiből
Comment[id]=Tampilkan slideshow dari gambar cosmos
Comment[is]=Sýna skjásýningu af myndum af stjörnuþokum
Comment[it]=Mostra una sequenza di immagini del cosmo
Comment[ja]="宇宙の画像" をスライドショー形式で表示します
Comment[ka]=კოსმოსური სურათების სლაიდშოუ
Comment[kn]=ಅಂತರಿಕ್ಷದ ಚಿತ್ರಗಳ ಒಂದು ಚಿತ್ರಪ್ರದರ್ಶನವನ್ನು(ಸ್ಲೈಡ್‌ಶೋ) ತೋರಿಸುತ್ತದೆ
Comment[ko]=우주 그림의 슬라이드를 보여줍니다
Comment[ku]=Pêşaneke slaytê ya ji wêneyê gerdûnê pêk hatiye pêşkeş dike
Comment[lt]=Rodyti kosmoso paveikslėlių skaidrių šou
Comment[lv]=Rādīt kosmosa attēlu slīdrādi
Comment[mai]=कोसमोस क' चित्र क' स्लाइडशो देखाबू
Comment[mg]=Mampiseho misesisesy ny sarin'ny cosmos
Comment[mk]=Прикажи слајд шоу од сликите од космосот
Comment[ml]=പ്രപഞ്ചത്തിന്റെ ചിത്രങ്ങളൊന്നൊന്നായി പ്രദര്‍ശിപ്പിയ്ക്കുക
Comment[mn]=Сансрын зургуудын слайдыг үзүүлэх
Comment[mr]=कॉसमॉस वरील प्रतिमाचे स्लाईडशो दर्शवा
Comment[ms]=Papar paparan slaid gambar kosmos
Comment[nb]=Lysbildevisning med bilder fra verdensrommet
Comment[nds]=Een Döörloop vun Universumsbillers opwiesen
Comment[ne]=विश्वको तस्विरको स्लाइडसो प्रदर्शन गर्नुहोस्
Comment[nl]=Dit toont een diashow met foto's van de ruimte.
Comment[nn]=Lysbiletvising med bileta frå verdensrommet
Comment[or]=ବିଶ୍ବବ୍ରହ୍ମାଣ୍ଡର ଛବିଗୁଡିକର ଗୋଟିଏ ସ୍ଲାଇଡପ୍ରଦର୍ଶନୀ ପ୍ରଦର୍ଶନ କରନ୍ତୁ
Comment[pa]=ਕੋਸਮੋਸ ਦੀਆਂ ਤਸਵੀਰਾਂ ਦੀਆਂ ਝਾਕੀਆਂ ਵੇਖਾਓ
Comment[pl]=Wyświetla pokaz zdjęć kosmosu
Comment[pt]=Apresenta um conjunto de fotografias do cosmos
Comment[pt_BR]=Mostra uma apresentação de slides de fotos do cosmo
Comment[ro]=Arată un set de imagini din Cosmos
Comment[ru]=Показывает слайд-шоу космических рисунков
Comment[si]=cosmos පිංතුර මගින් තිරපෙන්නූමක් දර්ශණය කරන්න
Comment[sk]=Zobraziť prezentáciu z obrázkov vesmíru
Comment[sl]=Prikaži predstavitev slik vesolja
Comment[sq]=Shfaq minjatura fotografish nga kozmosi
Comment[sr]=Прикажи слике свемира у низу
Comment[sr@latin]=Prikaži slike svemira u nizu
Comment[sv]=Visa ett bildspel med bilder på kosmos
Comment[ta]=cosmosன் படங்களை ஸ்லைடு காட்சியாக காட்டவும்
Comment[te]=కాస్‌మోస్ యొక్క చిత్రముల స్లైడ్‌షో ను ప్రదర్శించుము
Comment[th]=แสดงภาพสไลด์ของภาพจากอวกาศ
Comment[tr]=Kozmosun resimlerini slayt gösterisi şeklinde göster
Comment[uk]=Показує слайд-шоу космічних малюнків
Comment[ur]=کائنات کی تصاویر کا سلائیڈ شو دکھائیں
Comment[vi]=Hiển thị trình diễn các ảnh của vũ trụ
Comment[zh_CN]=显示一组宇宙图片的幻灯片
Comment[zh_HK]=顯示宇宙圖片的幻燈片放映
Comment[zh_TW]=顯示宇宙圖片的幻燈片放映
Exec=/usr/libexec/mate-screensaver/slideshow --location=/usr/share/backgrounds/cosmos
TryExec=/usr/libexec/mate-screensaver/slideshow
StartupNotify=false
Terminal=false
Type=Application
Categories=Screensaver;
OnlyShowIn=MATE;
