[Desktop Entry]
Name=Floating Porteus
Name[am]=ተንሳፋፊ ኖም
Name[ar]=أقدام غنّوم طافية
Name[be]=Porteus плавае
Name[bg]=Плаващ Porteus
Name[ca]=Porteus flotant
Name[ca@valencia]=Porteus flotant
Name[cmn]=浮動的 Porteus
Name[cs]=Plovoucí logo Porteus
Name[da]=Flydende Porteus
Name[de]=Schwebendes Gnome
Name[el]=Ελεύθερα μετακινούμενο Porteus
Name[en_AU]=Floating Porteus
Name[en_GB]=Floating Porteus
Name[es]=Porteus flotante
Name[et]=Hõljuv Porteus
Name[fa]=Porteus معلق
Name[fr]=Porteus flottants
Name[gl]=Porteus flotante
Name[hi]=फ्लोटिंग गनोम
Name[hr]=Plutajući Porteus
Name[hu]=Lebegő Porteus
Name[hy]=Փոփոխական Porteus
Name[id]=Porteus Mengapung
Name[is]=Fljótandi Porteus
Name[it]=Porteus fluttuante
Name[ja]=フローティング Porteus
Name[kk]=Қалқымалы Porteus
Name[ko]=떠다니는 Porteus
Name[lt]=Plaukiojantis Porteus
Name[ms]=Porteus terapung
Name[nb]=Flytende Porteus
Name[nl]=Vliegend logo
Name[nn]=Flytande Porteus
Name[oc]=Porteus flotants
Name[pl]=Latające Porteus
Name[pt]=Porteus flutuante
Name[pt_BR]=Porteus Flutuante
Name[ro]=Porteus plutitor
Name[ru]=Плавающий Porteus
Name[sk]=Plávajúce logo Porteus
Name[sl]=Plavajoč Porteus
Name[sr]=Лебдећи Гном
Name[sv]=Flytande Porteus
Name[th]=Floating Porteus
Name[tr]=Yüzen Porteus
Name[uk]=Пляваючий Porteus
Name[zh_CN]=浮动的 Porteus
Name[zh_TW]=浮動 Porteus
Comment=Bubbles the Porteus logo around the screen
Comment[ar]=فقاعات شعار غنّوم حول الشّاشة
Comment[be]=Бурбалкі з лагатыпам Porteus па ўсім экране
Comment[bg]=Балончета по екрана с логото на Porteus
Comment[ca]=Bombolles amb el logotip de Porteus per tota la pantalla
Comment[ca@valencia]=Bambolles amb el logotip del Porteus per tota la pantalla
Comment[cmn]=畫面上四處移動的 Porteus 圖標泡泡
Comment[cs]=Bublinky loga Porteus po obrazovce
Comment[da]=Bobler Porteus-logoet omkring på skærmen
Comment[de]=Das Porteus-Logo auf dem Bildschirm rumschweben lassen
Comment[el]=Φούσκες του λογότυπου του Porteus στην οθόνη
Comment[en_AU]=Bubbles the Porteus logo around the screen
Comment[en_GB]=Bubbles the Porteus logo around the screen
Comment[es]=Muestra el logo de Porteus flotando en burbujas
Comment[et]=Porteus logod ekraanil ringi hõljumas
Comment[fa]=حباب‌پراکنی از لوگوی گنوم در اطراف صفحهٔ نمایش
Comment[fr]=Diffuser le logo Porteus sous forme de bulles partout sur l'écran
Comment[gl]=Move o logotipo do Porteus pola pantalla
Comment[hi]=स्क्रीन के चारों ओर गनोम के प्रतीक चिन्ह को बुदबुदाता है
Comment[hr]=Ispušta zaštitni znak Porteus po zaslonu
Comment[hu]=A Porteus logót lebegteti körbe a képernyőn
Comment[hy]= Porteus լոգոյի պղպջակները էկրանի շուրջը
Comment[id]=Balonkan logo kaki Porteus di sekitar layar
Comment[is]=Freyðir Porteus-merkinu um skjáinn
Comment[it]=Fa rimbalzare il logo di Porteus sullo schermo
Comment[ja]=画面の回りに Porteus のロゴが浮かびます
Comment[ko]=화면에 그놈 발바닥 로고가 떠다닙니다
Comment[lt]=Porteus logotipas „burbuliuoja“ ekrane
Comment[ms]=Buih-buih logo Porteus disekeliling skrin
Comment[nb]=Bobler av Porteus-logoen rundt omkring på skjermen
Comment[nl]=Toont een logo dat over het scherm vliegt
Comment[pl]=Wyświetla na ekranie logo Porteus
Comment[pt]=Bolhas com o logótipo do Porteus por todo o ecrã
Comment[pt_BR]=Borbulha o logotipo Porteus ao redor da tela
Comment[ro]=Plimbă sigla Porteus pe ecran
Comment[ru]=Всплывающие по всему экрану логотипы Porteus
Comment[sk]=Bublinky loga Porteus na obrazovke
Comment[sl]=Ustvari mehurčke z logotipom Porteus po zaslonu
Comment[sr]=Приказује мехуриће Гномовог обележја по екрану
Comment[sv]=Bubblar runt Porteus loggan på skärmen
Comment[th]=เลื่อนโลโก้ของ Porteus ไปรอบๆหน้าจอ
Comment[tr]=Ekran üzerinde Porteus logosu baloncukları oluşturur
Comment[uk]=Логотипи Porteus, що виринають по усьому екрану
Comment[zh_CN]=在屏幕上如泡泡一样浮动 Porteus 徽标
Comment[zh_TW]=讓 Porteus 標誌圍繞畫面
Exec=/usr/libexec/mate-screensaver/floaters /usr/share/pixmaps/porteus/porteus-logo-white.svg
TryExec=/usr/libexec/mate-screensaver/floaters
StartupNotify=false
Terminal=false
Type=Application
Categories=Screensaver;
OnlyShowIn=MATE;
