[Desktop Entry]
Type=Application
Name=PolicyKit Handler
TryExec=lxqt-policykit-agent
Exec=lxqt-policykit-agent
OnlyShowIn=LXQt;
X-LXQt-Module=true

Name[zh_TW]=PolicyKit處理器
Name[zh_CN]=PolicyKit 处理器
Name[uk]=Маніпулятор PolicyKit
Name[tr]=PolicyKit İşleyici
Name[th_TH]=ตัวจัดการ PolicyKit
Name[sl]=Upravljalnik PolicyKit
Name[ru_RU]=Обработчик PolicyKit
Name[ru]= политики комплект Обработчик
Name[pt_BR]=Manipulador PolicyKit
Name[pt]=Gestor de políticas
Name[pl_PL]=PolicyKit Handler
Name[nl]=PolicyKit Handler
Name[lt]=PolicyKit valdymas
Name[ja]=PolicyKitハンドラ
Name[it_IT]=Gestore di PolicyKit
Name[hu]=PolicyKit-kezelő
Name[fr_FR]=Gestionnaire de PolicyKit
Name[fi]=PolicyKit-käsittelijä
Name[eu]=PolicyKit maneiatzailea
Name[es_VE]=Encargado del Kit de politicas
Name[es]=Manipulador de PolicyKit
Name[eo]=Traktilo de PolicyKit
Name[el_GR]=Χειριστής PolicyKit
Name[de_DE]=PolicyKit-Steuerung
Name[da_DK]=Politikhåndtering
Name[da]=Håndtering af retningslinier
Name[cs_CZ]=Zacházení s politikami
Name[cs]=Zacházení s politikami
Name[ar]=معالج وحدة السِّياسة بوليسي كيت
