[Desktop Entry]
Type=Application
Name=Qlipper
TryExec=qlipper
Exec=qlipper
OnlyShowIn=LXQt;

Name[zh_TW]=剪貼簿
Name[zh_CN]=Qlipper
Name[uk]=Qlipper
Name[tr]=Qlipper
Name[th_TH]=Qlipper
Name[sr@latin]=Kjuliper
Name[sr]=Кјулипер
Name[sl]=Qlipper
Name[ru_RU]=Qlipper
Name[ru]=Qлиппер
Name[ro_RO]=Qlipper
Name[pt_BR]=Qlipper
Name[pt]=Qlipper
Name[pl_PL]=Qlipper
Name[nl]=Qlembord
Name[lt]=Qlipper
Name[ja]=Qlipper
Name[it_IT]=Qlipper
Name[id_ID]=Qlipper
Name[fr_FR]=Qlipper
Name[fi]=Qlipper
Name[eu]=Qlipper
Name[es_VE]=Qlipper
Name[es]=Qlipper
Name[eo]=Qlipilo
Name[el_GR]=Qlipper
Name[de_DE]=Qlipper
Name[da_DK]=Qlipper
Name[da]=Klippebord
Name[cs_CZ]=Schránka
Name[cs]=Schránka
Name[ar]=ذاكرة الحافظة
