[Desktop Entry]
Type=Application
Name=PtBatterySystemTray
TryExec=ptbatterysystemtray
Exec=ptbatterysystemtray
OnlyShowIn=LXQt;

Name[zh_TW]=系統列
Name[zh_CN]=Pt电源系统托盘
Name[uk]=Заряд батареї
Name[tr]=PtBatterySystemTray
Name[th_TH]=PtBatterySystemTray
Name[sl]=PtBatterySystemTray
Name[ru_RU]=PtBatterySystemTray
Name[ru]=ПtбатареиCистема поднос
Name[ro_RO]=PtBatterySystemTray
Name[pt_BR]=PtBatterySystemTray
Name[pt]=Bateria na bandeja do sistema
Name[pl_PL]=PtBatterySystemTray
Name[nl]=PtAccuSysteemVak
Name[lt]=PtBatterySystemTray
Name[ja]=PtBatterySystemTray
Name[it_IT]=PtBatterySystemTray
Name[id_ID]=PtBatterySystemTray
Name[fr_FR]=Moniteur batterie de la zone de notifications
Name[fi]=PtBatterySystemTray
Name[eu]=PtBatterySystemTray
Name[es_VE]=Icono de Sistema de Bateria Pt
Name[es]=PtBatterySystemTray
Name[eo]=PtBaterioSistempleto
Name[el_GR]=PtBatterySystemTray
Name[de_DE]=PtBatterieSystemTray
Name[de]=PtBatterySystemTray
Name[da_DK]=Batteriovervågning
Name[da]=Systembakke Batteritilstand
Name[cs_CZ]=Stav baterie
Name[cs]=Stav baterie
Name[ca]=PtBatterySystemTray
Name[ar]=مؤشِّر البطَّاريَّة
