[Desktop Entry]
Type=Application
Name=Global Keyboard Shortcuts
TryExec=lxqt-globalkeysd
Exec=lxqt-globalkeysd
OnlyShowIn=LXQt;
X-LXQt-Module=true

Name[zh_TW]=全域鍵盤快捷鍵
Name[zh_CN]=全局键盘快捷键
Name[uk]=Глобальні клавіатурні скорочення
Name[th_TH]=ปุ่มลัดหลักต่างๆ
Name[ru_RU]=Глобальные сочетания клавиш
Name[ru]=Глобальные горячих клавиш
Name[ro_RO]=Taste rapide globale
Name[pt_BR]=Atalhos Globais Do Teclado
Name[pt]=Teclas de atalho globais
Name[pl_PL]=Globalne Skróty Klawiszowe
Name[it_IT]=Scorciatoie globali della tastiera
Name[fi]=Yleiset pikanäppäimet
Name[eu]=Teklatuko lasterbide orokorrak
Name[es_VE]=Atajos de teclados de LXQt
Name[es]=Atajos Globales del Teclado
Name[el_GR]=Καθολικές συντομεύσεις πληκτρολογίου
Name[de_DE]=Globale Hotkeys
Name[da_DK]=Globale genvejstaster
Name[da]=Globale genvejstaster
Name[cs_CZ]=Celkové klávesové zkratky
Name[cs]=Celkové klávesové zkratky
