[Desktop Entry]
Type=Application
Name=Runner
TryExec=lxqt-runner
Exec=lxqt-runner
OnlyShowIn=LXQt;
X-LXQt-Module=true

Name[zh_TW]=快速執行
Name[zh_CN]=启动器
Name[uk]=Запускач
Name[tr]=Çalıştırıcı
Name[th_TH]=กล่องป้อนคำสั่ง
Name[sl]=Zaganjalnik
Name[ru_RU]=Запускалка программ
Name[ru]=бегунок
Name[pt_BR]=Executor
Name[pt]=Runner
Name[pl_PL]=Runner
Name[nl]=Starter
Name[lt]=Paleidikis
Name[ja]=ランナー
Name[it_IT]=Runner
Name[hu]=Indító
Name[fr_FR]=Lanceur
Name[fi]=Käynnistin
Name[eu]=Abiarazlea
Name[es_VE]=Ejecutor
Name[es]=Lanzador
Name[eo]=Rulilo
Name[el_GR]=Εκτελεστής
Name[de_DE]=Runner
Name[da_DK]=Programstarter
Name[da]=Programstarter
Name[cs_CZ]=Spouštěč
Name[cs]=Spouštěč
Name[ar]=المُطْلِق
