[Desktop Entry]
Type=Application
Name=qxkb
TryExec=qxkb
Exec=qxkb
OnlyShowIn=LXQt;

Name[zh_TW]=鍵盤輸出控制
Name[zh_CN]=qxkb
Name[uk]=qxkb
Name[tr]=qxkb
Name[th_TH]=qxkb
Name[sr@latin]=QXKB
Name[sr]=КјуИксКБ
Name[sl]=qxkb
Name[ru_RU]=qxkb
Name[ru]=qxkб
Name[ro_RO]=qxkb
Name[pt_BR]=qxkb
Name[pt]=qxkb
Name[pl_PL]=qxkb
Name[nl]=qxkb
Name[lt]=qxkb
Name[ja]=qxkb
Name[it_IT]=qxkb
Name[id_ID]=qxkb
Name[fr_FR]=qxkb
Name[fi]=qxkb
Name[eu]=qxkb
Name[es_VE]=qxkb
Name[es]=qxkb
Name[eo]=qxkb
Name[el_GR]=qxkb
Name[de_DE]=qxkb
Name[da_DK]=qxkb
Name[da]=Tastaturhåndtering
Name[cs_CZ]=qxkb
Name[cs]=qxkb
Name[ar]=لوحة المفاتيح
