[Xfce Panel]
Type=X-XFCE-PanelPlugin
Name=Keyboard Layouts
Name[ar]=تخطيطات لوحة المفاتيح
Name[ast]=Distribuciones pal tecláu
Name[be]=Раскладкі клавіятуры
Name[bg]=Клавиатурни подредби
Name[ca]=Disposicions de teclats
Name[cs]=Rozložení klávesnice
Name[da]=Tastaturlayouts
Name[de]=Tastaturbelegung
Name[el]=Διατάξεις πληκτρολογίου
Name[en_AU]=Keyboard Layouts
Name[en_CA]=Keyboard Layouts
Name[en_GB]=Keyboard Layouts
Name[es]=Distribuciones de teclado
Name[et]=Klaviatuuri paigutused
Name[eu]=Teklatu inguruneak
Name[fi]=Näppäinasettelut
Name[fr]=Dispositions du clavier
Name[gl]=Disposicións de teclado
Name[he]=פריסות מקלדת
Name[hr]=Rasporedi tipkovnice
Name[hu]=Billentyűzetkiosztások
Name[hy_AM]=Ստեղնաշարի շարակարգ
Name[hye]=Ստեղնաշարի շարակարգ
Name[id]=Tata Letak Papan Ketik
Name[ie]=Arangeamentes de tastatura
Name[is]=Lyklaborðsuppsetningar
Name[it]=Disposizione della tastiera
Name[ja]=キーボードレイアウト
Name[ka]=კლავიატურის განლაგებები
Name[kk]=Пернетақта жаймалары
Name[ko]=키보드 레이아웃
Name[lt]=Klaviatūros išdėstymai
Name[lv]=Klaviatūras izkārtojumi
Name[ms]=Bentangan Papan Kekunci
Name[nb]=Tastaturutforming
Name[nl]=Toetsenbordindelingen
Name[oc]=Disposicions del clavièr
Name[pl]=Układy klawiatury
Name[pt]=Esquemas de teclado
Name[pt_BR]=Disposições de teclado
Name[ro]=Aranjamente de tastatură
Name[ru]=Раскладки клавиатуры
Name[sk]=Rozloženie klávesnice
Name[sl]=Razporedi tipk
Name[sq]=Skema Tastiere
Name[sr]=Распореди тастатуре
Name[sv]=Tangentbordslayouter
Name[th]=ผังแป้นพิมพ์
Name[tr]=Klavye Yerleşimleri
Name[ug]=ھەرپتاختا ئورۇنلاشتۇرۇلۇشى
Name[uk]=Розкладки клавіатури
Name[ur]=کیبورڈ خاکے
Name[ur_PK]=کیبورڈ خاکے
Name[uz]=Klaviatura joylashuvlari
Name[uz@Latn]=Klaviatura joylashuvlari
Name[zh_CN]=键盘布局
Name[zh_TW]=鍵盤配置
Comment=Keyboard layouts setup and switch plugin
Comment[ar]=إعدادات تخطيطات لوحة المفاتيح ومفاتيح التبديل
Comment[be]=Убудова для пераключэння і наладкі раскладак клавіятуры
Comment[bg]=Добавка за настройка и превключване на клавиатурните подредби
Comment[ca]=Connector de configuració i de canvi de la disposició del teclat
Comment[cs]=Nastavuje a přepíná rozložení klávesnice
Comment[da]=Plugin til opsætning og skift af tastaturlayout
Comment[de]=Erweiterung zum Einstellen und Umschalten der Tastaturbelegung
Comment[el]=Άρθρωμα εναλλαγής και ρύθμισης των διατάξεων πληκτρολογίου
Comment[en_AU]=Keyboard layouts setup and switch plugin
Comment[en_CA]=Keyboard layouts setup and switch plugin
Comment[en_GB]=Keyboard layouts setup and switch plugin
Comment[es]=Complemento de configuración y selección de distribuciones de teclado
Comment[et]=Klaviatuuri paigutuse seadistamise ja vahetamise pistikprogramm
Comment[eu]=Teklatu ingurune konfigurazio eta txandakatze plugina
Comment[fi]=Näppäinasetteluiden asetus- ja vaihtoliitännäinen
Comment[fr]=Greffon de disposition et de bascule du clavier
Comment[gl]=Engadido de configuración e cambio de disposicións de teclado
Comment[he]=תוסף הגדרה והחלפה של פריסות מקלדת
Comment[hr]=Priključak postavljanja i prebacivanja rasporeda tipkovnice
Comment[hu]=Billentyűzetkiosztás-beállító és -váltó bővítmény
Comment[hy_AM]=Ստեղնաշարի շարակարգերի կազմաձեւում եւ ներդրաւնի փոոխում
Comment[hye]=Ստեղնաշարի շարակարգերի կազմաձեւում եւ ներդրաւնի փոոխում
Comment[id]=Pengaturan tata letak papan ketik dan pengalih plugin
Comment[ie]=Installar e alterar arangeamentes de tastatura
Comment[is]=Viðbót fyrir uppsetningar og skiptingar milli lyklaborða
Comment[it]=Componente aggiuntivo per l'impostazione ed il cambio della disposizione della tastiera
Comment[ja]=キーボードレイアウトのセットアップと切替用プラグインです。
Comment[kk]=Пернетақта жаймаларын орнату мен ауыстыру плагині
Comment[ko]=키보드 베치 설정 및 플러그인 변경
Comment[lt]=Klaviatūros išdėstymų sąrankos ir perjungimo įskiepis
Comment[lv]=Klaviatūras izkārtojuma uzstādījumi un pārslēgšanas spraudnis
Comment[ms]=Pemalam persediaan bentangan dan pertukaran papan kekunci
Comment[nb]=Tillegg for tastaturoppsett og veksling derav
Comment[nl]=Invoegsel voor het instellen en veranderen van toetsenbordindelingen
Comment[oc]=Empeuton de disposicion del clavièr e de son cambiament
Comment[pl]=Konfiguruje i przełącza układy klawiatury
Comment[pt]=Plugin de configuração do esquema do teclado
Comment[pt_BR]=Plug-in configurador e alternador de disposições de teclado
Comment[ro]=Modul pentru opțiunile aranjamentelor de tastatură
Comment[ru]=Настройка и переключение клавиатурных раскладок
Comment[sk]=Nastavuje a prepína rozloženie klávesnice
Comment[sl]=Prilagoditev / preklapljanje razporeda tipk
Comment[sq]=Shtojcë rregullimi dhe këmbimi skemash tastiere
Comment[sr]=Подешавање распореда тастатуре и прикључка измене
Comment[sv]=Insticksmodul för konfigurering och växling av tangentbordslayouter
Comment[th]=ปลั๊กอินตั้งค่าและสลับผังแป้นพิมพ์
Comment[tr]=Klavye yerleşimi yapılandırma ve değiştirme eklentisi
Comment[ug]=ھەرپتاختا ئورۇنلاشتۇرۇلۇشىنى تەڭشەش ۋە ئالماشتۇرۇش قىستۇرمىسىدۇر.
Comment[uk]=Розширення для налаштування розкладок клавіатури та їх перемикання
Comment[ur]=کیبورڈ خاکہ ترتیبات اور مبدل
Comment[ur_PK]=کیبورڈ خاکہ ترتیبات اور مبدل
Comment[uz]=Klaviatura joylashuvlarini sozlash va o'zgartirish plagini
Comment[uz@Latn]=Klaviatura joylashuvlarini sozlash va o'zgartirish plagini
Comment[zh_CN]=键盘布局设置和切换插件
Comment[zh_TW]=鍵盤配置設置與切換插件
Icon=preferences-desktop-keyboard
X-XFCE-Module=xkb
X-XFCE-Unique=TRUE
X-XFCE-Internal=FALSE
X-XFCE-API=2.0
