[Desktop Entry]
Name=Porteus Settings Centre
Exec=/opt/porteus-scripts/xorg/psu /opt/porteus-scripts/porteus-settings-centre
Icon=computer
Type=Application
Categories=Application;System;