[Desktop Entry]
Type=Service
ServiceTypes=LxQtPanel/Plugin
Name=Date & time
Comment=Displays the current time. Comes with a calendar.

Comment[zh_TW]=時鐘與日曆
Name[zh_TW]=時鐘
Comment[zh_CN]=时钟和日历
Name[zh_CN]=时钟
Comment[uk]=Показує поточний час. Календар
Name[uk]=Дата і час
Comment[tr]=Saat ve takvim
Name[tr]=Saat
Comment[th_TH]=นาฬิกาและปฏิทิน
Name[th_TH]=นาฬิกา
Comment[sr@latin]=Sat i kalendar
Name[sr@latin]=Sat
Comment[sr]=Сат и календар
Name[sr]=Сат
Comment[sl]=Ura in koledar
Name[sl]=Ura
Comment[sk]=Hodiny a kalendár
Name[sk]=Hodiny
Comment[ru_RU]=Часы и календарь
Name[ru_RU]=Часы
Comment[ru]=Часы и календарь
Name[ru]=Часы
Comment[ro_RO]=Ceas și calendar
Name[ro_RO]=Ceas
Comment[pt_BR]=Relógio e calendário
Name[pt_BR]=Relógio
Comment[pt]=Relógio e calendário
Name[pt]=Relógio
Comment[pl_PL]=Zegar i kalendarz
Name[pl_PL]=Zegar
Comment[pl]=Zegar oraz kalendarz
Name[pl]=Zegar
Comment[nl]=Klok en kalender
Name[nl]=Klok
Comment[lt]=Laikrodis ir kalendorius
Name[lt]=Laikrodis
Comment[ja]=時計とカレンダー
Name[ja]=時計
Comment[it_IT]=Orologio e calendario
Name[it_IT]=Orologio
Comment[hu]=Óra és naptár
Name[hu]=Óra
Comment[fr_FR]=Horloge et calendrier
Name[fr_FR]=Horloge
Comment[fi]=Kello ja kalenteri
Name[fi]=Kello
Comment[eu]=Erlojua eta egutegia
Name[eu]=Erlojua
Comment[es_VE]=Reloj y calendario
Name[es_VE]=Reloj
Comment[es]=Reloj y calendario
Name[es]=Reloj
Comment[eo]=Horloĝo kaj kalendaro
Name[eo]=Horloĝo
Comment[el_GR]=Ρολόι και ημερολόγιο
Name[el_GR]=Ρολόι
Comment[de_DE]=Uhr und Kalender
Name[de_DE]=Uhr
Comment[de]=Uhr und Kalender
Name[de]=Uhr
Comment[da_DK]=Ur og kalender
Name[da_DK]=Ur
Comment[da]=Ur og kalender
Name[da]=Ur
Comment[cs_CZ]=Hodiny a kalendář
Name[cs_CZ]=Hodiny
Comment[cs]=Hodiny a kalendář
Name[cs]=Hodiny
Comment[ar]=السَّاعة والتَّقويم
Name[ar]=السَّاعة
Name[sr@ijekavianlatin]=Sat
Comment[sr@ijekavianlatin]=Sat i kalendar
Name[sr@ijekavian]=Сат
Comment[sr@ijekavian]=Сат и календар
