[Desktop Entry]
Type=Service
ServiceTypes=LXQtPanel/Plugin
Icon=color-picker

Name=Color picker
Comment=Get the color under the cursor. For web developers
Name[ar]=لاقط الألوان
Comment[ar]=اعرف اللون تحت المؤشّر. لمطوّري الوِبّ
Name[bg]=Избиране на цветове
Comment[bg]=Избира цвят под курсора. За уеб дизайнери
Name[ca]=Selector de color
Comment[ca]=Obté el color que està a sota del cursor. Per als desenvolupadors de pàgines web
Name[cs]=Výběr barvy
Comment[cs]=Získejte barvu pod ukazovátkem. Pro webové vývojáře
Name[da]=Farvevælger
Comment[da]=Få farven under markøren. Til webudviklere
Name[de]=Farbwähler
Comment[de]=Wählt Farbe unter dem Cursor. Für Webentwickler
Name[el]=Επιλογέας χρωμάτων
Comment[el]=Λήψη του χρώματος κάτω από τον δρομέα. Για προγραμματιστές ιστοσελίδων
Name[es]=Selector de color
Comment[es]=Selecciona el color bajo el cursor. Para desarrolladores web
Name[es_VE]=Recoge colores
Comment[es_VE]=Toma un color de la pantalla con el cursor, para desarrolladores web
Name[et]=Värvivalija
Comment[et]=Näita kursorialust värvitooni. Sobib kasutamiseks näiteks\
Name[eu]=Kolore-hautatzailea
Comment[eu]=Eskuratu kurtsorearen azpiko kolorea. Web-garatzaileentzat
Name[fi]=Värivalitsin
Comment[fi]=Näyttää hiiren osoittimen alla olevan värin
Name[fr]=Sélecteur de couleur
Comment[fr]=Sélectionne la couleur existant sous le curseur
Name[he]=בוחר צבעים
Comment[he]=קבלת הצבע שתחת סמן העכבר. שימושי למפתחי אתרים
Name[hr]=Kapaljka
Comment[hr]=Odaberi boju ispod pokazivača. Za web‑dizajnere
Name[hu]=Színválasztó
Comment[hu]=Szín kiválasztása a képernyőről. Fejlesztőknek
Name[it]=Selettore del colore
Comment[it]=Rileva il colore sotto il cursore. Per sviluppatori web
Name[ja]=カラーピッカー
Comment[ja]=マウスカーソルの下の色を取得します。ウェブ開発者向けです
Name[lt]=Spalvos parinkiklis
Comment[lt]=Gauti po žymekliu esančią spalvą. Saityno plėtotojams
Name[nl]=Kleurkiezer
Comment[nl]=Selecteer de kleur onder de cursor (vooral bedoeld voor webontwikkelaars)
Name[pl]=Wybieracz kolorów
Comment[pl]=Sprawdź kolor wskazany kursorem. Przeznaczony dla web developerów. 
Name[pt]=Seletor de cores
Comment[pt]=Obter a cor por baixo do cursor. Para programadores web
Name[pt_BR]=Seletor de cores
Comment[pt_BR]=Obter a cor sob o cursor. Para desenvolvedores web
Name[ro]=Color picker
Comment[ro]=Obține culoarea de sub cursor. Pentru dezvoltatori web
Name[ru]=Цветовая палитра
Comment[ru]=Получить цвет под курсором мыши. Для веб-разработчиков
Name[th]=ตัวเลือกค่าสี
Comment[th]=นำค่าสีที่อยู่ใต้เคอร์เซอร์ขึ้นมา สำหรับนักพัฒนาเว็บ
Name[tr]=Renk seçici
Comment[tr]=İmleç altındaki rengi alır. Web geliştiricileri içindir
Name[uk]=Селектор кольору
Comment[uk]=Бере колір під курсором. Для web-розробників
Name[zh_CN]=颜色拾取器
Comment[zh_CN]=为web开发者获取鼠标下的颜色
Name[zh_TW]=取得顏色
Comment[zh_TW]=取得由標下的顏色。網頁開發者推荐使用。
