[Desktop Entry]
Type=Service
ServiceTypes=LXQtPanel/Plugin
Name=Color picker
Comment=Get the color under the cursor. For web developers.
Icon=color-picker

Name[ar]=لاقط الألوان
Comment[ar]=اعرف اللون تحت المؤشّر. لمطوّري الوِبّ.
Name[ca]=Selector de color
Comment[ca]=Obté el color que està a sota del cursor. Per als desenvolupadors de pàgines web.
Name[cs]=Výběr barvy
Comment[cs]=Získejte barvu pod ukazatelem. Pro webové vývojáře.
Name[da]=Farvevælger
Comment[da]=Få farven under markøren. Til webudviklere.
Name[de]=Farbwähler
Comment[de]=Wählt Farbe unter dem Cursor. Für Webentwickler.
Name[el]=Επιλογέας χρωμάτων
Comment[el]=Λήψη του χρώματος κάτω από τον δρομέα. Για προγραμματιστές ιστοσελίδων.
Name[es]=Selector de color
Comment[es]=Selecciona el color bajo el cursor. Para desarrolladores web.
Comment[es_VE]=Toma un color de la pantalla con el cursor, para desarrolladores web.
Name[es_VE]=Recoge colores
Comment[eu]=Eskuratu kurtsorearen azpiko kolorea. Web-garatzaileentzat.
Name[eu]=Kolore-hautatzailea
Comment[fi]=Näyttää hiiren osoittimen alla olevan värin.
Name[fi]=Värivalitsin
Name[fr]=Sélecteur de couleur
Comment[fr]=Sélectionne la couleur existant sous le curseur.
Name[hr]=Kapaljka
Comment[hr]=Odaberi boju ispod pokazivača. Za web‑dizajnere.
Comment[hu]=Szín kiválasztása a képernyőről. Fejlesztőknek.
Name[hu]=Színválasztó
Comment[it]=Rileva il colore sotto il cursore. Per sviluppatori web.
Name[it]=Selettore del colore
Name[ja]=カラーピッカー
Comment[ja]=マウスカーソルの下の色を取得します。ウェブ開発者向け。
Comment[lt]=Gauti po žymekliu esančią spalvą. Saityno plėtotojams. 
Name[lt]=Spalvos parinkiklis
Name[nl]=Kleurkiezer
Comment[nl]=Selecteer de kleur onder de cursor. Voor webontwikkelaars.
Comment[pl]=Sprawdź kolor wskazany kursorem. Przeznaczony dla web developerów. 
Name[pl]=Wybieracz kolorów
Name[pt]=Seletor de cores
Comment[pt]=Obter a cor por baixo do cursor. Para programadores web.
Comment[pt_BR]=Obter a cor sob o cursor. Para desenvolvedores web.
Name[pt_BR]=Seletor de cores
Comment[ro_RO]=Obține culoarea de sub cursor. Pentru dezvoltatori web.
Comment[ru]=Получить цвет под курсором мыши. Для веб-разработчиков.
Name[ru]=Цветовая палитра
Comment[th_TH]=นำค่าสีที่อยู่ใต้เคอร์เซอร์ขึ้นมา สำหรับนักพัฒนาเว็บ
Name[th_TH]=ตัวเลือกค่าสี
Name[tr]=Renk seçici
Comment[tr]=İmleç altındaki rengi alır. Web geliştiricileri içindir.
Comment[uk]=Бере колір під курсором. Для web-розробників.
Name[uk]=Селектор кольору
Comment[zh_CN]=为网络开发者获取鼠标下的颜色。
Name[zh_CN]=颜色拾取器
Comment[zh_TW]=取得由標下的顏色。網頁開發者推荐使用。
Name[zh_TW]=取得顏色
