[Desktop Entry]
Type=Service
ServiceTypes=LXQtPanel/Plugin
Name=CPU monitor
Comment=Displays the current CPU load.
Icon=cpu

Name[ar]=مرقاب المعالج
Comment[ar]=تعرض حمل المعالج الحاليّ.
Comment[cs]=Sledování zatížení procesoru
Name[cs]=Zatížení procesoru
Comment[cs_CZ]=Sledování zatížení procesoru
Name[cs_CZ]=Zatížení procesoru
Name[da]=CPU-overvågning
Comment[da]=Viser det aktuelle CPU-forbrug.
Name[de]=Prozessorauslastung
Comment[de]=Prozessorlast-Monitor
Name[el]=Επόπτης του επεξεργαστή
Comment[el]=Εμφανίζει το φορτίο του επεξεργαστή.
Comment[eo]=Monitorado de CPU-ŝarĝo
Name[eo]=CPU-ŝarĝo
Comment[es]=Monitor de carga de CPU
Name[es]=Carga de CPU
Comment[es_VE]=Monitor de carga del CPU
Name[es_VE]=Carga del CPU
Comment[eu]=PUZaren uneko karga bistaratzen du.
Name[eu]=PUZaren monitorea
Comment[fi]=Suorittimen kuormituksen seuranta
Name[fi]=Suorittimen kuormitus
Name[fr]=Charge du processeur
Comment[fr]=Affichage de la charge du processeur
Comment[hu]=Megjeleníti a processzorterhelést.
Name[hu]=CPU-figyelő
Comment[it]=Monitor del carico del processore
Name[it]=Carico del processore
Comment[ja]=現在のCPUの負荷を表示します
Name[ja]=CPUモニター
Comment[lt]=Procesoriaus stebėtojas
Name[lt]=Procesoriaus apkrova
Comment[nl]=CPU belasting monitor
Name[nl]=Cpu belasting
Comment[pl]=Wyświetla obecne obciążenie CPU
Name[pl]=Obciążenie CPU
Name[pt]=Carga do CPU
Comment[pt]=Monitor de carga do CPU
Comment[pt_BR]=Monitor de carga da CPU
Name[pt_BR]=Carga da CPU
Comment[ro_RO]=Monitor de încărcare a procesorului
Name[ro_RO]=Afișează gradul de încărcare al procesorului
Comment[ru]=Отображает текущую загрузку процессора.
Name[ru]=Монитор загрузки процессора
Comment[sl]=Nadzornik obremenitve CPE
Name[sl]=Obremenitev CPE
Comment[th_TH]=เฝ้าสังเกตการทำงานซีพียู
Name[th_TH]=การทำงานซีพียู
Comment[tr]=İşlemci Yükü izleyici
Name[tr]=İşlemci Yükü
Comment[uk]=Показує поточне навантаження CPU.
Name[uk]=Монітор CPU
Comment[zh_CN]=CPU 负载监视器
Name[zh_CN]=CPU 负载
Comment[zh_TW]=CPU使用監視器
Name[zh_TW]=CPU使用
