[Desktop Entry]
Type=Service
ServiceTypes=LXQtPanel/Plugin
Name=Desktop switcher
Comment=Allows easy switching between virtual desktops.
Icon=user-desktop

Name[ar]=مبدّل سطح المكتب
Comment[ar]=تسمح بالتّبديل السهل بين أسطح المكتب الوهميّة.
Name[ca]=Canviador d'escriptoris
Comment[ca]=Permet un canvi fàcil entre escriptoris virtuals.
Comment[cs]=Umožňuje přepínání virtuálních ploch
Name[cs]=Přepínání ploch
Name[da]=Skrivebordsskifter
Comment[da]=Giver mulighed for nemt at skifte mellem virtuelle skriveborde.
Name[de]=Arbeitsflächenumschalter
Comment[de]=Zwischen den virtuellen Arbeitsflächen umschalten
Name[el]=Εναλλαγή επιφάνειας εργασίας
Comment[el]=Επιτρέπει την εναλλαγή των εικονικών επιφανειών εργασίας.
Comment[eo]=Permesi ŝaltadon de virtualaj labortabloj
Name[eo]=Ŝalto de labortabloj
Name[es]=Cambiador de escritorios
Comment[es]=Permite cambiar fácilmente entre escritorios virtuales.
Comment[es_VE]=Permitir cambiar a escritorios virtuales
Name[es_VE]=Cambiador de Escritorios
Comment[eu]=Mahaigain birtualen artean modu errazean aldatzeko aukera eskaintzen du.
Name[eu]=Mahaigain-aldatzailea
Comment[fi]=Vaihda virtuaalisten työpöytien välillä
Name[fi]=Työpöydän vaihtaja
Comment[fr]=permettre un basculement aisé entre les bureaux virtuels
Name[fr]=Changeur de bureau
Comment[hu]=Lehetővé teszi a virtuális asztalok közötti váltást
Name[hu]=Aszatlváltó
Comment[it]=Permette di passare ad altri desktop virtuali
Name[it]=Cambia desktop
Comment[ja]=仮想デスクトップの切り替えを可能にします
Name[ja]=デスクトップ切り替え
Comment[lt]=Leidžia lengvai perjunginėti virtualius darbalaukius
Name[lt]=Darbalaukių perjungiklis
Comment[nl]=Wisselen tussen virtuele-bureaubladen toestaan
Name[nl]=Wissel bureaublad
Comment[pl]=Pozwala na proste przełączanie pomiędzy wirtualnymi pulpitami
Name[pl]=Obszary robocze
Name[pt]=Alternador de áreas de trabalho
Comment[pt]=Permite trocar entre as áreas de trabalho
Comment[pt_BR]=Permite alternar áreas de trabalho virtuais
Name[pt_BR]=Alternador de área de trabalho
Comment[ro_RO]=Permite comutarea între ecranele virtuale
Name[ro_RO]=Comutare ecrane virtuale
Comment[ru]=Позволяет легко переключаться между виртуальными рабочими столами.
Name[ru]=Переключение рабочих столов
Comment[sk]=Umožňuje prepínanie medzi virtuálnymi plochami
Name[sk]=Prepínač plôch
Comment[sl]=Omogoča preklop med navideznimi namizji
Name[sl]=Desktopswitch
Comment[sr]=Пребацујте виртуелне површи
Name[sr]=Пребацивач површи
Name[sr@ijekavian]=Пребацивач површи
Comment[sr@ijekavian]=Пребацујте виртуелне површи
Name[sr@ijekavianlatin]=Prebacivač površi
Comment[sr@ijekavianlatin]=Prebacujte virtuelne površi
Comment[sr@latin]=Prebacujte virtuelne površi
Name[sr@latin]=Prebacivač površi
Comment[th_TH]=อนุญาตให้ทำการสลับพื้นโต๊ะ
Name[th_TH]=สลับพื้นโต๊ะ
Comment[tr]=Sanal masaüstleri arasında geçiş yapın
Name[tr]=Masaüstü değiştirici
Comment[uk]=Дозволяє легко перемикатися між віртуальними стільницями
Name[uk]=Перемикач стільниць
Comment[zh_CN]=在虚拟桌面间切换
Name[zh_CN]=桌面切换
Comment[zh_TW]=允許切換虛擬桌面
Name[zh_TW]=桌面切換
