[Desktop Entry]
Type=Service
ServiceTypes=LXQtPanel/Plugin
Name=Keyboard state indicator
Comment=Keyboard state indicator and switcher plugin.
Icon=input-keyboard

Name[ar]=مؤشّر حالة لوحة المفاتيح
Comment[ar]=ملحقة لمؤشّر حالة لوحة المفاتيح وتبديل اللغات.
Name[ca]=Indicador d'estat del teclat
Comment[ca]=Connector que mostra l'indicador d'estat del teclat i que permet canviar-lo.
Name[cs]=Ukazatel klávesnice
Comment[cs]=Zásuvný modul zobrazující kontrolky klávesnice a pro změnu rozložení.
Name[da]=Tastaturtilstand-indikator
Comment[da]=Tastaturtilstand-indikator og -skifter-plugin.
Name[de]=Tastatur-LED-Anzeige
Comment[de]=Plugin zum Anzeigen der Tastatur-LEDs und Umschalten des Layouts.
Name[el]=Ένδειξη κατάστασης πληκτρολογίου
Comment[el]=Πρόσθετο ένδειξης της κατάστασης του πληκτρολογίου και εναλλαγής.
Name[es]=Indicador de estado del teclado
Comment[es]=Complemento para mostrar y cambiar de estado del teclado.
Name[fr]=Indicateurs de l'état du clavier
Comment[fr]=Greffon pour l'affichage de l'état du clavier et pour le basculement entre les dispositions.
Name[hu]=Billentyűállapot-kijelző
Comment[hu]=Bővítmény a billentyűállapot kijelzésére és a kiosztás megváltoztatására.
Name[it]=Disposizione della tastiera
Comment[it]=Mostra lo stato e la mappatura della tastiera
Name[ja]=キーボードインジケーター
Comment[ja]=キーボードインジケーターのプラグイン
Name[lt]=Klaviatūros būsenos indikatorius
Comment[lt]=Klaviatūros būsenos ir išdėstymų perjungimo įskiepis.
Name[pl]=Wskaźnik stanu klawiatury
Comment[pl]=Wskaźnik i przełącznik stanu klawiatury.
Name[pt]=Indicador de teclado
Comment[pt]=Plugin indicador do teclado
Name[ru]=Индикатор раскладки клавиатуры
Comment[ru]=Индикатор и плагин переключения раскладки клавиатуры.
Name[zh_CN]=键盘状态指示器
Comment[zh_CN]=键盘状态指示器与切换器插件
