[Desktop Entry]
Type=Service
ServiceTypes=LXQtPanel/Plugin
Name=Application menu
Comment=A menu of all your applications.
Icon=start-here-lxqt

Comment[ar]=قائمة لكلّ تطبيقاتك
Name[ar]=قائمة التّطبيقات
Name[ca]=Menú d'aplicacions
Comment[ca]=Un menú de totes les aplicacions.
Name[cs]=Nabídka aplikací
Comment[cs]=Nabídka se všemi nainstalovanými aplikacemi
Name[da]=Programmenu
Comment[da]=En menu med alle dine programmer.
Name[de]=Anwendungsmenü
Comment[de]=Menübasierter Anwendungsstarter
Name[el]=Μενού εφαρμογών
Comment[el]=Ένα μενού για όλες σας τις εφαρμογές.
Comment[eo]=Lanĉilo de aplikaĵoj baziĝita sur menuo
Name[eo]=Menuo de aplikaĵoj
Name[es]=Menú de aplicaciones
Comment[es]=Un menú con todas las aplicaciones.
Comment[es_VE]=Menu para lanzar las aplicaciones instaladas graficas
Name[es_VE]=Menu de aplicaciones
Comment[eu]=Menu bidezko aplikazio-abiarazlea
Name[eu]=Aplikazio menua
Comment[fi]=Valikkopohjainen sovelluskäynnistin
Name[fi]=Sovellusvalikko
Comment[fr]=Lanceur d'application sous forme de menu
Name[fr]=Menu d'application
Name[hr]=Izbornik programa
Comment[hr]=Izbornik svih programa.
Comment[hu]=Egy menü az alkalmazások indításához
Name[hu]=Alkalmazásmenü
Comment[id_ID]=Peluncur aplikasi berbasis menu
Name[id_ID]=Menu aplikasi
Comment[it]=Avviatore delle applicazioni basato su menù
Name[it]=Menu delle applicazioni
Name[ja]=アプリケーションメニュー
Comment[ja]=アプリケーションをメニューに表示します
Comment[lt]=Programų paleidimo meniu
Name[lt]=Programų meniu
Name[nl]=Applicatie-menu
Comment[nl]=Een menu met alle applicaties
Comment[pl]=Menu pozwalające na uruchomienie i wyszukiwanie wszystkich aplikacji.
Name[pl]=Menu
Name[pt]=Menu de aplicações
Comment[pt]=Lançador de aplicações baseado no menu
Comment[pt_BR]=Lançador de aplicativos baseado em menu
Name[pt_BR]=Menu de aplicativos
Comment[ro_RO]=Lansator de aplicații bazat pe meniuri
Name[ro_RO]=Meniu aplicații
Comment[ru]=Меню всех ваших программ.
Name[ru]=Меню приложений
Comment[sk]=Spúšťanie aplikácií z menu
Name[sk]=Menu aplikácií
Comment[sl]=Zaganjalnik programov, temelječ na meniju
Name[sl]=Programski meni
Comment[sr]=Мени покретача програма
Name[sr]=Мени програма
Name[sr@ijekavian]=Мени програма
Comment[sr@ijekavian]=Мени покретача програма
Name[sr@ijekavianlatin]=Meni programa
Comment[sr@ijekavianlatin]=Meni pokretača programa
Comment[sr@latin]=Meni pokretača programa
Name[sr@latin]=Meni programa
Comment[th_TH]=ปุ่มเรียกโปรแกรมพื้นฐานทางเมนู
Name[th_TH]=เมนูโปรแกรม
Comment[tr]=Menü temelli uygulama çalıştırıcı
Name[tr]=Uygulama menüsü
Comment[uk]=Меню з усіма програмами.
Name[uk]=Меню програм
Comment[zh_CN]=基于菜单的程序启动器
Name[zh_CN]=程序菜单
Comment[zh_TW]=以選單方式呈現的應用程式啟動器
Name[zh_TW]=應用程式選單
