[Desktop Entry]
Type=Service
ServiceTypes=LxQtPanel/Plugin
Name=Application menu
Comment=A menu of all your applications.

Comment[zh_TW]=以選單方式呈現的應用程式啟動器
Name[zh_TW]=應用程式選單
Comment[zh_CN]=基于菜单的程序启动器
Name[zh_CN]=程序菜单
Comment[uk]=Меню з усіма програмами.
Name[uk]=Меню програм
Comment[tr]=Menü temelli uygulama çalıştırıcı
Name[tr]=Uygulama menüsü
Comment[th_TH]=ปุ่มเรียกโปรแกรมพื้นฐานทางเมนู
Name[th_TH]=เมนูโปรแกรม
Comment[sr@latin]=Meni pokretača programa
Name[sr@latin]=Meni programa
Comment[sr]=Мени покретача програма
Name[sr]=Мени програма
Comment[sl]=Zaganjalnik programov, temelječ na meniju
Name[sl]=Programski meni
Comment[sk]=Spúšťanie aplikácií z menu
Name[sk]=Menu aplikácií
Comment[ru_RU]=Средство запуска программ через меню
Name[ru_RU]=Меню приложений
Comment[ru]=Меню запуска программ
Name[ru]=Меню программ
Comment[ro_RO]=Lansator de aplicații bazat pe meniuri
Name[ro_RO]=Meniu aplicații
Comment[pt_BR]=Lançador de aplicativos baseado em menu
Name[pt_BR]=Menu de aplicativos
Comment[pt]=Lançador de aplicações baseado no menu
Name[pt]=Menu de aplicações
Comment[pl_PL]=Menu aplikacji
Name[pl_PL]=Menu
Comment[pl]=Główne menu
Name[pl]=Menu
Comment[nl]=Menu-gebasseerde applicatie starter
Name[nl]=Applicatie menu
Comment[lt]=Programų paleidimo meniu
Name[lt]=Programų meniu
Comment[ja]=アプリケーションランチャーを元にしたメニュー
Name[ja]=アプリケーションメニュー
Comment[it_IT]=Avviatore delle applicazioni basato su menu
Name[it_IT]=Menu delle applicazioni
Comment[id_ID]=Peluncur aplikasi berbasis menu
Name[id_ID]=Menu aplikasi
Comment[hu]=Alkalmazásindító alapú menü
Name[hu]=Alkalmazásmenü
Comment[fr_FR]=Lanceur d'application sous forme de menu
Name[fr_FR]=Menu d'application
Comment[fi]=Valikkopohjainen sovelluskäynnistin
Name[fi]=Sovellusvalikko
Comment[eu]=Menu bidezko aplikazio-abiarazlea
Name[eu]=Aplikazio menua
Comment[es_VE]=Menu para lanzar las aplicaciones instaladas graficas
Name[es_VE]=Menu de aplicaciones
Comment[es]=Lanzador de aplicaciones con menú
Name[es]=Menu de Aplicaciones
Comment[eo]=Lanĉilo de aplikaĵoj baziĝita sur menuo
Name[eo]=Menuo de aplikaĵoj
Comment[el_GR]=Μενού εκκίνησης εφαρμογών
Name[el_GR]=Μενού εφαρμογών
Comment[de_DE]=Menü-basierter Anwendungsstarter
Name[de_DE]=Anwendungsmenü
Comment[de]=Menü basierter Anwendungsstarter
Name[de]=Anwendungsmenü
Comment[da_DK]=Menubaseret programstarter
Name[da_DK]=Program menu
Comment[da]=Menubaseret programstarter
Name[da]=Programmenu
Comment[cs_CZ]=Spouštěč programů založený na nabídce
Name[cs_CZ]=Nabídka programů
Comment[cs]=Hlavní nabídka
Name[cs]=Nabídka
Comment[ar]=بادئ التطبيقات المعتمد على قائمة
Name[ar]=قائمة التطبيقات
Name[sr@ijekavianlatin]=Meni programa
Comment[sr@ijekavianlatin]=Meni pokretača programa
Name[sr@ijekavian]=Мени програма
Comment[sr@ijekavian]=Мени покретача програма
