[Desktop Entry]
Type=Service
ServiceTypes=LXQtPanel/Plugin
Icon=drive-removable-media

Name=Removable Media
Comment=Easy mounting and unmounting of USB and optical drives
Name[ar]=الوسائط المنفصلة
Comment[ar]=لضمّ أو إزالة ضمّ أصابع USB أو الأجهزة البصريّة
Name[ca]=Mitjans extraïbles
Comment[ca]=Muntatge i desmuntatge fàcil d'unitats USB i òptiques
Name[cs]=Vyjímatelná média
Comment[cs]=Správa vyjímatelných zařízení (USB, optické, …)
Name[da]=Flytbare medier
Comment[da]=Nem montering og afmontering af USB- og optiske drev
Name[de]=Wechseldatenträger
Comment[de]=Wechseldatenträgerverwaltung (USB, CD, DVD, ...)
Name[el]=Αφαιρούμενα μέσα
Comment[el]=Εύκολη προσάρτηση και αποπροσάρτηση USB και οπτικών δίσκων
Name[eo]=Demetebla datumportilo
Comment[eo]=Traktilo de demeteblaj aparatoj (USB, KD, DVD, ...)
Name[es]=Medios removibles
Comment[es]=Montaje y desmontaje fácil de unidades USB y ópticas
Name[es_VE]=Dispositivos
Comment[es_VE]=Manejador de dispositivos removibles (USB, DVD, CAM, ..)
Name[et]=Eemaldatavad seadmed ja andmekandjad
Comment[et]=Optiliste sedamete ja USB-põhiste andemekandajate lihtne haldus\
Name[eu]=Gailu aldagarria
Comment[eu]=Gailu aldagarrien maneiatzailea (USB, CD, DVD, ...)
Name[fi]=Irrotettavat laitteet ja mediat
Comment[fi]=Irrotettavien laitteiden ja medioiden käsittelijä (USB, CD, DVD...)
Name[fr]=Média amovible
Comment[fr]=Gestionnaire de médias amovibles (USB, CD, DVD, ...)
Name[he]=מדיה נתיקה
Comment[he]=עיגון וניתוק של USB וכוננים אופטיים בקלות
Name[hr]=Prijenosni mediji
Comment[hr]=Pokretanje i uklanjanje prijenosnih medija
Name[hu]=Cserélhetőeszköz-kezelő
Comment[hu]=USB és optikai meghajtók egyszerű fel- és lecsatlakoztatása
Name[it]=Dispositivi rimovibili
Comment[it]=Gestore dei dispositivi rimovibili (USB, CD, DVD, ...)
Name[ja]=リムーバブルメディア
Comment[ja]=USB や光学ドライブのマウントやアンマウントを簡単にします
Name[lt]=Keičiamosios laikmenos
Comment[lt]=Lengvas USB ir optinių diskų prijungimas ir atjungimas
Name[nl]=Verwijderbare schijven
Comment[nl]=Beheer verwijderbare schijven (usb, cd, dvd, etc.)
Name[pl]=Menedżer urządzeń
Comment[pl]=Menedżer urządzeń wymiennych
Name[pt]=Discos amovíveis
Comment[pt]=Montar e desmontar discos óticos e unidades USB
Name[pt_BR]=Mídia removível
Comment[pt_BR]=Manipulador de mídia removível (USB, CD, DVD, ...)
Name[ro]=Dispozitive detașabile
Comment[ro]=Administrator de dispozitive detașabile (USB, CD, DVD, ...)
Name[ru]=Съёмные устройства
Comment[ru]=Простое подключение и отключение USB и оптических приводов
Name[sk]=Prenosné médiá
Comment[sk]=Práca s prenosnými médiami (USB, CD, DVD, ...)
Name[sl]=Odstranljivi nosilci
Comment[sl]=Upravljalnik odstranljivih nosilcev (USB, CD, DVD, ...)
Name[sr]=Уклоњиви медији
Comment[sr]=Руковаоц уклоњивим медијима (УСБ, ЦД, ДВД...)
Name[sr@ijekavian]=Уклоњиви медији
Comment[sr@ijekavian]=Руковаоц уклоњивим медијима (УСБ, ЦД, ДВД...)
Name[sr@ijekavianlatin]=Uklonjivi mediji
Comment[sr@ijekavianlatin]=Rukovaoc uklonjivim medijima (USB, CD, DVD...)
Name[sr@latin]=Uklonjivi mediji
Comment[sr@latin]=Rukovaoc uklonjivim medijima (USB, CD, DVD...)
Name[th]=สื่อที่สามารถถอดเสียบได้
Comment[th]=ตัวจัดการสื่อที่สามารถถอดเสียบได้ (USB, CD, DVD, ...)
Name[tr]=Çıkarılabilir aygıt
Comment[tr]=Çıkarılabilir aygıt yöneticisi (USB, CD, DVD, ...)
Name[uk]=Знімні носії
Comment[uk]=Легке керування знімними носіями (USB, CD, DVD тощо)
Name[zh_CN]=移动存储
Comment[zh_CN]=移动存储处理(USB, CD, DVD, ...)
Name[zh_TW]=可卸除式裝置
Comment[zh_TW]=可卸除式裝置管理(USB、光碟...)
