[Desktop Entry]
Type=Service
ServiceTypes=LXQtPanel/Plugin
Name=Removable media
Comment=Easy mounting and unmounting of USB and optical drives.
Icon=drive-removable-media

Comment[ar]=لضمّ أو إزالة ضمّ أصابع USB أو الأجهزة البصريّة.
Name[ar]=الوسائط المنفصلة
Name[ca]=Mitjans extraïbles
Comment[ca]=Muntatge i desmuntatge fàcil d'unitats USB i òptiques.
Comment[cs]=Správa vyjímatelných zařízení (USB, optické, …)
Name[cs]=Vyjímatelná média
Name[da]=Flytbare medier
Comment[da]=Nem montering og afmontering af USB- og optiske drev.
Name[de]=Wechseldatenträger
Comment[de]=Wechseldatenträgerverwaltung (USB, CD, DVD, ...)
Name[el]=Αφαιρούμενα μέσα
Comment[el]=Εύκολη προσάρτηση και αποπροσάρτηση USB και οπτικών δίσκων.
Comment[eo]=Traktilo de demeteblaj aparatoj (USB, KD, DVD, ...)
Name[eo]=Demetebla datumportilo
Name[es]=Medios removibles
Comment[es]=Montaje y desmontaje fácil de unidades USB y ópticas.
Comment[es_VE]=Manejador de dispositivos removibles (USB, DVD, CAM, ..)
Name[es_VE]=Dispositivos
Comment[eu]=Gailu aldagarrien maneiatzailea (USB, CD, DVD, ...)
Name[eu]=Gailu aldagarria
Comment[fi]=Irrotettavien laitteiden ja medioiden käsittelijä (USB, CD, DVD...)
Name[fi]=Irrotettavat laitteet ja mediat
Comment[fr]=Gestionnaire de médias amovibles (USB, CD, DVD, ...)
Name[fr]=Média amovible
Name[hr]=Prijenosni mediji
Comment[hr]=Pokretanje i uklanjanje prijenosnih medija.
Comment[hu]=USB és optikai meghajtók egyszerű fel- és lecsatlakoztatása
Name[hu]=Cserélhetőeszköz-kezelő
Name[it]=Dispositivi rimovibili
Comment[it]=Gestore dei dispositivi rimovibili (USB, CD, DVD, ...)
Name[ja]=リムーバブルメディア
Comment[ja]=USB や光学ドライブのマウントやアンマウントを簡単にします
Comment[lt]=Lengvas USB ir optinių diskų prijungimas ir atjungimas.
Name[lt]=Keičiamosios laikmenos
Name[nl]=Verwijderbare media
Comment[nl]=Verwijderbare media beheren (USB, CD, DVD, ...)
Comment[pl]=Menedżer urządzeń wymiennych
Name[pl]=Menedżer urządzeń
Name[pt]=Discos amovíveis
Comment[pt]=Montar e desmontar discos óticos e unidades USB.
Comment[pt_BR]=Manipulador de mídia removível (USB, CD, DVD, ...)
Name[pt_BR]=Mídia removível
Comment[ro_RO]=Administrator de dispozitive detașabile (USB, CD, DVD, ...)
Name[ro_RO]=Dispozitive detașabile
Comment[ru_RU]=Простое подключение и отключение USB и оптических приводов.
Name[ru_RU]=Съёмные устройства
Comment[sk]=Práca s prenosnými médiami (USB, CD, DVD, ...)
Name[sk]=Prenosné médiá
Comment[sl]=Upravljalnik odstranljivih nosilcev (USB, CD, DVD, ...)
Name[sl]=Odstranljivi nosilci
Comment[sr]=Руковаоц уклоњивим медијима (УСБ, ЦД, ДВД...)
Name[sr]=Уклоњиви медији
Name[sr@ijekavian]=Уклоњиви медији
Comment[sr@ijekavian]=Руковаоц уклоњивим медијима (УСБ, ЦД, ДВД...)
Name[sr@ijekavianlatin]=Uklonjivi mediji
Comment[sr@ijekavianlatin]=Rukovaoc uklonjivim medijima (USB, CD, DVD...)
Comment[sr@latin]=Rukovaoc uklonjivim medijima (USB, CD, DVD...)
Name[sr@latin]=Uklonjivi mediji
Comment[th_TH]=ตัวจัดการสื่อที่สามารถถอดเสียบได้ (USB, CD, DVD, ...)
Name[th_TH]=สื่อที่สามารถถอดเสียบได้
Comment[tr]=Çıkarılabilir aygıt yöneticisi (USB, CD, DVD, ...)
Name[tr]=Çıkarılabilir aygıt
Comment[uk]=Легке керування знімними носіями (USB, CD, DVD тощо)
Name[uk]=Знімні носії
Comment[zh_CN]=移动存储处理(USB, CD, DVD, ...)
Name[zh_CN]=移动存储
Comment[zh_TW]=可卸除式裝置管理(USB、光碟...)
Name[zh_TW]=可卸除式裝置
