[Desktop Entry]
Type=Service
ServiceTypes=LXQtPanel/Plugin
#Icon=network-transmit-receive
Icon=network-wired

Name=Network Monitor
Comment=Displays network status and activity
Name[ar]=مرقاب الشّبكة
Comment[ar]=تعرض حالة الشّبكة ونشاطها
Name[ca]=Monitor de xarxes
Comment[ca]=Mostra l'estat i l'activitat de la xarxa
Name[cs]=Monitor sítě
Comment[cs]=Zobrazuje stav a aktivity sítě
Name[da]=Netværksovervågning
Comment[da]=Netværksovervågning
Name[de]=Netzwerkmonitor
Comment[de]=Informationen zu Status und Aktivität des Netzwerks
Name[el]=Επόπτης δικτύου
Comment[el]=Εμφάνιση της κατάστασης και της δραστηριότητας του δικτύου
Name[eo]=Ret-observilo
Comment[eo]=Elmontras ret-staton kaj -aktivecon
Name[es]=Monitor de redes
Comment[es]=Muestra el estado y la actividad de la red
Name[et]=Võrguhaldur
Comment[et]=Vaata võrgu olekut ja liikluse mahtu
Name[eu]=Sarearen monitorea
Comment[eu]=Bistaratu sarearen egoera eta aktibitatea
Name[fi]=Verkkoseuranta
Comment[fi]=Verkkoseuranta
Name[fr]=Moniteur Réseau
Comment[fr]=Affiche le statut et l'activité du réseau
Name[he]=צג הרשת
Comment[he]=מציג את מצב ופעילות הרשת
Name[hr]=Praćenje mreže
Comment[hr]=Prikazuje stanje i aktivonst mreže
Name[hu]=Hálózatfigyelő
Comment[hu]=Megjeleníti a hálózat állapotát és aktivitását
Name[it]=Monitor di rete
Comment[it]=Mostra stato e attività della rete
Name[ja]=ネットワークモニター
Comment[ja]=ネットワークの状態や動作状況を表示します
Name[lt]=Tinklo prižiūryklė
Comment[lt]=Rodo tinklo būseną ir veiklą
Name[nl]=Netwerkmonitor
Comment[nl]=Toont netwerkstatus en -activiteit
Name[pl]=Monitorowanie sieci
Comment[pl]=Wyświetla stan i aktywność sieci
Name[pt]=Monitor de rede
Comment[pt]=Mostrar estado e atividade da rede
Name[pt_BR]=Monitor de Rede
Comment[pt_BR]=Mostra atividade e estado da rede
Name[ro_RO]=Monitor rețea
Comment[ro_RO]=Afisează starea și activitatea rețelei
Name[ru]=Сетевой Монитор
Comment[ru]=Отображает сетевой статус и активность
Name[sr@latin]=Meni pokretača programa
Comment[sr@latin]=Automatsko suspendovanje
Name[th]=เฝ้าสังเกตเครือข่าย
Comment[th]=เฝ้าสังเกตเครือข่าย
Name[tr]=Ağ izleme
Comment[tr]=Ağ iletişimi izleme ve yönetme
Name[uk]=Монітор мережі
Comment[uk]=Показує стан та активність мережі
Name[zh_CN]=网络监视器
Comment[zh_CN]=显示网络的状态与活动
Name[zh_TW]=顯示網路狀態和活動
Comment[zh_TW]=網路監視器
