[Desktop Entry]
Type=Service
ServiceTypes=LXQtPanel/Plugin
Name=Network monitor
Comment=Displays network status and activity.
#Icon=network-transmit-receive
Icon=network-wired

Name[ar]=مرقاب الشّبكة
Comment[ar]=تعرض حالة الشّبكة ونشاطها
Name[ca]=Monitor de xarxes
Comment[ca]=Mostra l'estat i l'activitat de la xarxa.
Name[cs]=Monitor sítě
Comment[cs]=Zobrazuje stav a aktivity sítě
Name[da]=Netværksovervågning
Comment[da]=Netværksovervågning
Name[de]=Netzwerkmonitor
Comment[de]=Informationen zu Status und Aktivität des Netzwerks
Name[el]=Επόπτης δικτύου
Comment[el]=Εμφάνιση της κατάστασης και της δραστηριότητας του δικτύου
Name[eo]=Ret-observilo
Comment[eo]=Elmontras ret-staton kaj -aktivecon
Name[es]=Monitor de redes
Comment[es]=Muestra el estado y la actividad de la red.
Comment[eu]=Bistaratu sarearen egoera eta aktibitatea
Name[eu]=Sarearen monitorea
Comment[fi]=Verkkoseuranta
Name[fi]=Verkkoseuranta
Name[fr]=Moniteur Réseau
Comment[fr]=Affiche le statut et l'activité du réseau
Name[hu]=Alkalmazásindító alapú menü
Comment[hu]=Alkalmazásmenü
Name[it]=Monitor di rete
Comment[it]=Mostra stato e attività della rete
Comment[ja]=ネットワークの状態や動作状況を表示します
Name[ja]=ネットワークモニター
Name[lt]=Tinklo prižiūryklė
Comment[lt]=Rodo tinklo būseną ir veiklą
Name[nl]=Netwerkmonitor
Comment[nl]=Toont netwerkstatus en -activiteit
Name[pl]=Monitorowanie sieci
Comment[pl]=Wyświetla stan i aktywność sieci.
Name[pt]=Monitor de rede
Comment[pt]=Mostrar estado e atividade da rede
Name[pt_BR]=Monitor de Rede
Comment[pt_BR]=Mostra atividade e estado da rede
Comment[ro_RO]=Afisează starea și activitatea rețelei
Name[ro_RO]=Monitor rețea
Comment[ru]=Отображает сетевой статус и активность.
Name[ru]=Сетевой Монитор
Comment[sr@latin]=Automatsko suspendovanje
Name[sr@latin]=Meni pokretača programa
Comment[th_TH]=เฝ้าสังเกตเครือข่าย
Name[th_TH]=เฝ้าสังเกตเครือข่าย
Name[tr]=Ağ izleme
Comment[tr]=Ağ iletişimi izleme ve yönetme
Comment[uk]=Показує стан та активність мережі.
Name[uk]=Монітор мережі
Name[zh_CN]=网络监视器
Comment[zh_CN]=显示网络的状态与活动
Comment[zh_TW]=網路監視器
Name[zh_TW]=顯示網路狀態和活動
