[Desktop Entry]
Type=Service
ServiceTypes=LxQtPanel/Plugin

Name=Network monitor
Comment=Displays network status and activity.

Name[ru]=Монитор сети
Comment[ru]=Монитор сети

Comment[zh_TW]=網路監視器
Name[zh_TW]=顯示網路狀態和活動
Comment[zh_CN]=qxkb
Name[zh_CN]=屏幕记事本
Comment[uk]=Показує стан та активність мережі.
Name[uk]=Монітор мережі
Comment[tr]=Not Defteri
Name[tr]=Ekran not defteri
Comment[th_TH]=เฝ้าสังเกตเครือข่าย
Name[th_TH]=เฝ้าสังเกตเครือข่าย
Comment[sr@latin]=Automatsko suspendovanje
Name[sr@latin]=Meni pokretača programa
Comment[sl]=Nadzornik omrežja
Name[sl]=Nadzornik omrežja
Comment[ru_RU]=Сетевой Монитор
Name[ru_RU]=Сетевой Монитор
Comment[ru]=Сеть монитор
Name[ru]=Сеть монитор
Comment[ro_RO]=Părăsește
Name[ro_RO]=Lansează aplicațiile favorite
Comment[pt_BR]=Suspender Automaticamente
Name[pt_BR]=Ambiente De Trabalho Qt4
Comment[pt]=Mostrar o estado e a atividade da rede
Name[pt]=Monitor de rede
Comment[pl_PL]=Konfiguracja wyglądu LxQt
Name[pl_PL]=Środowisko graficzne Qt4
Comment[pl]=Menu
Name[pl]=Główne menu
Comment[nl]=Notepad
Name[nl]=Scherm notepad
Comment[lt]=Qlipper
Name[lt]="Sveikas pasauli" priedas
Comment[ja]=ネットワークモニタ
Name[ja]=ネットワークモニタ
Comment[it_IT]=Esci
Name[it_IT]=Permette di passare ad altri desktop virtuali
Comment[it]=Centro di Configurazione LxQt
Name[it]=Configura moduli di LXDE-Qt
Comment[id_ID]=Hell World
Name[id_ID]=Sebuah Plugin "hello world".
Comment[hu]=Alkalmazásmenü
Name[hu]=Alkalmazásindító alapú menü
Comment[fr_FR]=Bloc-notes
Name[fr_FR]=Bloc-notes de l'écran
Comment[fi]=Verkkoseuranta
Name[fi]=Verkkoseuranta
Comment[eu]=Bistaratu sarearen egoera eta aktibitatea
Name[eu]=Sarearen monitorea
Comment[es_VE]=Monitor de red
Name[es_VE]=Monitor de red
Comment[es]=Administrador de tareas
Name[es]=Entorno de escritorio Qt4
Comment[eo]=Agordoj de muso por LxQto
Name[eo]=Agordi X11-muson
Comment[el_GR]=Εμφάνιση της κατάστασης δικτύου και δραστηριότητας.
Name[el_GR]=Επόπτης δικτύου
Comment[de_DE]=Anwendungsmenü
Name[de_DE]=Menü-basierter Anwendungsstarter
Comment[de]=LxQt Konfigurations Center
Name[de]=Bildschirm Notizblock
Comment[da_DK]=Netværksovervågning
Name[da_DK]=Netværksovervågning
Comment[da]=Netværksovervågning
Name[da]=Netværksovervågning
Comment[cs_CZ]=Nastavení LxQtu
Name[cs_CZ]=Nastavit moduly LXDE-Qt
Comment[cs]=Nabídka
Name[cs]=Hlavní nabídka
Comment[ar]=قائمة التطبيقات
Name[ar]=تهيئة وحدة جلسة ريزركيوت
