[Desktop Entry]
Type=Service
ServiceTypes=LxQtPanel/Plugin
Name=Quick launch
Comment=Easy access to your favourite applications.

Comment[zh_TW]=啟動您最愛的應用程式
Name[zh_TW]=快速啟動
Comment[zh_CN]=启动常用程序
Name[zh_CN]=快速启动
Comment[uk]=Простіше запускайте улюблені програми
Name[uk]=Швидкий запуск
Comment[tr]=Sık kullanılan uygulamalarınızı çalıştırın
Name[tr]=Hızlı çalıştırıcı
Comment[th_TH]=เรียกใช้งานโปรแกรมที่ชื่นชอบของคุณ
Name[th_TH]=ตัวเรียกโปรแกรมด่วน
Comment[sr@latin]=Pokreće vaše omiljene programe
Name[sr@latin]=Brzo pokretanje
Comment[sr]=Покреће ваше омиљене програме
Name[sr]=Брзо покретање
Comment[sl]=Zaženite svoje priljubljene programe
Name[sl]=Hitri zagon
Comment[sk]=Spúšťanie vašich obľúbených aplikácií
Name[sk]=Rýchle spustenie
Comment[ru_RU]=Запускайте свои любимые приложения
Name[ru_RU]=Быстрый запуск
Comment[ru]=Панель с избранными программами
Name[ru]=Панель запуска
Comment[ro_RO]=Lansează aplicațiile favorite
Comment[pt_BR]=Lance seus aplicativos favoritos
Name[pt_BR]=Lançador rápido
Comment[pt]=Iniciar as aplicações preferidas
Name[pt]=Inicio rápido
Comment[pl_PL]=Uruchom swoje ulubione aplikacje.
Name[pl_PL]=Szybkie uruchamianie
Comment[pl]=Uruchamiaj Twoje ulubione aplikacje
Name[pl]=Szybkie uruchamianie
Comment[nl]=Uw favoriete programma's starten
Name[nl]=Snelstarter
Comment[lt]=Paleiskite savo mėgstamas programas
Name[lt]=Greitasis paleidimas
Comment[ja]=お気に入りのアプリケーションを起動
Name[ja]=クイック起動
Comment[it_IT]=Avvia le tue applicazioni preferite
Name[it_IT]=Avvio rapido
Comment[id_ID]=Luncurkan aplikasi favorit anda
Name[id_ID]=Quicklaunch
Comment[hu]=A kedvenc alkalmazásainak indítása
Name[hu]=Gyorsindító
Comment[fr_FR]=Lancer votre application favorite
Name[fr_FR]=Lancement rapide
Comment[fi]=Käynnistä suosikkisovelluksesi
Name[fi]=Pikakäynnistys
Comment[eu]=Zure gogoko aplikazioetarako sarbide erraza
Name[eu]=Abio azkarra
Comment[es_VE]=Iconos lanzadores de tus aplicaciones favoritas
Name[es_VE]=Lanzadores
Comment[es]=Lanze sus aplicaciones favoritas
Name[es]=Lanzador rápido
Comment[eo]=Lanĉu viajn preferatajn aplikaĵojn
Name[eo]=Rapidlanĉo
Comment[el_GR]=Εκκίνηση των αγαπημένων σας εφαρμογών
Name[el_GR]=Γρήγορη εκκίνηση
Comment[de_DE]=Starte deine Lieblingsanwendungen
Name[de_DE]=Schnellstarter
Comment[de]=Starten Sie Ihre lieblings Anwendungen
Name[de]=Schnellstarter
Comment[da_DK]=Start dine ynglingsprogrammer
Name[da_DK]=Hurtigstart
Comment[da]=Start dine favoritprogrammer
Name[da]=Quicklaunch
Comment[cs_CZ]=Spusťte své oblíbené programy
Name[cs_CZ]=Rychlé spuštění
Comment[cs]=Spouštěte své oblíbené programy
Name[cs]=Rychlé spouštění
Comment[ar]=إطلاق تطبيقاتك المفضَّلة
Name[ar]=البدء السريع
Name[sr@ijekavianlatin]=Brzo pokretanje
Comment[sr@ijekavianlatin]=Pokreće vaše omiljene programe
Name[sr@ijekavian]=Брзо покретање
Comment[sr@ijekavian]=Покреће ваше омиљене програме
