[Desktop Entry]
Type=Service
ServiceTypes=LXQtPanel/Plugin
Icon=quickopen

Name=Quick Launch
Comment=Easy access to your favourite applications
Name[ar]=إطلاق سريع
Comment[ar]=نفاذ مباشر لتطبيقاتك المفضّلة
Name[ca]=Llançament ràpid
Comment[ca]=Accés fàcil a les aplicacions preferides
Name[cs]=Rychlé spouštění
Comment[cs]=Snadný přístup k vaším oblíbeným aplikacím
Name[da]=Hurtigstart
Comment[da]=Nem adgang til dine favoritprogrammer
Name[de]=Schnellstarter
Comment[de]=Starten Sie Ihre Lieblingsanwendungen
Name[el]=Γρήγορη εκκίνηση
Comment[el]=Εύκολη πρόσβαση στις αγαπημένες σας εφαρμογές
Name[eo]=Rapidlanĉo
Comment[eo]=Lanĉu viajn preferatajn aplikaĵojn
Name[es]=Lanzador rápido
Comment[es]=Acceso rápido a sus aplicaciones favoritas
Name[es_VE]=Lanzadores
Comment[es_VE]=Iconos lanzadores de tus aplicaciones favoritas
Name[et]=Kiirkäivitaja
Comment[et]=Lihtne ligipääs sinu põhilistele rakendustele
Name[eu]=Abio azkarra
Comment[eu]=Zure gogoko aplikazioetarako sarbide erraza
Name[fi]=Pikakäynnistys
Comment[fi]=Käynnistä suosikkisovelluksesi
Name[fr]=Lancement rapide
Comment[fr]=Lancer votre application favorite
Name[he]=הפעלה מהירה
Comment[he]=גישה פשוטה ליישומים המועדפים עליך
Name[hr]=Brzo pokretanje
Comment[hr]=Brz pristup omiljenim programima
Name[hu]=Gyorsindító
Comment[hu]=A kedvenc alkalmazásainak indítása
Name[id]=Quicklaunch
Comment[id]=Luncurkan aplikasi favorit anda
Name[it]=Avvio rapido
Comment[it]=Avvia le applicazioni preferite
Name[ja]=クイック起動
Comment[ja]=お気に入りのアプリケーションの起動を簡単にします
Name[lt]=Spartusis paleidimas
Comment[lt]=Lengva prieiga prie jūsų mėgstamų programų
Name[nl]=Snelstartbalk
Comment[nl]=Start uw favoriete programma's met één muisklik
Name[pl]=Szybkie uruchamianie
Comment[pl]=Szybki dostęp do Twoich ulubionych aplikacji
Name[pt]=Inicio rápido
Comment[pt]=Acesso rápido as suas aplicações preferidas
Name[pt_BR]=Lançador rápido
Comment[pt_BR]=Lance seus aplicativos favoritos
Name[ro]=Quick launch
Comment[ro]=Lansează aplicațiile favorite
Name[ru]=Быстрый запуск
Comment[ru]=Простой доступ к вашим любимым приложениям
Name[sk]=Rýchle spustenie
Comment[sk]=Spúšťanie vašich obľúbených aplikácií
Name[sl]=Hitri zagon
Comment[sl]=Zaženite svoje priljubljene programe
Name[sr]=Брзо покретање
Comment[sr]=Покреће ваше омиљене програме
Name[sr@ijekavian]=Брзо покретање
Comment[sr@ijekavian]=Покреће ваше омиљене програме
Name[sr@ijekavianlatin]=Brzo pokretanje
Comment[sr@ijekavianlatin]=Pokreće vaše omiljene programe
Name[sr@latin]=Brzo pokretanje
Comment[sr@latin]=Pokreće vaše omiljene programe
Name[th]=ตัวเรียกโปรแกรมด่วน
Comment[th]=เรียกใช้งานโปรแกรมที่ชื่นชอบของคุณ
Name[tr]=Hızlı çalıştırıcı
Comment[tr]=Sık kullanılan uygulamalarınızı çalıştırın
Name[uk]=Швидкий запуск
Comment[uk]=Простіше запускайте улюблені програми
Name[zh_CN]=快速启动
Comment[zh_CN]=启动常用程序
Name[zh_TW]=快速啟動
Comment[zh_TW]=啟動您最愛的應用程式
