[Desktop Entry]
Type=Service
ServiceTypes=LXQtPanel/Plugin
Name=Quick launch
Comment=Easy access to your favourite applications.
Icon=quickopen

Comment[ar]=نفاذ مباشر لتطبيقاتك المفضّلة.
Name[ar]=إطلاق سريع
Name[ca]=Llançament ràpid
Comment[ca]=Accés fàcil a les aplicacions preferides.
Comment[cs]=Snadný přístup k vaším oblíbeným aplikacím
Name[cs]=Rychlé spouštění
Name[da]=Hurtigstart
Comment[da]=Nem adgang til dine favoritprogrammer.
Name[de]=Schnellstarter
Comment[de]=Starten Sie Ihre Lieblingsanwendungen
Name[el]=Γρήγορη εκκίνηση
Comment[el]=Εύκολη πρόσβαση στις αγαπημένες σας εφαρμογές
Comment[eo]=Lanĉu viajn preferatajn aplikaĵojn
Name[eo]=Rapidlanĉo
Name[es]=Lanzador rápido
Comment[es]=Acceso rápido a sus aplicaciones favoritas.
Comment[es_VE]=Iconos lanzadores de tus aplicaciones favoritas
Name[es_VE]=Lanzadores
Comment[eu]=Zure gogoko aplikazioetarako sarbide erraza
Name[eu]=Abio azkarra
Comment[fi]=Käynnistä suosikkisovelluksesi
Name[fi]=Pikakäynnistys
Comment[fr]=Lancer votre application favorite
Name[fr]=Lancement rapide
Name[hr]=Brzo pokretanje
Comment[hr]=Brz pristup omiljenim programima.
Comment[hu]=A kedvenc alkalmazásainak indítása.
Name[hu]=Gyorsindító
Comment[id_ID]=Luncurkan aplikasi favorit anda
Name[id_ID]=Quicklaunch
Comment[it]=Avvia le applicazioni preferite
Name[it]=Avvio rapido
Name[ja]=クイック起動
Comment[ja]=お気に入りのアプリケーションの起動を簡単にします
Comment[lt]=Lengva prieiga prie jūsų mėgstamų programų
Name[lt]=Spartusis paleidimas
Name[nl]=Snelstarter
Comment[nl]=Uw favoriete programma's starten met één muisklik.
Comment[pl]=Szybki dostęp do Twoich ulubionych aplikacji.
Name[pl]=Szybkie uruchamianie
Name[pt]=Inicio rápido
Comment[pt]=Acesso rápido as suas aplicações preferidas.
Comment[pt_BR]=Lance seus aplicativos favoritos
Name[pt_BR]=Lançador rápido
Comment[ro_RO]=Lansează aplicațiile favorite
Comment[ru]=Простой доступ к вашим любимым приложениям.
Name[ru]=Быстрый запуск
Comment[sk]=Spúšťanie vašich obľúbených aplikácií
Name[sk]=Rýchle spustenie
Comment[sl]=Zaženite svoje priljubljene programe
Name[sl]=Hitri zagon
Comment[sr]=Покреће ваше омиљене програме
Name[sr]=Брзо покретање
Name[sr@ijekavian]=Брзо покретање
Comment[sr@ijekavian]=Покреће ваше омиљене програме
Name[sr@ijekavianlatin]=Brzo pokretanje
Comment[sr@ijekavianlatin]=Pokreće vaše omiljene programe
Comment[sr@latin]=Pokreće vaše omiljene programe
Name[sr@latin]=Brzo pokretanje
Comment[th_TH]=เรียกใช้งานโปรแกรมที่ชื่นชอบของคุณ
Name[th_TH]=ตัวเรียกโปรแกรมด่วน
Comment[tr]=Sık kullanılan uygulamalarınızı çalıştırın
Name[tr]=Hızlı çalıştırıcı
Comment[uk]=Простіше запускайте улюблені програми
Name[uk]=Швидкий запуск
Comment[zh_CN]=启动常用程序
Name[zh_CN]=快速启动
Comment[zh_TW]=啟動您最愛的應用程式
Name[zh_TW]=快速啟動
