[Desktop Entry]
Type=Service
ServiceTypes=LxQtPanel/Plugin
Name=Launch screensaver
Comment=Activate a screensaver and/or lock the screen

Comment[zh_TW]=啟動螢幕保護程式並/或鎖上螢幕
Name[zh_TW]=螢幕保護程式
Comment[zh_CN]=启用屏幕保护并锁定屏幕
Name[zh_CN]=屏幕保护
Comment[uk]=Активувати зберігач екрану та/чи заблокувати екран
Name[uk]=Зберігач екрану
Comment[tr]=Bir ekran koruyucu etkinleştir ve/veya ekranı kilitle
Name[tr]=Ekran koruyucu
Comment[th_TH]=เริ่มงานโปรแกรมรักษาหน้าจอ และ/หรือ ล็อคหน้าจอ
Name[th_TH]=โปรแกรมรักษาหน้าจอ
Comment[sr@latin]=Aktivirajte čuvara ekrana i/ili zaključajte ekran
Name[sr@latin]=Čuvar ekrana
Comment[sr]=Активирајте чувара екрана и/или закључајте екран
Name[sr]=Чувар екрана
Comment[sl]=Vklopite ohranjevalnik zaslona ali pa zaklenite zaslon.
Name[sl]=Ohranjevalnik zaslona
Comment[sk]=Aktivovanie šetriča obrazovky alebo zamknutia obrazovky
Name[sk]=Šetrič obrazovky
Comment[ru_RU]=Активировать хранитель экрана и/или заблокировать экран
Name[ru_RU]=Хранитель экрана
Comment[ru]=Вклучение хранителя экрана и блокировка его
Name[ru]=Хранитель экрана
Comment[ro_RO]=Activează protecția de ecran și/sau blochează ecranul
Name[ro_RO]=Protecție ecran
Comment[pt_BR]=Ativar o protetor de tela e/ou bloquear a tela
Name[pt_BR]=Protetor De Tela
Comment[pt]=Ativar uma proteção de ecrã e/ou bloquear o ecrã
Name[pt]=Proteção de ecrã
Comment[pl_PL]=Włącz wygaszacz ekranu i / lub zablokuj ekran.
Name[pl_PL]=Uruchom wygaszacz ekranu
Comment[pl]=Aktywuje wygaszacz ekranu oraz/albo blokuje ekran
Name[pl]=Wygaszacz ekranu
Comment[nl]=Activeer de schermbeveiliging en/of vergrendel het scherm
Name[nl]=Schermbeveiliging
Comment[lt]=Aktyvuoja ekrano užsklandą ir/arba užrakina ekraną
Name[lt]=Ekrano užsklanda
Comment[ja]=スクリーンセーバーの有効および/またはスクリーンのロック
Name[ja]=スクリーンセーバー
Comment[it_IT]=Attiva un salvaschermo e/o blocca lo schermo
Name[it_IT]=Salvaschermo
Comment[hu]=A képernyővédő aktiválása és/vagy a képernyő zárolása
Name[hu]=Képernyővédő
Comment[fr_FR]=Activer un économiseur d'écran et/ou verrouiller l'écran
Name[fr_FR]=Économiseur d'écran
Comment[fi]=Aktivoi näytönsäästäjä ja/tai lukitse näyttö
Name[fi]=Näytönsäästäjä
Comment[eu]=Aktibatu pantaila-babeslea eta/edo blokeatu pantaila
Name[eu]=Pantaila-babeslea
Comment[es_VE]=Activar el salvapantallas y/o bloquear la pantalla
Name[es_VE]=SalvaPantallas
Comment[es]=Activa el salvapantallas y/o bloquea la pantalla
Name[es]=Salvapantallas
Comment[eo]=Enŝalti ekrankurtenon kaj/aŭ ŝlosi la ekranon
Name[eo]=Ekrankurteno
Comment[el_GR]=Ενεργοποίηση προφύλαξης οθόνης και/ή κλειδώματος οθόνης
Name[el_GR]=Προφύλαξη οθόνης
Comment[de_DE]=Bildschirmschoner aktivieren und/oder Bildschirm sperren
Name[de_DE]=Bildschirmschoner starten
Comment[de]=Aktiviere einen Bildschirmschoner und/oder sperre den Bildschirm
Name[de]=Bildschirmschoner
Comment[da_DK]=Aktiverer pauseskærm og/eller låser skærmen
Name[da_DK]=Pauseskærm
Comment[da]=Aktiverer en pauseskærm og/eller låser skærmen
Name[da]=Pauseskærm
Comment[cs_CZ]=Zapnout šetřič obrazovky a/nebo zamknout obrazovku
Name[cs_CZ]=Šetřič obrazovky
Comment[cs]=Zapne šetřič obrazovky a/nebo zamkne obrazovku
Name[cs]=Šetřič obrazovky
Comment[ar]=تفعيل حافظ الشَّاشة و/أو قفل الشَّاشة
Name[ar]=حافظ الشَّاشة
Name[sr@ijekavianlatin]=Čuvar ekrana
Comment[sr@ijekavianlatin]=Aktivirajte čuvara ekrana i/ili zaključajte ekran
Name[sr@ijekavian]=Чувар екрана
Comment[sr@ijekavian]=Активирајте чувара екрана и/или закључајте екран
