[Desktop Entry]
Type=Service
ServiceTypes=LXQtPanel/Plugin
Name=Sensors
Comment=View readings from hardware sensors.
Name[ar]=مجسّات
Comment[ar]=تعرض قراءات من مجسّات العتاد.
Name[ca]=Sensors
Comment[ca]=Vegeu les lectures dels sensors de maquinari.
Name[cs]=Senzory
Comment[cs]=Zobrazit hodnoty ze senzorů v hardware
Name[da]=Sensorer
Comment[da]=Vis målinger fra hardware-sensorer.
Name[de]=Sensoren
Comment[de]=Messwerte der Hardware-Sensoren anzeigen.
Name[el]=Αισθητήρες
Comment[el]=Προβολή ενδείξεων των αισθητήρων υλικού.
Name[eo]=Sentiloj
Comment[eo]=Vidi legojn de sentiloj (aktuale lm_sensors)
Name[es]=Sensores
Comment[es]=Vea las lecturas de los sensores del hardware.
Name[es_VE]=Sensores
Comment[es_VE]=Ver las lecturas desde los sensores (actualmente lm_sensors)
Name[eu]=Sentsoreak
Comment[eu]=Ikusi hardware-sentsoreen irakurketak (unean lm_sensors)
Name[fi]=Sensorit
Comment[fi]=Katso laitteistosensorien tuottamia lukuja (tällä hetkellä lm_sensors)
Name[fr]=Capteurs
Comment[fr]=Voir les mesures effectuées par les capteurs
Name[hr]=Senzori
Comment[hr]=Prikaz stanja uređaja.
Name[hu]=Érzékelők
Comment[hu]=Megjeleníti a gépbe épített érzékelők értékeit.
Name[it]=Sensori
Comment[it]=Visualizza i valori rilevati dai sensori hardware (attualmente lm_sensors)
Name[ja]=センサー
Comment[ja]=ハードウェアセンサー(温度など)からの測定値を表示します
Name[lt]=Jutikliai
Comment[lt]=Rodo aparatinės įrangos jutiklių duomenis.
Name[nl]=Sensoren
Comment[nl]=Bekijk metingen van hardware-sensoren.
Name[pl]=Czujniki
Comment[pl]=Wyświetla wskazania z czujników sprzętowych.
Name[pt]=Sensores
Comment[pt]=Consultar as leituras dos sensores.
Name[pt_BR]=Sensores
Comment[pt_BR]=Visualizar as leituras dos sensores de hardware (atualmente do lm_sensors)
Name[ro_RO]=Senzori
Comment[ro_RO]=Vizualizează citirile senzorilor hardware (momentan lm_sensors)
Name[ru]=Сенсоры
Comment[ru]=Посмотреть данные с аппаратных сенсоров.
Name[sl]=Senzorji
Comment[sl]=Oglejte si meritve senzorjev za strojno opremo (trenutno lm_sensors)
Name[th_TH]=ตัวตรวจจับ
Comment[th_TH]=ดูข้อมูลที่ตัวตรวจจับฮาร์ดแวร์อ่านได้ (lm_sensors โดยปัจจุบัน)
Name[tr]=Algılayıcılar
Comment[tr]=Donanım algılayıcılarının okudukları değerleri görüntüleyin (şimdilik lm_sensors)
Name[uk]=Сенсори
Comment[uk]=Показати дані апаратних сенсорів (lm_sensors)
Name[zh_CN]=传感器
Comment[zh_CN]=查看硬件传感器数据(当前是 lm_sensors)
Name[zh_TW]=感應器
Comment[zh_TW]=從硬體感應器中檢視(現在為 lm_sensors)
