[Desktop Entry]
Type=Service
ServiceTypes=LXQtPanel/Plugin
Name=Show desktop
Comment=Minimize all windows and show the desktop
Icon=user-desktop

Comment[ar]=تصغّر كلّ النّوافذ وتُظهر سطح المكتب
Name[ar]=أظهر سطح المكتب
Name[ca]=Mostra l'escriptori
Comment[ca]=Minimitza totes les finestres i mostra l'escriptori
Comment[cs]=Minimalizovat všechna okna a ukázat plochu
Name[cs]=Ukázat plochu
Name[da]=Vis skrivebord
Comment[da]=Minimer alle vinduer og vis skrivebordet
Name[de]=Arbeitsfläche anzeigen
Comment[de]=Alle Fenster minimieren und die Arbeitsfläche anzeigen
Name[el]=Εμφάνιση επιφάνειας εργασίας
Comment[el]=Ελαχιστοποίηση όλων των παραθύρων και εμφάνιση της επιφάνειας εργασίας
Comment[eo]=Malmaksimigi ĉiujn fenestrojn kaj montri la labortablon
Name[eo]=Montri labortablon
Name[es]=Mostrar el escritorio
Comment[es]=Minimiza todas las ventanas y muestra el escritorio
Comment[es_VE]=Minimiza todas las ventanas de todos los escritorios
Name[es_VE]=Mostrar Escritorio
Comment[eu]=Minimizatu leiho guztiak eta erakutsi mahaigaina
Name[eu]=Erakutsi mahaigaina
Comment[fi]=Pienennä kaikki ikkunat ja näytä työpöytä
Name[fi]=Näytä työpöytä
Comment[fr]=Minimiser toutes les fenêtres et montrer le bureau
Name[fr]=Montrer le bureau
Comment[hu]=Minimalizálja az összes ablakot és megjeleníti az asztalt
Name[hu]=Az asztal megjelenítése
Comment[id_ID]=Kecilkan seluruh jendela dan tampilkan desktop
Name[id_ID]=Tampilkan Desktop
Comment[it]=Minimizza tutte le finestre e mostra la scrivania
Name[it]=Mostra scrivania
Comment[ja]=全ウィンドウ最小化やデスクトップ表示を可能にします
Name[ja]=デスクトップ表示
Comment[lt]=Suskleidžia visus langus ir rodo darbalaukį
Name[lt]=Darbalaukio rodymas
Comment[nl]=Minimaliseer alle vensters en toon het bureaublad
Name[nl]=Toon Bureaublad
Comment[pl]=Minimalizuje wszystkie okna i pokazuje pulpit
Name[pl]=Pokaż pulpit
Name[pt]=Mostrar área de trabalho
Comment[pt]=Minimizar janelas e mostrar a área de trabalho
Comment[pt_BR]=Minimizar todas as janelas e exibir a área de trabalho
Name[pt_BR]=Exibir a área de trabalho
Comment[ro_RO]=Minimizează toate ferestrele și arată desktopul
Name[ro_RO]=Arată desktopul
Comment[ru]=Свернуть все окна и показать рабочий стол.
Name[ru]=Показать рабочий стол
Comment[sk]=Minimalizuje všetky okná a zobrazí plochu
Name[sk]=Zobraziť plochu
Comment[sl]=Pomanjšajte vsa okna, da se pokaže namizje
Name[sl]=Pokaži namizje
Comment[sr]=Минимизуј све прозоре и прикажи радну површ
Name[sr]=Приказ површи
Name[sr@ijekavian]=Приказ површи
Comment[sr@ijekavian]=Минимизуј све прозоре и прикажи радну површ
Name[sr@ijekavianlatin]=Prikaz površi
Comment[sr@ijekavianlatin]=Minimizuj sve prozore i prikaži radnu površ
Comment[sr@latin]=Minimizuj sve prozore i prikaži radnu površ
Name[sr@latin]=Prikaz površi
Comment[th_TH]=ย่อเก็บหน้าต่างทั้งหมดและแสดงพื้นโต๊ะ
Name[th_TH]=แสดงพื้นโต๊ะ
Comment[tr]=Tüm pencereleri küçült ve masaüstünü göster
Name[tr]=Masaüstünü Göster
Comment[uk]=Згорнути всі вікна та показати стільницю
Name[uk]=Показати стільницю
Comment[zh_CN]=最小化所有窗口并显示桌面
Name[zh_CN]=显示桌面
Comment[zh_TW]=將所有視窗縮到最小並顯示桌面
Name[zh_TW]=顯示桌面
