[Desktop Entry]
Type=Service
ServiceTypes=LXQtPanel/Plugin
Name=Status Notifier Plugin
Comment=Status Notifier Plugin
Icon=go-bottom
Name[ar]=ملحقة لمُخطر الحالة
Comment[ar]=ملحقة لمُخطر الحالة
Name[da]=Statusnotifikator-plugin
Comment[da]=Statusnotifikator-plugin
Name[de]=Statusbenachrichtigungen
Comment[de]=Plugin für Statusbenachrichtigungen
Name[el]=Πρόσθετο ειδοποίησης κατάστασης
Comment[el]=Πρόσθετο ειδοποίησης κατάστασης
Name[fr]=Information du statut
Comment[fr]=Greffon d'information du statut
Name[hu]=Állapotjelzés
Comment[hu]=Álapotértesítő bővítmény
Name[it]=Notificatore
Comment[it]=Mostra lo status delle applicazioni
Name[lt]=Pranešimų įskiepis
Comment[lt]=Pranešimų įskiepis
Name[pl]=Wtyczka powiadomień o stanie
Comment[pl]=Wtyczka powiadomień o stanie
Name[pt]=Plugin Status Notifier
Comment[pt]=Um plugin para notificar sobre o estado
Name[ru]=Плагин уведомлений
Comment[ru]=Плагин уведомлений
Name[zh_CN]=状态提示器
Comment[zh_CN]=状态提示器插件
