[Desktop Entry]
Type=Service
ServiceTypes=LXQtPanel/Plugin
Icon=utilities-system-monitor

Name=System Statistics
Comment=Shows a graph for network, CPU or memory
Name[ar]=إحصائيّات النّظام
Comment[ar]=ملحقة لإحصائيّات النّظام.
Name[bg]=Статистика на системата
Comment[bg]=Показва графика на мрежата, CPU и памет
Name[ca]=Estadístiques del sistema
Comment[ca]=Connector d'estadístiques del sistema.
Name[cs]=Statistiky o systému
Comment[cs]=Zobrazí graf k síti, procesoru nebo paměti
Name[da]=Systemstatistik
Comment[da]=Viser en graf for netværk, CPU eller hukommelse
Name[de]=Systemstatistiken
Comment[de]=Zusatz zum Anzeigen von Systemstatistiken
Name[el]=Στατιστικά συστήματος
Comment[el]=Εμφάνιση γραφήματος για το δίκτυο, την CPU ή την μνήμη
Name[es]=Estadísticas del sistema
Comment[es]=Complemento de estadísticas del sistema.
Name[et]=Süsteemi statistika
Comment[et]=Näitab võrguühenduse, protsessori ja mälu koormusgraafikut
Name[fr]=Statistiques du système
Comment[fr]=Affiche un graphique pour le réseau, le processeur ou la mémoire
Name[he]=סטטיסטיקת המערכת
Comment[he]=מציג תרשים לניצולת רשת, מעבד וזיכרון
Name[hr]=Statistika sustava
Comment[hr]=Prikazuje grafikon za mrežu, CPU ili memoriju
Name[hu]=Rendszerstatisztika
Comment[hu]=Egy grafikont jelenít meg a hálózat-, processzor- és memóriahasználatról
Name[it]=Statistiche del sistema
Comment[it]=Mostra un grafico per rete, processore e memoria
Name[ja]=システム統計情報
Comment[ja]=ネットワーク、CPU、メモリのグラフを表示します
Name[lt]=Sistemos statistika
Comment[lt]=Rodo tinklo, procesoriaus ar atminties grafiką
Name[nl]=Systeemstatistieken
Comment[nl]=Invoegtoepassing die een grafiek van uw netwerk, processor\
Name[pl]=Statystyki systemowe
Comment[pl]=Wtyczka statystyk systemu.
Name[pt]=Estatísticas do sistema
Comment[pt]=Mostra um gráfico para rede, CPU ou memória
Name[ru]=Системная статистика
Comment[ru]=Показывает графики для сетевой активности, ЦПУ или памяти
Name[zh_CN]=系统统计
Comment[zh_CN]=以图形的方式显示网络，处理器或内存
