[Desktop Entry]
Type=Service
ServiceTypes=LXQtPanel/Plugin
Name=Task manager
Comment=Switch between running applications
Icon=window-duplicate

Comment[ar]=بدّل بين التّطبيقات العاملة
Name[ar]=مدير المهامّ
Name[ca]=Gestor de tasques
Comment[ca]=Canvieu entre aplicacions en execució
Comment[cs]=Přepínání mezi spuštěnými aplikacemi
Name[cs]=Správce aplikací
Name[da]=Opgavehåndtering
Comment[da]=Skift mellem kørende programmer
Name[de]=Anwendungsverwalter
Comment[de]=Wechsel zwischen laufenden Anwendungen
Name[el]=Διαχειριστής εργασιών
Comment[el]=Εναλλαγή μεταξύ των εκτελούμενων εφαρμογών
Comment[eo]=Ŝalti inter rulantaj aplikaĵoj
Name[eo]=Taskmastrumilo
Name[es]=Administrador de tareas
Comment[es]=Cambia entre aplicaciones activas
Comment[es_VE]=Cambia entre aplicaciones o programas abiertos
Name[es_VE]=Manejador de ventanas
Comment[eu]=Aldatu martxan dauden aplikazioen artean
Name[eu]=Ataza-kudeatzailea
Comment[fi]=Vaihda käynnissä olevien sovellusten välillä
Name[fi]=Tehtävähallinta
Comment[fr]=Basculer entre des applications actives
Name[fr]=Gestionnaire des tâches
Comment[hu]=Váltás a futó alkalmazások között
Name[hu]=Feladatkezelő
Name[it]=Barra delle applicazioni
Comment[it]=Permette di spostarsi tra le applicazioni in esecuzione tramite pulsanti
Comment[ja]=実行中のアプリケーションを切り替えます
Name[ja]=タスク管理
Comment[lt]=Perjungti tarp paleistų programų
Name[lt]=Užduočių tvarkytuvė
Comment[nl]=Wissel tussen draaiende applicaties
Name[nl]=taak-manager
Comment[pl]=Przełączaj pomiędzy otwartymi aplikacjami
Name[pl]=Pasek zadań
Name[pt]=Gestor de tarefas
Comment[pt]=Permite trocar entre as aplicações em execução
Comment[pt_BR]=Alterne entre aplicativos em execução
Name[pt_BR]=Gerenciador de tarefas
Comment[ro_RO]=Comută între aplcațiile active
Comment[ru]=Переключиться между запущенными приложениями
Name[ru]=Панель задач
Comment[sk]=Prepínanie medzi bežiacimi aplikáciami
Name[sk]=Správca úloh
Comment[sl]=Preklapljajte med zagnanimi programi
Name[sl]=Upravljalnik opravil
Comment[sr]=Пребацујте између програма у раду
Name[sr]=Менаџер задатака
Name[sr@ijekavian]=Менаџер задатака
Comment[sr@ijekavian]=Пребацујте између програма у раду
Name[sr@ijekavianlatin]=Menadžer zadataka
Comment[sr@ijekavianlatin]=Prebacujte između programa u radu
Comment[sr@latin]=Prebacujte između programa u radu
Name[sr@latin]=Menadžer zadataka
Comment[th_TH]=สลับใช้งานระหว่างโปรแกรมที่เปิดอยู่
Name[th_TH]=ตัวจัดการงาน
Comment[tr]=Çalışan uygulamalar arasında geçiş yapın
Name[tr]=Görev Yöneticisi
Comment[uk]=Перемкнутися між запущеними вікнами
Name[uk]=Менеджер завдань
Comment[zh_CN]=在运行的程序间切换
Name[zh_CN]=任务管理器
Comment[zh_TW]=在正在運行程式中切換
Name[zh_TW]=工作管理員
