[Desktop Entry]
Type=Service
ServiceTypes=LXQtPanel/Plugin
Icon=go-bottom

Name=System Tray
Comment=Obsolete; please use Status Notifier Plugin!
Name[ar]=صينيّة النّظام
Name[bg]=Системна област
Comment[bg]=Остарял метод; Моля, използвайте приставка Област на системни\
Name[ca]=Safata del sistema
Name[cs]=Oznamovací oblast panelu
Comment[cs]=Zastaralé; použijte, prosím, přídavný modul pro stavová hlášení!
Name[da]=Systembakke
Comment[da]=Forældet; brug venligst statusunderretter-plugin!
Name[de]=Benachrichtigungsfläche
Comment[de]=Überholt; benutze Status-Anzeige-Zusatz!
Name[el]=Πλαίσιο συστήματος
Comment[el]=Παρωχημένο· παρακαλώ χρησιμοποιήστε το πρόσθετο ειδοποίησης\
Name[eo]=Sistempleto
Name[es]=Bandeja del sistema
Name[es_VE]=Barra de sistema
Name[et]=Süsteemisalv
Comment[et]=See on aegunud vidin - pigem kasuta olekuteatiste vidinat!
Name[eu]=Ataza-barra
Name[fi]=Ilmoitusalue
Name[fr]=Zone de notification
Comment[fr]=Obsolète ; veuillez utiliser le plugin Status Notifier !
Name[he]=מגש המערכת
Comment[he]=יצא מכלל שימוש, נא להשתמש בתוסף התראות המצב!
Name[hr]=Programska traka
Comment[hr]=Zastarjelo; koristi dodatak „Obavijesti o stanju“!
Name[hu]=Rendszertálca
Comment[hu]=Elavult; kérjük használja az állapotértesítő bővítményt!
Name[it]=Vassoio di sistema
Comment[it]=Obsoleto; usare il plugin notificatore!
Name[ja]=システムトレイ
Comment[ja]=これは古い形式ですので、[ステータス通知] プラグインを使用して下さい！
Name[lt]=Sistemos dėklas
Comment[lt]=Pasenęs; naudokite Pranešimų įskiepį!
Name[nl]=Systeemvak
Comment[nl]=Verouderd - gebruik de andere systeemvak-invoegtoepassing!
Name[pl]=Zasobnik systemowy
Name[pt]=Bandeja do sistema
Comment[pt]=Obsoleto; utilize o Plugin Notificador de Estado!
Name[pt_BR]=Área de notificação
Comment[pt_BR]=Obsoleto; por favor use o Plugin de Notificação de Status!
Name[ro]=Zonă de notificare
Name[ru]=Системный лоток
Comment[ru]=Устарел; используйте вместо этого «плагин уведомлений»!
Name[sk]=Oznamovacia oblasť
Name[sl]=Sistemska vrstica
Name[sr]=Системска касета
Name[sr@ijekavian]=Системска касета
Name[sr@ijekavianlatin]=Sistemska kaseta
Name[sr@latin]=Sistemska kaseta
Name[th]=ถาดระบบ
Name[tr]=Sistem çekmecesi
Comment[tr]=Eski; lütfen Durum Bildirici Eklentisini kullanın!
Name[uk]=Системний лоток
Comment[uk]=Застаріле; використовуйте плагін сповіщень стану!
Name[zh_CN]=系统托盘
Comment[zh_CN]=过时的；请使用状态通知程序插件！
Name[zh_TW]=系統列
Comment[zh_TW]=已被廢棄；請改使用項目指示器！
