[Desktop Entry]
Type=Service
ServiceTypes=LxQtPanel/Plugin
Name=System tray
Comment=Display applications minimized to the system tray.

Comment[zh_TW]=讀取縮小在系統列的隱藏程式
Name[zh_TW]=系統列
Comment[zh_CN]=访问最小化到系统托盘的隐藏程序
Name[zh_CN]=系统托盘
Comment[uk]=Показує програми, згорнуті до системного лотка.
Name[uk]=Системний лоток
Comment[tr]=Sistem çekmecesinde gizli uygulamalara erişin
Name[tr]=Sistem çekmecesi
Comment[th_TH]=เข้าใช้งานโปรแกรมที่ย่อเก็บอยู่ในถาดระบบ
Name[th_TH]=ถาดระบบ
Comment[sr@latin]=Pristup skrivenim programima minimizovanim u sistemsku kasetu
Name[sr@latin]=Sistemska kaseta
Comment[sr]=Приступ скривеним програмима минимизованим у системску касету
Name[sr]=Системска касета
Comment[sl]=Dostopajte do programov pomanjšanih v sistemsko vrstico
Name[sl]=Sistemska vrstica
Comment[sk]=Prístup k skrytým aplikáciám minimalizovaným v oznamovacej oblasti
Name[sk]=Oznamovacia oblasť
Comment[ru_RU]=Доступ к скрытым приложениям, минимизированным в системный трей
Name[ru_RU]=Системный трей
Comment[ru]=Значки программ, свернутых в системный лоток
Name[ru]=Системный лоток
Comment[ro_RO]=Acceasți aplicații ascunse minimizate în tava sistem
Name[ro_RO]=Zonă de notificare
Comment[pt_BR]=Acesse aplicativos ocultos minimizados na área de notificação
Name[pt_BR]=Área de notificação
Comment[pt]=Aceder a aplicações minimizadas na bandeja do sistema
Name[pt]=Bandeja do sistema
Comment[pl_PL]=Dostęp do aplikacji zminimalizowanych do tacki systemowej.
Name[pl_PL]=Tacka systemowa
Comment[pl]=Udostępnia ukryte aplikacje
Name[pl]=Tacka systemowa
Comment[nl]=Verborgen pictogrammen tonen
Name[nl]=Systeem vak
Comment[lt]=Leidžia pasiekti į sistemos dėklą nuleistas programas
Name[lt]=Sistemos dėklas
Comment[ja]=システムトレイに最小化された隠しアプリケーションにアクセス
Name[ja]=システムトレイ
Comment[it_IT]=Accedi alle applicazioni nascoste minimizzate nel vassoio di sistema
Name[it_IT]=Vassoio di sistema
Comment[hu]=A paneltálcára minimalizált, rejtett alkalmazások elérése
Name[hu]=Paneltálca
Comment[fr_FR]=Accéder aux applications cachées minimisées dans la zone de notification
Name[fr_FR]=Zone de notification
Comment[fi]=Käytä ilmoitusalueelle pienennettyjä sovelluksia
Name[fi]=Ilmoitusalue
Comment[eu]=Bistaratu aplikazioak minimizatuta ataza-barran.
Name[eu]=Ataza-barra
Comment[es_VE]=Acceder aplicaciones minimizadas en la barra de iconos de sistema
Name[es_VE]=Barra de sistema
Comment[es]=Accede a aplicaciones ocultas minimizadas en la bandeja del sistema
Name[es]=Bandeja del sistema
Comment[eo]=Akiri kaŝitajn aplikaĵojn malmaksimigitajn en la sistempleto
Name[eo]=Sistempleto
Comment[el_GR]=Πρόσβαση στις κρυφές εφαρμογές που ελαχιστοποιήθηκαν στο πλαίσιο συστήματος
Name[el_GR]=Πλαίσιο συστήματος
Comment[de_DE]=Auf versteckte, minimierte Anwendungen im System Tray zugreifen
Name[de_DE]=System Tray
Comment[de]=Zugang zu minimierten Anwendungen in der Fensterleiste
Name[de]=Fensterleiste
Comment[da_DK]=Giver adgang til skjulte programmer, minimeret til systembakken
Name[da_DK]=Systembakke
Comment[da]=Adgang til skjulte programmer der er minimeret til systembakken
Name[da]=Systembakke
Comment[cs_CZ]=Přistoupit k programům zmenšeným v oznamovací oblasti panelu
Name[cs_CZ]=Oznamovací oblast
Comment[cs]=Přístup ke skrytým programům zmenšeným v oznamovací oblasti panelu
Name[cs]=Oznamovací oblast panelu
Comment[ar]=الوصول إلى التطبيقات المخفيَّة المصغَّرة في دفَّة النّظام
Name[ar]=دفَّة النِّظام
Name[sr@ijekavianlatin]=Sistemska kaseta
Comment[sr@ijekavianlatin]=Pristup skrivenim programima minimizovanim u sistemsku kasetu
Name[sr@ijekavian]=Системска касета
Comment[sr@ijekavian]=Приступ скривеним програмима минимизованим у системску касету
