[Desktop Entry]
Type=Service
ServiceTypes=LXQtPanel/Plugin
Name=System tray
Comment=Display applications minimized to the system tray.
Icon=go-bottom

Comment[ar]=تعرض التّطبيقات مصغّرة إلى صينيّة النّظام.
Name[ar]=صينيّة النّظام
Comment[cs]=Přístup ke skrytým programům zmenšeným v oznamovací oblasti panelu
Name[cs]=Oznamovací oblast panelu
Comment[cs_CZ]=Přistoupit k programům zmenšeným v oznamovací oblasti panelu
Name[cs_CZ]=Oznamovací oblast
Name[da]=Systembakke
Comment[da]=Vis programmer minimeret til systembakken.
Name[de]=Benachrichtigungsfläche
Comment[de]=Benachrichtigungen von Anwendungen gem. System Tray Protocol
Name[el]=Πλαίσιο συστήματος
Comment[el]=Προβολή των ελαχιστοποιημένων εφαρμογών στο πλαίσιο συστήματος.
Comment[eo]=Akiri kaŝitajn aplikaĵojn malmaksimigitajn en la sistempleto
Name[eo]=Sistempleto
Comment[es]=Accede a aplicaciones ocultas minimizadas en la bandeja del sistema
Name[es]=Bandeja del sistema
Comment[es_VE]=Acceder aplicaciones minimizadas en la barra de iconos de sistema
Name[es_VE]=Barra de sistema
Comment[eu]=Bistaratu aplikazioak minimizatuta ataza-barran.
Name[eu]=Ataza-barra
Comment[fi]=Käytä ilmoitusalueelle pienennettyjä sovelluksia
Name[fi]=Ilmoitusalue
Comment[fr]=Accéder aux applications cachées minimisées dans la zone de notification
Name[fr]=Zone de notification
Comment[hu]=A paneltálcára minimalizált, rejtett alkalmazások elérése
Name[hu]=Paneltálca
Comment[it]=Accedi alle applicazioni minimizzate nel vassoio di sistema
Name[it]=Vassoio di sistema
Comment[ja]=システムトレイに最小化されたアプリケーションを表示します
Name[ja]=システムトレイ
Comment[lt]=Rodyti į sistemos dėklą suskleistas programas
Name[lt]=Sistemos dėklas
Comment[nl]=Verborgen pictogrammen tonen
Name[nl]=Systeem vak
Comment[pl]=Wyświetla aplikacje zminimalizowane do paska zadań
Name[pl]=Zasobnik systemowy
Name[pt]=Bandeja do sistema
Comment[pt]=Aceder às aplicações minimizadas na bandeja do sistema
Comment[pt_BR]=Acesse aplicativos ocultos minimizados na área de notificação
Name[pt_BR]=Área de notificação
Comment[ro_RO]=Acceasți aplicații ascunse minimizate în tava sistem
Name[ro_RO]=Zonă de notificare
Comment[ru]=Значки программ, свернутых в системный лоток.
Name[ru]=Системный лоток
Comment[sk]=Prístup k skrytým aplikáciám minimalizovaným v oznamovacej oblasti
Name[sk]=Oznamovacia oblasť
Comment[sl]=Dostopajte do programov pomanjšanih v sistemsko vrstico
Name[sl]=Sistemska vrstica
Comment[sr]=Приступ скривеним програмима минимизованим у системску касету
Name[sr]=Системска касета
Name[sr@ijekavian]=Системска касета
Comment[sr@ijekavian]=Приступ скривеним програмима минимизованим у системску касету
Name[sr@ijekavianlatin]=Sistemska kaseta
Comment[sr@ijekavianlatin]=Pristup skrivenim programima minimizovanim u sistemsku kasetu
Comment[sr@latin]=Pristup skrivenim programima minimizovanim u sistemsku kasetu
Name[sr@latin]=Sistemska kaseta
Comment[th_TH]=เข้าใช้งานโปรแกรมที่ย่อเก็บอยู่ในถาดระบบ
Name[th_TH]=ถาดระบบ
Comment[tr]=Sistem çekmecesinde gizli uygulamalara erişin
Name[tr]=Sistem çekmecesi
Comment[uk]=Показує програми, згорнуті до системного лотка.
Name[uk]=Системний лоток
Comment[zh_CN]=访问最小化到系统托盘的隐藏程序
Name[zh_CN]=系统托盘
Comment[zh_TW]=讀取縮小在系統列的隱藏程式
Name[zh_TW]=系統列
