[Desktop Entry]
Name=Break reminder
Comment=Force yourself to take a break
Exec=mate-typing-monitor
Icon=gnote
Terminal=false
Type=Application
StartupNotify=true
Categories=GTK;Utility;
OnlyShowIn=MATE;
