[Desktop Entry]
Name=System Shutdown Dialog
Comment=Prompt the user to shutdown their computer
Exec=mate-session-save --shutdown-dialog
Terminal=false
Type=Application
Icon=system-shutdown
Hidden=true
Categories=Application;System;
OnlyShowIn=MATE;
