[Desktop Entry]
Name[af]=Beheersentrum
Name[am]=መቆጣጠሪያ ማእከል 
Name[ar]=مركز التحكّم
Name[as]=Control Center
Name[ast]=Centru de control
Name[be]=Цэнтр кіравання
Name[bg]=Управляващ център
Name[bn]=নিয়ন্ত্রণ কেন্দ্র
Name[bn_IN]=Control Center
Name[br]=Kreizenn reoliñ
Name[bs]=Kontrolni Centar
Name[ca]=Centre de control
Name[ca@valencia]=Centre de control
Name[cmn]=控制中心
Name[crh]=Kontrol Merkezi
Name[cs]=Ovládací centrum
Name[cy]=Canolfan rheoli
Name[da]=Kontrolcenter
Name[de]=Kontrollzentrum
Name[dz]=ཚད་འཛིན་ལྟེ་བ་
Name[el]=Κέντρο ελέγχου
Name[en_AU]=Control Centre
Name[en_GB]=Control Center
Name[es]=Centro de control
Name[et]=Juhtimiskeskus
Name[eu]=Kontrol-zentroa
Name[fi]=Ohjauskeskus
Name[fr]=Centre de contrôle
Name[frp]=Centro de controlo
Name[ga]=Lárionad Rialaithe
Name[gl]=Centro de control
Name[gu]=નિયંત્રણ કેન્દ્ર
Name[he]=מרכז הבקרה
Name[hi]=नियंत्रण केंद्र
Name[hr]=Nadzorno središte
Name[hu]=Vezérlőközpont
Name[hy]=Վերահսկիչ Կենտրոն
Name[id]=Pusat Pengaturan
Name[ie]=Centre de control
Name[is]=Stjórnborð
Name[it]=Centro di controllo
Name[ja]=コントロール・センター
Name[ka]=მართვის ცენტრი
Name[kk]=Басқару орталығы
Name[kn]=ನಿಯಂತ್ರಣ ಕೇಂದ್ರ
Name[ko]=제어판
Name[ku_IQ]=ناوەندی سەرپەرشتی
Name[ky]=Башкаруу борбору
Name[lt]=Valdymo centras
Name[lv]=Kontroles centrs
Name[mai]=नियंत्रण केंद्र
Name[mk]=Контролен центар
Name[ml]=നിയന്ത്രണകേന്ദ്രം
Name[mr]=नियंत्रण केंद्र
Name[ms]=Pusat Kawalan
Name[nb]=Kontrollsenter
Name[nds]=Kontrollzentrum
Name[ne]=नियन्त्रण केन्द्र
Name[nl]=Instellingencentrum
Name[nn]=Kontrollsenter
Name[oc]=Centre de contraròtle
Name[or]=ନିୟନ୍ତ୍ରଣ କେନ୍ଦ୍ର
Name[pa]=ਕੰਟਰੋਲ ਕੇਂਦਰ
Name[pl]=Centrum sterowania
Name[pt]=Centro de Controlo
Name[pt_BR]=Centro de Controle
Name[ro]=Centrul de control
Name[ru]=Центр управления
Name[sk]=Ovládacie centrum
Name[sl]=Nadzorni center
Name[sq]=Qendra e kontrollit
Name[sr]=Управљачки центар
Name[sr@latin]=Upravljački centar
Name[sv]=Kontrollpanel
Name[ta]=கட்டுப்பாட்டு மையம்
Name[te]=నియంత్రణా కేంద్రం
Name[th]=ศูนย์ควบคุม
Name[tr]=Kontrol Merkezi
Name[ug]=باشقۇرۇش مەركىزى
Name[uk]=Центр керування
Name[ur]=کنٹرول سینٹر
Name[uz]=Boshqaruv markazi
Name[vi]=Trung tâm điều khiển
Name[zh_CN]=控制中心
Name[zh_HK]=控制中心
Name[zh_TW]=控制中心
Name=Control Center
GenericName=The MATE configuration tool
Comment[am]=የ ሜት ማሰናጃዎች ማሰናጃ
Comment[bg]=Настройване на MATE
Comment[ca]=Configureu els ajusts de MATE
Comment[ca@valencia]=Configureu els ajusts del MATE
Comment[cs]=Konfigurace nastavení MATE
Comment[da]=Konfigurer MATE-indstillinger
Comment[de]=MATE-Einstellungen konfigurieren
Comment[el]=Διαμόρφωση ρυθμίσεων ΜΑΤΕ
Comment[en_GB]=Configure MATE settings
Comment[es]=Cofigurar los ajustes de MATE
Comment[fi]=Määritä MATE-asetukset
Comment[fr]=Configurer les paramètres de MATE
Comment[gl]=Configurar os axuste do MATE
Comment[he]=הגדרת התצורה של MATE
Comment[hr]=Konfigurirajte MATE postavke
Comment[hu]=MATE beállítása
Comment[id]=Konfigurasikan pengaturan MATE
Comment[ie]=Configurar parametres de MATE
Comment[it]=Configura impostazioni di MATE
Comment[ko]=마테 설정 구성
Comment[lt]=Konfigūruoti MATE nustatymus
Comment[ms]=Konfigur tetapan MATE
Comment[nb]=Sett opp MATE-innstillinger
Comment[nl]=Instellingen van MATE configureren
Comment[oc]=Configurar las paramètres de MATE
Comment[pl]=Konfiguruj ustawienia MATE
Comment[pt]=Configurar as definições do MATE
Comment[pt_BR]=Configurar o MATE
Comment[ru]=Настройка параметров MATE
Comment[sk]=Konfiguruje nastavenia prostredia MATE
Comment[sl]=MATE nastavitve
Comment[sr]=Уредите Мејтова подешавања
Comment[sv]=Konfigurera MATE-inställningar
Comment[tr]=MATE ayarlarını yapılandır
Comment[uk]=Налаштування параметрів MATE
Comment[zh_CN]=调整 MATE 设置
Comment[zh_TW]=設定 MATE
Comment=Configure MATE settings
# Translators: Do NOT translate or transliterate this text (this is an icon file name)!
Icon=preferences-desktop
Exec=mate-control-center
Terminal=false
Type=Application
StartupNotify=false
Categories=GTK;Settings;
# Translators: Search terms to find this application. Do NOT translate or localize the semicolons! The list MUST also end with a semicolon!
Keywords[ca]=MATE;centre;control;configuració;eina;escriptori;preferències;
Keywords[cs]=MATE;ovládání;ovládací;centrum;konfigurace;konfigurační;přizpůsobení;nástroj;desktop;plocha;předvolby;
Keywords[da]=MATE;control;center;configuration;tool;desktop;preferences;kontrol;konfiguration;værktøj;præferencer;skrivebord;
Keywords[es]=MATE;control;centro,configuración;herramienta;escritorio;preferencias;
Keywords[fr]=MATE;control;center;configuration;tool;desktop;preferences;
Keywords[gl]=MATE;control;centro;configuración;ferramenta;escritorio;preferencias;
Keywords[id]=MATE;kendali;pusat;konfigurasi;alat;perkakas;desktop;preferensi;
Keywords[it]=MATE;control;center;configuration;tool;desktop;preferences;
Keywords[ms]=MATE;kawalan;pusat;konfigurasi;alat;desktop;keutamaan;
Keywords[nb]=MATE;kontrollpanel;oppsett;verktøy;skrivebord;innstillinger;alternativer;
Keywords[nl]=MATE;configuratie;centrum;instellingen;gereedschap;bureaublad;voorkeuren;
Keywords[oc]=MATE;control;center;configuration;tool;desktop;preferences;burèu;configuracion;centre;aisina;
Keywords[pl]=MATE;control;center;configuration;tool;desktop;preferences;
Keywords[pt]=MATE;controlo;centro;configuração;ferramenta;ambiente de trabalho;preferências;
Keywords[ru]=MATE;центр;управления;конфигурация;утилита;рабочий;настройка;
Keywords[sr]=Мејт;управљање;центар;подешавање;алат;радна површ;поставке;
Keywords[uk]=MATE;керування;центр;конфігурація;знадіб;стільниця;уподобання;
Keywords[zh_CN]=MATE;控制;中心;配置;工具;桌面;首选项;
Keywords[zh_TW]=MATE;control;center;configuration;tool;desktop;preferences;
Keywords=MATE;control;center;configuration;tool;desktop;preferences;
OnlyShowIn=MATE;
