[Unit]
Description=KDE Session Management Server
After=graphical-session.target
RefuseManualStart=yes

[Service]
Type=oneshot
ExecStart=-/usr/lib/qt5/bin/qdbus org.kde.ksmserver /KSMServer org.kde.KSMServerInterface.restoreSession
Slice=session.slice
