[Unit]
Description=KActivityManager Activity manager Service
PartOf=graphical-session.target

[Service]
ExecStart=/usr/lib/kactivitymanagerd
BusName=org.kde.ActivityManager
Slice=background.slice
