[Desktop Entry]
Version=1.0
Icon=geary
Type=X-XFCE-Helper
Name=Geary
Name[ar]=جيري
Name[be]=Geary
Name[bg]=Geary
Name[ca]=Geary
Name[cs]=Geary
Name[da]=Geary
Name[de]=Geary
Name[el]=Geary
Name[en_AU]=Geary
Name[en_CA]=Geary
Name[en_GB]=Geary
Name[es]=Geary
Name[et]=Geary
Name[eu]=Geary
Name[fi]=Geary
Name[fr]=Geary
Name[gl]=Geary
Name[he]=Geary
Name[hr]=Geary
Name[hu]=Geary
Name[hy_AM]=Geary
Name[hye]=Geary
Name[id]=Geary
Name[ie]=Geary
Name[is]=Geary
Name[it]=Geary
Name[ja]=Geary
Name[kab]=Geary
Name[kk]=Geary
Name[ko]=기어리
Name[lt]=Geary
Name[ms]=Geary
Name[nb]=Geary
Name[nl]=Geary
Name[nn]=Geary
Name[pl]=Geary
Name[pt]=Geary
Name[pt_BR]=Geary
Name[ro]=Geary
Name[ru]=Geary
Name[sk]=Geary
Name[sl]=Geary
Name[sq]=Geary
Name[sr]=Гири
Name[sv]=Geary
Name[th]=Geary
Name[tr]=Geary
Name[uk]=Geary
Name[zh_CN]=Geary
Name[zh_TW]=Geary
StartupNotify=false
X-XFCE-Binaries=geary
X-XFCE-Category=MailReader
X-XFCE-Commands=%B;
X-XFCE-CommandsWithParameter=/usr/lib/xfce4/xfce4-compose-mail geary %B "mailto:%s";
