
[Desktop Entry]
Version=1.0
Icon=google-chrome
Type=X-XFCE-Helper
Name=Google Chrome
Name[ar]=جوجل كروم
Name[be]=Google Chrome
Name[be@tarask]=Гугл Хром
Name[bg]=Google Chrome
Name[ca]=Google Chrome
Name[cs]=Google Chrome
Name[da]=Google Chrome
Name[de]=Google Chrome
Name[el]=Google Chrome
Name[en_AU]=Google Chrome
Name[en_CA]=Google Chrome
Name[en_GB]=Google Chrome
Name[es]=Google Chrome
Name[et]=Google Chrome
Name[eu]=Google Chrome
Name[fi]=Google Chrome
Name[fr]=Google Chrome
Name[gl]=Google Chrome
Name[he]=גוגל כרום
Name[hr]=Google Chrome
Name[hu]=Google Chrome
Name[hy_AM]=Google Chrome
Name[hye]=Google Chrome
Name[id]=Google Chrome
Name[ie]=Google Chrome
Name[is]=Google Chrome
Name[it]=Google Chrome
Name[ja]=Google Chrome
Name[kab]=Google Chrome
Name[kk]=Google Chrome
Name[ko]=구글 크롬
Name[lt]=Google Chrome
Name[ms]=Google Chrome
Name[nb]=Google Chrome
Name[nl]=Google Chrome
Name[nn]=Google Chrome
Name[oc]=Google Chrome
Name[pl]=Google Chrome
Name[pt]=Google Chrome
Name[pt_BR]=Google Chrome
Name[ro]=Google Chrome
Name[ru]=Google Chrome
Name[sk]=Google Chrome
Name[sl]=Google Chrome
Name[sq]=Google Chrome
Name[sr]=Гуглов Гром
Name[sv]=Google Chrome
Name[th]=Google Chrome
Name[tr]=Google Chrome
Name[uk]=Google Chrome
Name[zh_CN]=谷歌 Chrome
Name[zh_TW]=Google Chrome
StartupNotify=true
X-XFCE-Binaries=google-chrome;google-chrome-stable;
X-XFCE-Category=WebBrowser
X-XFCE-Commands=%B;
X-XFCE-CommandsWithParameter=%B "%s";
