[Desktop Entry]
Version=1.0
Icon=opera
Type=X-XFCE-Helper
Name=Opera Browser
Name[ar]=متصفح أوبرا
Name[be]=Вэб-браўзер Opera
Name[be@tarask]=Гартач Опэра
Name[bg]=Опера Интернет браузър
Name[bn]=অপেরা ব্রাউজার
Name[ca]=Navegador Opera
Name[cs]=Opera
Name[da]=Opera Browser
Name[de]=Opera Browser
Name[el]=Περιηγητής ιστοσελίδων Opera
Name[en_AU]=Opera Browser
Name[en_CA]=Opera Browser
Name[en_GB]=Opera Browser
Name[es]=Navegador web Opera
Name[et]=Opera veebibrauser
Name[eu]=Opera nabigatzailea
Name[fi]=Opera-selain
Name[fr]=Navigateur Opera
Name[gl]=Navegador Opera
Name[he]=דפדפן Opera 
Name[hr]=Opera preglednik
Name[hu]=Opera webböngésző
Name[hy_AM]=Opera զննարկիչ
Name[hye]=Opera զննարկիչ
Name[id]=Peramban Opera
Name[ie]=Opera Browser
Name[is]=Opera netvafri
Name[it]=Opera Browser
Name[ja]=Opera ブラウザー
Name[kab]=Iminig Opera
Name[kk]=Opera Browser
Name[ko]=오페라 브라우저
Name[lt]=Opera naršyklė
Name[ms]=Pelayar Opera
Name[nb]=Opera nettleser
Name[nl]=Opera Browser
Name[nn]=Opera nettlesar
Name[oc]=Navigador Opera
Name[pl]=Opera
Name[pt]=Navegador Opera
Name[pt_BR]=Navegador Opera
Name[ro]=Navigatorul Opera
Name[ru]=Браузер Opera
Name[sk]=Opera
Name[sl]=Brskalnik Opera
Name[sq]=Shfletuesi Opera
Name[sr]=Оперин прегледник
Name[sv]=Webbläsaren Opera
Name[th]=โปรแกรมท่องเว็บ Opera
Name[tr]=Opera Tarayıcı
Name[ug]=Opera توركۆرگۈ
Name[uk]=Переглядач Opera
Name[zh_CN]=Opera 浏览器
Name[zh_HK]=Opera 瀏覽器
Name[zh_TW]=Opera 瀏覽器
StartupNotify=false
X-XFCE-Binaries=opera;
X-XFCE-Category=WebBrowser
X-XFCE-Commands=%B;
X-XFCE-CommandsWithParameter=%B "%s";
