
[Desktop Entry]
Version=1.0
Icon=pcmanfm
Type=X-XFCE-Helper
Name=PCMan File Manager
Name[ar]=PCMan مدير الملفات
Name[be]=Кіраўнік файлаў PCMan
Name[be@tarask]=Файлавы кіраўнік PCMan
Name[bg]=PCMan файлов мениджър
Name[bn]=PCMan ফাইল ম্যানেজার
Name[ca]=Gestor de fitxers PCMan
Name[cs]=Správce souborů PCMan
Name[da]=PCMan Filhåndtering
Name[de]=PCMan-Dateiverwaltung
Name[el]=Διαχειριστής αρχείων PCMan
Name[en_AU]=PCMan File Manager
Name[en_CA]=PCMan File Manager
Name[en_GB]=PCMan File Manager
Name[es]=Gestor de archivos PCMan
Name[et]=PCMan failihaldur
Name[eu]=PCM fitxategi kudeatzailea
Name[fi]=PCMan-tiedostonhallinta
Name[fr]=Gestionnaire de fichiers PCMan
Name[gl]=Xestor de ficheiros PCMan
Name[he]=מנהל הקבצים PCMan
Name[hr]=PCMan upravitelj datotekama
Name[hu]=PCMan fájlkezelő
Name[hy_AM]=PCMan նիշք
Name[hye]=PCMan նիշք
Name[id]=Manajer Berkas PCMan
Name[ie]=Gerentiator de files PCMan
Name[is]=PCMan skráastjóri
Name[it]=Gestore dei file PCMan
Name[ja]=PCMan File Manager
Name[kab]=Asefrak n yifuyla PCMan
Name[kk]=PCMan файлдарды басқарушысы
Name[ko]=PCMan 파일 관리자
Name[lt]=PCMan failų tvarkytuvė
Name[ms]=Pengurus Fail PCMan
Name[nb]=PCMan Filbehandler
Name[nl]=PCMan Bestandbeheerder
Name[nn]=PCMan filutforskar
Name[oc]=Gestionari de fichièrs PCMan
Name[pl]=PCMan File Manager
Name[pt]=Gestor de ficheiros PCMan
Name[pt_BR]=Gerenciador de arquivos PCManFM
Name[ro]=Managerul de fișiere PCMan
Name[ru]=Файловый менеджер PCMan
Name[sk]=PCMan správca súborov
Name[sl]=PCMan upravljalnik datotek
Name[sq]=Përgjegjës Kartelash PCMan
Name[sr]=ПЦМен управник датотека
Name[sv]=Filhanteraren PCMan
Name[th]=โปรแกรมจัดการแฟ้ม PCMan
Name[tr]=PCMan Dosya Yöneticisi
Name[ug]=PCMan ھۆججەت باشقۇرغۇ
Name[uk]=Файловий менеджер PCMan
Name[zh_CN]=PCMan 文件管理器
Name[zh_HK]=PCMan 檔案管理員
Name[zh_TW]=PCMan 檔案管理員
StartupNotify=true
X-XFCE-Binaries=pcmanfm;
X-XFCE-Category=FileManager
X-XFCE-Commands=%B;
X-XFCE-CommandsWithParameter=%B "%s";
