[Desktop Entry]
Version=1.0
Icon=qupzilla
Type=X-XFCE-Helper
Name=QupZilla
Name[be]=QupZilla
Name[be@tarask]=КіпЗілла
Name[bg]=QupZilla
Name[ca]=QupZilla
Name[cs]=QupZilla
Name[da]=QupZilla
Name[de]=QupZilla
Name[el]=QupZilla
Name[en_AU]=QupZilla
Name[en_CA]=QupZilla
Name[en_GB]=QupZilla
Name[es]=QupZilla
Name[et]=QupZilla
Name[eu]=QupZilla
Name[fi]=QupZilla
Name[fr]=QupZilla
Name[gl]=QupZilla
Name[he]=QupZilla
Name[hr]=QupZilla
Name[hu]=QupZilla
Name[hy_AM]=QupZilla
Name[hye]=QupZilla
Name[id]=QupZilla
Name[ie]=QupZilla
Name[is]=QupZilla
Name[it]=QupZilla
Name[ja]=QupZilla
Name[kab]=QupZilla
Name[kk]=QupZilla
Name[ko]=QupZilla
Name[lt]=QupZilla
Name[ms]=QupZilla
Name[nb]=QupZilla
Name[nl]=QupZilla
Name[nn]=QupZilla
Name[oc]=QupZilla
Name[pl]=QupZilla
Name[pt]=QupZilla
Name[pt_BR]=QupZilla
Name[ro]=QupZilla
Name[ru]=QupZilla
Name[sk]=QupZilla
Name[sl]=QupZilla
Name[sq]=QupZilla
Name[sr]=Купзила
Name[sv]=QupZilla
Name[th]=QupZilla
Name[tr]=QupZilla
Name[uk]=QupZilla
Name[zh_CN]=QupZilla
Name[zh_TW]=QupZilla
StartupNotify=true
X-XFCE-Binaries=qupzilla;
X-XFCE-Category=WebBrowser
X-XFCE-Commands=%B;
X-XFCE-CommandsWithParameter=%B "%s";
