[Desktop Entry]
Version=1.0
Icon=terminator
Type=X-XFCE-Helper
Name=Terminator
Name[bg]=Терминатор
Name[ca]=Terminator
Name[cs]=Terminator
Name[da]=Terminator
Name[de]=Terminator
Name[en_GB]=Terminator
Name[es]=Terminator
Name[fr]=Terminator
Name[gl]=Terminator
Name[he]=מסיים
Name[hr]=Terminator
Name[id]=Terminator
Name[ja]=Terminator
Name[kk]=Terminator
Name[ko]=터미네이터
Name[lt]=Terminator
Name[ms]=Terminator
Name[nb]=Terminator
Name[nl]=Afmaker
Name[pl]=Terminator
Name[pt]=Terminator
Name[pt_BR]=Terminator
Name[ro]=Terminator
Name[ru]=Terminator
Name[sr]=Терминал
Name[sv]=Terminator
Name[th]=Terminator
Name[tr]=Sonlandırıcı
Name[uk]=Terminator
Name[zh_CN]=Terminator
Name[zh_TW]=終端機
StartupNotify=true
X-XFCE-Binaries=terminator;
X-XFCE-Category=TerminalEmulator
X-XFCE-Commands=%B;
X-XFCE-CommandsWithParameter=%B -x %s;
