[Desktop Entry]
Version=1.0
Icon=xterm
Type=X-XFCE-Helper
Name=X Terminal
Name[ar]=طرفيّة X
Name[be]=X Terminal
Name[bg]=Х Терминал
Name[bn]=X টার্মিনাল
Name[ca]=Terminal X
Name[cs]=X Terminál
Name[da]=X Terminal
Name[de]=X-Terminal
Name[el]=Τερματικό X
Name[en_AU]=X Terminal
Name[en_CA]=X Terminal
Name[en_GB]=X Terminal
Name[es]=Terminal X
Name[et]=X Terminal
Name[eu]=X terminala
Name[fi]=X-pääte
Name[fr]=Terminal X
Name[gl]=Terminal X
Name[he]=מסוף X
Name[hr]=X Terminal
Name[hu]=X terminál
Name[hy_AM]=X վահանակ
Name[hye]=X վահանակ
Name[id]=Terminal X
Name[ie]=Terminal de X
Name[is]=X skjáhermir
Name[it]=Terminale X
Name[ja]=X ターミナル
Name[kab]=X Terminal
Name[kk]=X терминалы
Name[ko]=X 터미널
Name[lt]=X Terminalas
Name[ms]=Terminal X
Name[nb]=X Terminal
Name[nl]=X Terminal
Name[nn]=X Terminal
Name[oc]=Terminal X
Name[pl]=X Terminal
Name[pt]=Terminal X
Name[pt_BR]=Terminal X
Name[ro]=Terminalul Xterm
Name[ru]=X-терминал
Name[sk]=X Terminál
Name[sl]=X Terminal
Name[sq]=Terminal X
Name[sr]=Икс-ов терминал
Name[sv]=X-terminal
Name[th]=X Terminal
Name[tr]=X Uçbirimi
Name[ug]=X تېرمىنالى
Name[uk]=Термінал X
Name[zh_CN]=X 终端
Name[zh_HK]=X 終端機
Name[zh_TW]=X 終端機
StartupNotify=false
X-XFCE-Binaries=xterm;
X-XFCE-Category=TerminalEmulator
X-XFCE-Commands=%B;
X-XFCE-CommandsWithParameter=%B -e %s;
