[Desktop Entry]
Name=Porteus Settings Centre
Name[ru]=Центр настроек Porteus
Exec=/opt/porteus-scripts/xorg/psu porteus-settings-centre
Icon=computer
Type=Application
Categories=Application;System;
