[Desktop Entry]
Encoding=UTF-8
Name=bundles
Comment=Porteus Bundles
GenericName=Bundles
Exec=/opt/porteus-scripts/xorg/psu /opt/porteus-scripts/gtk-bundles
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=cdr
Categories=Application;System;
