[Desktop Entry]
Name=create live USB
Name[ja]=ライブUSB生成
Comment=Create Porteus live USB
Comment[ja]=PorteusのライブUSB生成
Exec=/usr/share/live-usb/bin/live-usb
Icon=live-usb
Terminal=false
Type=Application
Categories=GNOME;System;Filesystem;
