[Desktop Entry]
Name=Porteus System Info
Name[ru]=Системная информация Porteus
Exec=/opt/porteus-scripts/xpsinfo
Icon=dialog-information
Terminal=false
Type=Application
Categories=Application;System;