[Desktop Entry]
Exec=/opt/porteus-scripts/xorg/terminal -e "su -"
Icon=utilities-terminal
Name=Super User Mode - Terminal
Type=Application
Categories=Application;System;