[Xfce Panel]
Type=X-XFCE-PanelPlugin
Encoding=UTF-8
Name=Network Monitor
Name[ar]=مراقب الشبكة
Name[ast]=Monitor de rede
Name[ca]=Monitoritza la xarxa
Name[cs]=Sledování sítě
Name[da]=Netværksovervågning
Name[de]=Netzwerkmonitor
Name[el]=Παρακολούθηση δικτύου
Name[en_GB]=Network Monitor
Name[eo]=Ret-ekrano
Name[es]=Monitor de red
Name[eu]=Sare Monitorea
Name[fi]=Verkon valvonta
Name[fr]=Moniteur réseau
Name[gl]=Monitor de rede
Name[hr]=Nadzor mreže
Name[hu]=Hálózatfigyelő
Name[id]=Monitor Jaringan
Name[it]=Monitor del carico di rete
Name[ja]=ネットワークモニター
Name[kk]=Желілік бақылаушы
Name[ko]=네트워크 감시기
Name[lt]=Tinklo stebėjimas
Name[lv]=Tīkla pārraugs
Name[nb]=Nettverksmonitor
Name[nl]=Netwerkbewaker
Name[pa]=ਨੈੱਟਵਰਕ ਮਾਨੀਟਰ
Name[pl]=Monitor sieci
Name[pt]=Monitor de rede
Name[pt_BR]=Monitor da Rede
Name[ru]=Сетевой монитор
Name[sk]=Sledovanie siete
Name[sq]=Mbikëqyrës Rrjeti
Name[sv]=Nätverksövervakare
Name[tr]=Ağ ekranı
Name[ug]=تور كۆزەتكۈ
Name[uk]=Спостереження за мережею
Name[ur]=نیٹ ورک مانیٹر
Name[ur_PK]=نیٹ ورک مانیٹر
Name[zh_CN]=网络监视器
Name[zh_TW]=網路監視器
Comment=Show network traffic
Comment[ar]=عرض حركة الشبكة
Comment[ast]=Amosar tráficu de rede
Comment[ca]=Mostra el tràfic de xarxa
Comment[cs]=Zobrazuje provoz sítě
Comment[da]=Vis netværkstraffik
Comment[de]=Netzwerkverkehr anzeigen
Comment[el]=Εμφάνιση δικτυακής κίνησης
Comment[en_GB]=Show network traffic
Comment[eo]=Montru retŝarĝon
Comment[es]=Mostrar tráfico de red
Comment[eu]=Ikusi sare trafikoa
Comment[fi]=Näytä verkkoliikenne
Comment[fr]=Afficher le trafic du réseau
Comment[gl]=Mostrar o tráfico de rede
Comment[hr]=Pokaži mrežni promet
Comment[hu]=Hálózati forgalom megjelenítése
Comment[id]=Tampilkan arus jaringan
Comment[it]=Mostra il traffico di rete
Comment[ja]=ネットワークトラフィックを表示します
Comment[kk]=Желілік трафикті көрсету
Comment[ko]=네트워크 상태를 보입니다
Comment[lt]=Rodyti tinklo srautą
Comment[lv]=Rādīt tīkla satiksmi
Comment[nb]=Viser nettverkstrafikk
Comment[nl]=Toon netwerkverkeer
Comment[pa]=ਨੈੱਟਵਰਕ ਟਰੈਫਿਕ ਵੇਖੋ
Comment[pl]=Dostarcza informacje na temat obciążenia połączeń sieciowych
Comment[pt]=Mostrar tráfego de rede
Comment[pt_BR]=Mostra o tráfego de rede
Comment[ru]=Показывать сетевой трафик
Comment[sk]=Zobrazuje prevádzku siete
Comment[sq]=Shfaq trafik rrjeti
Comment[sv]=Visa nätverkstrafik
Comment[tr]=Ağ trafiğini gösterir
Comment[ug]=تور قىستاڭچىلىقىنى كۆرسىتىدۇ
Comment[uk]=Відображати мережеву активність
Comment[ur]=نیٹ ورک ٹریفک ظاہر کریں
Comment[ur_PK]=نیٹ ورک ٹریفک ظاہر کریں
Comment[zh_CN]=显示网络流量
Comment[zh_TW]=顯示網路流量
Icon=xfce4-netload-plugin
X-XFCE-Exec=/usr/lib/xfce4/panel/plugins/xfce4-netload-plugin

