[Unit]
Description=KDE Configuration Module Initialization (Phase 1)
Requires=plasma-kcminit.service
After=plasma-kcminit.service plasma-kded.service
PartOf=graphical-session.target

[Service]
Type=oneshot
ExecStart=/usr/lib64/qt5/bin/qdbus org.kde.kcminit /kcminit org.kde.KCMInit.runPhase1
Slice=session.slice
