[Desktop Entry]
Name=Porteus Settings Centre
Exec=kdesu /opt/porteus-scripts/porteus-settings-centre
Icon=computer
Type=Application
Categories=Application;System;