#technix menu and menubar settings
#Modified and added to by Padster

style "menubar"
{

fg[PRELIGHT] = "#f5f5f5" #pressed
fg[ACTIVE] = "#f5f5f5" #normal
fg[NORMAL] = "#f5f5f5" #normal
fg[SELECTED] = "#f5f5f5" #pressed
fg[INSENSITIVE] = "#b6b6b6" #insensitive

text[PRELIGHT] = "#f5f5f5" #prelight text on optionmenu menus #pressed 
text[ACTIVE] = "#f5f5f5" #normal
text[NORMAL] = "#f5f5f5" #normal
text[SELECTED] = "#f5f5f5" #pressed
text[INSENSITIVE] = "#b6b6b6" #insensitive

xthickness = 2 #space between menuBAR entries (horizontal)
ythickness = 4 #space on top/bottom of menuBAR entries (vertical)

engine "pixmap"
{

	image
	{
		function	= BOX
		state		= NORMAL
		file		= "/menu/menubar.png"
		border		= { 0, 0, 0, 0}
		stretch		= TRUE
	}

	image
	{
		function	= BOX
		recolorable	= TRUE
		state		= PRELIGHT
		file		= "/menu/menu-item.png" #menubar item
		border		= { 2, 2, 2, 2 }
		stretch		= TRUE
	}

	image
	{
		function	= BOX
		state		= ACTIVE
		file		= "/menu/menubar.png"
		border		= { 0, 0, 0, 0}
		stretch		= TRUE
	}

	image
	{
		function	= BOX
		state		= SELECTED
		file		= "/menu/menubar.png"
		border		= { 0, 0, 0, 0}
		stretch		= TRUE
	}

	image
	{
		function	= BOX
		state		= INSENSITIVE
		file		= "/menu/menubar.png"
		border		= { 0, 0, 0, 0}
		stretch		= TRUE
	}
}
}

style "menu"
{

fg[PRELIGHT] = "#f5f5f5" #pressed
fg[ACTIVE] = "#f5f5f5" #normal
fg[NORMAL] = "#f5f5f5" #normal
fg[SELECTED] = "#f5f5f5" #pressed
fg[INSENSITIVE] = "#b6b6b6" #insensitive

text[PRELIGHT] = "#f5f5f5" #prelight text on optionmenu menus #pressed 
text[ACTIVE] = "#f5f5f5" #normal
text[NORMAL] = "#f5f5f5" #normal
text[SELECTED] = "#f5f5f5" #pressed
text[INSENSITIVE] = "#b6b6b6" #insensitive

xthickness = 4 #left/right space on menus
ythickness = 3 #top/bottom space on menus

bg_pixmap [NORMAL] = "/menu/menu-bg.png" #odd menu transparency parts (top of right-click in gimp)
#commenting out make it show the "base" colour

engine "pixmap"
{

	image
	{
		function	= BOX
		recolorable	= TRUE
		detail		= "menu"
		file		= "/menu/menu.png"
		border		= { 2, 2, 2, 2 }
		stretch		= TRUE
	}
}
}

style "menuitem"
{

fg[PRELIGHT] = "#f5f5f5" #pressed
fg[ACTIVE] = "#f5f5f5" #normal
fg[NORMAL] = "#f5f5f5" #normal
fg[SELECTED] = "#f5f5f5" #pressed
fg[INSENSITIVE] = "#b6b6b6" #insensitive

text[PRELIGHT] = "#f5f5f5" #prelight text on optionmenu menus #pressed 
text[ACTIVE] = "#f5f5f5" #normal
text[NORMAL] = "#f5f5f5" #normal
text[SELECTED] = "#f5f5f5" #pressed
text[INSENSITIVE] = "#b6b6b6" #insensitive

xthickness = 0
ythickness = 4 #space in between menu entries (vertical)

engine "pixmap"
{
	image
	{
		function	= BOX
		recolorable	= TRUE
		file		= "/menu/menu-item.png"
		border		= { 2, 2, 2, 2 }
		stretch		= TRUE
	}

	image
	{
		function	= ARROW
		recolorable	= TRUE
		state		= NORMAL
		overlay_file	= "/arrows/arrow-up.png"
		overlay_border	= {2,2,2,2}
		overlay_stretch	= FALSE
		arrow_direction	= UP
	}

	image
	{
		function	= ARROW
		recolorable	= TRUE
		state		= PRELIGHT
		overlay_file	= "/arrows/arrow-up-menu.png"
		overlay_border	= {2,2,2,2}
		overlay_stretch	= FALSE
		arrow_direction	= UP
	}

	image
	{
		function	= ARROW
		recolorable	= TRUE
		state		= ACTIVE
		overlay_file	= "/arrows/arrow-up-prelight.png"
		overlay_border	= {2,2,2,2}
		overlay_stretch	= FALSE
		arrow_direction	= UP
	}

	image
	{
		function	= ARROW
		recolorable	= TRUE
		state		= SELECTED
		overlay_file	= "/arrows/arrow-up-prelight.png"
		overlay_border	= {2,2,2,2}
		overlay_stretch	= FALSE
		arrow_direction	= UP
	}

	image
	{
		function	= ARROW
		recolorable	= TRUE
		state		= INSENSITIVE
		overlay_file	= "/arrows/arrow-up-insensitive.png"
		overlay_border	= {2,2,2,2}
		overlay_stretch	= FALSE
		arrow_direction	= UP
	}

	image
	{
		function	= ARROW
		recolorable	= TRUE
		state		= NORMAL
		overlay_file	= "/arrows/arrow-down.png"
		overlay_border	= {2,2,2,2}
		overlay_stretch	= FALSE
		arrow_direction	= DOWN
	}

	image
	{
		function	= ARROW
		recolorable	= TRUE
		state		= PRELIGHT
		overlay_file	= "/arrows/arrow-down-menu.png"
		overlay_border	= {2,2,2,2}
		overlay_stretch	= FALSE
		arrow_direction	= DOWN
	}

	image
	{
		function	= ARROW
		recolorable	= TRUE
		state		= ACTIVE
		overlay_file	= "/arrows/arrow-down-prelight.png"
		overlay_border	= {2,2,2,2}
		overlay_stretch	= FALSE
		arrow_direction	= DOWN
	}
	image
	{
		function	= ARROW
		recolorable	= TRUE
		state		= SELECTED
		overlay_file	= "/arrows/arrow-down-prelight.png"
		overlay_border	= {2,2,2,2}
		overlay_stretch	= FALSE
		arrow_direction	= DOWN
	}

	image
	{
		function	= ARROW
		recolorable	= TRUE
		state		= INSENSITIVE
		overlay_file	= "/arrows/arrow-down-insensitive.png"
		overlay_border	= {2,2,2,2}
		overlay_stretch	= FALSE
		arrow_direction	= DOWN
	}

	image
	{
		function	= ARROW
		recolorable	= TRUE
		state		= NORMAL
		overlay_file	= "/arrows/arrow-left.png"
		overlay_border	= {2,2,2,2}
		overlay_stretch	= FALSE
		arrow_direction	= LEFT
	}

	image
	{
		function	= ARROW
		recolorable	= TRUE
		state		= PRELIGHT
		overlay_file	= "/arrows/arrow-left-menu.png"
		overlay_border	= {2,2,2,2}
		overlay_stretch	= FALSE
		arrow_direction	= LEFT
	}

	image
	{
		function	= ARROW
		recolorable	= TRUE
		state		= ACTIVE
		overlay_file	= "/arrows/arrow-left-prelight.png"
		overlay_border	= {2,2,2,2}
		overlay_stretch	= FALSE
		arrow_direction	= LEFT
	}

	image
	{
		function	= ARROW
		recolorable	= TRUE
		state		= SELECTED
		overlay_file	= "/arrows/arrow-left-prelight.png"
		overlay_border	= {2,2,2,2}
		overlay_stretch	= FALSE
		arrow_direction	= LEFT
	}

	image
	{
		function	= ARROW
		recolorable	= TRUE
		state		= INSENSITIVE
		overlay_file	= "/arrows/arrow-left-insensitive.png"
		overlay_border	= {2,2,2,2}
		overlay_stretch	= FALSE
		arrow_direction	= LEFT
	}
	image
	{
		function	= ARROW
		recolorable	= TRUE
		state		= NORMAL
		overlay_file	= "/arrows/arrow-right.png"
		overlay_border	= {2,2,2,2}
		overlay_stretch	= FALSE
		arrow_direction	= RIGHT
	}

	image
	{
		function	= ARROW
		recolorable	= TRUE
		state		= PRELIGHT
		overlay_file	= "/arrows/arrow-right-menu.png"
		overlay_border	= {2,2,2,2}
		overlay_stretch	= FALSE
		arrow_direction	= RIGHT
	}

	image
	{
		function	= ARROW
		recolorable	= TRUE
		state		= ACTIVE
		overlay_file	= "/arrows/arrow-right-prelight.png"
		overlay_border	= {2,2,2,2}
		overlay_stretch	= FALSE
		arrow_direction	= RIGHT
	}

	image
	{
		function	= ARROW
		recolorable	= TRUE
		state		= SELECTED
		overlay_file	= "/arrows/arrow-right-prelight.png"
		overlay_border	= {2,2,2,2}
		overlay_stretch	= FALSE
		arrow_direction	= RIGHT
	}

	image
	{
		function	= ARROW
		recolorable	= TRUE
		state		= INSENSITIVE
		overlay_file	= "/arrows/arrow-right-insensitive.png"
		overlay_border	= {2,2,2,2}
		overlay_stretch	= FALSE
		arrow_direction	= RIGHT
	}
}
}

style "menuitem-text" = "menuitem"
{
	#xthickness = 0
	#ythickness = 0

fg[PRELIGHT] = "#f5f5f5" #pressed
fg[ACTIVE] = "#f5f5f5" #normal
fg[NORMAL] = "#f5f5f5" #normal
fg[SELECTED] = "#f5f5f5" #pressed
fg[INSENSITIVE] = "#b6b6b6" #insensitive

text[PRELIGHT] = "#f5f5f5" #prelight text on optionmenu menus #pressed 
text[ACTIVE] = "#f5f5f5" #normal
text[NORMAL] = "#f5f5f5" #normal
text[SELECTED] = "#f5f5f5" #pressed
text[INSENSITIVE] = "#b6b6b6" #insensitive

}

style "separator-menu-item"
{
	xthickness = 0
	ythickness = 0
	
  engine "pixmap"
  {
    image
    {
      function	  = HLINE
      recolorable = TRUE
      file	  = "menu/menu-separator.png"
      border	  = { 0, 0, 1, 1 }
      stretch	  = TRUE
    }
  }
}

widget_class "*<GtkSeparatorMenuItem>*" 	style "separator-menu-item"

class "GtkMenu"        				style "menu"
class "GtkMenuItem"    				style "menuitem"
class "GtkImageMenuItem"    			style "menuitem"
class "GtkTearoffMenuItem"    			style "menuitem"
class "GtkItem"    				style "menuitem"
widget_class "*.<GtkMenuItem>.*" 		style:highest "menuitem-text"
widget_class"*MenuItem*"        		style "menuitem"
widget_class"*.GtkMenuItem.*"        		style "menuitem"
widget_class"*.GtkAccelMenuItem.*"        	style "menuitem"
class "GtkMenuBar"				style "menubar"
class "*MenuBar*"				style "menubar"
widget_class "*MenuBar.*"			style "menubar"
