# Service menu to convert deb package to Porteus modules ( *.xzm files )
# Author: KSA_ARAB (rewritten by fanthom)

[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KonqPopupMenu/Plugin
MimeType=application/x-deb;
X-KDE-Priority=TopLevel
Actions=convert_deb2xzm;

[Desktop Action convert_deb2xzm]
Name=Convert deb to xzm
Icon=cdr
Exec=/opt/porteus-scripts/context-menu/convert_deb %F