# Service menu to mount .dat images
# Author: fanthom

[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KonqPopupMenu/Plugin,application/x-dat
X-KDE-Priority=TopLevel
Actions=mount_image;umount_image;

[Desktop Action mount_image]
Name=Mount .dat image
Icon=cdr
Exec=/opt/porteus-scripts/context-menu/mount-module %f

[Desktop Action umount_image]
Name=Umount .dat image
Icon=cdr
Exec=/opt/porteus-scripts/context-menu/unmount-module %f
