[Desktop Entry]
Type=Action
Icon[en_US]=application-x-cd-image
Icon[en]=application-x-cd-image
Icon[C]=application-x-cd-image
Tooltip[en_US]=Mont an .iso file
Tooltip[en]=Mont an .iso file
Tooltip[C]=Mont an .iso file
ToolbarLabel[en_US]=Mount iso
ToolbarLabel[en]=Mount iso
ToolbarLabel[C]=Mount iso
Name[en_US]=Mount iso
Name[en]=Mount iso
Name[C]=Mount iso
Profiles=profile-zero;

[X-Action-Profile profile-zero]
MimeTypes=application/octet-stream;application/x-iso9660-image;
Basenames=*.iso;
Exec=/opt/porteus-scripts/context-menu/mount-iso %f
Name[en_US]=Mount iso
Name[en]=Mount iso
Name[C]=Mount iso
