[Desktop Entry]
Type=Action
Icon[en_US]=cdr
Icon[en]=cdr
Icon[C]=cdr
Tooltip[en_US]=Mount Porteus module
Tooltip[en]=Mount Porteus module
Tooltip[ru]=Смонтировать модуль в /mnt/loop в режиме только для чтения
Tooltip[C]=Mount Porteus module
ToolbarLabel[en_US]=Mount module
ToolbarLabel[en]=Mount module
ToolbarLabel[ru]=Смонтировать модуль в /mnt/loop
ToolbarLabel[C]=Mount module
Name[en_US]=Mount module
Name[en]=Mount module
Name[ru]=Смонтировать модуль в /mnt/loop
Name[C]=Mount module
Profiles=profile-zero;

[X-Action-Profile profile-zero]
Basenames=*.xzm;
Exec=/opt/porteus-scripts/context-menu/mount-module %f
Name[en_US]=Default profile
Name[en]=Default profile
Name[C]=Default profile
