[Desktop Entry]
Type=Action
Icon[en_US]=txt
Icon[en]=txt
Icon[C]=txt
Tooltip[en_US]=Upload text to pastebin
Tooltip[en]=Upload text to pastebin
Tooltip[C]=Upload text to pastebin
ToolbarLabel[en_US]=Upload to pastebin
ToolbarLabel[en]=Upload to pastebin
ToolbarLabel[C]=Upload to pastebin
Name[en_US]=Upload to pastebin
Name[en]=Upload to pastebin
Name[C]=Upload to pastebin
Profiles=profile-zero;

[X-Action-Profile profile-zero]
MimeTypes=text/plain;
Basenames=*.txt;
Exec=/opt/porteus-scripts/context-menu/pastebin %f
Name[en_US]=Pastebin
Name[en]=Pastebin
Name[C]=Pastebin
