[Desktop Entry]
Type=Action
Icon[en_US]=application-x-rpm
Icon[en]=application-x-rpm
Icon[C]=application-x-rpm
Tooltip[en_US]=Convert rpm to xzm
Tooltip[en]=Convert rpm to xzm
Tooltip[C]=Convert rpm to xzm
ToolbarLabel[en_US]=rpm2xzm
ToolbarLabel[en]=rpm2xzm
ToolbarLabel[C]=rpm2xzm
Name[en_US]=rpm2xzm
Name[en]=rpm2xzm
Name[C]=rpm2xzm
Profiles=profile-zero;

[X-Action-Profile profile-zero]
Basenames=*.rpm;
Exec=/opt/porteus-scripts/context-menu/convert_rpm %F
Name[en_US]=Default profile
Name[en]=Default profile
Name[C]=Default profile
