[Dictionary Source]
Name[af]=Verstek
Name[am]=ነባር 
Name[ar]=الافتراضي
Name[as]=অবিকল্পিত
Name[ast]=Predeterminao
Name[az]=Ön Qurğulu
Name[be]=Стандартна
Name[bg]=По подразбиране
Name[bn]=ডিফল্ট
Name[bn_IN]=डिफ़ॉल्ट
Name[br]=Dre ziouer
Name[bs]=Uobičajeno
Name[ca]=Predeterminat
Name[ca@valencia]=Predeterminat
Name[cmn]=預設值
Name[crh]=Ög-belgilengen
Name[cs]=Výchozí
Name[cy]=Rhagosodiad
Name[da]=Standard
Name[de]=Vorgabe
Name[dz]=སྔོན་སྒྲིག་
Name[el]=Προεπιλογή
Name[en_AU]=Default
Name[en_CA]=Default
Name[en_GB]=Default
Name[eo]=Defaŭlto
Name[es]=Predeterminado
Name[es_AR]=Predeterminado
Name[es_CL]=Por defecto
Name[es_CO]=Predeterminado
Name[es_MX]=Predeterminado
Name[et]=Vaikimisi
Name[eu]=Lehenetsia
Name[fa]=پیش‌فرض
Name[fi]=Oletus
Name[fr]=Par défaut
Name[frp]=Prèdèfini
Name[fur]=Default
Name[fy]=Standert
Name[ga]=Réamhshocrú
Name[gl]=Predeterminado
Name[gu]=મૂળભૂત
Name[he]=בררת המחדל
Name[hi]=मूलभूत
Name[hr]=Zadano
Name[hu]=Alapértelmezett
Name[hy]=Հիմնական
Name[id]=Standar
Name[ie]=Predefinit
Name[is]=Sjálfgefið
Name[it]=Predefinito
Name[ja]=デフォルト
Name[ka]=ნაგულისხმევი
Name[kk]=Бастапқы
Name[kn]=ಪೂರ್ವನಿಯೋಜಿತ
Name[ko]=기본값
Name[ku]=Wekî heyî
Name[ku_IQ]=بنەڕەت
Name[ky]=Жарыяланбас
Name[lt]=Numatytasis
Name[lv]=Noklusējums
Name[mai]=मूलभूत
Name[mg]=Tsotra
Name[mk]=Стандардно
Name[ml]=സ്വഥവേ
Name[mn]=Стандарт
Name[mr]=मुलभूत
Name[ms]=Lalai
Name[nb]=Forvalgt
Name[nds]=Standard
Name[ne]=पूर्वनिर्धारित
Name[nl]=Standaard
Name[nn]=Standard
Name[oc]=Per defaut
Name[or]=ପୂର୍ବ ନିର୍ଦ୍ଧାରିତ
Name[pa]=ਮੂਲ
Name[pl]=Domyślny
Name[ps]=تلواله
Name[pt]=Predefinição
Name[pt_BR]=Padrão
Name[ro]=Mod implicit
Name[ru]=По умолчанию
Name[rw]=Mburabuzi
Name[si]=ප්‍රකෘතිය
Name[sk]=Predvolené
Name[sl]=Privzeto
Name[sq]=E parazgjedhur
Name[sr]=Основно
Name[sr@latin]=Uobičajno
Name[sv]=Standard
Name[ta]=முன்னிருப்பு
Name[te]=అప్రమేయం
Name[th]=ปริยาย
Name[tr]=Varsayılan
Name[ug]=كۆڭۈلدىكى
Name[uk]=Усталено
Name[ur]=طے شُدہ
Name[uz]=Andoza
Name[vi]=Mặt định
Name[wa]=Prémetou
Name[xh]=Esilelayo
Name[zh_CN]=默认
Name[zh_HK]=預設值
Name[zh_TW]=預設值
Name=Default
Description=Default Dictionary Server
Transport=dictd
Hostname=dict.org
Port=2628
