[Dictionary Source]
Name=spanish
Description=Spanish Dictionaries
Description[af]=Spaanse woordeboeke
Description[ar]=قواميس أسبانية
Description[as]=স্প্যানিশ অভিধান
Description[ast]=Diccionariu d'español
Description[be]=Гішпанскія слоўнікі
Description[be@latin]=Hišpanskija słoŭniki
Description[bg]=Испански речници
Description[bn]=স্প্যানিশ অভিধান
Description[bn_IN]=স্প্যানিশ অভিধান
Description[br]=Geriadurioù spagnolek
Description[ca]=Diccionaris espanyols
Description[ca@valencia]=Diccionaris espanyols
Description[cmn]=西班牙文字典
Description[crh]=İspanyolca Sözlükler
Description[cs]=Španělské slovníky
Description[cy]=Geiriaduron Sbaeneg
Description[da]=Spansk-ordbøger
Description[de]=Spanische Wörterbücher
Description[dz]=སི་པེ་ནིཤ་ཚིག་མཛོད་ཚུ།
Description[el]=Ισπανικά λεξικά
Description[en@shaw]=𐑕𐑐𐑨𐑯𐑦𐑖 𐑛𐑦𐑒𐑖𐑩𐑯𐑼𐑦𐑟
Description[en_AU]=Spanish Dictionaries
Description[en_CA]=Spanish Dictionaries
Description[en_GB]=Spanish Dictionaries
Description[eo]=Hispana vortaro
Description[es]=Diccionario de español
Description[et]=Hispaaniakeelsed sõnaraamatud
Description[eu]=Gaztelerako hiztegiak
Description[fa]=لغت‌نامه‌های اسپانیایی
Description[fi]=Espanjankieliset sanakirjat
Description[fr]=Dictionnaires Espagnols
Description[ga]=Foclóirí Spáinnise
Description[gl]=Dicionarios de español
Description[gu]=સ્પેનીશ શબ્દકોષો
Description[he]=מילונים ספרדיים
Description[hi]=स्पैनिश शब्दकोश
Description[hr]=Španjolski rječnici
Description[hu]=Spanyol szótárak
Description[id]=Kamus Spanyol
Description[it]=Dizionari spagnoli
Description[ja]=スペイン語の辞書
Description[ka]=ესპანური ლექსიკონები
Description[kn]=ಸ್ಪ್ಯಾನಿಶ್ ಶಬ್ಧಕೋಶಗಳು
Description[ko]=스페인어 사전
Description[ku]=Ferhengên Spanî
Description[ky]=Испан сөздүктөр
Description[lt]=Ispaniški žodynai
Description[lv]=Spāņu vārdnīcas
Description[mai]=स्पैनिश शब्दकोश
Description[mg]=Rakibolana Espaniola
Description[mk]=Шпански речници
Description[ml]=സ്പാനിഷ് നിഘണ്ടു
Description[mr]=स्पॅनिश शब्दकोश
Description[ms]=Kamus Sepanyol
Description[nb]=Spanske ordbøker
Description[ne]=स्पेनी शब्दकोश
Description[nl]=Spaanse woordenboeken
Description[nn]=Spanske ordbøker
Description[oc]=Diccionaris espanhòls
Description[or]=ସ୍ପାନିଶ ଅଭିଧାନ
Description[pa]=ਸਪੇਨੀ ਡਿਕਸ਼ਨਰੀ
Description[pl]=Słowniki hiszpańskie
Description[ps]=سپېنېش ويېپانګې
Description[pt]=Dicionário espanhol
Description[pt_BR]=Dicionários de espanhol
Description[ro]=Dicționare spaniole
Description[ru]=Испанские словари
Description[si]=ස්පාඤ්ඤ ශබ්දකෝෂය
Description[sk]=Španielske slovníky
Description[sl]=Španski slovarji
Description[sq]=Fjalori Spanjisht
Description[sr]=Шпански речници
Description[sr@latin]=Španski rečnici
Description[sv]=Spanska ordböcker
Description[ta]=ஸ்பானிஷ் அகராதிகள்
Description[te]=స్పానిష్ నిఘంటువులు
Description[th]=พจนานุกรมสเปน
Description[tr]=İspanyolca Sözlükler
Description[ug]=ئىسپانچە لۇغەتلەر
Description[uk]=Іспанські словники
Description[ur]=ہسپانوی لغات
Description[vi]=Từ điển tiếng Tây-ban-nha
Description[zh_CN]=西班牙语字典
Description[zh_HK]=西班牙文字典
Description[zh_TW]=西班牙文字典
Transport=dictd
Hostname=es.dict.org
Port=2628
