[Dictionary Source]
Name[af]=Thai
Name[am]=Thai
Name[ar]=تايلاندي
Name[as]=থাই
Name[ast]=Tailandés
Name[az]=Tayca
Name[be]=Тайская
Name[bg]=Тайски
Name[bn]=থাই
Name[bn_IN]=থাই
Name[br]=Taiek
Name[bs]=Tajlandski
Name[ca]=Tai
Name[ca@valencia]=Tai
Name[cmn]=泰文
Name[crh]=Tayca
Name[cs]=Thajské
Name[cy]=Siameg
Name[da]=Thai
Name[de]=Thai
Name[dz]=ཐཱའི།
Name[el]=Ταϊλανδικά
Name[en_AU]=Thai
Name[en_CA]=Thai
Name[en_GB]=Thai
Name[eo]=Taja
Name[es]=Tailandés
Name[es_CO]=Tailandés
Name[et]=Tai
Name[eu]=Thailandiera
Name[fa]=تایلندی
Name[fi]=Thai
Name[fr]=Thaï
Name[fur]=Thai
Name[ga]=Téalainnis
Name[gl]=Tailandés
Name[gu]=થાઈ
Name[he]=תאית
Name[hi]=थाई
Name[hr]=Tajlandski
Name[hu]=Thai
Name[hy]=Թայլանդական
Name[id]=Thailand
Name[ie]=Thai
Name[is]=Taílenskt
Name[it]=Tailandese
Name[ja]=タイ文字
Name[ka]=ტაილანდური
Name[kk]=Тай
Name[kn]=ಥಾಯ್
Name[ko]=타이 문자
Name[ku]=Tay
Name[ku_IQ]=تایلەندی
Name[ky]=Тай
Name[lt]=Tajų
Name[lv]=Taizemes
Name[mai]=थाइ
Name[mg]=Teny Thailandais
Name[mk]=Тајландски
Name[ml]=തായ്
Name[mn]=Тай
Name[mr]=थाई
Name[ms]=Siam
Name[nb]=Thai
Name[nds]=Thai
Name[ne]=थाई
Name[nl]=Thais
Name[nn]=Thai
Name[oc]=Taï
Name[or]=ଥାଈ
Name[pa]=ਥਾਈ
Name[pl]=Tajski
Name[ps]=ټهايي
Name[pt]=Tailandês
Name[pt_BR]=Tailandês
Name[ro]=Tailandez
Name[ru]=Тайская
Name[rw]=Tayi
Name[si]=තායී
Name[sk]=Thajské
Name[sl]=Tajski
Name[sq]=Thai
Name[sr]=Тајландски
Name[sr@latin]=Tajlandski
Name[sv]=Thailändska
Name[ta]=தாய்
Name[te]=థాయ్
Name[th]=ไทย
Name[tk]=Taýça
Name[tr]=Taylandça
Name[ug]=تايلاندچە
Name[uk]=Тайське
Name[ur]=تھائی
Name[uz]=Taycha
Name[vi]=Thái
Name[wa]=Taylandès
Name[xh]=i-Thai
Name[zh_CN]=泰文
Name[zh_HK]=泰文
Name[zh_TW]=泰文
Name=Thai
Description=Longdo Thai-English Dictionaries
Transport=dictd
Hostname=dict.longdo.com
Port=2628
