# Service menu to convert rpm packages to Porteus modules ( *.xzm files )
# Author: fanthom

[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KonqPopupMenu/Plugin
MimeType=application/x-rpm;
X-KDE-Priority=TopLevel
Actions=convert_rpm_xzm;

[Desktop Action convert_rpm_xzm]
Name=Convert rpm to xzm
Comment=Convert a rpm package to a Porteus module
Name[ru]=Конвертировать rpm в xzm модуль
Comment[ru]=Конвертировать rpm пакет в модуль Porteus
Icon=cdr
Exec=/opt/porteus-scripts/context-menu/convert_rpm %F
