# Service menu to for tgz/txz packages operation
# Author: fanthom & KSA_ARAB

[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KonqPopupMenu/Plugin
MimeType=application/x-compressed-tar;application/x-xz-compressed-tar;
X-KDE-Priority=TopLevel
Actions=slackware_install;slackware_uninstall;convert_tgz/txz_xzm;

[Desktop Action slackware_install]
Name=Install Slackware package
Comment=Install Slackware package
Name[ru]=Установить пакет Slackware
Comment[ru]=Установить пакет Slackware
Icon=application-x-compressed-tar
Exec=/opt/porteus-scripts/context-menu/install-slack %F

[Desktop Action slackware_uninstall]
Name=Uninstall Slackware package
Comment=Uninstall Slackware package
Name[ru]=Деинсталлировать пакет Slackware
Comment[ru]=Деинсталлировать пакет Slackware
Icon=application-x-compressed-tar
Exec=/opt/porteus-scripts/context-menu/remove-slack %F

[Desktop Action convert_tgz/txz_xzm]
Name=Convert tgz/txz to xzm
Comment=Convert Slackware package to a Porteus module
Name[ru]=Конвертировать txz/tgz в xzm модуль
Comment[ru]=Конвертировать пакет Slackware в модуль Porteus
Icon=cdr
Exec=/opt/porteus-scripts/context-menu/convert_txz %F
