[Desktop Entry]
Exec=/opt/porteus-scripts/xorg/psu lxterminal
Icon=utilities-terminal
Name=LXTerminal (root)
Type=Application
Categories=Application;System;