[Desktop Entry]
Name=FeatherPad
GenericName=Text Editor
GenericName[eo]=Tekst-Redaktilo
Comment=Lightweight Qt5 text editor
Comment[eo]=Malpeza tekst-redaktilo bazita sur Qt5
Exec=featherpad %F
Icon=featherpad
Terminal=false
Type=Application
MimeType=text/plain;
Categories=Qt;Utility;TextEditor;
X-KDE-StartupNotify=false
