[Desktop Entry]
Type=Application
Exec=lxqt-leave --shutdown
Icon=system-shutdown
Categories=System;X-Leave;
OnlyShowIn=LXQt;

Name=Shutdown
GenericName=Shutdown the machine
Comment=Shutdown the machine
GenericName[ar]=أطفئ الجهاز
Name[ar]=أطفئ
Comment[ar]=أطفئ الجهاز
Name[ca]=Atura
GenericName[ca]=Atura la màquina
Comment[ca]=Atura la màquina
Name[cs]=Vypnout
GenericName[cs]=Vypnout počítač
Comment[cs]=Vypnout počítač
Name[da]=Luk ned
GenericName[da]=Luk maskinen
Comment[da]=Luk maskinen
GenericName[de]=Rechner herunterfahren
Name[de]=Herunterfahren
Comment[de]=Rechner herunterfahren
Name[el]=Τερματισμός
GenericName[el]=Τερματισμός του μηχανήματος
Comment[el]=Τερματισμός του μηχανήματος
Name[es]=Apagar
GenericName[es]=Apagar el sistema
Comment[es]=Apagar el sistema
Name[eu]=Itzali
GenericName[eu]=Itzali ordenagailua
Comment[eu]=Itzali ordenagailua
Name[fr]=Arrêter
GenericName[fr]=Arrêter l'ordinateur
Comment[fr]=Arrêter l'ordinateur
Name[he]=כיבוי
GenericName[he]=כיבוי המכונה
Comment[he]=כיבוי המכונה
GenericName[hr]=Isključi uređaj
Name[hr]=Isključi
Comment[hr]=Isključi uređaj
GenericName[hu]=A számítógép leállítása
Name[hu]=Leállítás
Comment[hu]=A számítógép leállítása
Name[it]=Arresta
GenericName[it]=Spegnere il computer
Comment[it]=Spegnere il computer
Name[ja]=シャットダウン
GenericName[ja]=PC をシャットダウンします
Comment[ja]=PC をシャットダウンします
Name[ko]=시스템 종료
GenericName[ko]=기기를 종료
Comment[ko]=기기를 종료
Name[lt]=Išjungti
GenericName[lt]=Išjungti kompiuterį
Comment[lt]=Išjungti kompiuterį
Name[oc]=Atudar
GenericName[oc]=Atudar la maquina
Comment[oc]=Atudar la maquina
Name[pl]=Wyłącz
GenericName[pl]=Wyłącz komputer
Comment[pl]=Wyłącz komputer
Name[pt]=Desligar
GenericName[pt]=Desligar o computador
Comment[pt]=Desligar o computador
Name[ru]=Выключение
GenericName[ru]=Выключить компьютер
Comment[ru]=Выключить компьютер
Name[tr]=Kapat
GenericName[tr]=bilgisayarı kapat
Comment[tr]=bilgisayarı kapat
Name[zh_CN]=关机
GenericName[zh_CN]=关闭计算机
Comment[zh_CN]=关闭计算机
Name[zh_TW]=關機
GenericName[zh_TW]=關閉電腦
Comment[zh_TW]=關閉電腦
