[Desktop Entry]
Version=1.0
Name=PulseAudio Volume Control
GenericName=Volume Control
Comment=Adjust the volume level
Exec=pavucontrol-qt
Icon=multimedia-volume-control
StartupNotify=true
Type=Application
Categories=AudioVideo;Audio;Mixer;Qt;
Name[ca]=Control del volum de PulseAudio
GenericName[ca]=Control del volum
Comment[ca]=Ajusteu el nivell del volum
Name[da]=PulseAudio-lydstyrkekontrol
GenericName[da]=Lydstyrkekontrol
Comment[da]=Justér lydstyrkeniveauet
Name[lt]=PulseAudio garsio reguliavimas
GenericName[lt]=Garsio reguliavimas
Comment[lt]=Reguliuoti garsio lygį
Name[pl]=Kontrola PulseAudio
GenericName[pl]=Kontrola głośności
Comment[pl]=Dostosuj głośność i ustawienia dźwięku
Name[pt]=Controlo de volume PulseAudio
GenericName[pt]=Controlo de volume
Comment[pt]=Ajustar o nível do volume
Name[zh_CN]=PulseAudio 音量控制
GenericName[zh_CN]=音量控制
Comment[zh_CN]=调整音量
