[Desktop Entry]
Exec=qps
TryExec=qps
Type=Application
Icon=qps
Categories=System;
Terminal=false
StartupNotify=false

Name=qps
GenericName=Qt process manager
Comment=Qt application to display and manage running processes
Name[ca]=qps
GenericName[ca]=Gestor de processos Qt
Comment[ca]=Aplicació Qt per visualitzar i gestionar els processos en execució
Name[cs]=qps
GenericName[cs]=Správce procesů, založený na Qt
Comment[cs]=Qt aplikace pro zobrazení a správu spuštěných procesů
Name[da]=qps
GenericName[da]=Qt-proceshåndtering
Comment[da]=Qt-program til at vise og håndtere kørende processer
Name[de]=qps
GenericName[de]=Prozessverwaltung
Comment[de]=Qt-Anwendung um die laufenden Prozesse zu verwalten und aufzulisten
Name[et]=qps
GenericName[et]=Qt tegumihaldur
Comment[et]=Qt rakendus protsesside kuvamiseks ja haldamiseks
Name[fr]=qps
GenericName[fr]=Gestionnaire de processus Qt
Comment[fr]=Application Qt pour afficher et gérer les processus en cours
Name[he]=qps
GenericName[he]=מנהל תהליכים לסביבת Qt
Comment[he]=יישום Qt להצגה וניהול של תהליכים פעילים
Name[hr]=qps
GenericName[hr]=Upravljač Qt-procesa
Comment[hr]=Qt-program za prikaz i upravljanje pokrenutih procesa
Name[hu]=qps
GenericName[hu]=Qt folyamatkezelő
Comment[hu]=Qt alkalmazás a futó folyamatok megjelenítéséhez és kezeléséhez
Name[it]=qps
GenericName[it]=Gestore processi
Comment[it]=Applicazione in Qt per mostrare e gestire i processi
Name[ja]=qps
GenericName[ja]=プロセスマネージャー Qt
Comment[ja]=実行中のプロセスを表示および管理する Qt アプリケーションです
Name[lt]=qps
GenericName[lt]=Qt procesų tvarkytuvė
Comment[lt]=Qt programa, skirta rodyti ir tvarkyti vykdomus procesus
Name[oc]=qps
GenericName[oc]=Gestionari de processús Qt
Comment[oc]=Aplicacion Qt per visualizar e gerir los processús en execucion
Name[pl]=qps
GenericName[pl]=Menedżer procesów Qt
Comment[pl]=Aplikacja Qt do wyświetlania i zarządzania uruchomionymi procesami
Name[pt]=qps
GenericName[pt]=Gestor de processos em Qt
Comment[pt]=Aplicação em Qt para mostrar e gerir os processos em execução
Name[ru]=qps
GenericName[ru]=Менеджер процессов Qt
Comment[ru]=Приложение Qt, позволяющее просматривать процессы и управлять ими
Name[tr]=qps
GenericName[tr]=Qt İşlem Yöneticisit
Comment[tr]=Çalışan işlemleri görüntülemek ve yönetmek için Qt uygulaması
