<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC
 "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
 "http://www.freedesktop.org/standards/PolicyKit/1.0/policyconfig.dtd">
<policyconfig>

  

  <vendor>Cinnamon Settings Daemon</vendor>
  <vendor_url>http://git.gnome.org/browse/cinnamon-settings-daemon</vendor_url>
  <icon_name>battery</icon_name>

  <action id="org.cinnamon.settings-daemon.plugins.power.backlight-helper">
    
    <description>Modify the laptop brightness</description>
    <description xml:lang="ar">غيّر سطوع الحاسوب</description>
    <description xml:lang="as">লেপটপৰ উজ্জ্বলতা পৰিবৰ্তন কৰক</description>
    <description xml:lang="ast">Camudar el brillu del portátil</description>
    <description xml:lang="be">Змяненне яркасці ноўтбука</description>
    <description xml:lang="bg">Промяна на яркостта на екрана</description>
    <description xml:lang="bn_IN">ল্যাপটপের উজ্জ্বলতা পরিবর্তন করুন</description>
    <description xml:lang="ca">Modifica la brillantor del portàtil</description>
    <description xml:lang="ca@valencia">Modifica la brillantor del portàtil</description>
    <description xml:lang="crh">Dizüstü bilgisayar ekran parlaklığını değiştir</description>
    <description xml:lang="cs">Změnit podsvícení notebooku</description>
    <description xml:lang="da">Ændring af den bærbares lysstyrke</description>
    <description xml:lang="de">Laptop-Bildschirmhelligkeit einstellen</description>
    <description xml:lang="el">Τροποποιήστε τη φωτεινότητα του φορητού υπολογιστή</description>
    <description xml:lang="en_GB">Modify the laptop brightness</description>
    <description xml:lang="es">Modificar el brillo del portátil</description>
    <description xml:lang="et">Sülearvuti ekraani heleduse muutmine</description>
    <description xml:lang="eu">Aldatu eramangarriaren distira</description>
    <description xml:lang="fi">Muuta kannettavan näytön kirkkautta</description>
    <description xml:lang="fr">Modifier la luminosité de l'ordinateur portable</description>
    <description xml:lang="gl">Modificar o brillo do portátil</description>
    <description xml:lang="gu">લેપટોપ પ્રકાશતાને બદલો</description>
    <description xml:lang="he">שינוי בהירות מסך המחשב הנייד</description>
    <description xml:lang="hi">लैपटॉप ब्राइटनेस को संशोधित करें</description>
    <description xml:lang="hu">A noteszgép fényerejének módosítása</description>
    <description xml:lang="id">Ubah kecerahan laptop</description>
    <description xml:lang="it">Modifica la luminità del portatile</description>
    <description xml:lang="km">បាន​ទាមទារ​ការ​ផ្ទៀងផ្ទាត់​ភាព​ត្រឹមត្រូវ​​ដើម្បី​កែប្រែ​ពន្លឺ​កុំព្យូទ័រ​យួរដៃ</description>
    <description xml:lang="kn">ಲ್ಯಾಪ್‌ಟಾಪ್‌ನ ಪ್ರಕಾಶತೆಯನ್ನು ಮಾರ್ಪಡಿಸು</description>
    <description xml:lang="ko">노트북 밝기 수정</description>
    <description xml:lang="lt">Keisti nešiojamojo kompiuterio ekrano ryškumą</description>
    <description xml:lang="lv">Mainīt klēpjdatora gaišumu</description>
    <description xml:lang="mk">Промени ја светлоста на лаптопот</description>
    <description xml:lang="mr">लॅपटॉप उजळपणा संपादित करा</description>
    <description xml:lang="nb">Endre lysstyrke på datamaskinen</description>
    <description xml:lang="nl">Helderheid aanpassen</description>
    <description xml:lang="pa">ਲੈਪਟਾਪ ਚਮਕ ਬਦਲੋ</description>
    <description xml:lang="pl">Modyfikacja jasności laptopa</description>
    <description xml:lang="pt">Alterar o brilho do ecrã do portátil</description>
    <description xml:lang="pt_BR">Modificar o brilho do laptop</description>
    <description xml:lang="ro">Modifică luminozitatea laptopului</description>
    <description xml:lang="ru">Изменить настройку яркости ноутбука</description>
    <description xml:lang="sk">Úprava jasu notebooku</description>
    <description xml:lang="sl">Spremeni svetlost zaslona prenosnika</description>
    <description xml:lang="sr">Измените осветљење преносног рачунара</description>
    <description xml:lang="sr@latin">Izmenite osvetljenje prenosnog računara</description>
    <description xml:lang="sv">Ändra ljusstyrkan på bärbar dator</description>
    <description xml:lang="ta">மடிக்கணினி திரை வெளிச்சத்தை மாற்றுக</description>
    <description xml:lang="te">లాప్‌టాప్ కాంతిని మార్చుము</description>
    <description xml:lang="th">ปรับความสว่างแล็ปท็อป</description>
    <description xml:lang="ug">يان كومپيۇتېر يورۇقلۇقىنى ئۆزگەرتىش</description>
    <description xml:lang="uk">Змінити яскравість ноутбука</description>
    <description xml:lang="vi">Điều chỉnh độ sáng laptop</description>
    <description xml:lang="zh_CN">修改笔记本亮度</description>
    <description xml:lang="zh_HK">修改手提電腦亮度</description>
    <description xml:lang="zh_TW">修改筆記型電腦亮度</description>
    <message>Authentication is required to modify the laptop brightness</message>
    <message xml:lang="ar">الاستيثاق مطلوب لتغيير سطوع الحاسوب</message>
    <message xml:lang="as">লেপটপৰ উজ্জ্বলতা পৰিবৰ্তন কৰিবলে প্ৰমাণীকৰণৰ প্ৰয়োজন</message>
    <message xml:lang="ast">Requierse autenticación pa camudar el brillu del portátil</message>
    <message xml:lang="be">Каб змяняць настройкі яркасці ноўтбука, спачатку трэба прайсці ідэнтыфікацыю</message>
    <message xml:lang="bg">За промяна на яркостта на екрана се изисква идентификация</message>
    <message xml:lang="bn_IN">ল্যাপটপের উজ্জ্বলতা পরিবর্তনের জন্য অনুমোদন আবশ্যক</message>
    <message xml:lang="ca">Cal autenticació per modificar la brillantor del portàtil</message>
    <message xml:lang="ca@valencia">Cal autenticació per modificar la brillantor del portàtil</message>
    <message xml:lang="crh">Dizüstü parlaklığını değştirmek için yetkinleştirme gerekli</message>
    <message xml:lang="cs">Pro změnu podsvícení notebooku je vyžadována autentizace</message>
    <message xml:lang="da">Ændring af den bærbares lysstyrke kræver godkendelse</message>
    <message xml:lang="de">Legitimierung wird benötigt, um die Helligkeit des Laptop-Bildschirms zu ändern</message>
    <message xml:lang="el">Απαιτείται πιστοποίηση για την τροποποίηση της φωτεινότητας του φορητού υπολογιστή</message>
    <message xml:lang="en_GB">Authentication is required to modify the laptop brightness</message>
    <message xml:lang="es">Se requiere autenticación para modificar el brillo del portátil</message>
    <message xml:lang="et">Sülearvuti ekraani heleduse muutmiseks on vajalik autentimine</message>
    <message xml:lang="eu">Autentifikatu egin behar da eramangarriaren distira aldatzeko</message>
    <message xml:lang="fi">Kannettavan näytön kirkkauden muuttaminen vaatii tunnistautumisen</message>
    <message xml:lang="fr">Authentification nécessaire pour modifier la luminosité de l'ordinateur</message>
    <message xml:lang="gl">Requírese autenticación para modificar o brillo da pantalla do portátil</message>
    <message xml:lang="gu">સત્તાધિકરણ લેપટોપ પ્રકાશતાને બદલવા માટે જરૂરી છે</message>
    <message xml:lang="he">נדרש אימות כדי לשנות את בהירות מסך המחשב הנייד</message>
    <message xml:lang="hi">लैपटॉप ब्राइटनेस को संशोधित करने के लिए सत्यापन जरूरी है</message>
    <message xml:lang="hu">Hitelesítés szükséges a noteszgép fényerejének módosításához</message>
    <message xml:lang="id">Perlu otentikasi untuk mengubah kecerahan laptop</message>
    <message xml:lang="it">È necessario autenticarsi per modificare la luminosità del portatile</message>
    <message xml:lang="km">បាន​ទាមទារ​ការ​ផ្ទៀងផ្ទាត់​ភាព​ត្រឹមត្រូវ​​ដើម្បី​កែប្រែ​ពន្លឺ​កុំព្យូទ័រ​យួរដៃ</message>
    <message xml:lang="kn">ಲ್ಯಾಪ್‌ಟಾಪ್‌ನ ಪ್ರಕಾಶತೆಯನ್ನು ಹೆಚ್ಚಿಸಲು ದೃಢೀಕರಣದ ಅಗತ್ಯವಿದೆ</message>
    <message xml:lang="ko">노트북 밝기를 수정하려면 인증이 필요합니다</message>
    <message xml:lang="lt">Būtina patvirtinti tapatybę norint pakeisti nešiojamojo kompiuterio ekrano ryškumą</message>
    <message xml:lang="lv">Nepieciešama autentifikācija, lai mainītu klēpjdatora gaišumu</message>
    <message xml:lang="mk">Потребна е автентикација за промена на светлоста на лаптопот</message>
    <message xml:lang="mr">लॅपटॉपचा उजळपणा संपादित करण्यासाठी ओळखपटवणे आवश्यक आहे</message>
    <message xml:lang="nb">Autentisering kreves for å endre lysstyrke på datamaskinen</message>
    <message xml:lang="nl">Authenticatie is vereist om de helderheid van de laptop aan te passen</message>
    <message xml:lang="pa">ਲੈਪਟਾਪ ਚਮਕ ਬਦਲਣ ਲਈ ਪਰਮਾਣਕਿਤਾ ਦੀ ਲੋੜ ਹੈ</message>
    <message xml:lang="pl">Wymagane jest uwierzytelnienie, aby zmodyfikować jasność laptopa</message>
    <message xml:lang="pt">É necessária autenticação para alterar o brilho do ecrã do portátil</message>
    <message xml:lang="pt_BR">A autenticação é necessária para modificar o brilho do laptop</message>
    <message xml:lang="ro">Autentificarea este obligatorie pentru a putea modifica luminozitatea laptopului</message>
    <message xml:lang="ru">Для изменения настройки яркости требуется аутентификация</message>
    <message xml:lang="sk">Na úpravu jasu notebooku sa vyžaduje overenie totožnosti </message>
    <message xml:lang="sl">Za spremembo svetlosti zaslona prenosnika je zahtevano skrbniško dovoljenje</message>
    <message xml:lang="sr">Потребно је потврђивање идентитета за промену осветљења преносног рачунара</message>
    <message xml:lang="sr@latin">Potrebno je potvrđivanje identiteta za promenu osvetljenja prenosnog računara</message>
    <message xml:lang="sv">Autentisering krävs för att ändra ljusstyrka för bärbara datorer</message>
    <message xml:lang="ta">மடிக்கணினி திரை வெளிச்சத்தை மாற்ற உறுதிப்படுத்தல் தேவை</message>
    <message xml:lang="te">లాప్‌టాప్ కాంతిని మార్చుటకు ధ్రువీకరించుట అవసరము</message>
    <message xml:lang="th">ต้องยืนยันตัวบุคคลก่อนปรับความสว่างแล็ปท็อป</message>
    <message xml:lang="ug">يان كومپيۇتېرنىڭ يورۇقلۇقىنى ئۆزگەرتىش ئۈچۈن سالاھىيەت دەلىللەش زۆرۈر</message>
    <message xml:lang="uk">Потрібна аутентифікація для зміни яскравості ноутбука</message>
    <message xml:lang="vi">Cần xác thực để điều chỉnh độ sáng laptop</message>
    <message xml:lang="zh_CN">修改笔记本亮度需要认证</message>
    <message xml:lang="zh_HK">修改手提電腦亮度需要驗證</message>
    <message xml:lang="zh_TW">修改筆記型電腦亮度需要驗證</message>
    <defaults>
      <allow_any>no</allow_any>
      <allow_inactive>no</allow_inactive>
      <allow_active>yes</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/libexec/csd-backlight-helper</annotate>
  </action>

</policyconfig>