[Desktop Entry]
Type=Application
Icon=system-file-manager
Name=File Manager PCManFM (root)
Categories=System;FileTools;FileManager;Utility;Core;GTK;
Exec=/opt/porteus-scripts/xorg/psu "dbus-launch --exit-with-session pcmanfm" %U
StartupNotify=true
Terminal=false
MimeType=inode/directory;
